<div class="row">
  <div class="col-12">
    <div class="page-title-box">
      <div class="page-title-right">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item"><a href="javascript: void(0);"></a></li>
        </ol>
      </div>

    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    Message
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true" (click)="modal.close('Save click')">×</span>
    </button>
  </div>
  <div class="modal-body">

    <div class="text-center">
      <!-- <i class="fe-check-circle"></i> -->
      <span>{{MessageFlag}}</span>
      <hr>
      <button id="client_viewdetail_1" class="btn btn-primary" (click)="modal.close('Save click')">Close</button>
      <!-- <button type="button" class="btn btn-primary waves-effect waves-light"
        (click)="modal.close('Save click')">Close..</button> -->
    </div>
  </div>
</ng-template>
<div class="row">
  <div class="col-12">
    <div class="page-title-box">
      <div class="page-title-right">
        <ol class="breadcrumb m-0">
          <!-- <li class="breadcrumb-item"><a href="javascript: void(0);">Home</a></li>
          <li class="breadcrumb-item active">Add New Work Type</li> -->
        </ol>
      </div>
      <!-- <h4 class="page-title" style="font-weight: bolder; line-height: 1.5; background-color: #9b9b9b; padding-left: 12px;">Add Work Type </h4> -->
    </div>
  </div>
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="page-title" style="font-weight: bolder; line-height: 1.5; background-color: #9b9b9b; padding-left: 12px;">Add Work Type </h4>

        <!-- <h4 class="header-title">Work Types</h4> -->
        <div class="row">
          <div class="col-6">

            <!-- <button class="btn btn-primary waves-effect waves-light" (click)="WKHIDESHOW()"
              title="click to add work type"> <i class="fas fa-plus-circle"></i> Add Work Type</button>
            &nbsp;&nbsp;&nbsp; -->
            <button id="client_viewdetail_1" class="btn btn-primary" (click)="open(contentCateFORM)">
              <i class="fas fa-plus-circle"></i> Manage Work Type Groups
            </button>
            <!-- <button class="btn btn-primary waves-effect waves-light" (click)="open(contentCateFORM)"
              title="click to add categories"> <i class="fas fa-plus-circle"></i> Manage Work Type Groups</button> -->
          </div>
          <!-- <div class="col-6">

          </div> -->

        </div>
        <br>
        <!-- *ngIf="WKDivFlag" -->
        <!-- <hr> -->





        <div class="row" *ngIf="WKDivFlag">


          <div class="col-6">

            <div class="card-box bg-pattern border border-dark" style="background-color: #f7f7f7;">
              <form [formGroup]="formUsrCommonGroup" (ngSubmit)="FormButton(content)">
                <div class="form-row">
                  <div class="form-group col-md-12 text-center" style="color: black;background-color: #9b9b9b;">
                    <h5 style="color: black;">Work Type</h5>
                  </div>
                  <br>

                </div>

                <div class="form-row">

                  <div class="form-group col-md-3">
                    <label for="inputEmaildfsdfd4" class="col-form-label">Work Type <span style="color: red">*</span></label>
                  </div>
                  <div class="form-group col-md-9">
                    <input type="text" class="form-control form-control-sm" id="inputEmaildfsdfd4"
                      placeholder="Enter Work Type" [(ngModel)]="AddCategoryModelObj.WT_WorkType"
                      formControlName="WorkTypeVal" [ngClass]="{ 'is-invalid': submitted && fx.WorkTypeVal.errors }">
                    <div *ngIf="submitted && fx.WorkTypeVal.errors" class="invalid-feedback">
                      <div *ngIf="fx.WorkTypeVal.errors.required">this field is required</div>
                    </div>

                  </div>
                </div>
                <div class="form-row">

                  <div class="form-group col-md-3">
                    <label for="inputAddgdgress" class="col-form-label">Work Type Groups</label>
                  </div>
                  <div class="form-group col-md-9">
                    <select class="form-control form-control-sm" [(ngModel)]="AddCategoryModelObj.WT_CategoryID"
                    formControlName="disbledFaltu1">
                      <option value='0'>select</option>
                      <option [ngValue]="kb.Work_Type_Cat_pkeyID" *ngFor="let kb of CategoryList">
                        {{kb.Work_Type_Name}}
                      </option>
                    </select>

                  </div>
                </div>


                <div class="form-row">

                  <!-- <div class="form-group col-md-8">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="customChsdfewerwck11"
                       [(ngModel)]="AddCategoryModelObj.WT_assign_upon_comple"
                       formControlName="disbledFaltu2">
                      <label class="custom-control-label" for="customChsdfewerwck11">Auto Create and assign upon
                        completion</label>
                    </div>

                  </div> -->


                  <div class="form-group col-md-3">
                    <label for="inputCityrfDate"  for="customCheck11dc" class="col-form-label">Active</label>
                    </div>
                  <div class="form-group col-md-9">

                    <!-- <label >Active</label>
                      <input type="checkbox" 
                        [(ngModel)]="AddCategoryModelObj.WT_IsActive" [ngModelOptions]="{standalone: true}" > -->
                        
                     
                        
                          <div class="custom-control custom-checkbox">
                            <input type="checkbox"  [(ngModel)]="AddCategoryModelObj.WT_IsActive"
                            [ngModelOptions]="{standalone: true}" class="custom-control-input" id="customCheck11dc">
                            <label class="custom-control-label" for="customCheck11dc"></label>
                          </div>

                  </div>
                

                </div>




                <div class="form-row" [hidden]="!show">
                  <div class="form-group col-md-4">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input"
                        [(ngModel)]="AddCategoryModelObj.WT_Always_recurring" [ngModelOptions]="{standalone: true}"
                        #checkRecurring (click)="RecurringDiv(checkRecurring)" id="customChewerwck11">
                      <label class="custom-control-label" for="customChewerwck11">Always Recurring</label>
                    </div>
                  </div>
                  <div class="form-group col-md-4">
                    <!-- <label for="inputState" class="col-form-label">Inspection </label> -->
                    <!-- <div class="custom-control custom-switch">
                      <input type="checkbox" [(ngModel)]="AddCategoryModelObj.WT_IsInspection"
                        [ngModelOptions]="{standalone: true}" class="custom-control-input" id="customghfghf">
                      <label class="custom-control-label" for="customghfghf">Is Inspection</label>
                    </div> -->
                  </div>
                  <div class="form-group col-md-4"></div>

                </div>

                <div class="form-row" *ngIf="RcuringFlag">
                  <div class="form-group col-md-3">
                    <label for="inputEmaifsdldfsdfd4" class="col-form-label">Recurs Every</label>
                    <input type="text" class="form-control form-control-sm"
                      [(ngModel)]="AddCategoryModelObj.WT_Recurs_Every" [ngModelOptions]="{standalone: true}"
                      id="inputEmaifsdldfsdfd4" placeholder="Enter Recurs Every">

                  </div>
                  <div class="form-group col-md-3">
                    <label for="inpufsd4" class="col-form-label">Select</label>
                    <select class="form-control form-control-sm" [(ngModel)]="AddCategoryModelObj.WT_Recurs_WeekID"
                      [ngModelOptions]="{standalone: true}">
                      <option value='0'>select</option>
                      <option [ngValue]="kb.Id" *ngFor="let kb of DaysList">
                        {{kb.Name}}
                      </option>
                    </select>
                  </div>
                  <div class="form-group col-md-3">
                    <label for="inputEmaifsdldsdfsdfd4" class="col-form-label">Limit to</label>
                    <input type="text" class="form-control form-control-sm"
                      [(ngModel)]="AddCategoryModelObj.WT_Limit_to" [ngModelOptions]="{standalone: true}"
                      id="inputEmaifsdldsdfsdfd4" placeholder="Enter Limit">
                  </div>
                  <div class="form-group col-md-3">
                    <label for="inputEhhhhdfsdfd4" class="col-form-label">Cutoff Date</label>
                    <input type="text" class="form-control form-control-sm" placeholder="Enter Date"
                      [ngModelOptions]="{standalone: true}" name="d3" #c3="ngModel" id="inputEhhhhdfsdfd4"
                      [(ngModel)]="AddCategoryModelObj.WT_Cutoff_Date" ngbDatepicker #d3="ngbDatepicker"
                      (click)="d3.toggle()">

                    <div *ngIf="c3.status == 'INVALID'" class="Mydropdown">please enter valid date format
                    </div>
                  </div>
                </div>
                <div class="form-row" *ngIf="RcuringFlag">
                  <div class="form-group col-md-4">
                    <label for="inpufsd4" class="col-form-label">WO Item Details</label>
                    <select class="form-control form-control-sm" [(ngModel)]="AddCategoryModelObj.WT_WO_ItemID"
                      [ngModelOptions]="{standalone: true}">
                      <option value='0'>select</option>
                      <option [ngValue]="kb.Id" *ngFor="let kb of WOItemList">
                        {{kb.Name}}
                      </option>
                    </select>
                  </div>
                  <div class="form-group col-md-4">
                    <label for="inpufsd4" class="col-form-label"> Contractor Assignment</label>
                    <select class="form-control form-control-sm"
                      [(ngModel)]="AddCategoryModelObj.WT_Contractor_AssignmentID"
                      [ngModelOptions]="{standalone: true}">
                      <option value='0'>select</option>
                      <option [ngValue]="kb.Id" *ngFor="let kb of ContractorAssignmentList">
                        {{kb.Name}}
                      </option>
                    </select>
                  </div>
                  <div class="form-group col-md-4">
                    <label for="inpufsd4" class="col-form-label">Ready for Field</label>
                    <select class="form-control form-control-sm" [(ngModel)]="AddCategoryModelObj.WT_Ready_for_FieldID"
                      [ngModelOptions]="{standalone: true}">
                      <option value='0'>select</option>
                      <option [ngValue]="kb.Id" *ngFor="let kb of ReadyList">
                        {{kb.Name}}
                      </option>
                    </select>
                  </div>
                </div>


                <!-- <hr>
                <div class="form-group">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" [(ngModel)]="AddCategoryModelObj.WT_AutoInvoice"
                      [ngModelOptions]="{standalone: true}" #checkInvoice (click)="InvoicegDiv(checkInvoice)"
                      id="customChdwaewerwck11">
                    <label class="custom-control-label" for="customChdwaewerwck11">Auto Invoice</label>
                  </div>
                </div> -->

                <div *ngIf="InvoiceFlag">
                  <div class="form-row" *ngFor="let item of FormArrayVal; index as ind">
                    <div class="form-group col-md-4">
                      <label class="col-form-label" *ngIf="ind == 0">Select Name </label>
                      <select class="form-control form-control-sm" [(ngModel)]="item.Name"
                        [ngModelOptions]="{standalone: true}">
                        <option value='0'>select</option>
                        <option [ngValue]="kb.Id" *ngFor="let kb of SelectName">
                          {{kb.Name}}
                        </option>
                      </select>
                    </div>
                    <div class="form-group col-md-4">
                      <label class="col-form-label" *ngIf="ind == 0">Invoice Line Item</label>
                      <select class="form-control form-control-sm" [(ngModel)]="item.LineItem"
                        [ngModelOptions]="{standalone: true}">
                        <option value='0'>select</option>
                        <option [ngValue]="kb.Inv_Itm_pkeyID" *ngFor="let kb of InvoiceLineItem">
                          {{kb.Inv_Itm_Name}}
                        </option>
                      </select>
                    </div>
                    <div class="form-group col-md-2">
                      <label for="ihgjghjgh" *ngIf="ind == 0" class="col-form-label">Quantity</label>
                      <input type="number" class="form-control form-control-sm" [(ngModel)]="item.Quntity"
                        [ngModelOptions]="{standalone: true}" id="ihgjghjgh" placeholder="Enter quantity">
                    </div>
                    <div class="form-group col-md-2" *ngIf="ind > 0">
                      <label class="col-form-label" *ngIf="ind == 0">Remove</label>
                      <button type="button" class="btn btn-danger btn-xs waves-effect waves-light form-control"
                        (click)="RemoveRow(ind)" title="click to add work type">
                        <i class="fas fa-minus-circle"></i> Remove Item</button>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-4">

                    </div>
                    <div class="form-group col-md-4">

                    </div>
                    <div class="form-group col-md-2">

                    </div>
                    <div class="form-group col-md-2">
                      <!-- <label class="col-form-label">Add</label> -->
                      <button type="button" class="btn btn-outline-primary btn-xs waves-effect waves-light form-control"
                        (click)="AddMoreRow()" title="click to add work type"> <i class="fas fa-plus-circle"></i> Add
                        More</button>
                    </div>
                  </div>
                </div>



                <!-- <button type="submit" class="btn btn-primary waves-effect waves-light"><i class="far fa-save"></i> Save</button> -->
                <!-- <button type="submit" class="btn btn-primary waves-effect waves-light" [disabled]="isLoading">
                  <i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-save': !isLoading}"></i>
                  {{button}}</button> -->

                <div class="form-row">
                  <div class="float-right">
                    <label for="InvestmentSihhhze" *ngIf="formUsrCommonGroup.invalid" style="color:red">*
                      fields is required
                    </label> <br><!--[routerLink]="['/worktype/addcategory']"-->

                    <button id="client_viewdetail_1" class="btn btn-primary" *ngIf="IsEditDisable"  (click)="EditForms()">
                      <i class="far fa-edit mr-1"></i> Edit</button>
                    <button id="client_viewdetail_1" class="btn btn-primary" type="submit" *ngIf="!IsEditDisable" [disabled]="isLoading">
                      <i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-save': !isLoading}"></i>
                      {{button}}
                    </button>
                    <button id="client_viewdetail_1" class="btn btn-primary" [routerLink]="['/worktype/viewworktypecate']" style="margin-left: 6px;">
                    <i class="fas fa-arrow-alt-circle-left mr-1"></i> Back</button>

                    <!-- <a *ngIf="IsEditDisable" [routerLink]="['/worktype/addcategory']" (click)="EditForms()"
                      class="btn btn-primary waves-effect waves-light"> <i class="far fa-edit mr-1"></i> Edit </a>
                    &nbsp;&nbsp;&nbsp;
                    <button type="submit" *ngIf="!IsEditDisable" class="btn btn-primary waves-effect waves-light"
                      [disabled]="isLoading">
                      <i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-save': !isLoading}"></i>
                      {{button}}</button> &nbsp; &nbsp;

                    <a [routerLink]="['/worktype/viewworktypecate']" class="btn btn-primary"><i
                        class="fas fa-arrow-alt-circle-left mr-1"></i> Back</a> -->
                  </div>
                </div>

              </form>


            </div>


          </div>


          <div class="col-6">

            <!-- <div class="card-box bg-pattern border border-dark" style="background-color: #f7f7f7;">

              <form (ngSubmit)="FormButtonPOPUp(content)">


                <div class="form-row">
                  <div class="form-group col-md-12 text-center" style="color: black;background-color: #9b9b9b;">
                    <h5>Manage Work Type Groups</h5>
                  </div>
                  <br>

                </div>

                <div class="form-group" *ngFor="let item of popformArray; index as i">
                    <label for="dateOfBirth">{{i +1}}) Add Work Type Groups</label>
                    <div class="input-group">
                      <input type="text" class="form-control form-control-sm" [(ngModel)]="item.Work_Type_Name" placeholder="Enter Group Name.."
                        [ngModelOptions]="{standalone: true}">
                      <div class="input-group-append">
                        <button class="btn btn-primary btn-xs waves-effect waves-light" (click)="RemovePOPdata(i)" type="button"><i
                            class="fas fa-minus-circle"></i>
                          Remove</button>
                      </div>
                    </div>

                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-4">

                    </div>
                    <div class="form-group col-md-4">

                    </div>
                    <div class="form-group col-md-4">
                        <button type="button" class="btn btn-outline-primary waves-effect waves-light form-control btn-xs"
                        (click)="AddMoreRowCatepop()" title="click to add work type"> <i class="fas fa-plus-circle"></i> Add
                        More</button>

                    </div>
                  </div>
                  <div class="form-row"></div>
                  <div class="form-row"></div>

                  <div class="form-row">
                      <button type="submit" class="btn btn-primary waves-effect waves-light"> <i class="far fa-save"></i> Save</button>
                  </div>



              </form>



            </div> -->

          </div>


        </div>



      </div> <!-- end card-body -->
    </div> <!-- end card-->
  </div> <!-- end col -->
</div>
<!-- end row -->



 <ng-template #contentCateFORM let-modal>
  <div class="modal-header">
    <!-- <h4 class="modal-title" id="modal-basic-title">Work Type Groups
    </h4> -->
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

    <div class="modal-body">

        <div class="card-box bg-pattern border border-dark" style="background-color: #f7f7f7;">

            <form (ngSubmit)="FormButtonPOPUp(content)">


              <div class="form-row">
                <div class="form-group col-md-12 text-center" style="color: black;background-color: #9b9b9b;">
                  <h5 style="color: black;">Manage Work Type Groups</h5>
                </div>
                <br>

              </div>

              <div class="form-group" *ngFor="let item of popformArray; index as i">
                  <label for="dateOfBirth">{{i +1}}) Add Work Type Groups</label>
                  <div class="input-group">
                    <input type="text" class="form-control form-control-sm" [(ngModel)]="item.Work_Type_Name" placeholder="Enter Group Name.."
                      [ngModelOptions]="{standalone: true}">
                    <div class="input-group-append">
                      <a  class="btn btn-primary btn-xs" style="color: white" (click)="RemovePOPdata(item,i)"><i class="fas fa-minus-circle"></i> Remove</a>
                      <!-- <button class="btn btn-danger btn-xs waves-effect waves-light" (click)="RemovePOPdata(i)" type="button"><i
                          class="fas fa-minus-circle"></i>
                        Remove</button> -->
                    </div>
                  </div>

                </div>
                <div class="form-row">
                  <div class="form-group col-md-4">

                  </div>
                  <div class="form-group col-md-4">

                  </div>
                  <div class="form-group col-md-4">
                    <!-- <button id="client_viewdetail_1" class="btn btn-primary btn-xs" (click)="AddMoreRowCatepop()"><i class="fas fa-plus-circle mr-1"></i> Add More</button> -->
                      <button type="button" class="btn btn-primary btn-xs"
                      (click)="AddMoreRowCatepop()" title="click to add work type"> <i class="fas fa-plus-circle"></i> Add
                      More</button>

                  </div>
                </div>
                <div class="form-row"></div>
                <div class="form-row"></div>

                <div class="form-row">
                  <button id="client_viewdetail_1" class="btn btn-primary" type="submit"><i class="fas fa-save mr-1"></i> Save</button>
                    <!-- <button type="submit" class="btn btn-primary waves-effect waves-light"> <i class="far fa-save"></i> Save</button> -->
                </div>



            </form>



          </div>


    </div>
    <!-- <div class="modal-footer">

      <button type="submit" class="btn btn-primary waves-effect waves-light"> <i class="far fa-save"></i> Save</button>
    </div> -->

</ng-template>
