<ng-template #content let-modal>
  <div class="modal-header">
    Message
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">

    <div class="text-center">
      <!-- <i class="fe-check-circle"></i> -->
      <span>{{MessageFlag}}</span>
      <hr>
      <button type="button" class="btn btn-primary waves-effect waves-light"
        (click)="modal.close('Save click')">Close..</button>
    </div>
  </div>
</ng-template>


<!-- <div class="row">
  <div class="col-12">
    <div class="page-title-box">
      <div class="page-title-right">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item"><a href="javascript: void(0);">Work Order Settings Page</a></li>
        </ol>
      </div>

    </div>
  </div>
</div> -->

<div class="container-fluid">
  <div class="card">
    <div class="card-body">
      <div>
        <h4>Work Order Settings Page</h4>
      </div>
      <form>
        <div class="row">
          <div class="col-lg-4">

            <div class="card-box bg-pattern border border-dark" style="background-color: #f7f7f7;">

              <div class="form-row">
                <div class="form-group col-md-12 text-center" style="color: black;background-color: #9b9b9b;">
                  <h5>Work Order Customize </h5>
                </div>

              </div>
              <div class="form-row"></div>
              <br>

              <div class="form-row">
                <a [routerLink]="['/home/generalsettings']" (click)="AddNewClient()"> <span
                    style="color: rgba(15, 15, 15, 0.548);font-weight: bolder;font-size:larger">Company
                    Settings</span></a>
              </div>

              <div class="form-row mt-1">
                <a [routerLink]="['/home/scorecard']"> <span
                    style="color:rgba(15, 15, 15, 0.548);font-weight: bolder;font-size:larger">Billing
                  </span> </a>
              </div>

              <div class="form-row mt-1">
                <a [routerLink]="['/home/scorecard']"> <span
                    style="color: rgba(15, 15, 15, 0.548);font-weight: bolder;font-size:larger">Add-ons
                  </span> </a>
              </div>

              <div class="form-row">

                <div class="form-group col-md-4">
                  <label class="col-form-label" for="userNfuuiame1">Company short name for alerts </label>
                </div>
                <div class="form-group col-md-8">
                  <input type="text" class="form-control form-control-sm" id="userNfuuiame1"
                    placeholder="Enter Company Short Name">


                </div>
              </div>

              <div class="form-row">

                <div class="form-group col-md-4">
                  <label class="col-form-label" for="userNfuuiame1">Custom title bar caption</label>
                </div>
                <div class="form-group col-md-8">
                  <input type="text" class="form-control form-control-sm" id="userNfuuiame1"
                    placeholder="Enter Custom Title Bar Caption">


                </div>
              </div>

              <div class="form-row">

                <div class="form-group col-md-4">
                  <label class="col-form-label" for="userNfuuiame1">Default Timezone </label>
                </div>
                <div class="form-group col-md-8">
                  <select  class="form-control form-control-sm"
                          >
                          <option value='0'>select</option>
                          <option [ngValue]="kb.Id" *ngFor="let kb of TimezoneList">
                            {{kb.Name}}
                          </option>
                        </select>
                </div>
              </div>











            </div>
          </div>
          <div class="col-lg-4">


          </div>
          <div class="col-lg-4">


          </div>
        </div>
        <div class="row">
          <div class="col-lg-4"></div>
          <div class="col-lg-4">
            <div class="form-row">
              <div class="float-right">
                <!-- <label *ngIf="formUsrCommonGroup.invalid" style="color:red">*
                  fields is required
                </label> <br>
                <a *ngIf="IsEditDisable" [routerLink]="['/home/workordersettings']" (click)="EditForms()"
                  class="btn btn-primary waves-effect waves-light"> <i class="far fa-edit mr-1"></i> Edit </a>
                &nbsp;&nbsp;&nbsp;
                <button type="submit" *ngIf="!IsEditDisable" class="btn btn-primary waves-effect waves-light"
                  [disabled]="isLoading">
                  <i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-save': !isLoading}"></i>
                  {{button}} </button> &nbsp; &nbsp; -->

                <a [routerLink]="['/home/workordersettings']" class="btn btn-primary"><i class="fas fa-arrow-alt-circle-left mr-1"></i>
                  Back</a>
              </div>
            </div>

          </div>
          <div class="col-lg-4">


          </div>
        </div>
      </form>
    </div>
  </div>
</div>
