<ng-template #content let-modal>

  <div class="modal-header">
    Message
    <button type="button" class="close" (click)="modal.close('Save click')" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">

    <div class="text-center">
      <!-- <i class="fe-check-circle"></i> -->
      <span>{{MessageFlag}}</span>
      <hr>
      <button type="button" class="btn btn-primary waves-effect waves-light"
        (click)="modal.close('Save click')">Close</button>
    </div>
  </div>


</ng-template>
<div class="container-fluid">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-12">
          <div class="page-title-box">
            <div class="page-title-right">
              <ol class="breadcrumb m-0">
                <!-- <li class="breadcrumb-item"><a href="javascript: void(0);">Add New User</a></li>
                  <li class="breadcrumb-item active">Add New User</li> -->
              </ol>
            </div>
            <h4 class="page-title">Change Password</h4>
          </div>
          <hr>
        </div>
      </div>
      <form [formGroup]="formUsrLoginGroupChnage" (ngSubmit)="FormButtonChange(content)">
        <div class="row">

          <div class="col-lg-6">

            <div class="card-box bg-pattern border border-dark" style="background-color: #f7f7f7;">

            <div class="form-row">

              <div class="form-group col-md-4">
                <label class="col-form-label" for="fgffdwdg">Enter Old Password</label>
              </div>
              <div class="form-group col-md-8">

                <input class="form-control form-control-sm" type="password" id="fgffdwdg"
                  placeholder="Enter your old password" formControlName="PasswordOld"
                  [(ngModel)]="ChangePasswordModelObj.User_PasswordOld"
                  [ngClass]="{ 'is-invalid': submittedchange && fxChange.PasswordOld.errors }">
                <div *ngIf="submittedchange && fxChange.PasswordOld.errors" class="invalid-feedback">
                  <div *ngIf="fxChange.PasswordOld.errors.required">Old password is required</div>
                </div>
              </div>
            </div>

            <div class="form-row">

                <div class="form-group col-md-4">
                  <label class="col-form-label" for="fgfferwdg">Enter New Password</label>
                </div>
                <div class="form-group col-md-8">

                  <input class="form-control form-control-sm" type="password" id="fgfferwdg"
                    placeholder="Enter your new password" formControlName="PasswordNew"
                    [(ngModel)]="ChangePasswordModelObj.User_PasswordNew"
                    [ngClass]="{ 'is-invalid': submittedchange && fxChange.PasswordNew.errors }">
                  <div *ngIf="submittedchange && fxChange.PasswordNew.errors" class="invalid-feedback">
                    <div *ngIf="fxChange.PasswordNew.errors.required">New password is required</div>
                    <div *ngIf="fxChange.PasswordNew.errors.minlength">Password must be at least 8 characters</div>
                  </div>
                </div>
              </div>

              <div class="form-row">

                  <div class="form-group col-md-4">
                    <label class="col-form-label" for="fgffdg">Enter Confirm Password</label>
                  </div>
                  <div class="form-group col-md-8">

                    <input class="form-control form-control-sm" type="password" id="fgffdg"
                      placeholder="Enter your new password" formControlName="PasswordConfirm"
                      [(ngModel)]="ChangePasswordModelObj.User_PasswordConfirm"
                      [ngClass]="{ 'is-invalid': submittedchange && fxChange.PasswordConfirm.errors }">
                    <div *ngIf="submittedchange && fxChange.PasswordConfirm.errors" class="invalid-feedback">
                      <div *ngIf="fxChange.PasswordConfirm.errors.required">Confirm password is required</div>
                      <div *ngIf="fxChange.PasswordConfirm.errors.mustMatch">Password must match</div>
                    </div>
                  </div>
                </div>

            <div class="form-row">
              <div class="float-right">

                <button type="submit" class="btn btn-primary waves-effect waves-light" [disabled]="isLoadingChange">
                  <i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoadingChange, 'fa-lock': !isLoadingChange}"></i>
                  {{buttonChange}}</button>


              </div>
            </div>

          </div>

          </div>



        </div>
      </form>


    </div>
  </div>
</div>

