<ng-template #content let-modal>
  <div class="modal-header">
    Message
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true" (click)="modal.close('Save click')">×</span>
    </button>
  </div>
  <div class="modal-body">

    <div class="text-center">

      <span>{{MessageFlag}}</span>
      <hr>
      <button id="client_viewdetail_1" class="btn btn-primary" (click)="modal.close('Save click')">Continue</button>
      <!-- <button type="button" class="btn btn-primary waves-effect waves-light"
        (click)="modal.close('Save click')">Continue...</button> -->
    </div>
  </div>
</ng-template>

<div class="container-fluid">
  <div class="card">
    <div class="card-body">
      <form [formGroup]="formUsrCommonGroup" (ngSubmit)="FormButton(content)">
  <div class="row">
  <div class="col-4" style="text-align:center;">
    <div class="card" >
      <div class="card-body">
        
         <div>
          <!-- <img src="http://via.placeholder.com/150x150" style="border-radius:50%"/>
          <input type="file" id="myfile" style="display:none"/> -->
          <label >
            <!-- <input type="file" id="file"> -->
            <input #imageInputBackground type="file" class="form-control" id="file"  formControlName="selectimg"
            title="Select File..."  accept="image/*" (change)="uploadprofileimage($event)" >
          <div *ngIf="UserProfileModelObj.User_ImagePath == null">
            <img src="../../assets/images/users/userAvatar.png"style="border-radius:50%">
          </div>
          <div *ngIf="UserProfileModelObj.User_ImagePath != null">
            <img [src]="UserProfileModelObj.User_ImagePath " style="border-radius:50%; height: 158px; width: 164px;">
          </div>
           
          </label>
         </div>
            
         
         <div>
          <label>{{FullName}}</label>
         </div>
          
         
      
      </div>
      </div>
  </div>
  <div class="col-8">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-3">
            <label>Login</label>
          </div>
          <div class="col-9">
           <input type="text" [(ngModel)] = "UserProfileModelObj.User_LoginName" 
           formControlName="userlogin" class="form-control"placeholder="Enter Login Name" readonly>
         </div>
         </div>
         <br>
<div class="row">
  <div class="col-3">
    <label>First Name</label>
  </div>
  <div class="col-9">
    <input type="text" [(ngModel)] = "UserProfileModelObj.User_FirstName" 
    formControlName="userfirst" class="form-control" placeholder="Enter First Name">
  </div>
</div>
<br>
<div class="row">
  <div class="col-3">
    <label>Last Name</label>
  </div>
  <div class="col-9">
    <input type="text" [(ngModel)] = "UserProfileModelObj.User_LastName" 
    formControlName="userlast" class="form-control"placeholder="Enter Last Name">
  </div>
</div>
<br>
<div class="row">
  <div class="col-3">
    <label>Email</label>
  </div>
  <div class="col-9">
    <input type="email" [(ngModel)] = "UserProfileModelObj.User_Email" 
    formControlName="useremail" class="form-control"placeholder="Enter Email ">
  </div>
</div>
<br>
<div class="row">
  <div class="col-3">
    <label>Address</label>
  </div>
  <div class="col-9">
    <textarea class="form-control" [(ngModel)] = "UserProfileModelObj.User_Address" 
    formControlName="useradd" placeholder="Enter City "></textarea>
  </div>
</div>
<br>
<div class="row">
  <div class="col-3">
    <label>City</label>
  </div>
  <div class="col-2">
    <input type="text" [(ngModel)] = "UserProfileModelObj.User_City" 
    formControlName="usercity" class="form-control"placeholder="Enter City ">
  </div>
  <div class="col-1">
    <label>State</label>
  </div>
  <div class="col-3">
    <input type="text"[(ngModel)] = "UserProfileModelObj.User_State_strval" 
    formControlName="userstate" class="form-control"placeholder="Enter State ">
  </div>
  <div class="col-1">
    <label>Pin</label>
  </div>
  <div class="col-2">
    <input type="text" [(ngModel)] = "UserProfileModelObj.User_Zip" 
    formControlName="userpin"  class="form-control"placeholder="Enter Pin ">
  </div>
</div>
<br>

<div class="row">
 <div class="col-3">
   <label>Company</label>
 </div>
 <div class="col-3">
  <input type="text" [(ngModel)] = "UserProfileModelObj.User_CompanyName" 
  formControlName="usercompany" class="form-control"placeholder="Enter Company">
</div>
<div class="col-3">
  <label>Mobile</label>
</div>
<div class="col-3">
 <input type="number" [(ngModel)] = "UserProfileModelObj.User_CellNumber" 
 formControlName="usermob" class="form-control"placeholder="Enter Mobile">
</div>
</div>
<br>



<div class="row">
 <div class="col-3">
   <label>Password</label>
 </div>
 <!-- <div class="col-3">
  <input type="password" [(ngModel)] = "UserProfileModelObj.User_Password" 
  formControlName="userpassword" class="form-control"
  [ngClass]="{ 'is-invalid': submittedchange && fxChange.userpassword.errors }"
  placeholder="Enter Password">
  <div *ngIf="submittedchange && fxChange.userpassword.errors" class="invalid-feedback">
    <div *ngIf="fxChange.userpassword.errors.required"> password is required</div>
  </div>
</div> -->
<div class="col-3">

  <input class="form-control form-control-sm" type="password" id="fgfpjkhhhferwdg"
    placeholder="Enter  password" formControlName="userpassword"
    [(ngModel)]="UserProfileModelObj.User_Password"
    [ngClass]="{ 'is-invalid': submittedchange && fxChange.userpassword.errors }">
  <div *ngIf="submittedchange && fxChange.userpassword.errors" class="invalid-feedback">
    <div *ngIf="fxChange.userpassword.errors.required"> password is required</div>
    <div *ngIf="fxChange.userpassword.errors.minlength">Password must be at least 8 characters</div>
  </div>
</div>

<!-- 
<div class="col-3">
  <input type="password" [(ngModel)]="UserProfileModelObj.User_Password" [ngModelOptions]="{standalone: true}" name="User_Password" placeholder="Enter Password" class="form-control" required #password="ngModel" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" />
  <div *ngIf="User_Password.invalid && (myform.submitted || User_Password.touched)" class="alert alert-danger">
    <div *ngIf="User_Password.errors.required"> Password is required. </div>
    <div *ngIf="User_Password.errors.pattern"> Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters.</div>
  </div>
 </div> -->
 
 



<div class="col-3">
  <label>Confirm Password</label>
</div>
<!-- <div class="col-3">
 <input type="password" [(ngModel)] = "UserProfileModelObj.User_PasswordConfirm" 
 formControlName="userconpassword"
  class="form-control" [ngClass]="{ 'is-invalid': submittedchange && fxChange.userconpassword.errors }"
 placeholder="Enter Confirm Password">
 <div *ngIf="submittedchange && fxChange.userconpassword.errors" class="invalid-feedback">
   <div *ngIf="fxChange.userconpassword.errors.required">Confirm password is required</div>
   <div *ngIf="fxChange.userconpassword.errors.mustMatch">Password must match</div>
 </div>
</div> -->
<div class="col-3">

  <input class="form-control form-control-sm" type="password" id="fgfmnhjkfdg"
    placeholder="Enter your new password" formControlName="userconpassword"
    [(ngModel)]="UserProfileModelObj.User_PasswordConfirm"
    [ngClass]="{ 'is-invalid': submittedchange && fxChange.userconpassword.errors }">
  <div *ngIf="submittedchange && fxChange.userconpassword.errors" class="invalid-feedback">
    <div *ngIf="fxChange.userconpassword.errors.required">Confirm password is required</div>
    <div *ngIf="fxChange.userconpassword.errors.mustMatch">Password must match</div>
  </div>
</div>


<!-- <div class="col-3">
  <input type="password" [(ngModel)]="UserProfileModelObj.User_PasswordConfirm" [ngModelOptions]="{standalone: true}" name="User_PasswordConfirm" placeholder="Confirm Password" class="form-control" required #confirmpassword="ngModel" pattern="{{ User_Password.value }}" />
  <div *ngIf=" User_PasswordConfirm.invalid && (myform.submitted || User_PasswordConfirm.touched)" class="alert alert-danger">
    <div *ngIf="User_PasswordConfirm.errors.required"> Confirm password is required. </div>
    <div *ngIf="User_PasswordConfirm.errors.pattern"> Password & Confirm Password does not match.</div>
  </div>
 </div> -->



</div>


      </div>
      </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-9"></div>
  <div class="col-3">
    <label for="InvestmentSihhhze" *ngIf="formUsrCommonGroup.invalid" style="color:red;margin-top:10px">*
      fields is required
    </label> <br>
    <!-- [routerLink]="['/client/addclientcompanies']" -->
    <a *ngIf="IsEditDisable"  (click)="EditForms()" id="client_viewdetail_1"
      class="btn btn-primary"> <i class="far fa-edit mr-1"></i> Edit </a>
    &nbsp;&nbsp;
    <button type="submit" *ngIf="!IsEditDisable" id="client_viewdetail_1" class="btn btn-primary "
      [disabled]="isLoading">
      <i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-save': !isLoading}"></i>
      {{button}}</button>
     &nbsp;

    <a [routerLink]="['/home/index']" style="color: white;" class="btn btn-primary">
      Cancel</a>

  </div>
</div>
</form>
    </div>
    </div>
</div>