<!-- <agm-map 
[latitude]="latitude" 
[longitude]="longitude" 
[title] = "title"
[zoom]="zoom" >
  <agm-marker 
  [latitude]="latitude" 
  [longitude]="longitude"></agm-marker>
</agm-map> -->
<!--latedefault,lagedef-->
<agm-map
[latitude]="20.5937" [longitude]="78.9629" [zoom]="5"
>
    <ng-container *ngFor="let place of  LatLongData">
      <agm-marker *ngIf= "place.cellNumber !== undefined" [latitude]="place.latitude" [longitude]="place.longitude" [title] = "place.name + ' ' + place.cellNumber"></agm-marker>
    </ng-container>
    <ng-container *ngFor="let place of  LatLongData">
      <agm-marker *ngIf= "place.cellNumber === undefined" [latitude]="place.latitude" [longitude]="place.longitude" [title] = "place.name"></agm-marker>
    </ng-container>
  </agm-map>