<ng-template #content let-modal>
    <div class="modal-header">
        Message
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" (click)="modal.close('Save click')">×</span>
        </button>
    </div>
    <div class="modal-body">

        <div class="text-center">
            <!-- <i class="fe-check-circle"></i> -->
            <span>{{MessageFlag}}</span>
            <hr>
            <button id="client_viewdetail_1" class="btn btn-primary" (click)="modal.close('Save click')">Ok</button>
            <!-- <button type="button" class="btn btn-primary waves-effect waves-light"
          (click)="modal.close('Save click')">Ok</button> -->
        </div>
    </div>
</ng-template>
<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <h3>Report Details</h3>
            <hr>
            <form [formGroup]="formUsrCommonGroup" (ngSubmit)="FormButton(content)">
                <div class="row">
                    <div class="col-2">
                        <div class="radio radio-info form-check-inline">
                            <input type="radio" id="clientinvoice" [(ngModel)]="ReportsModelObj.valFlag"
                                [ngModelOptions]="{standalone: true}" value="Client Invoice" name="radioInline">
                            <label for="clientinvoice"> Client Invoice </label>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="radio radio-info form-check-inline">
                            <input type="radio" id="contractorinvoice" [(ngModel)]="ReportsModelObj.valcon"
                                [ngModelOptions]="{standalone: true}" value="Contractor Invoice" name="radioInline">
                            <label for="contractorinvoice"> Contractor Invoice </label>
                        </div>
                    </div>
                </div>
                <hr>
                <br>
                <div class="row">
                    <div class="col-2">
                        <label>Invoice Date From</label>
                    </div>
                    <div class="col-2">
                        <input type="date" [(ngModel)]='ReportsModelObj.InvoiceDateFrom'
                            [ngModelOptions]="{standalone: true}" class="form-control"
                           >
                    </div>
                    <div class="col-1">
                        <label> To </label>
                    </div>
                    <div class="col-2">
                        
                        <input type="date" [(ngModel)]='ReportsModelObj.InvoiceDateTo'
                            [ngModelOptions]="{standalone: true}" class="form-control"
                            >
                    </div>
                    <div class="col-1">
                        <label> Group by </label>
                    </div>
                    <div class="col-2">
                        <select class="form-control form-control-sm" [(ngModel)]="ReportsModelObj.GroupByData"
                            [ngModelOptions]="{standalone: true}"
                            (change)='GroupByChangeEvent(ReportsModelObj.GroupByData)'>
                            <option value='0'>select</option>
                            <option [ngValue]="kb.id" *ngFor="let kb of groupList">
                                {{kb.name}}
                            </option>
                        </select>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-2">
                        <label>Sent To Client From</label>
                    </div>
                    <div class="col-2">
                        <input type="date" [(ngModel)]='ReportsModelObj.SentToClientDateFrom'
                            [ngModelOptions]="{standalone: true}" class="form-control">
                    </div>
                    <div class="col-1">
                        <label> To </label>
                    </div>
                    <div class="col-2">
                        <input type="date" [(ngModel)]='ReportsModelObj.SentToClientDateTo'
                            [ngModelOptions]="{standalone: true}" class="form-control">
                    </div>


                </div><br>
                <div class="row">
                    <div class="col-2">
                        <label>Field Complete From</label>
                    </div>
                    <div class="col-2">
                        <input type="date" [(ngModel)]='ReportsModelObj.ReadyOfficeDateFrom'
                            [ngModelOptions]="{standalone: true}" class="form-control">
                    </div>
                    <div class="col-1">
                        <label> To </label>
                    </div>
                    <div class="col-2">
                        <input type="date" [(ngModel)]='ReportsModelObj.ReadyOfficeDateTo'
                            [ngModelOptions]="{standalone: true}" class="form-control">
                    </div>

                </div><br>
                <div class="row">
                    <input type="submit" class="btn btn-primary" value="Run Report">&nbsp;&nbsp;
                    <button class="btn btn-primary">Cancel</button>
                </div>
            </form>

            <br>
            <hr>
            <h3>{{headline}}</h3>

            <kendo-grid [data]="gridData" [pageSize]="state.take" [skip]="state.skip" [sort]="state.sort"
                [group]="state.group" [sortable]="{ mode: 'multiple' }" [filterable]="true" [pageable]="true"
                [groupable]="{ showFooter: true }" (dataStateChange)="dataStateChange($event)"
                style="max-height: 530px;">

                <kendo-grid-column title="Action" width="100"
                [headerStyle]="{'background-color': '#323232','color': '#fff','line-height': '1em'}">
  
                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
  
                  <a class="edit" data-toggle="tooltip" (click)="showDetails($event, dataItem)" data-placement="top"
                    title="view Records">
                    <i class="fa fa-eye"></i> &nbsp; &nbsp; View
                  </a>
                </ng-template>
              </kendo-grid-column>

                <kendo-grid-column *ngFor="let column of ReportColumns" width="{{column.width}}"
                    field="{{column.field}}" title="{{column.title}}"
                    [headerStyle]="{'background-color': '#323232','color': '#fff','line-height': '1em'}">
                    <ng-template kendoGridCellTemplate let-dataItem *ngIf="column.field === 'dueDate'">
                        {{dataItem.dueDate | date: 'MM/dd/yyyy'}}
                    </ng-template>
                    <ng-template kendoGridCellTemplate let-dataItem *ngIf="column.field === 'Inv_Client_CreatedOn'">
                        {{dataItem.dueDate | date: 'MM/dd/yyyy'}}
                    </ng-template>
                    <ng-template kendoGridCellTemplate let-dataItem *ngIf="column.field === 'clientDueDate'">
                        {{dataItem.dueDate | date: 'MM/dd/yyyy'}}
                    </ng-template>

                    <ng-template kendoGridGroupHeaderTemplate let-group="group"
                        *ngIf="column.field === 'Inv_Client_Client_Total'">
                        <span title="Group Header Template for Total">
                            Price: {{ group.value }}
                        </span>
                    </ng-template>

                    <ng-template kendoGridGroupFooterTemplate let-group="group" let-aggregates
                        *ngIf="column.field === 'Inv_Client_Client_Total'">
                        <span title="Group Footer Template for Total">
                            Total: {{ aggregates.Inv_Client_Client_Total.sum }}
                        </span>
                    </ng-template>



                </kendo-grid-column>
                <!-- <kendo-grid-column field="Inv_Client_Client_Total" title="Invoice Total" width="120">
                <ng-template kendoGridGroupHeaderTemplate let-group="group">
                    <span title="Group Header Template for Total">
                        Price: {{ group.value }}
                    </span>
                </ng-template>
               
                <ng-template kendoGridGroupFooterTemplate let-group="group" let-aggregates>
                    <span title="Group Footer Template for Total">
                        Total: {{ aggregates.Inv_Client_Client_Total.sum }}
                    </span>
                </ng-template>
            </kendo-grid-column> -->


            </kendo-grid>


        </div>
    </div>





</div>