<div class="row">
  <div class="col-12">
    <div class="page-title-box">
      <div class="page-title-right">
        <ol class="breadcrumb m-0">
          <!-- <li class="breadcrumb-item"><a href="javascript: void(0);">User</a></li>
          <li class="breadcrumb-item active">Add New User</li> -->
        </ol>
      </div>
      <!-- <h4 class="page-title">View User </h4> -->
    </div>
  </div>
</div>

<div class="row">
  <div class="card">
    <div class="card-body">

      <div class="row">
        <h4 class="page-title">Custom Photo Label </h4>
        <hr>

        <button id="client_viewdetail_1" class="btn btn-primary" [routerLink]="['/customphoto/lableAdd']" (click)="AddNewCustom()"><i class="fas fa-plus-circle mr-1"></i> Create Custom Photo Label</button>
        <!-- <a [routerLink]="['/customphoto/lableAdd']" (click)="AddNewCustom()" class="btn btn-primary waves-effect waves-light"
          title="click to add new User"> <i class="fas fa-plus-circle mr-1"></i> Create Custom Photo Label</a>
        &nbsp;&nbsp;&nbsp; -->
        <button id="client_viewdetail_1" class="btn btn-primary" [routerLink]="['/home/workordersettings']" style="margin-left: 6px;"><i class="fas fa-arrow-alt-circle-left mr-1"></i> Back</button>
        <!-- <a [routerLink]="['/home/workordersettings']" class="btn btn-primary waves-effect waves-light"
          title="click to back"> <i class="fas fa-arrow-alt-circle-left mr-1"></i> Back </a> -->

      </div>

      <hr>

      <div class="row">
        <kendo-grid #gridUser [kendoGridBinding]="griddata" [pageSize]="15" [pageable]="true" [sortable]="true"
        [filterable]="false" [selectable]="true" [groupable]="false"
        [skip]="state.skip"
        [sort]="state.sort"
        [filter]="state.filter"

        (dataStateChange)="dataStateChange($event)">

        <kendo-grid-column field="PhotoLabel_Name" title="Custom Photo Label Name"
            [headerStyle]="{'background-color': '#323232','color': '#fff','line-height': '1em'}" [width]="200">
          </kendo-grid-column>

          <!-- <kendo-grid-column field="rus_IsActive" title="Active"
            [headerStyle]="{'background-color': '#9b9b9b','color': '#000003','line-height': '1em'}" [width]="80">
          </kendo-grid-column> -->

          <kendo-grid-column field="PhotoLabel_IsActive" title="Active" [headerStyle]="{'background-color': '#323232','color': '#fff','line-height': '1em'}" [width]="80"
            filter="boolean">
            <ng-template kendoGridCellTemplate let-dataItem>
                <input type="checkbox" [checked]="dataItem.PhotoLabel_IsActive"  disabled/>
            </ng-template>
          </kendo-grid-column>

        <kendo-grid-column title="Action" [headerStyle]="{'background-color': '#323232','color': '#fff','line-height': '1em'}" width="80">
        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">

          <a class="edit" data-toggle="tooltip" (click)="showDetails($event, dataItem)" data-placement="top"
            title="View Record" style="cursor: pointer"  >
            <i class="fa fa-eye"></i>
          </a> &nbsp;&nbsp;
          <a class="edit" data-toggle="tooltip" (click)="deleteDetails($event, dataItem)" data-placement="top"
            title="Delete Record" style="cursor: pointer" >
            <i class="fa fa-trash"></i>
          </a>
        </ng-template>
      </kendo-grid-column>

      <ng-template kendoPagerTemplate let-totalPages="totalPages" let-currentPage="currentPage">
          <kendo-pager-prev-buttons></kendo-pager-prev-buttons>

          <kendo-pager-numeric-buttons [buttonCount]="10"></kendo-pager-numeric-buttons>
          <kendo-pager-next-buttons></kendo-pager-next-buttons>
          <kendo-pager-info></kendo-pager-info>
          <kendo-pager-page-sizes [pageSizes]="[15, 30, 50, 100]"></kendo-pager-page-sizes>
        </ng-template>
      </kendo-grid>

    </div>


    </div>
  </div>

</div>


