<div class="row">
    <div class="col-12">
      <div class="page-title-box">
        <div class="page-title-right">
          <ol class="breadcrumb m-0">
            <!-- <li class="breadcrumb-item"><a href="javascript: void(0);">User</a></li>
            <li class="breadcrumb-item active">Add New User</li> -->
          </ol>
        </div>
        <!-- <h4 class="page-title">View User </h4> -->
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="card">
      <div class="card-body">
  
        <div class="row">
          <h4 class="page-title" style="font-weight: bolder;padding-left: 12px">Auto Import Work Order Details </h4> 
          <hr>
  
          <button id="client_viewdetail_1" class="btn btn-primary" [routerLink]="['/autoimport/autoimportwo']" (click)="AddNewAutoImportwo()">
            <i class="fas fa-plus-circle mr-1"></i>Create Auto Import</button>
          <!-- <a [routerLink]="['/autoimport/autoimportwo']" (click)="AddNewAutoImportwo()" class="btn btn-primary waves-effect waves-light"
            title="click to add Auto Import WorkOrder"> <i class="fas fa-plus-circle mr-1"></i> Import Work Order</a> -->
          &nbsp;&nbsp;&nbsp;
          <button id="client_viewdetail_1" class="btn btn-primary" [routerLink]="['/home/workordersettings']"><i class="fas fa-arrow-alt-circle-left mr-1"></i> Back</button>
          <!-- <a [routerLink]="['/home/workordersettings']" class="btn btn-primary waves-effect waves-light"
            title="click to back"> <i class="fas fa-arrow-alt-circle-left mr-1"></i> Back </a> -->
  
        </div>
  
    
  
        <hr>
  
  
  
        <div class="row">
            <!-- [filterable]="true"  [skip]="skip" (pageChange)="onPageChange($event)" [height]="1000"-->
            <kendo-grid #gridUser [kendoGridBinding]="griddata" [pageSize]="15" [pageable]="true" [sortable]="true"
            [filterable]="false" [selectable]="true" [groupable]="false"  [reorderable]="true">

            <kendo-grid-column field="Import_Form_Name" title="Import From" [width]="80" [headerStyle]="{'background-color': '#323232','color': '#fff','line-height': '1em'}"></kendo-grid-column>
            <kendo-grid-column field="Client_Company_Name" title="Client" [width]="80" [headerStyle]="{'background-color': '#323232','color': '#fff','line-height': '1em'}"></kendo-grid-column>
            <kendo-grid-column field="WI_LoginName" title="Login Name" [width]="80" [headerStyle]="{'background-color': '#323232','color': '#fff','line-height': '1em'}"></kendo-grid-column>
            <kendo-grid-column field="WI_AlertEmail" title="Alert Email" [width]="80" [headerStyle]="{'background-color': '#323232','color': '#fff','line-height': '1em'}"></kendo-grid-column>
            <kendo-grid-column field="WI_FriendlyName" title="Import Name" [width]="80" [headerStyle]="{'background-color': '#323232','color': '#fff','line-height': '1em'}"></kendo-grid-column>
            <kendo-grid-column field="WI_SkipCommentsDec" title="Skip Comments" [width]="80" [headerStyle]="{'background-color': '#323232','color': '#fff','line-height': '1em'}"></kendo-grid-column>
            <kendo-grid-column field="WI_SkipLineItemsDec" title="Skip Line Items" [width]="80" [headerStyle]="{'background-color': '#323232','color': '#fff','line-height': '1em'}"></kendo-grid-column>

            <kendo-grid-column  title="Action" width="80" [headerStyle]="{'background-color': '#323232','color': '#fff','line-height': '1em'}">
              <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">

                <a class="edit" data-toggle="tooltip" (click)="showDetails($event, dataItem)" data-placement="top"
                  title="view Records" [routerLink]="['/autoimport/autoimportwo']">
                  <i class="fa fa-eye"></i> 
                </a>&nbsp;&nbsp;
                <a class="edit" data-toggle="tooltip" (click)="deleteDetails($event, dataItem)" data-placement="top"
                title="Delete Record" style="cursor: pointer" >
                <i class="fa fa-trash"></i>
              </a>
              </ng-template>
            </kendo-grid-column>

            <ng-template kendoPagerTemplate let-totalPages="totalPages" let-currentPage="currentPage">
              <kendo-pager-prev-buttons></kendo-pager-prev-buttons>

              <kendo-pager-numeric-buttons [buttonCount]="10"></kendo-pager-numeric-buttons>
              <kendo-pager-next-buttons></kendo-pager-next-buttons>
              <kendo-pager-info></kendo-pager-info>
              <kendo-pager-page-sizes [pageSizes]="[15, 30, 50, 100]"></kendo-pager-page-sizes>
           </ng-template>

          </kendo-grid>

        </div>
  
  
      </div>
    </div>
  
  </div>
  