<ng-template #content let-modal>
  <div class="modal-header">
    Message
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true" (click)="modal.close('Save click')">×</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="text-center">

      <span>{{MessageFlag}}</span>
      <hr>
      <button id="client_viewdetail_1" class="btn btn-primary" (click)="modal.close('Save click')">Continue</button>
      <!-- <button type="button" class="btn btn-primary waves-effect waves-light"
        (click)="modal.close('Save click')">Continue...</button> -->
    </div>
  </div>
</ng-template>
<!-- Mohit last change -->

<div class="row">
  <div class="col-12">
    <div class="card-box">


      <!-- start here menu Common -->


      <app-header-client-result></app-header-client-result>




      <!--start constant view-->



      <!--End view-->
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">

          <h4>Client Details</h4>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="field-tab">
        </div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">

        </div>
        <div class="tab-pane fade" id="invoice" role="tabpanel" aria-labelledby="invoice-tab">Invoice
        </div>


        <div class="tab-pane fade show active" id="photos" role="tabpanel" aria-labelledby="photos-tab">

          <div class="row" *ngFor = "let item of headwodata" style="background-color: #f5f5f5; margin-top: -20px; margin-left: 0px; margin-right: 0px;">
            <div class="col-lg-3">
        <label>Work Type : {{item.WT_WorkType}}</label> 
            </div>
            <div class="col-lg-3">
              <label>Work Order No : {{item.workOrderNumber}}</label>
              
            </div>
            <div class="col-lg-3">
              <label>Address : {{item.fulladdress}}</label>
             
            </div>
            <div class="col-lg-3"[hidden]= 'tabhide'>
              <label>Client : {{item.Client_Company_Name}}</label>
             
            </div>
          </div>
          <hr>


        
         <div class="row">
          <div class="col-12" style="background-color: #f5f5f5;">
            <div style="height: 51px;">
              <button id="client_viewdetail_1" class="btn btn-primary btn-sm" hidden style="margin-left:4px;">QC Tools</button>

              <!-- <button class="btn btn-primary btn-sm " style="margin-top: 7px;padding:3px;" hidden><i
                  class="fas fa-align-justify mr-1"></i>QC Tools</button> -->

                  <button id="client_viewdetail_1" class="btnalign_00 btn btn-primary btn-xs" (click)="OpenPhotoUpload(contentPhotosUpload)">
                    <i class="fas fa-images mr-1"></i>Upload Photos</button>

              <!-- <button class="btn btn-primary btn-sm " style="margin-top: 7px;margin-left: 2px;padding:3px;"
                (click)="OpenPhotoUpload(contentPhotosUpload)"><i class="far fa-image mr-1"></i>Upload Photos</button>
               -->
               <button id="client_viewdetail_1" class="btnalign_01 btn btn-primary btn-xs" (click)="OpenDocumentUpload(contentDocumentUpload)">
                <i class="fas fa-file-upload mr-1"></i>Upload Document</button>

              <!-- <button class="btn btn-primary btn-sm " style="margin-top: 7px;margin-left: 2px;padding:3px;"
                (click)="OpenDocumentUpload(contentDocumentUpload)"><i class="fas fa-file-upload mr-1"></i>Upload
                Document</button> -->

                <button id="client_viewdetail_1" class="btnalign btn btn-primary btn-xs" hidden >Show All</button>

              <!-- <button class="btn btn-primary btn-sm " style="margin-top: 7px;margin-left: 2px;padding:3px;" hidden><i
                  class="far fa-images mr-1"></i>Show All</button> -->

                  <button id="client_viewdetail_1" class="btnalign btn btn-primary btn-xs" (click)="download()" value="download"><i class="fas fa-cloud-download-alt mr-1"></i>Download Photos</button>

              <!-- <button class="btn btn-primary btn-sm " (click)="download()" value="download"
                style="margin-top: 7px;margin-left:2px;padding:3px;"><i class="fas fa-download mr-1"></i>Download
                Photos</button> -->

                <button id="client_viewdetail_1" class="btnalign_01 btn btn-primary btn-xs" (click)="downloadDocument($event)"><i class="fas fa-file-download mr-1"></i>Download PDF</button>

              <!-- <button class="btn btn-primary btn-sm " style="margin-top: 7px;margin-left: 2px;padding:3px;" (click)="downloadDocument($event)"><i
                  class="fas fa-file-download mr-1"></i>Download PDF</button> -->
                  
                  <button id="client_viewdetail_1" class="btnalign btn btn-primary btn-xs"  (click)="OpenTimeStamp(timeDateStamp)" ><i class="fas fa-stamp mr-1"></i>Datastamp</button>
                  <button id="client_viewdetail_1" class="btnalign_01 btn btn-primary btn-xs" ><i class="fas fa-copy mr-1"></i>Photo Transfer</button>
                  <button id="client_viewdetail_1" class="btnalign btn btn-primary btn-xs" hidden><i class="fas fa-map mr-1"></i>Map</button>

                  <button id="client_viewdetail_1" class="btnalign btn btn-primary btn-xs" (click)="bid(bidcontent)"><i class="fas fa-plus-circle mr-1"></i>Create Bid</button>
                  <button id="client_viewdetail_1" class="btnalign btn btn-primary btn-xs" (click)="Completion(invcontent)"><i class="fas fa-list-ul mr-1"></i>Create Completion</button>
                  <button id="client_viewdetail_1" class="btnalign_01 btn btn-primary btn-xs" (click)="Damage(damagecontent)"><i class="fas fa-list-ul mr-1"></i>Create Damage</button>
                  <button id="client_viewdetail_1" class="btnalign btn btn-primary btn-xs" (click)="openNav()"><i class="fas fa-tags mr-1"></i>Label Photo</button>
                  <!-- <button class="btn btn-primary btn-sm " style="margin-top: 7px;margin-left: 2px;padding:3px;" hidden><i
                  class="fas fa-stamp mr-1"></i>Datestamp</button> -->
              <!-- <button class="btn btn-primary btn-sm " style="margin-top: 7px;margin-left: 2px;padding:3px;" hidden><i
                  class="far fa-copy mr-1"></i>Move/Copy Photos</button> -->
              <!-- <button class="btn btn-primary btn-sm " style="margin-top: 7px;margin-left: 2px;padding:3px;" hidden><i
                  class="far fa-map mr-1"></i>Map</button> -->

              <!-- <button class="btn btn-primary btn-sm " style="margin-top: 7px;margin-left: 2px;padding:3px;"
                (click)="bid(bidcontent)"><i class="fas fa-align-justify  mr-1"></i>Create Bid</button> -->
              <!-- <button class="btn btn-primary btn-sm " style="margin-top: 7px;margin-left: 2px;padding:3px;"
                (click)="Completion(invcontent)"><i class="far fa-flag mr-1"></i>Create Completion</button>
              <button class="btn btn-primary btn-sm " style="margin-top: 7px;margin-left: 2px;padding:3px;"
                (click)="Damage(damagecontent)"><i class="fas fa-archway  mr-1"></i>Create Damage</button>
              <button class="btn btn-primary btn-sm " style="margin-top: 7px;margin-left: 2px;padding:3px;"
                (click)="openNav()"><i class="far fa-flag mr-1"></i>Label Photos</button> -->
            </div>
          </div>
        </div>
          <!-- add custome label popup -->
          <ng-template #CustomLabelPOPUP let-modal>
            <div class="modal-header">

              <button type="button" (click)="modal.close('Save click')" class="close" data-dismiss="modal"
                aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">

              <form>


                <div class="form-row">
                  <div class="form-group col-md-12 text-center" style="color: black;background-color: #9b9b9b;">
                    <h5>Create Custom Label</h5>
                  </div>
                  <br>

                </div>

                <div class="form-group">
                  <div class="input-group">
                    <input type="text" class="form-control form-control-sm"
                      [(ngModel)]="Custom_PhotoLabelObj.PhotoLabel_Name" placeholder="Enter Custom Label Name.."
                      [ngModelOptions]="{standalone: true}">
                    <div class="input-group-append">
                      <button (click)="CustomPhotoLabelSubmit(content)"
                        class="btn btn-xs btn-primary waves-effect waves-light"> <i class="fas fa-plus-circle"></i>
                        Add</button>
                    </div>
                  </div>

                </div>

                <div class="form-row">

                  <div class="table-responsive" style="overflow: auto; white-space: nowrap;">

                    <table class="table table-striped">
                      <tr style="text-align: center;">
                        <th>Select </th>
                        <th>Label Name</th>
                        <!-- <th>Action</th> -->
                      </tr>

                      <tr *ngFor="let item of CustomPhotoArray; index as inx" style="text-align: center;">
                        <td>
                          <div class="custom-control custom-checkbox">
                            <input type="checkbox" (change)="Custom_label_CheckMethod()"
                              [(ngModel)]="item.Custom_label_Check" [ngModelOptions]="{standalone: true}"
                              class="custom-control-input" id="damageINVr{{inx}}">
                            <label class="custom-control-label" for="damageINVr{{inx}}"></label>
                          </div>
                        </td>

                        <td>
                          <div *ngIf="item.showBtn == 'show'">
                              <input type="text" [(ngModel)]="item.PhotoLabel_Name" [ngModelOptions]="{standalone: true}"  class="form-control form-control-sm" id="userNfuuiame1" placeholder="Enter Label Name">
                          </div>

                          <div  *ngIf="item.showBtn == undefined">

                              {{item.PhotoLabel_Name}}
                          </div>


                        </td>
                        <!-- <td>
                          <div *ngIf="item.showBtn == undefined">
                              <button (click)='SingleClick_CustomPhotos(item)' class="btn btn-xs btn-primary waves-effect waves-light"
                              ><i  class="far fa-edit mr-1"></i>Edit</button>
                          </div>
                          <div *ngIf="item.showBtn == 'show'">
                            <button (click)='SaveClick_CustomPhotos(item)' class="btn btn-xs btn-primary waves-effect waves-light"
                            [disabled]="isLoading">
                            <i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoadingSave, 'fa-save': !isLoadingSave}"></i>
                            {{buttonSave}}</button>  &nbsp;&nbsp;
                            <button (click)='DeleteClick_CustomPhotos(item,inx)' class="btn btn-xs btn-primary waves-effect waves-light"
                            [disabled]="isLoading">
                            <i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoadingDelete, 'fa-trash': !isLoadingDelete}"></i>
                            {{buttonDelete}}</button> &nbsp;&nbsp;
                            <button (click)='CancelClick_CustomPhotos(item)' class="btn btn-xs btn-primary waves-effect waves-light"
                            >
                            Cancel
                          </button>
                          </div>
                        </td> -->
                        <td>
                          <div *ngIf="item.showBtn == undefined"> 
                              <button (click)='SingleClick_CustomPhotosDelete(item,inx,content)' [disabled]="item.PhotoLabel_Valtype == '0'"  class="btn btn-xs btn-primary waves-effect waves-light"
                              ><i class="fas fa-trash mr-1"></i>Delete</button>
                          </div>
                          <!-- <div *ngIf="item.showBtn == 'show'">
                            <button (click)='SaveClick_CustomPhotos(item)' class="btn btn-xs btn-primary waves-effect waves-light"
                            [disabled]="isLoading">
                            <i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoadingSave, 'fa-save': !isLoadingSave}"></i>
                            {{buttonSave}}</button>  &nbsp;&nbsp;
                            <button (click)='DeleteClick_CustomPhotos(item,inx)' class="btn btn-xs btn-primary waves-effect waves-light"
                            [disabled]="isLoading">
                            <i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoadingDelete, 'fa-trash': !isLoadingDelete}"></i>
                            {{buttonDelete}}</button> &nbsp;&nbsp;
                            <button (click)='CancelClick_CustomPhotos(item)' class="btn btn-xs btn-primary waves-effect waves-light"
                            >
                            Cancel
                          </button>
                          </div> -->
                        </td>
                      </tr>
                    </table>

                  </div>
                </div>

                <div class="form-row">
                  <button (click)='AddWO_CustomPhotos(content)' class="btn btn-primary waves-effect waves-light"
                    [disabled]="isLoading">
                    <i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-save': !isLoading}"></i>
                    {{button}}</button>
                </div>



              </form>


              <!-- <hr>
                <button type="button" class="btn btn-primary waves-effect waves-light" (click)="modal.close('Save click')"
                  style="font-size: 11px;">Close</button> -->
            </div>
          </ng-template>
          <!--Toggle side start-->
          <!-- <div id="mySidenav" class="sidenav">

            <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>







          </div> -->


          <!-- <span style="font-size:15px;cursor:pointer" (click) ="openNav()">&#9776; Photo Requirement</span> -->
          <!-- <button class="btn btn-primary btn-sm " (click) ="openNav()">Photo</button> -->



          <!--Toggle side End-->
          <!-- <div class="row filterable-content"> -->
          <!-- <div class="col-12">

                <div class="gallery" *ngFor="let item of GetPhotos;">
                  <a (click)="PhotoModel(contentPhoto,item.Client_Result_Photo_FilePath)">
                    <img [src]="BasetUrlval + item.Client_Result_Photo_FilePath" class="img-responsive"
                      style="width:200px;height:150px;margin-right: 20px;" alt="work-thumbnail">
                  </a>
                </div>

              </div> -->

          <!-- </div> -->
          <!-- <div *ngFor="let image of _albums; let i=index">
              <img [src]="image.thumb" (click)="open(i)" />
            </div> -->

          <div class="container" style="margin-top: 10px;">
  <div class="divsecphoto row">
            <div class = {{divclass}}>
            <div class="row" style="padding-top: 6px; height: 35px;background-color: #bdbbb3; width: 100%; font-size: 14px; color: black;">
              <div class="col-7"> <strong>All Photos <span *ngIf="GetPhotos"> ({{GetPhotos.length}}) </span> </strong>
              </div>
              <div class="col-5" style="text-align: right; color: black;"><span> <a  style="color: black;" href="javascript:void(0)" (click)="AllPhotosToggle()"> <i
                      class="fa fa-eye" ></i>&nbsp;View &nbsp;</a></span>&nbsp;|&nbsp;<span><a  style="color: black;" href="javascript:void(0)" (click)="DownloadPhotosAll()"><i
                      class="fas fa-cloud-download-alt" ></i> Download </a></span></div>
            </div>
            <br>



            <div class="row" [hidden]="!AllPhotosToggleShow">


              <div class="col-lg-2 col-md-3 col-xs-6 thumb " *ngFor="let item of GetPhotos;index as i ">
                <div class="jab">
                  <div class="overlay">
                    <ul>

                      <li class="mdl"><a style="color:white;cursor: pointer;" (click)="downloadimg($event,item.Client_Result_Photo_FilePath, item.Client_Result_Photo_FileName)" [href]="item.Client_Result_Photo_FilePath" [download]="item.Client_Result_Photo_FileName">Get  </a>|</li>
                      <li class="mdl"><a href="javascript:void(0)" style="color:white"
                          (click)="PhotoModel(contentPhoto,item,i)">Zoom </a>|</li>
                      <li class="mdl"><a href="javascript:void(0)" style="color:white">unlabel </a>|</li>
                      <li class="mdl"><a href="javascript:void(0)" (click)="RemoveImage(item)" style="color:white"><i
                            class="fas fa-minus-circle"></i></a></li>
                    </ul>
                  </div>
                  <div class="nopad text-center">
                    <label class="image-checkbox">


                      <img [src]="item.Client_Result_Photo_FilePath" class="img-fluid"
                        alt="work-thumbnail">

                      <div [hidden]="!item.chkflag">
                        <input type="checkbox" [(ngModel)]="item.chkflag" (change)="chkimgAllPhotos(item,index)"
                          [ngClass]="name" style="    text-align: left;
                            position: absolute;
                            margin-left: 115px;
                            overflow: auto;
                            z-index: auto;
                            width: 18px;
                            height: 17px;" />
                      </div>


                    </label>

                  </div>
                </div>

              </div>


            </div>
            <div class="row" style="padding-top: 6px; height: 35px;background-color: #bdbbb3; color: black; width: 100%; font-size: 14px;">
              <div class="col-7"> <strong>Unlabeled <span *ngIf="unflag"> ({{unflag.length}}) </span> </strong></div>
              <div class="col-5" style="text-align: right;">

                <!-- <div class="switch">
                      <input type="checkbox" [(ngModel)]="UnflaggedShow" [ngModelOptions]="{standalone: true}" (click)='UnflaggedToggle(UnflaggedShow)'/>
                      <label> <i class="fa fa-eye"></i> View Photos </label>
                    </div> -->
                <span>
                  <a  style="color: black;" class="text-left" href="javascript:void(0)" (click)="UnflaggedToggle()"><i class="fa fa-eye"></i>View</a></span>


                <span *ngIf="unflag">
                  <span *ngIf="unflag.length != 0">&nbsp;|&nbsp; <a href="javascript:void(0)" (click)="UnflagImgDownload()" style="color: black;"><i
                        class="fas fa-cloud-download-alt"></i> Download</a></span>
                </span>

              </div>
            </div>
            <br>
            <div class="row" [hidden]="!UnflaggedShow">
              <div class="col-lg-3 col-md-4 col-xs-6 thumb " *ngFor="let unfphoto of unflag;">
                <div class="jab">
                  <div class="overlay">
                    <ul>
                      <li class="mdl"><a href="javascript:void(0)" style="color:white" (click)="downloadimg($event,unfphoto.Client_Result_Photo_FilePath, unfphoto.Client_Result_Photo_FileName)" [href]="unfphoto.Client_Result_Photo_FilePath" [download]="unfphoto.Client_Result_Photo_FileName">Get </a>|</li>
                      <li class="mdl"><a href="javascript:void(0)" style="color:white"
                          (click)="PhotoModel(contentPhoto,unfphoto,i)">Zoom </a>|</li>
                      <li class="mdl"><a href="javascript:void(0)" style="color:white">FoH </a>|</li>
                      <li class="mdl"><a href="javascript:void(0)" style="color:white">unlabel </a>|</li>
                      <li class="mdl"><a href="javascript:void(0)" style="color:white" (click)="RemoveImage(unfphoto)"><i
                            class="fas fa-minus-circle"></i></a></li>
                    </ul>
                  </div>
                  <div class="nopad text-center">
                    <label class="image-checkbox">


                      <!-- <img [src]="BasetUrlval + unfphoto.Client_Result_Photo_FilePath" class="img-fluid"
                        alt="work-thumbnail"> -->
                        <img [src]="unfphoto.Client_Result_Photo_FilePath" class="img-fluid"
                        alt="work-thumbnail">

                      <div [hidden]="!unfphoto.chkflag">
                        <!-- <input type="checkbox" [(ngModel)]="unfphoto.chkflag"
                            [ngClass]="name" style="    text-align: left;
                                position: absolute;
                                margin-left: 115px;
                                overflow: auto;
                                z-index: auto;
                                width: 18px;
                                height: 17px;" /> -->
                      </div>


                    </label>

                  </div>
                </div>

              </div>

            </div>

           

            <!--for task div all-->
            <div class=" row" *ngFor="let task of taskname;" style="margin-right: 12px;">
              <div class="container">
                <div class=" row" style="padding-top:6px; height: 35px;background-color: #bdbbb3;  font-size: 14px; color: black;">
                  <div class="col-7"> <strong>{{task.Task_Photo_Label_Name}}</strong></div>
                  <div class="col-5"style="text-align: right;"><span><a href="javascript:void(0)" (click)="TaskViseTogle()" style="color: black;"> <i
                          class="fa fa-eye"></i> View
                        </a></span>&nbsp;|&nbsp;<span><a href="javascript:void(0)"
                        (click)="TaskImagesDownLoad(task.Items)" style="color: black;"><i class="fas fa-cloud-download-alt"></i> Download
                        </a></span>
                  </div>

                </div>

                <div class=" row">
                  <div class="container" *ngFor="let button of task.Items;">
                    <div class="row">
                      {{button.Task_Photo_Button_Name}} ( {{button.Items.length}}  )

                    </div><br>
                    <div class="row" [hidden]="!TaskViseShow">
                      <div class="col-lg-3 col-md-4 col-xs-6 thumb " *ngFor="let photo of button.Items;">
                        <div class="jab">
                          <div class="overlay">
                            <ul>
                              <li class="mdl"><a href="javascript:void(0)" style="color:white" (click)="downloadimg($event,photo.Client_Result_Photo_FilePath, photo.Client_Result_Photo_FileName)" [href]="photo.Client_Result_Photo_FilePath" [download]="photo.Client_Result_Photo_FileName">Get </a>|</li>
                              <li class="mdl"><a href="javascript:void(0)" style="color:white"
                                  (click)="PhotoModel(contentPhoto,photo,i)">Zoom </a>|</li>
                              <li class="mdl"><a href="javascript:void(0)" style="color:white">unlabel </a>|</li>
                              <li class="mdl"><a href="javascript:void(0)"  style="color:white" (click)="RemoveImage(photo)"><i
                                    class="fas fa-minus-circle"></i></a></li>
                            </ul>
                          </div>
                          <div class="nopad text-center">
                            <label class="image-checkbox">


                              <!-- <img [src]="BasetUrlval + photo.Client_Result_Photo_FilePath" class="img-fluid"
                                alt="work-thumbnail"> -->
                                <img [src]="photo.Client_Result_Photo_FilePath" class="img-fluid"
                                alt="work-thumbnail">

                              <div [hidden]="!photo.chkflag">
                                <input type="checkbox" [(ngModel)]="photo.chkflag"
                                    [ngClass]="name" style="    text-align: left;
                                      position: absolute;
                                      margin-left: 115px;
                                      overflow: auto;
                                      z-index: auto;
                                      width: 18px;
                                      height: 17px;" />
                              </div>


                            </label>

                          </div>
                        </div>

                      </div>

                    </div>
                  </div>

                </div>
              </div>

            </div>


            <!--End Here Task All-->
            <div class="row" style="padding-top:6px; height: 35px;background-color: #bdbbb3; width: 100%; font-size: 14px; color: black;">
              <div class="col-7"> <strong>All Documents </strong>
              </div>
              <div class="col-5" style="text-align: right; color: black;"><span> <a  (click)="DocumentViseTogle()" style="color: black; margin-right: 19%;" href="javascript:void(0)" > <i
                class="fa fa-eye" ></i>&nbsp;View &nbsp;</a></span></div>
              </div>
          <br>
<!--For document table-->
            <div class="row" [hidden]="!Documentshow" >
          <div class="col-12">
            <div class="table-responsive">

              <table class="table table-striped">
                <tr style="text-align: center;">
                  <th style="background-color: aquamarine;"> File Download</th>
                  <th style="background-color: bisque;">File Name</th>
                </tr>
                <tr *ngFor = "let item of documentdlst">
                  <td><a [href]="item.Client_Result_Photo_FilePath" target="_blank" [download]="item.Client_Result_Photo_FilePath"><i class="fa fa-download" aria-hidden="true"></i> Download file</a></td>
                  <td>{{item.Client_Result_Photo_FileName}}</td>
                 
                </tr>
              </table>

            </div>
          </div>
                
              
             

            </div>
            <br>
            <div class="row" style="padding-top: 6px; height: 35px;background-color: #bdbbb3; width: 100%; font-size: 14px; color: black;">
              <div class="col-7"> <strong>All Deleted  </strong>
              </div>
              <div class="col-5" style="text-align: right; color: black;"><span> <a (click)="DeleteViseTogle()" style="color: black; margin-right: 19%;" href="javascript:void(0)" > <i
                      class="fa fa-eye" ></i>&nbsp;View &nbsp;</a></span>
                      <!-- s -->
                    </div>
            </div>
            <br>
            <div class="row" [hidden]="!Delshow" >
              <div class="col-lg-3 col-md-4 col-xs-6 thumb " *ngFor="let delphoto of deleteimg">
                <div class="jab">
                  <div class="overlay">
                    <ul>
                      <li class="mdl"><a href="javascript:void(0)" style="color:white" (click)="downloadimg($event,delphoto.Client_Result_Photo_FilePath, delphoto.Client_Result_Photo_FileName)" [href]="delphoto.Client_Result_Photo_FilePath" [download]="delphoto.Client_Result_Photo_FileName">Get </a>|</li>
                      <li class="mdl"><a href="javascript:void(0)" style="color:white"
                          (click)="PhotoModel(contentPhoto,delphoto,i)">Zoom </a>|</li>
                      <li class="mdl"><a href="javascript:void(0)" style="color:white">FoH </a>|</li>
                      <li class="mdl"><a href="javascript:void(0)" style="color:white">unlabel </a>|</li>
                      <li class="mdl"><a href="javascript:void(0)" style="color:white" (click)="RemoveImage(delphoto)"><i
                            class="fas fa-minus-circle"></i></a></li>
                    </ul>
                  </div>
                  <div class="nopad text-center">
                    <label class="image-checkbox">


                    
                        <img [src]="delphoto.Client_Result_Photo_FilePath" class="img-fluid"
                        alt="work-thumbnail">

                      <div [hidden]="!delphoto.chkflag">
                      
                      </div>


                    </label>

                  </div>
                </div>

              </div>

            </div>

          </div>




        
          <div class={{div2}} [hidden]="isShown" style="background-color: #d6d6e2;">
            <div class="container">
           
              <hr>
              <div class="row" *ngIf="GetTaskPhotos">

                <div class="col-md-12">

                  <div class="button-list">
                    <button class="btn btn-primary btn-sm" (click)="AddCustomLabel(CustomLabelPOPUP)"> Add Custom
                      Label</button>
                      <br>
                  <kendo-panelbar >
                    <kendo-panelbar-item title="Bids"  >
                      <ng-template kendoPanelBarContent *ngIf="bidItems.length > 0">
                        <div  *ngFor="let item of GetTaskPhotos" >
                          <div style="padding: 8px;" *ngIf="item.ButtonName1 == 'Bid'">

                          
                          {{item.Task_Photo_Label_Name}}
                        <!-- {{bidItems | json}} -->
                          <div class="row" style="margin-left: 10px;"  >

                            <!-- <button class="btn btn-warning btn-sm "
                              style="margin-top: 7px;margin-left: 2px;padding:3px; width: 55px; background-color:#f7b84b !important;"
                              (click)=AddTaskPhotoSelect1(item,content,item.ButtonName1)
                              *ngIf="item.ButtonName1!=''">{{item.ButtonName1}}</button>
                    -->
                    <button class="btn btn-warning btn-sm "
                    style="margin-top: 7px;margin-left: 2px;padding:3px; width: 55px; background-color:#f7b84b !important;"
                    (click)="AddTaskPhotoSelect1(item,content,'Bid')"
                    >Bid</button>
                   
         
                             
                          </div>
                        </div>
                         
                        </div>
                      </ng-template>
                    </kendo-panelbar-item>
                    <kendo-panelbar-item title="Completion" >
                      <ng-template kendoPanelBarContent *ngIf="bidItems.length > 0">
                        <div  *ngFor="let item of GetTaskPhotos" >
                          <div style="padding: 8px;" *ngIf="item.ButtonName1 == 'Before'">
                          {{item.Task_Photo_Label_Name}}<br>
                          <!-- <button class="btn btn-primary btn-sm" (click)="BidShowNHide('Before')"  > Completion</button> -->
                          <button class="btn btn-warning btn-sm "
                          style="margin-top: 7px;margin-left: 2px;padding:3px; width: 55px; background-color:#f7b84b !important;"
                          (click)="AddTaskPhotoSelect1(item,content,'Before')"
                          >Before</button>
                          <button class="btn btn-warning btn-sm "
                          style="margin-top: 7px;margin-left: 2px;padding:3px; width: 55px; background-color:#4fc6e1 !important;"
                          (click)="AddTaskPhotoSelect3(item,content,'During')"
                          >During</button>
                          <button class="btn btn-warning btn-sm "
                          style="margin-top: 7px;margin-left: 2px;padding:3px; width: 55px; background-color:#148f77 !important;"
                          (click)="AddTaskPhotoSelect2(item,content,'After')"
                          >After</button>
                        
                        </div>
                        </div>
                      </ng-template>
                    </kendo-panelbar-item>
                    <kendo-panelbar-item title="Damage" >
                      <ng-template kendoPanelBarContent *ngIf="bidItems.length > 0">
                        <div *ngFor="let item of GetTaskPhotos">
                          <div style="padding: 8px;" *ngIf="item.ButtonName1 == 'Damage'">
                          {{item.Task_Photo_Label_Name}}<br>
                          <!-- <button class="btn btn-primary btn-sm" (click)="BidShowNHide('Damage')"  > Damage</button> -->
                          <button class="btn btn-warning btn-sm "
                          style="margin-top: 7px;margin-left: 2px;padding:3px; width: 60px; background-color:#f7b84b !important;"
                          (click)="AddTaskPhotoSelect1(item,content,'Damage')"
                          >Damage</button>
                        </div>
                        </div>
                      </ng-template>
                    </kendo-panelbar-item>
                    <kendo-panelbar-item title="Inspection" >
                      <ng-template kendoPanelBarContent *ngIf="bidItems.length > 0">
                        <div *ngFor="let item of GetTaskPhotos">
                          <div style="padding: 8px;" *ngIf="item.ButtonName1 == 'Inspection'">
                          {{item.Task_Photo_Label_Name}}<br>
                          <!-- <button class="btn btn-primary btn-sm" (click)="BidShowNHide('Damage')"  > Damage</button> -->
                          <button class="btn btn-warning btn-sm "
                          style="margin-top: 7px;margin-left: 2px;padding:3px; width: 76px; background-color:#f7b84b !important;"
                          (click)="AddTaskPhotoSelect1(item,content,'Inspection')"
                          >Inspection</button>
                        </div>
                        </div>
                      </ng-template>
                    </kendo-panelbar-item>
                 
                    <kendo-panelbar-item title="Custom" >
                      <ng-template kendoPanelBarContent *ngIf="bidItems.length > 0">
                        <div  *ngFor="let item of GetTaskPhotos">
                          <div style="padding: 8px;" *ngIf="item.ButtonName1 == 'Label'">
                          {{item.Task_Photo_Label_Name}}<br>
                          <!-- <button class="btn btn-primary btn-sm" (click)="BidShowNHide('Label')"  > Custom</button> -->
                          <button class="btn btn-warning btn-sm "
                          style="margin-top: 7px;margin-left: 2px;padding:3px; width: 55px; background-color:#f7b84b !important;"
                          (click)="AddTaskPhotoSelect1(item,content,'Label')"
                          >Label</button>
                        </div>
                        </div>
                      </ng-template>
                    </kendo-panelbar-item>
                  </kendo-panelbar>
                  <!-- <div class="button-list">
                    <button class="btn btn-primary btn-sm" (click)="AddCustomLabel(CustomLabelPOPUP)"> Add Custom
                      Label</button>
                      <br>
                    <button class="btn btn-primary btn-sm" (click)="BidShowNHide('Bid')"  > Bid</button>
                    <button class="btn btn-primary btn-sm" (click)="BidShowNHide('Before')" > Completion</button>
                    <button class="btn btn-primary btn-sm" (click)="BidShowNHide('Damage')" > Damage</button>
                    <button class="btn btn-primary btn-sm" (click)="BidShowNHide('Label')"  > Custom</button>
                  </div> -->

                </div>

              </div>
            </div>
            <hr>
          

            <ng-container class="cotainer" *ngFor="let item of GetTaskPhotos; let i = index" style="margin-top: 3px;" >

              <div *ngIf="bidTaskDiv">

                <div *ngIf="BidVal == item.ButtonName1">

                  <div class="row" style="margin-left: 10px;">
                    <strong> <a href="javascript:void()" (click)="hideme[i] = !hideme[i]">{{item.Task_Photo_Label_Name}}</a>&nbsp;
                      <span *ngIf="item.keycount">({{item.keycount}})</span>
                      <span *ngIf="item.keycount == undefined">(0 Photo)</span>
                    </strong>
                  </div> 


                  <div class="row" style="margin-left: 10px;"  [hidden]="!hideme[i]">

                    <button class="btn btn-warning btn-sm "
                      style="margin-top: 7px;margin-left: 2px;padding:3px; width: 55px; background-color:#f7b84b !important;"
                      (click)=AddTaskPhotoSelect1(item,content,item.ButtonName1)
                      *ngIf="item.ButtonName1!=''">{{item.ButtonName1}}</button>
                    <button class="btn btn-success btn-sm "
                      style="margin-top: 7px;margin-left: 2px;padding:3px; width: 55px; background-color:#148f77 !important;"
                      (click)=AddTaskPhotoSelect2(item,content,item.ButtonName2)
                      *ngIf="item.ButtonName2!=''">{{item.ButtonName2}}</button>
                    <button class="btn btn-info btn-sm "
                      style="margin-top: 7px;margin-left: 2px;padding:3px; width: 55px; background-color:#4fc6e1 !important;"
                      (click)=AddTaskPhotoSelect3(item,content,item.ButtonName3)
                      *ngIf="item.ButtonName3!=''">{{item.ButtonName3}}</button>

                     
                  </div>
                  <!-- <br>
                  <div class="row" style="margin-left: 10px;">
                      <strong> <samp>{{item.Task_Photo_Label_Name}}</samp>&nbsp; <span></span></strong>
                    </div> -->

                </div>
              </div>


            </ng-container>



          </div>
        </div>
       
     




        <div class="tab-pane fade" id="notes" role="tabpanel" aria-labelledby="notes-tab">Wo Notes
        </div>
        <div class="tab-pane fade" id="sync" role="tabpanel" aria-labelledby="sync-tab">Client Sync
        </div>

        <br>



      </div>




      <br>
      <!-- end .responsive-table-plugin-->
    </div> <!-- end card-box -->
  </div> <!-- end col -->
</div>

<ng-template #contentPhotosUpload let-modal>
  <div class="modal-header">
    Upload Photos
    <button type="button" class="close" (click)="modal.close('Save click')" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <div>

      <div class="row">
        <div class="col-md-12">

          <kendo-upload [saveUrl]="uploadSaveUrl" [removeUrl]="uploadRemoveUrl" [(ngModel)]="myFiles"
            (error)="displayError($event)" (success)=displaySuccess($event);>
          </kendo-upload>

        </div>

      </div>
      <hr>
      <button id="client_viewdetail_1" class="btn btn-primary" (click)="modal.close('Save click')">Close</button>
      <!-- <button type="button" class="btn btn-primary waves-effect waves-light"
        (click)="modal.close('Save click')">Close</button> -->
    </div>
  </div>
</ng-template>
<ng-template #contentDocumentUpload let-modal>
  <div class="modal-header">
    Upload Documents
    <button type="button" class="close" (click)="modal.close('Save click')" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <div>

      <div class="row">
        <div class="col-md-12">

          <kendo-upload [saveUrl]="uploadSaveUrl" [removeUrl]="uploadRemoveUrl" [(ngModel)]="myFiles"
            (error)="displayErrorDocument($event)" (success)=displaySuccessDocument($event);>
          </kendo-upload>

        </div>

      </div>
      <hr>
      <button id="client_viewdetail_1" class="btn btn-primary" (click)="modal.close('Save click')">Close</button>
      <!-- <button type="button" class="btn btn-primary waves-effect waves-light"
        (click)="modal.close('Save click')">Close</button> -->
    </div>
  </div>
</ng-template>
<!-- The Modal -->
<div class="modal fade" id="myModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Upload Photos</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="card-box">
          <ng-container>




          </ng-container>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="myDoc">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Upload Document</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="card-box">


          <!-- <form action="https://coderthemes.com/" method="post" class="dropzone" id="myAwesomeDropzone">
                        <div class="fallback">
                            <input name="file" type="file" multiple />
                        </div>

                        <div class="dz-message needsclick">
                            <i class="h1 text-muted dripicons-cloud-upload"></i>
                            <h3>Drop files here or click to upload.</h3>
                            <span class="text-muted font-13">(This is just a demo dropzone. Selected files are <strong>not</strong> actually uploaded.)</span>
                        </div>
                    </form> -->

        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button id="client_viewdetail_1" class="btn btn-primary">Close</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
<ng-template #contentPhoto let-modal>
  <div class="modal-header">

    <div class="row">
      <!-- <h4 style="margin: 5%;">Photo</h4> -->
      <div class="col-12" style="text-align: center; margin-left: 34%;">
        <button class="btn btn-primary " (click)="bid(bidcontent)" style="font-size: 11px;"><i
            class="fas fa-align-justify  mr-1"></i>Create Bid</button>
        <button class="btn btn-primary " (click)="Completion(invcontent)"
          style="margin-left: 3px; font-size: 11px;"><i class="fas fa-plus-circle mr-1"></i>Create Completion</button>
        <button class="btn btn-primary " (click)="Damage(damagecontent)"
          style="margin-left: 3px; font-size: 11px;"><i class="fas fa-plus-circle mr-1"></i>Create Damage</button>
          <button class="btn btn-primary " (click)="CopyLink()"
          style="margin-left: 158px; font-size: 11px; float: right;"><i class="fas fa-copy mr-1"></i>CopyLink</button>
          <!-- <button class="btn btn-primary btn-sm" (click)="Undo()"
          style="margin-left: 3px; font-size: 11px;"><i class="far fa-flag mr-1"></i>Undo</button>
        <button class="btn btn-primary btn-sm" (click)="SaveChange()"
          style="margin-left: 3px; font-size: 11px;" [disabled]="zoom || measuring"><i class="far fa-flag mr-1"></i>Save Changes</button> -->
     
       
          <!-- <button class="btn btn-primary btn-sm" (click)="bid(bidcontent)" style="font-size: 11px;"><i
            class="fas fa-align-justify  mr-1"></i>View Bid</button>
        <button class="btn btn-primary btn-sm" (click)="Completion(invcontent)"
          style="margin-left: 3px;font-size: 11px;"><i class="far fa-flag mr-1"></i>View Completion</button>
        <button class="btn btn-primary btn-sm" (click)="Damage(damagecontent)"
          style="margin-left: 3px;font-size: 11px;"><i class="far fa-flag mr-1"></i>View Damage</button> -->
      </div>

    </div>
    <button type="button" (click)="modal.close('Save click')" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>

  </div>
  <div class="modal-body align-baseline"style="text-align: center; margin-left:32px;">
    <!-- {{Count}}<br>
    {{imgpIndex}} -->
    <!-- <div class="col-12" *ngIf="!measuring">
      <button class="btn btn-primary btn-sm" (click)="editImage('crop')">Crop</button>
      <button class="btn btn-primary btn-sm" (click)="editImage('lighter')">Lighten</button>
      <button class="btn btn-primary btn-sm" (click)="editImage('darker')">Darken</button>
      <button class="btn btn-primary btn-sm" (click)="editImage('rotatel')">Rotate Left</button>
      <button class="btn btn-primary btn-sm" (click)="editImage('rotater')">Rotate Right</button>
      <button class="btn btn-primary btn-sm" (click)="editImage('circle')">Circle</button>
      <button class="btn btn-primary btn-sm" (click)="editImage('square')">Square</button>
      <button class="btn btn-primary btn-sm" (click)="editImage('text')">Text</button>
      <input type="text" [(ngModel)]="drawText">
      <button class="btn btn-primary btn-sm" (click)="editImage('zoom')">Zoom</button>
      <button class="btn btn-primary btn-sm" (click)="showMeasure(true)">Measuring</button>
    </div> -->
    <!-- Nisargh Code -->
    <div class="container">
  
      <div class="col-2" style="float: right;">
        <p><strong>Latitude: {{ metadata.Client_Result_Photo_GPSLatitude }}</strong></p>
        <p><strong>Longitude: {{ metadata.Client_Result_Photo_GPSLongitude }}</strong></p>
        <p><strong>DateTime: {{ metadata.Client_Result_Photo_UploadTimestamp | date: 'dd/MM/yyyy hh:mm a' }}</strong></p>
      </div>
    <div class="col-3" *ngIf="!measuring" style="margin-left: -88px; padding-bottom: 10px;">
      <button class=" btn btn-primary btn-sm" (click)="SaveChange(content)"><i class="fas fa-save mr-1"></i>Save</button>
      <button class="btn btn-primary btn-sm" (click)="Undo()" style="margin-left:4px"><i class="fas fa-undo-alt mr-1"></i>Undo</button>
    </div>

    <div class="col-3" *ngIf="!measuring" style="margin-left: -88px; padding-bottom: 10px;">
      <button class="btn btn-primary btn-sm" (click)="editImage('rotatel')"><i class="fas fa-undo-alt mr-1"></i> Left</button>
      <button class="btn btn-primary btn-sm" (click)="editImage('rotater')" style="margin-left:4px"><i class="fas fa-redo-alt mr-1"></i>Right</button>
    </div>

    <div class="col-3" *ngIf="!measuring" style="margin-left: -73px; padding-bottom: 10px;">
      <button class="btn btn-primary btn-sm" (click)="editImage('lighter')"><i class="far fa-sun mr-1"></i> Lighten</button>
      <button class="btn btn-primary btn-sm" (click)="editImage('darker')" style="margin-left:4px"><i class="fas fa-sun"></i> Darken</button>
    </div>

    <div class="col-3" *ngIf="!measuring" style="margin-left: -76px; padding-bottom: 10px;">
      <button class="btn btn-primary btn-sm" (click)="editImage('circle')"><i class="far fa-circle mr-1"></i> Circle</button>
      <button class="btn btn-primary btn-sm" (click)="editImage('square')" style="margin-left:4px"><i class="far fa-square mr-1"></i> Square</button>
    </div>

    <div class="col-3" *ngIf="!measuring" style="margin-left: -88px; padding-bottom: 10px;">
      <button class="btn btn-primary btn-sm" (click)="editImage('zoom')"><i class="fas fa-search-plus"></i> Zoom</button>
      <button class="table-design btn btn-primary btn-sm" (click)="editImage('crop')" style="margin-left:4px"><i class="fas fa-crop-alt"></i> Crop</button>
    </div>

    <div class="col-2" *ngIf="!measuring" style="margin-left: -53px;">
      <input type="text" [(ngModel)]="drawText" class="form-control" placeholder="Enter Text" style="width: 98px;">
      <button class="btn btn-primary btn-sm" (click)="editImage('text')" style="margin-top: -60px; margin-left: 105px;">Text</button>
      <!-- <button class="table-design btn btn-primary btn-sm" (click)="editImage('crop')">Crop</button> -->
    </div>

    <div class="col-2" *ngIf="!measuring" style=" padding-top: 0px; margin-left: -67px;">
      <button class="btn btn-primary btn-sm" (click)="showMeasure(true)"><i class="fas fa-ruler-combined mr-1"></i> Measuring</button>
      <!-- <button class="table-design btn btn-primary btn-sm" (click)="editImage('crop')">Crop</button> -->
    </div>
  </div>

    <!-- Nisargh Code End -->


    <div class="col-12" *ngIf="measuring">
      <button class="btn btn-primary btn-sm" (click)="showMeasure(false)">Editing</button>
      <input type="number" placeholder="cm" [(ngModel)]="length">
      <button class="btn btn-primary btn-sm" (click)="savePixels()">Save Pixels</button>
      <button class="btn btn-primary btn-sm" (click)="calcSquare()">Calc</button>
    </div>  
  

    <div class="show-image " style="float: none;">
      <!-- <div id="image-editor" style="width:680px;height:480px;"></div> -->
      <!-- <button class="btn btn-primary btn-sm" [disabled]='PrevBtnHide' (click)='nextImag(imgpIndex,0)'>Crop</button> -->
      <canvas style="border: 1px solid black;" id="image-editor" width="640" height="445" style="margin-top: -316px; margin-right: 45px;"></canvas>
      <!-- <button class="btn btn-primary btn-sm" [disabled]='NextBtnHide' (click)='nextImag(imgpIndex,1)'>Crop</button> -->
      
      <!-- <span><a href="javascript:void(0)" class="update" [disabled]='PrevBtnHide' (click)='nextImag(imgpIndex,0)'><i class="fe-arrow-left-circle"></i></a></span> -->
      <input type="button" [disabled]='PrevBtnHide' (click)='nextImag(imgpIndex,0)' class="update btn-primary"
        style="font-size: 19px; left:16.7%; top: -110px !important;" value="<" />
      <!-- <span><a href="javascript:void(0)"  class="delete"[disabled]='NextBtnHide' (click)='nextImag(imgpIndex,1)'><i class=" fe-arrow-right-circle"></i></a></span> -->
      <input type="button" [disabled]='NextBtnHide' (click)='nextImag(imgpIndex,1)' class="delete btn-primary"
        style="font-size: 19px; left:76.5%; top: -110px !important;" value=">" />
    </div>
 




  </div>




</ng-template>
<!--for Bid Start-->
<ng-template #bidcontent let-modal>
  <div class="modal-header">
    Create Bid
    <button type="button" (click)="modal.close('Save click')"  class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <app-bid-client-result> </app-bid-client-result>

    <hr>
    <button (click)="modal.close('Save click')" class="btn btn-primary" >Close</button>
    <!-- <button type="button" class="btn btn-primary waves-effect waves-light" (click)="modal.close('Save click')"
      style="font-size: 11px;">Close</button> -->
  </div>
</ng-template>
<!--for Bid End-->
<!--For Completion start-->
<ng-template #invcontent let-modal>
  <div class="modal-header">
    <div class="row">
      Create Completion
    </div>
    <button type="button" (click)="modal.close('Save click')" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>

  </div>
  <div class="modal-body">
    <app-bid-client-result> </app-bid-client-result>

    <hr>
    <button id="client_viewdetail_1" class="btn btn-primary" (click)="modal.close('Save click')">Close</button>
    <!-- <button type="button" class="btn btn-primary waves-effect waves-light" (click)="modal.close('Save click')"
      style="font-size: 11px;">Close</button> -->
  </div>
</ng-template>


<!--For Completion End-->
<!--For Damage Start-->
<ng-template #damagecontent let-modal>
  <div class="modal-header">
    <div class="row">
      Create Damage
    </div>
    <button type="button" (click)="modal.close('Save click')" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>

  </div>
  <div class="modal-body">

    <app-bid-client-result> </app-bid-client-result>

    <hr>
       <button id="client_viewdetail_1" class="btn btn-primary" (click)="modal.close('Save click')">Close</button>

  </div>
</ng-template>

<ng-template #timeDateStamp let-modal>
  <div class="modal-header">
    <div class="row">
      Create TimeStamp
    </div>
    <button type="button" (click)="modal.close('Save click')" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>

  </div>
  <div class="modal-body">
    <div class="row">
      <div class="form-group col-6">
        <div class="input-group align-center">
          <span>Date: </span>
          <input type="date" class="form-control form-control-sm"
            [(ngModel)]="timeStampData.date">
        </div>
      </div>
  
      <div class="form-group col-6">
        <div class="input-group align-center">
          <span>Time: </span>
          <input type="text" class="form-control form-control-sm"
            [(ngModel)]="timeStampData.modifyTime">
          <select [(ngModel)]="timeStampData.isAM" class="form-control form-control-sm">
            <option value="true">AM</option>
            <option value="false">PM</option>
          </select>
        </div>
      </div>

      <div class="form-group col-6">
        <div class="input-group align-center">
          <span>Length: </span>
          <input type="text" class="form-control form-control-sm"
            [(ngModel)]="timeStampData.lengthHours">
          <span>hr</span>
          <input type="text" class="form-control form-control-sm"
            [(ngModel)]="timeStampData.lengthMins">
          <span>min</span>
        </div>
      </div>

      <div class="form-group col-6">
        <div class="input-group align-center">
          <input type="checkbox" [(ngModel)]="timeStampData.printTime" class="form-control-sm">
          <span>Print time: </span>
        </div>
      </div>

      <div class="form-group col-6">
        <div class="input-group align-center">
          <input type="checkbox" [(ngModel)]="timeStampData.printDateTimeExif" class="form-control-sm">
          <span>Print Date/Time from EXIF Data: </span>
        </div>
      </div>

      <div class="form-group col-6">
        <div class="input-group align-center">
          <input type="checkbox" [(ngModel)]="timeStampData.printDescription" class="form-control-sm">
          <span>Print Descriptions: </span>
        </div>
      </div>

      <div class="form-group col-6">
        <div class="input-group align-center">
          <input type="checkbox" [(ngModel)]="timeStampData.stopPrinting" class="form-control-sm">
          <span>Don't print Date/time: </span>
        </div>
      </div>
    </div>

    <hr>
    <!-- <button type="button" class="btn btn-primary waves-effect waves-light" (click)="modal.close('Save click')"
      style="font-size: 11px;">Close</button> -->

  </div>
</ng-template>

<p>{{TempResponse | json}}</p>

<!--End Damage-->
<script>
  var acc = document.getElementsByClassName("accordion");
  var i;

  for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var panel = this.nextElementSibling;
      if (panel.style.display === "block") {
        panel.style.display = "none";
      } else {
        panel.style.display = "block";
      }
    });
  }
  </script>



