<div class="container-fluid">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-12">
          <div class="page-title-box">
            <div class="page-title-right">
              <ol class="breadcrumb m-0">
                <!-- <li class="breadcrumb-item"><a href="javascript: void(0);">Add New User</a></li>
                  <li class="breadcrumb-item active">Add New User</li> -->
              </ol>
            </div>
            <!-- <h4 class="page-title">Company's</h4> -->
          </div>
          <hr>
        </div>
      </div>


      <div class="row">
        <h4 class="page-title" style="font-weight: bolder;padding-left: 12px;">Companies</h4>
        <hr>
        <button id="client_viewdetail_1" class="btn btn-primary" href="javascript:void(0);" (click)="AddNewComapny()" style="margin-right: 6px;"><i class="fas fa-plus-circle mr-1"></i> Add Company Info</button>
        <button id="client_viewdetail_1" class="btn btn-primary" [routerLink]="['/home/workordersettings']"><i class="fas fa-arrow-alt-circle-left mr-1"></i> Back</button>
        <!-- <a href="javascript:void(0);" (click)="AddNewComapny()" class="btn btn-primary" style="background-color:#323232;"> Add Company Info</a>
        &nbsp;&nbsp;&nbsp;
        <a [routerLink]="['/home/workordersettings']" class="btn btn-primary"style="background-color:#323232;"> Back</a> &nbsp;&nbsp;&nbsp; -->

      </div>
      <hr>

      <form>
        <div class="row" style="background-color: #efefef;" >
          <div class="col-lg-12" >

            <div class="form-row">

              <div class="form-group col-md-2">
                <label class="col-form-label" for="userName1">Company Name </label>
                <input type="text" [(ngModel)]="filterMasterModelObj.YR_Company_Name"
                  [ngModelOptions]="{standalone: true}" class="form-control form-control-sm" id="userName1"
                  placeholder="Enter Client Name">
              </div>

              <div class="form-group col-md-2">
                <label class="col-form-label" for="LasClienttx"> Contact Name </label>
                <input type="text" [(ngModel)]="filterMasterModelObj.YR_Company_Con_Name"
                  [ngModelOptions]="{standalone: true}" id="LasClienttx" class="form-control form-control-sm"
                  placeholder="Enter Contact">
              </div>
              <div class="form-group col-md-2">
                <label class="col-form-label" for="LaEmailstx">Company Email </label>
                <input type="text" [(ngModel)]="filterMasterModelObj.YR_Company_Email"
                [ngModelOptions]="{standalone: true}" id="LaEmailstx" class="form-control form-control-sm" placeholder="Enter Email">
              </div>

              <div class="form-group col-md-2">
                <label class="col-form-label" for="LastxNumber">Company Phone Number</label>
                <input type="number" [(ngModel)]="filterMasterModelObj.YR_Company_Phone"
                [ngModelOptions]="{standalone: true}" id="LastxNumber" class="form-control form-control-sm" placeholder="Enter Number">
              </div>
              <div class="form-group col-md-2">
                <label class="col-form-label" for="LastxAddress">Company Address</label>
                <input type="text" [(ngModel)]="filterMasterModelObj.YR_Company_Address"
                  [ngModelOptions]="{standalone: true}" id="LastxAddress" class="form-control form-control-sm"
                  placeholder="Enter Address">
              </div>
              <div class="form-group col-md-1">
                <label class="col-form-label" for="LastxCity"> City </label>
                <input type="text" [(ngModel)]="filterMasterModelObj.YR_Company_City" [ngModelOptions]="{standalone: true}"
                  style="width: 96px;" id="LastxCity" class="form-control form-control-sm" placeholder="Enter City">
              </div>
              <div class="form-group col-md-1">
                <label for="inputCityrfDate" for="customCheck11dc" class="col-form-label">Active</label>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" [(ngModel)]="filterMasterModelObj.YR_Company_IsActive"
                    [ngModelOptions]="{standalone: true}" class="custom-control-input" id="customCheck11dc">
                  <label class="custom-control-label" for="customCheck11dc"></label>
                </div>
              </div>

            </div>

          </div>
          <div class="col-lg-12" style=" background-color: #efefef;">

            <div class="form-row">
              <div class="form-group col-md-1">
                <button id="client_viewdetail_1" class="btn btn-primary" (click)="FilterCall()"><i class="fas fa-filter mr-1"></i>Filter</button>
                <!-- <button type="button" (click)="FilterCall()" class="btn btn-blue waves-effect waves-light"style="background-color:#323232;"> <i
                    class="fas fa-filter mr-1"></i>Filter</button> -->
              </div>
              <div class="form-group col-md-1">
                <button id="client_viewdetail_1" class="btn btn-primary" (click)="ClearData()"><i class="fas fa-eraser mr-1"></i>Clear</button>
                <!-- <button type="button" (click)="ClearData()" class="btn btn-secondary waves-effect"style="background-color:#323232;"> <i
                    class="fas fa-eraser mr-1"></i>Clear</button> -->
              </div>
              <div class="form-group col-md-1">
                <button id="client_viewdetail_1" class="btn btn-primary" (click)="SaveFilterData()"><i class="fas fa-save mr-1"></i>Save</button>
                <!-- <button type="button" (click)="SaveFilterData()" class="btn btn-primary waves-effect waves-light"style="background-color:#323232;"> <i
                    class="fas fa-save mr-1"></i>Save</button> -->
              </div>
            </div>
          </div>
        </div>
      </form>

      <hr>



      <div class="row">
        <kendo-grid #gridUser [kendoGridBinding]="griddata" [pageSize]="15" [pageable]="true" [sortable]="true"
          [filterable]="false" [selectable]="true" [groupable]="false" [reorderable]="true">

          <kendo-grid-column field="YR_Company_Name" title="Company Name" [headerStyle]="{'background-color': '#323232','color': '#fff','line-height': '1em'}" [width]="80"></kendo-grid-column>
          <kendo-grid-column field="YR_Company_Con_Name" title="Contact Name" [headerStyle]="{'background-color': '#323232','color': '#fff','line-height': '1em'}" [width]="80"></kendo-grid-column>
          <kendo-grid-column field="YR_Company_Email" title="Company Email" [headerStyle]="{'background-color': '#323232','color': '#fff','line-height': '1em'}" [width]="80"></kendo-grid-column>
          <kendo-grid-column field="YR_Company_Phone" title="Company Phone" [headerStyle]="{'background-color': '#323232','color': '#fff','line-height': '1em'}" [width]="80"></kendo-grid-column>
          <kendo-grid-column field="YR_Company_Address" title="Company Address" [headerStyle]="{'background-color': '#323232','color': '#fff','line-height': '1em'}" [width]="80"></kendo-grid-column>
          <kendo-grid-column field="YR_Company_City" title="Company City" [headerStyle]="{'background-color': '#323232','color': '#fff','line-height': '1em'}" [width]="80"></kendo-grid-column>
          <!-- <kendo-grid-column field="state" title="state" [width]="80"></kendo-grid-column> -->
          <kendo-grid-column field="YR_Company_Zip" title="Company Zip" [headerStyle]="{'background-color': '#323232','color': '#fff','line-height': '1em'}" [width]="80"></kendo-grid-column>

          <kendo-grid-column title="Action" [headerStyle]="{'background-color': '#323232','color': '#fff','line-height': '1em'}" width="80">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">

              <a class="edit" data-toggle="tooltip" (click)="showDetails($event, dataItem)" data-placement="top"
                title="view Records" [routerLink]="['/company/viewcompany']">
                <i class="fa fa-eye"></i> View Details
              </a>
            </ng-template>
          </kendo-grid-column>
          <ng-template kendoPagerTemplate let-totalPages="totalPages" let-currentPage="currentPage">
            <kendo-pager-prev-buttons></kendo-pager-prev-buttons>

            <kendo-pager-numeric-buttons [buttonCount]="10"></kendo-pager-numeric-buttons>
            <kendo-pager-next-buttons></kendo-pager-next-buttons>
            <kendo-pager-info></kendo-pager-info>
            <kendo-pager-page-sizes [pageSizes]="[15, 30, 50, 100]"></kendo-pager-page-sizes>
          </ng-template>
        </kendo-grid>

      </div>
    </div>
  </div>
</div>
