<ng-template #content let-modal>
  <div class="modal-header">
    Message
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">

    <div class="text-center">

      <span>{{MessageFlag}}</span>
      <hr>
      <button id="client_viewdetail_1" class="btn btn-primary" (click)="modal.close('Save click')">Close</button>
      <!-- <button type="button" class="btn btn-primary waves-effect waves-light"
        (click)="modal.close('Save click')">Close..</button> -->
    </div>
  </div>
</ng-template>
<div class="container-fluid">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-12">
          <div class="page-title-box">
            <div class="page-title-right">
              <ol class="breadcrumb m-0">
                <!-- <li class="breadcrumb-item"><a href="javascript: void(0);">Add New User</a></li>
                  <li class="breadcrumb-item active">Add New User</li> -->
              </ol>
            </div>
            <h4 class="page-title">Add Damage</h4>
          </div>
          <hr>
        </div>
      </div>
      <form [formGroup]="formUsrCommonGroup" (ngSubmit)="FormButton(content)">
        <div class="row">

          <div class="col-lg-6">
            <div class="card-box bg-pattern border border-dark" style="background-color: #f7f7f7;">
              <div class="form-row">
                <div class="form-group col-md-12 text-center" style="color: black;background-color: #9b9b9b;">
                  <h5>Damage </h5>
                </div>
              </div>
              <div class="form-row">

                <div class="form-group col-md-3">
                  <label class="col-form-label">Damage Type <span style="color: red">*</span></label>
                </div>
                <div class="form-group col-md-9">
                <input type="text" id="hgfhgfhdsfgfhgf" class="form-control form-control-sm"
                [(ngModel)]="AddDamageModelObj.Damage_Type" formControlName="DamageName"
                [ngClass]="{ 'is-invalid': submitted && fx.DamageName.errors }"
                placeholder="Enter Damage Type" >
                <div *ngIf="submitted && fx.DamageName.errors" class="invalid-feedback">
                  <div *ngIf="fx.DamageName.errors.required">this field is required</div>
                </div>

                </div>
              </div>
              <div class="form-row">

                <div class="form-group col-md-3">
                  <label class="col-form-label" >Int/Ext <span style="color: red">*</span></label>
                </div>
                <div class="form-group col-md-9">
                  <select  class="form-control form-control-sm"
                  [(ngModel)]="AddDamageModelObj.Damage_Int"   formControlName="DamageInt"
                  (change)="Int_Method();">
                  <option value='0'>select</option>
                  <option [ngValue]="kb.Id" *ngFor="let kb of IntExtList">
                    {{kb.Name}}
                  </option>
                </select>
                <div *ngIf="ExtValFlag" class="Mydropdown">this field is required</div>

                </div>
              </div>
              <div class="form-row">

                <div class="form-group col-md-3">
                  <label class="col-form-label" for="hgfhgfhdsfgfhgf">Location </label>
                </div>
                <div class="form-group col-md-9">
                  <input type="text" id="hgfhgfhdsfgfhgf" class="form-control form-control-sm"
                  [(ngModel)]="AddDamageModelObj.Damage_Location"   formControlName="DamageLocation"
                  placeholder="Enter Locatiion" >
                </div>
              </div>


              <div class="form-row">

                <div class="form-group col-md-3">
                  <label class="col-form-label" for="Quantityfe">Quantity </label>
                </div>
                <div class="form-group col-md-9">
                  <input type="text" id="Quantityfe" class="form-control form-control-sm" numbersOnly maxlength="6"
                  [(ngModel)]="AddDamageModelObj.Damage_Qty"   formControlName="DamageQuantity"
                  placeholder="Enter Quantity" >
                </div>
              </div>

              <div class="form-row">

                <div class="form-group col-md-3">
                  <label class="col-form-label" for="Estimatedf">Estimate </label>
                </div>
                <div class="form-group col-md-9">
                  <input type="text" id="Estimatedf" class="form-control form-control-sm"
                  [(ngModel)]="AddDamageModelObj.Damage_Estimate"    formControlName="DamageEstimate"
                  placeholder="Enter Estimate" >
                </div>
              </div>



              <div class="form-row">

                <div class="form-group col-md-3">
                  <label class="col-form-label" for="dsaddsd">Discription </label>
                </div>
                <div class="form-group col-md-9">
                  <textarea type="text" class="form-control form-control-sm" id="dsaddsd" rows="4"
                  [(ngModel)]="AddDamageModelObj.Damage_Disc"   formControlName="DamageDiscription"
                  placeholder="Enter Discription..."> </textarea>
                </div>

              </div>


              <div class="form-row">

                  <div class="form-group col-md-3">
                    <label class="col-form-label" for="customCheck11c">Active <span style="color: red">*</span></label>
                  </div>
                  <div class="form-group col-md-9">

                      <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="customCheck11c"
                          [(ngModel)]="AddDamageModelObj.Damage_IsActive"   formControlName="DamageActive">
                          <label class="custom-control-label" for="customCheck11c"></label>
                        </div>

                  </div>
                </div>

                <div class="form-row">
                  <div class="float-right">
                    <label  *ngIf="formUsrCommonGroup.invalid" style="color:red">*
                      fields is required
                    </label> <br>
<!--[routerLink]="['/damage/adddamage']"-->
                    <button id="client_viewdetail_1" class="btn btn-primary" *ngIf="IsEditDisable"  (click)="EditForms()">
                      <i class="far fa-edit mr-1"></i> Edit
                    </button>
                    <!-- <a *ngIf="IsEditDisable" [routerLink]="['/damage/adddamage']" (click)="EditForms()"
                      class="btn btn-primary waves-effect waves-light"> <i class="far fa-edit mr-1"></i> Edit </a>
                    &nbsp;&nbsp;&nbsp; -->

                    <button id="client_viewdetail_1" class="btn btn-primary" type="submit" *ngIf="!IsEditDisable" [disabled]="isLoading">
                      <i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-save': !isLoading}"></i>
                      {{button}}
                    </button>
                    <!-- <button type="submit" *ngIf="!IsEditDisable" class="btn btn-primary waves-effect waves-light"
                      [disabled]="isLoading">
                      <i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-save': !isLoading}"></i>
                      {{button}}</button> &nbsp; &nbsp; -->

                      <button id="client_viewdetail_1" class="btn btn-primary" [routerLink]="['/damage/viewdamage']" style="margin-left: 6px;">
                        <i class="fas fa-arrow-alt-circle-left mr-1"></i> Back
                      </button>

                    <!-- <a [routerLink]="['/damage/viewdamage']" class="btn btn-primary"><i
                        class="fas fa-arrow-alt-circle-left mr-1"></i> Back</a> -->
                  </div>
                </div>


            </div>
          </div>

          <div class="col-lg-6">



          </div>
        </div>
      </form>

    </div>
  </div>
</div>

