

<agm-map [zoom]="5">
 
    <ng-container *ngFor="let place of  contractorlst">
      <agm-marker  [latitude]="place.IPL_Secondary_Latitude" [longitude]="place.IPL_Secondary_Longitude"></agm-marker>
    </ng-container>
    <!--*ngIf= "place.cellNumber !== undefined" <ng-container *ngFor="let place of  LatLongData">
      <agm-marker *ngIf= "place.cellNumber === undefined" [latitude]="place.latitude" [longitude]="place.longitude" [title] = "place.name"></agm-marker>
    </ng-container> -->
  </agm-map>
