<ng-template #content let-modal>
  <div class="modal-header">
    Message
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">

    <div class="text-center">

      <span>{{MessageFlag}}</span>
      <hr>
      <button type="button" class="btn btn-primary waves-effect waves-light"
        (click)="modal.close('Save click')">Continue...</button>
    </div>
  </div>
</ng-template>



 <!--start constant view-->
 <div class="row workorder-details">

  <div class="col-3">
    <div class="row">
      <b style="color: black;">
          Work Type: &nbsp;{{BindDataModelObj.WT_WorkType}}
      </b>
        <!-- <label for="Wodda"><b>Work Type:</b></label>&nbsp;{{BindDataModelObj.WT_WorkType}}
      <label for="WorkOrder">Work Order No: {{BindDataModelObj.workOrderNumber}}</label> -->
    </div>
    <div class="row">
      <div class="jab">
        <div class="overlay">
          <ul>
            <li><a href="javascript:void(0)" style="color: white;"
                (click)="OpenModel(OpenModelcontent)"><i class="fas fa-camera"></i>&nbsp;Upload</a></li>
          </ul>
        </div>
      
        <div *ngIf="BindDataModelObj.Client_Result_Photo_FilePath != ''">
          <img [src]="BindDataModelObj.Client_Result_Photo_FilePath" class="img-responsive"
            style="height: 168px; width: 99%;">
        </div>
        <div *ngIf="BindDataModelObj.Client_Result_Photo_FilePath == ''">
          <img src="../../assets/images/bg.png" class="img-responsive" style="height: 168px; width: 99%;">
        </div>


      </div>
      <!-- <label for="image">
                <input #imageInput type="file" class="form-control" id="image" title="Select File..."
                accept="image/*" style="display:none;" >

                <img src="../../assets/images/bg.png" class="img-responsive" style="height: 168px; width: 230px;" />

             </label> -->

    </div>



  </div>

  <div class="col-9">
    <!-- <div><input type="text" [(ngModel)]= "CommonStatusDTOObj.Status_Name"></div> -->
    <div class="row">
      <div class="col-4">
        <div class="row">
         
          <div class="col-5">
            <label   for="Address"><b>Work Order No:</b></label>
          </div>
          <div class="col-7">
            <b>
                {{BindDataModelObj.workOrderNumber}}
            </b>
          </div>
        </div>

        <label for="GPS"><b>GPS:</b></label>&nbsp;
      </div>
      <div class="col-4">
          <div class="row">
              <div class="col-3">
                <label for="Address"><b>Address:</b></label>
              </div>
              <div class="col-9">
              <b>{{BindDataModelObj.fulladdress}}</b>
              </div>
            </div>
        <div class="row"[hidden]="processorh" >
          <div class="col-3">
            <label for="Contractor"><b>Contractor: </b></label>
          </div>
          <div class="col-9">
           <b>{{BindDataModelObj.Cont_Name}}</b> 
          </div>
        </div>

      </div>
      <div class="col-4">
          <div class="row" >
              <div class="col-5"[hidden]="tabhide">
                <label for="Coordinator"><b>Client:</b></label>&nbsp;&nbsp;
                <b>
                  {{BindDataModelObj.Client_Company_Name}}
              </b>
              </div>
              <!-- <div class="col-3">
               

              </div> -->
              <div class="col-7">
                <label for="duedate"><b>Due Date: {{BindDataModelObj.dueDate  | date:'MM/dd/yyyy'}}</b></label>
                <!-- <b>
                 
              </b> -->
              </div>
              <!-- <div class="col-3">
               

              </div> -->

            </div>
        <div class="row">
          <div class="col-4">
            <label for="Coordinator"><b>Coordinator: </b></label>
          </div>
          <div class="col-8">
           <b> {{BindDataModelObj.Cordinator_Name}}</b> 
          </div>

        </div>

      </div>

    </div>
    <div class="row">
      <div class="col-4">
        <label for="LockCode"><b>Lock Code: </b>{{BindDataModelObj.Lock_Code}}</label>&nbsp;

      </div>
      <div class="col-4">
        <label for="Assigned"><b>Assigned Date:
          </b>{{BindDataModelObj.startDate | date:'MM/dd/yyyy'}}</label>&nbsp;
      </div>
      <div class="col-4">
        <label for="Category"><b>Category: </b>{{BindDataModelObj.Work_Type_Name}}</label>&nbsp;
      </div>

    </div>
    <div class="row">
      <div class="col-4">
        <label for="Locklocation"><b>Lock Location: </b>{{BindDataModelObj.Lock_Location}}</label>&nbsp;

      </div>
      <div class="col-4">
        <label for="StartDate"><b>Start Date: </b>{{BindDataModelObj.startDate | date:'MM/dd/yyyy'}}</label>&nbsp;
      </div>
      <div class="col-4">
        <label for="Customer"><b>Customer: </b>{{BindDataModelObj.Cust_Num_Number}}</label>&nbsp;
      </div>

    </div>
    <div class="row">
      <div class="col-4">
        <label for="KeyCode"><b>Key Code:</b>{{BindDataModelObj.Key_Code}}</label>&nbsp;

      </div>
      <div class="col-4">
        <label for="Estimatedcompletion"><b>EST.Completion:</b>--</label>&nbsp;
      </div>
      <!-- <div class="col-4">
        <label for="Client"><b>Client: </b>{{BindDataModelObj.Client_Company_Name}}</label>&nbsp;
      </div> -->

    </div>
    <div class="row">
      <div class="col-4">
        <label for="GateCode"><b>Gate Code:</b>{{BindDataModelObj.Gate_Code}}</label>&nbsp;

      </div>
      <div class="col-4">
        <label for="FieldComplete"><b>Field Complete:{{BindDataModelObj.Field_complete_date | date:'MM/dd/yyyy'}}</b></label>&nbsp;
      </div>
      <div class="col-4">
        <label for="Batf"><b>BATF: </b> <span *ngIf="BindDataModelObj.BATF">YES</span>
          <span *ngIf="!BindDataModelObj.BATF">NO</span>
        </label>&nbsp;
      </div>

    </div>
    <div class="row">
      <div class="col-4">
        <label for="LoteSize"><b>Lote Size: </b>{{BindDataModelObj.Lotsize}}</label>&nbsp;

      </div>
      <div class="col-4">
        <label for="statusname"><b>Status: </b>{{BindDataModelObj.Status_Name}}</label>
      </div>
      <div class="col-4">
        <label for="Rush"><b>Rush: </b>{{BindDataModelObj.rus_Name}}</label>&nbsp;
      </div>

    </div>



  </div>
</div>
<!--End view-->
<div [hidden]='tabhide'>
<div [hidden]='HeaderCoditional' class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
<!-- <p>{{copydata | json}}</p> -->

    <h4 style="line-height: 1.5;background-color: #9b9b9b; margin: 0px 0; padding-left: 12px; color: black;">Client Details</h4>
    <div class="row workorder-details">

      <div class="col-3">
        <label for="cleintDetails"><b>Client: </b> {{BindDataModelObj.ClientMetaData}}</label>&nbsp;
      </div>
      <div class="col-3">
        <label for="Wo"><b>Work Type:</b></label>&nbsp;<b>{{BindDataModelObj.WT_WorkType}}</b><br>
        <label for="LoanNumber"><b>Loan Number: </b> {{BindDataModelObj.Loan_Info}}</label>&nbsp; <br>
        <label for="LoanType"><b>Loan Type: </b> {{BindDataModelObj.Loan_Info}}</label>&nbsp; <br>
        <label for="BrokerInfo"><b>Broker Info : {{BindDataModelObj.Broker_Info}}</b></label>&nbsp;
      </div>
      <div class="col-3">
        <label for="Received"><b>Received: </b>
          {{BindDataModelObj.Received_Date | date:'MM/dd/yyyy'}}</label>&nbsp; <br>
        <label for="ClientDue"><b>Client Due:
          </b>{{BindDataModelObj.clientDueDate | date:'MM/dd/yyyy'}}</label>&nbsp;
        <br>
        <label for="OfficeApproved"><b>Office Approved:{{BindDataModelObj.OfficeApproved_date | date:'MM/dd/yyyy'}} </b></label>&nbsp; <br>
        <label for="Senttoclient"><b>Sent to Client:{{BindDataModelObj.SentToClient_date | date:'MM/dd/yyyy'}} </b></label>&nbsp; <br>
        <label for="CompletedDate"><b>Completed Date:
          </b>{{BindDataModelObj.Complete_Date | date:'MM/dd/yyyy'}}</label>&nbsp; <br>
        <label for="CancelledDate"><b>Cancelled Date:
          </b>{{BindDataModelObj.Cancel_Date | date:'MM/dd/yyyy'}}</label>&nbsp;

      </div>
      <div class="col-3">
        <label for="ProcessorName"><b>Processor Info:
        </b>{{BindDataModelObj.Processor_Name}}</label>
      </div>

    </div>



  </div>
</div>
</div>


<ng-template #OpenModelcontent let-modal>
  <div class="modal-header">
    <h4> Upload Photos</h4>
    <button type="button" class="close" (click)="modal.close('Save click')" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
  </div>

  <div class="modal-body">
    <div class="row">
      <div class="col-md-6">
        <input #imageInput type="file" class="form-control" id="image" title="Select File..." accept="image/*">

      </div>
      <div class="col-6">


          <button (click)="processImage(imageInput ,content)"
          class="btn btn-primary waves-effect waves-light" [disabled]="isLoading">
          <i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-save': !isLoading}"></i>
          {{button}}</button>
        <!-- <input type="submit" class="btn btn-primary" value="Submit" (click)="processImage(imageInput ,content)"> -->
      </div>

    </div>
    <br>

  </div>
</ng-template>

