<div class="row">
  <div class="col-12">
    <div class="page-title-box">
      <div class="page-title-right">
        <ol class="breadcrumb m-0">
          <!-- <li class="breadcrumb-item"><a href="javascript: void(0);">User</a></li>
          <li class="breadcrumb-item active">Add New User</li> -->
        </ol>
      </div>
      <!-- <h4 class="page-title">View User </h4> -->
    </div>
  </div>
</div>

<div class="row">
  <div class="card">
    <div class="card-body">

      <div class="row">
        <h4 class="page-title" style="font-weight: bolder;padding-left: 12px">States </h4>
        <hr>

        <button id="client_viewdetail_1" class="btn btn-primary" [routerLink]="['/state/viewstate']" (click)="AddNewState()"><i class="fas fa-plus-circle mr-1"></i> Create State</button>
        <button id="client_viewdetail_1" class="btn btn-primary" [routerLink]="['/home/workordersettings']" style="margin-left: 6px;"><i class="fas fa-arrow-alt-circle-left mr-1"></i> Back</button>

        <!-- <a [routerLink]="['/state/viewstate']" (click)="AddNewState()" class="btn btn-primary waves-effect waves-light"
          title="click to add new User"> <i class="fas fa-plus-circle mr-1"></i> Create State</a>
        &nbsp;&nbsp;&nbsp;
        <a [routerLink]="['/home/workordersettings']" class="btn btn-primary waves-effect waves-light"
          title="click to back"> <i class="fas fa-arrow-alt-circle-left mr-1"></i> Back </a> -->

      </div>

      <!-- <hr>

      <form>
        <div class="row" style="color: black;background-color: #9b9b9b;">
          <div class="col-lg-12">

            <div class="form-row">

              <div class="form-group col-md-2">
                <label class="col-form-label" for="userName1">State Name </label>
                <input type="text" [(ngModel)]="ViewStateModelObj.IPL_StateName" [ngModelOptions]="{standalone: true}"
                  class="form-control form-control-sm" id="userName1" placeholder="Enter State Name">
              </div>


              <div class="form-group col-md-2">
                <label for="inputCityrfDate" for="customCheck11dc" class="col-form-label">Active</label>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="customCheck11dc">
                  <label class="custom-control-label" for="customCheck11dc"></label>
                </div>
              </div>

            </div>

          </div>
          <div class="col-lg-12">

            <div class="form-row">
              <div class="form-group col-md-1">
                <button type="button" (click)="FilterCall()" class="btn btn-blue waves-effect waves-light"> <i
                    class="fas fa-filter mr-1"></i>Filter</button>
              </div>
              <div class="form-group col-md-1">
                <button type="button" (click)="ClearData()" class="btn btn-secondary waves-effect"> <i
                    class="fas fa-eraser mr-1"></i>Clear</button>
              </div>
              <div class="form-group col-md-1">
                <button type="button" (click)="SaveFilterData()" class="btn btn-primary waves-effect waves-light"> <i
                    class="fas fa-save mr-1"></i>Save</button>
              </div>
            </div>
          </div>
        </div>
      </form> -->

      <hr>



      <div class="row">
        <kendo-grid #gridUser [kendoGridBinding]="griddata" [pageSize]="15" [pageable]="true" [sortable]="true"
        [filterable]="false" [selectable]="true" [groupable]="false"
        [skip]="state.skip"
        [sort]="state.sort"
        [filter]="state.filter"

        (dataStateChange)="dataStateChange($event)"

        >

        <kendo-grid-column field="IPL_StateName" title="State Name"
            [headerStyle]="{'background-color': '#323232','color': '#fff','line-height': '1em'}" [width]="200">
          </kendo-grid-column>


          <kendo-grid-column field="IPL_State_IsActive" title="Active" [headerStyle]="{'background-color': '#323232','color': '#fff','line-height': '1em'}" [width]="80"
              filter="boolean">
              <ng-template kendoGridCellTemplate let-dataItem>
                  <input type="checkbox" [checked]="dataItem.IPL_State_IsActive"  disabled/>
              </ng-template>
          </kendo-grid-column>


        <kendo-grid-column title="Action" [headerStyle]="{'background-color': '#323232','color': '#fff','line-height': '1em'}" width="80">
        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">

          <a class="edit" data-toggle="tooltip" (click)="showDetails($event, dataItem)" data-placement="top"
            title="View Record" [routerLink]="['/state/addstate']">
            <i class="fa fa-eye"></i>
          </a> &nbsp;&nbsp;
          <a class="edit" data-toggle="tooltip" (click)="deleteDetails($event, dataItem)" data-placement="top"
            title="Delete Record" style="cursor: pointer" >
            <i class="fa fa-trash"></i>
          </a>
        </ng-template>
      </kendo-grid-column>

      <ng-template kendoPagerTemplate let-totalPages="totalPages" let-currentPage="currentPage">
          <kendo-pager-prev-buttons></kendo-pager-prev-buttons>

          <kendo-pager-numeric-buttons [buttonCount]="10"></kendo-pager-numeric-buttons>
          <kendo-pager-next-buttons></kendo-pager-next-buttons>
          <kendo-pager-info></kendo-pager-info>
          <kendo-pager-page-sizes [pageSizes]="[15, 30, 50, 100]"></kendo-pager-page-sizes>
        </ng-template>
      </kendo-grid>

    </div>


    </div>
  </div>

</div>
