<ng-template #content let-modal>
  <div class="modal-header">
    Message
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true" (click)="modal.close('Save click')">×</span>
    </button>
  </div>
  <div class="modal-body">

    <div class="text-center">

      <span>{{MessageFlag}}</span>
      <hr>
      <button id="client_viewdetail_1" class="btn btn-primary" (click)="modal.close('Save click')">Continue</button>
      <!-- <button type="button" class="btn btn-primary waves-effect waves-light"
        (click)="modal.close('Save click')">Continue...</button> -->
    </div>
  </div>
</ng-template>
<!-- *ngIf="DivHIDEx" -->
<div class="row">
  <div class="col-12">
    <div class="card-box">




      <!-- start here menu Common -->


      <app-header-client-result></app-header-client-result>





      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

          <!-- <h4>Invoice</h4> -->
          <div class="row" style="background-color: #f5f5f5; 
          margin-top: -20px; margin-left: 0px; margin-right: 0px;" *ngFor = "let item of headerData ">
            <div class="col-lg-3">
        <label>Work Type : {{item.WT_WorkType}}</label> 
            </div>
            <div class="col-lg-3">
              <label>Work Order No : {{item.workOrderNumber}}</label>
              
            </div>
            <div class="col-lg-3">
              <label>Address : {{item.fulladdress}}</label>
             
            </div>
            <div class="col-lg-3">
              <label>Client : {{item.Client_Company_Name}}</label>
             
            </div>
          </div>
          <hr>
          <h4 style="background-color: #9b9b9b; color: black; line-height: 1.5; padding-left: 12px; margin-bottom: 0px;"[hidden] ='processorh'>Contractor Invoice</h4>
          <div class="row workorder-details"[hidden] ='processorh'>

            <table class="table table-striped">
              <tr>
                <th> <label class="col-form-label">Item</label></th>
                <th> <label class="col-form-label">Qty</label></th>
                <th> <label class="col-form-label">Price</label></th>
                <th> <label class="col-form-label">Total</label></th>
                <th><label class="col-form-label">Adj Price</label></th>
                <th><label class="col-form-label">Discount%</label></th>
                <th> <label class="col-form-label">Total</label> </th>
                <th>
                  <label class="col-form-label">Comments</label>
                </th>
                <th style="width: 107px;">Flate Fee</th>
                <th></th>
              </tr>
              <tr *ngFor="let item of ContractorInvoiceArray; index as inx">
                <td style="width: 133px">

                  <select class="form-control form-control-sm" (change)="ClientResultCompletionInvoicePage(item)"
                    [(ngModel)]="item.Inv_Con_Ch_TaskId" [ngModelOptions]="{standalone: true}">
                    <option value='0'>select</option>
                    <option [ngValue]="kb.Task_pkeyID" *ngFor="let kb of TaskList">
                      {{kb.Task_Name}}
                    </option>
                  </select>
                </td>
                <td>
                  <input type="text" (keypress)="validate($event)" (blur)="ClientresultInvoiceConQty()" [(ngModel)]="item.Inv_Con_Ch_Qty"
                    class="form-control form-control-sm">
                </td>
                <td>
                  <input type="text" (keypress)="validate($event)" (blur)="ClientresultInvoiceConPrice()"
                    [(ngModel)]="item.Inv_Con_Ch_Price" class="form-control form-control-sm">
                </td>
                <td>
                  <input type="text" (keypress)="validate($event)" readonly [(ngModel)]="item.Inv_Con_Ch_Total"
                    class="form-control form-control-sm">
                </td>
                <td>
                  <input type="text" (keypress)="validate($event)" (blur)="ClientresultInvoiceConAdjPrice()"
                    [(ngModel)]="item.Inv_Con_Ch_Adj_Price" class="form-control form-control-sm">
                </td>
                <td>
                  <input type="text" [disabled]="item.Inv_Con_Ch_Flate_fee" (keypress)="validate($event)"
                    (blur)="ClientresultInvoiceConDisCount()" [(ngModel)]="item.Inv_Con_Ch_Discount"
                    class="form-control form-control-sm">
                </td>
                <td>
                  <input type="text" (keypress)="validate($event)" readonly [(ngModel)]="item.Inv_Con_Ch_Adj_Total"
                    class="form-control form-control-sm">
                </td>
                <td style="width: 400px">

                  <textarea style="height: 32px;" placeholder="Enter Comments" class="form-control form-control-sm"
                    [(ngModel)]="item.Inv_Con_Ch_Comment"></textarea>
                </td>
                <td>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" (change)="ClientResultContractorFlatFree()"
                      [(ngModel)]="item.Inv_Con_Ch_Flate_fee" class="custom-control-input" id="damageINVr{{inx}}">
                    <label class="custom-control-label" for="damageINVr{{inx}}">Flat Fee</label>
                  </div>
                </td>
                <td style="width:20px;"><span><a style="cursor: pointer" (click)="clientresultinvoiceContractorRemove(inx,item)"> <i
                        class="fa fa-trash"></i></a></span>
                </td>

              </tr>
              <tr>
                <td colspan="4">
                  <table>
                    <tr>
                      <td style="width: 158px;">
                        <label class="col-form-label">Reference ID</label>
                      </td>
                      <td>
                        <input type="text" [(ngModel)]="Invoice_ContractorDTOObj.Inv_Con_Ref_ID"
                          placeholder="Enter Ref. Id" class="form-control form-control-sm">
                      </td>
                      <td>

                        <textarea style="height: 32px;" [(ngModel)]="Invoice_ContractorDTOObj.Inv_Con_Short_Note"
                          placeholder="Enter Notes" class="form-control form-control-sm"></textarea>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" [(ngModel)]="Invoice_ContractorDTOObj.Inv_Con_Inv_Followup"
                            class="custom-control-input" id="customCheck11c">
                          <label class="custom-control-label" for="customCheck11c">Invoice Followup</label>
                        </div>

                      </td>
                      <td>
                        <div class="custom-control custom-checkbox"
                          *ngIf="Invoice_ContractorDTOObj.Inv_Con_Inv_Followup">
                          <input type="checkbox" [(ngModel)]="Invoice_ContractorDTOObj.Inv_Con_Followup_Com"
                            class="custom-control-input" id="customChefesfsfeck11c">
                          <label class="custom-control-label" for="customChefesfsfeck11c">Followup Complete</label>
                        </div>


                      </td>
                      <td>
                        <textarea style="height: 32px;" *ngIf="Invoice_ContractorDTOObj.Inv_Con_Inv_Followup"
                          [(ngModel)]="Invoice_ContractorDTOObj.Inv_Con_Inv_Comment" placeholder="Enter Followup Notes"
                          class="form-control form-control-sm"></textarea>

                      </td>
                    </tr>
                  </table>

                </td>
                <td colspan="3">
                  <table>

                    <tr>
                      <td style="width:187px"> <small>Contractor Total:</small></td>
                      <td style="width:88px"><input type="text" [(ngModel)]="Invoice_ContractorDTOObj.Inv_Con_Sub_Total" readonly
                          class="form-control form-control-sm"></td>
                    </tr>


                    <!-- <tr>
                        <td style="width: 118px;"><small>Discount :</small></td>
                        <td>

                          <div class="input-group">
                              <input type="text" [(ngModel)]="Invoice_ContractorDTOObj.Inv_Con_ContDiscount" readonly
                               class="form-control form-control-sm">
                              <div class="input-group-prepend">
                                  <span class="input-group-text form-control-sm" id="basic-addon1">%</span>
                              </div>
                            </div>
                        </td>
                      </tr>
                      <tr>
                        <td><small>Cont Total :</small></td>
                        <td><input type="text" [(ngModel)]="Invoice_ContractorDTOObj.Inv_Con_ContTotal" readonly
                           class="form-control form-control-sm"></td>
                      </tr> -->
                  </table>
                </td>




                <td>

                  <table class="table">

                    <tr>
                      <td> <label class="col-form-label">Invoice Date:</label></td>
                      <td>
                        <div class="form-group">
                          <div class="input-group">
                            <label
                              class="form-control form-control-sm">{{ Invoice_ContractorDTOObj.Inv_Con_Inv_Date | date:'shortDate'  }}
                              <span *ngIf="!Invoice_ContractorDTOObj.Inv_Con_Inv_Date">Enter Date</span> </label>
                            <input class="form-control form-control-sm" placeholder="yyyy-mm-dd"
                              [(ngModel)]="Invoice_ContractorDTOObj.Inv_Con_Inv_Date"
                              [ngModelOptions]="{standalone: true}" ngbDatepicker #dt4="ngbDatepicker"
                              style="display: none">
                            <div class="input-group-append">
                              <button class="btn btn-outline-info btn-xs" (click)="dt4.toggle()" type="button"><i
                                  class="fas fa-calendar-alt"></i></button>
                            </div>
                          </div>
                        </div>
                      </td>
                      <td>
                        <label class="col-form-label">Invoice#:</label>
                      </td>
                      <td>
                        <input style="width: 108px" type="text"
                          [(ngModel)]="Invoice_ContractorDTOObj.Inv_Con_Invoce_Num" (keypress)="validate($event)"
                          class="form-control form-control-sm" readonly>
                      </td>
                    </tr>
                  </table>

                </td>
                <td></td>
                <td></td>


              </tr>

            </table>


          </div>


        </div>
        <div class="row"[hidden] ='processorh'>

          <div class="col-3">
            <button id="client_viewdetail_1" class="btn btn-primary" (click)='AddClientResultContractorInvoiceAddColl()' style="margin-right: 6px;"><i class="fas fa-plus-circle mr-1"></i>Add</button>
            <!-- <button class="btn btn-primary width-xs waves-effect waves-light"
              (click)='AddClientResultContractorInvoiceAddColl()' title="click to add "> <i
                class="fas fa-plus-circle mr-1"></i>
              Add</button> &nbsp; -->
            <!-- <button class="btn btn-primary width-xs waves-effect waves-light" title="click to add ">
                Save</button> -->

                <button id="client_viewdetail_1" class="btn btn-primary" (click)='ClientResultContractionInvoiceSumbit(content)' [disabled]="isLoading">
                  <i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-save': !isLoading}"></i>
              {{button}}</button>

          </div>

          <div class="col-3">

          </div>
          <div class="col-3">

          </div>
          <div class="col-3" style="text-align:right;"[hidden] = 'contprint'>
            <button id="client_viewdetail_1" class="btn btn-primary" (click)='printData(contentPrint)'[disabled]="isLoadingPrint">
              <i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoadingPrint, 'fa-print': !isLoadingPrint}"></i>
              {{buttonPrint}}
            </button>
            <!-- <button (click)='printData(contentPrint)' class="btn btn-primary waves-effect waves-light"
              [disabled]="isLoadingPrint">
              <i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoadingPrint, 'fa-print': !isLoadingPrint}"></i>
              {{buttonPrint}}</button> -->
          </div>
        </div>


        <br>
        <hr [hidden] ='processorh'>



        <div class="tab-pane fade show active" id="home" role="tabpane2" aria-labelledby="home-tab">

          <h4 [hidden]='OfficeResulth' style="background-color: #9b9b9b; color: black; line-height: 1.5; padding-left: 12px; margin-bottom: 0px;">Client Invoice</h4>
          <div class="row workorder-details"[hidden]='OfficeResulth'>

            <table class="table table-striped">
              <tr>
                <th> <label class="col-form-label">Item</label></th>
                <th> <label class="col-form-label">Qty</label></th>
                <th> <label class="col-form-label">Price</label></th>
                <th> <label class="col-form-label">Total</label></th>
                <th><label class="col-form-label">Adj Price</label></th>
                <th><label class="col-form-label">Discount%</label></th>
                <th> <label class="col-form-label">Total</label> </th>
                <th>
                  <label class="col-form-label">Comments</label>
                </th>
                <th style="width: 106px">Flat Fee</th>
                <th></th>
            


              <tr *ngFor="let client of ClientInvoiceArray; index as indx">
                <td style="width: 133px">

                  <select class="form-control form-control-sm"
                    (change)="ClientResultCompletionInvoicePageClinet(client)"
                    [(ngModel)]="client.Inv_Client_Ch_Task_Id" [ngModelOptions]="{standalone: true}">
                    <option value='0'>select</option>
                    <option [ngValue]="kb.Task_pkeyID" *ngFor="let kb of TaskList">
                      {{kb.Task_Name}}
                    </option>
                  </select>
                </td>
                <td>
                  <input type="text"(keypress)="validate($event)" (blur)="ClinetResultClientQty()" [(ngModel)]="client.Inv_Client_Ch_Qty"
                    class="form-control form-control-sm">
                </td>
                <td>
                  <input type="text" (blur)="ClinetResultInvoiceClientPrice()" [(ngModel)]="client.Inv_Client_Ch_Price"
                  (keypress)="validate($event)" class="form-control form-control-sm">
                </td>
                <td>
                  <input type="text" [(ngModel)]="client.Inv_Client_Ch_Total" (keypress)="validate($event)" readonly
                    class="form-control form-control-sm">
                </td>
                <td>
                  <input type="text" (blur)="ClientResultinvoiceAdjPrice()" [(ngModel)]="client.Inv_Client_Ch_Adj_Price"
                  (keypress)="validate($event)" class="form-control form-control-sm">
                </td>
                <td>
                  <input type="text" (blur)="ClientResultinvoiceDiscount()" [disabled]="client.Inv_Client_Ch_Flate_Fee"
                    [(ngModel)]="client.Inv_Client_Ch_Discount" (keypress)="validate($event)" class="form-control form-control-sm">
                </td>
                <td>
                  <input type="text" [(ngModel)]="client.Inv_Client_Ch_Adj_Total" (keypress)="validate($event)" readonly
                    class="form-control form-control-sm">
                </td>
                <td style="width: 400px">

                  <textarea class="form-control form-control-sm" placeholder="Enter Commnets" style="height: 32px;"
                    [(ngModel)]="client.Inv_Client_Ch_Comment"></textarea>
                </td>
                <td>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" [(ngModel)]="client.Inv_Client_Ch_Flate_Fee"
                      (change)="ClientResultClinetFlatFree()" class="custom-control-input" id="damageINVre{{indx}}">
                    <label class="custom-control-label" for="damageINVre{{indx}}">Flat Free</label>
                  </div>
                </td>
                <td style="width:20px;"><span><a style="cursor: pointer"
                      (click)="clientresultinvoiceRemoveClient(indx,client)"> <i class="fa fa-trash"></i></a></span>
                </td>

              </tr>
              <tr>
                <td colspan="4">
                  <table class="table">
                    <tr>
                      <td>
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" [(ngModel)]="Invoice_ClientDTOObj.Inv_Client_Inv_Complete"
                            class="custom-control-input" id="customdfsdCheck11c">
                          <label class="custom-control-label" for="customdfsdCheck11c">Invoice complete</label>
                        </div>
                      </td>

                      <td>
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" [(ngModel)]="Invoice_ClientDTOObj.Inv_Client_Credit_Memo"
                            class="custom-control-input" id="gdfgdfgdfgdfj">
                          <label class="custom-control-label" for="gdfgdfgdfgdfj"> Credit Memo</label>
                        </div>
                      </td>

                    </tr>
                    <tr>
                      <td>
                        <label class="col-form-label">Sent to Client</label>
                        <!-- <input type="text"  class="form-control form-control-sm"> -->
                        <div class="form-group">
                          <div class="input-group">
                            <label
                              class="form-control form-control-sm">{{ Invoice_ClientDTOObj.Inv_Client_Sent_Client | date:'shortDate'  }}
                              <span *ngIf="!Invoice_ClientDTOObj.Inv_Client_Sent_Client">Enter Date</span> </label>
                            <input class="form-control form-control-sm" placeholder="yyyy-mm-dd"
                              [(ngModel)]="Invoice_ClientDTOObj.Inv_Client_Sent_Client"
                              [ngModelOptions]="{standalone: true}" ngbDatepicker #dt2="ngbDatepicker"
                              style="display: none">
                            <div class="input-group-append">
                              <button class="btn btn-outline-info btn-xs" (click)="dt2.toggle()" type="button"><i
                                  class="fas fa-calendar-alt"></i></button>
                            </div>
                          </div>
                        </div>


                      </td>
                      <td>

                        <label class="col-form-label">Complete Date</label>
                        <!-- <input type="text"  class="form-control form-control-sm"> 
                        <span *ngIf="!Invoice_ClientDTOObj.Inv_Client_Comp_Date">Enter Date</span>
                        -->
                        <div class="form-group">
                          <div class="input-group">
                            <label
                              class="form-control form-control-sm">{{ Invoice_ClientDTOObj.Inv_Client_Comp_Date | date:'shortDate'  }}
                              </label> 
                            <input class="form-control form-control-sm" placeholder="yyyy-mm-dd"
                              [(ngModel)]="Invoice_ClientDTOObj.Inv_Client_Comp_Date"
                              [ngModelOptions]="{standalone: true}" ngbDatepicker #dt3="ngbDatepicker"
                              style="display: none">
                            <div class="input-group-append">
                              <button class="btn btn-outline-info btn-xs" (click)="dt3.toggle()" type="button"><i
                                  class="fas fa-calendar-alt"></i></button>
                            </div>
                          </div>
                        </div>
                      </td>

                    </tr>
                    <tr>
                      <td colspan="2">
                        <label class="col-form-label">Internal Invoice Notes</label>
                        <textarea style="height: 32px;" [(ngModel)]="Invoice_ClientDTOObj.Inv_Client_Internal_Note"
                          class="form-control form-control-sm"></textarea>
                      </td>

                    </tr>

                  </table>

                </td>
                <td colspan="3">
                  <table>

                    <tr>
                      <td style="width: 188px"> <small>Client Sub Total:</small></td>
                      <td style="width: 88px"><input type="text" [(ngModel)]="Invoice_ClientDTOObj.Inv_Client_Sub_Total" numbersOnly
                          readonly class="form-control form-control-sm"></td>
                    </tr>
                    <!-- <tr>
                        <td style="width: 118px;"><small>Discount :</small></td>
                        <td>


                           <div class="input-group">
                              <input type="text" [(ngModel)]="Invoice_ClientDTOObj.Inv_Client_Client_Dis" numbersOnly  readonly
                                 class="form-control form-control-sm">
                              <div class="input-group-prepend">
                                  <span class="input-group-text form-control-sm" id="basic-addon1">%</span>
                              </div>
                            </div>
                          </td>
                      </tr>
                      <tr>
                        <td><small>Client Total :</small></td>
                        <td><input type="text" [(ngModel)]="Invoice_ClientDTOObj.Inv_Client_Client_Total" numbersOnly  readonly
                           class="form-control form-control-sm"></td>
                      </tr> -->
                  </table>
                </td>



                <td>


                  <table class="table">

                    <tr>

                      <td>

                        <label class="col-form-label">Invoice Date:</label>


                      </td>

                      <td>

                        <div class="form-group">
                          <!-- <div class="input-group">
                            <label
                              class="form-control form-control-sm">{{ Invoice_ClientDTOObj.Inv_Client_Inv_Date | date:'shortDate'  }}
                              <span *ngIf="!Invoice_ClientDTOObj.Inv_Client_Inv_Date">Enter Date</span> </label>
                            <input class="form-control form-control-sm" placeholder="yyyy-mm-dd"
                              [(ngModel)]="Invoice_ClientDTOObj.Inv_Client_Inv_Date"
                              [ngModelOptions]="{standalone: true}" ngbDatepicker #dt44="ngbDatepicker"
                              style="display: none">
                            <div class="input-group-append">
                              <button class="btn btn-outline-info btn-xs" (click)="dt44.toggle()" type="button"><i
                                  class="fas fa-calendar-alt"></i></button>
                            </div>
                          </div> -->
                          <div class="input-group">
                            <label
                              class="form-control form-control-sm">{{ Invoice_ClientDTOObj.Inv_Client_Comp_Date | date:'shortDate'  }}
                              <span *ngIf="!Invoice_ClientDTOObj.Inv_Client_Comp_Date">Enter Date</span> </label>
                            <input class="form-control form-control-sm" placeholder="yyyy-mm-dd"
                              [(ngModel)]="Invoice_ClientDTOObj.Inv_Client_Comp_Date"
                              [ngModelOptions]="{standalone: true}" ngbDatepicker #dt4="ngbDatepicker"
                              style="display: none">
                            <div class="input-group-append">
                              <button class="btn btn-outline-info btn-xs" (click)="dt4.toggle()" type="button"><i
                                  class="fas fa-calendar-alt"></i></button>
                            </div>
                          </div>
                        </div>





                      </td>
                      <td>
                        <label class="col-form-label">Invoice#:</label>
                      </td>
                      <td>

                        <input type="text" style="width: 108px"
                          [(ngModel)]="Invoice_ClientDTOObj.Inv_Client_Invoice_Number" numbersOnly
                          class="form-control form-control-sm" readonly>
                      </td>
                    </tr>

                  </table>


                </td>
                <td></td>

              </tr>

            </table>


          </div>


        </div>
        <div class="row"[hidden]='OfficeResulth'>

          <div class="col-3">
            <button id="client_viewdetail_1" class="btn btn-primary" (click)='AddClientResultContractorInvoiceAddCollClinet()' style="margin-right: 6px;"><i
              class="fas fa-plus-circle"></i> Add</button>
            <!-- <button class="btn btn-primary width-xs waves-effect waves-light"
              (click)='AddClientResultContractorInvoiceAddCollClinet()' title="click to add "> <i
                class="fas fa-plus-circle"></i>
              Add</button> &nbsp; -->
            <!-- <button class="btn btn-primary width-xs waves-effect waves-light" title="click to add ">
                Save</button> -->

                <button id="client_viewdetail_1" class="btn btn-primary" (click)='ClientResultClientInvoiceSumbit(content)' [disabled]="isLoading">
                  <i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-save': !isLoading}"></i> {{button}} </button>
            <!-- <button (click)='ClientResultClientInvoiceSumbit(content)' class="btn btn-primary waves-effect waves-light"
              [disabled]="isLoading">
              <i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-save': !isLoading}"></i>
              {{button}}</button> -->

          </div>
          <div class="col-3">

          </div>
          <div class="col-3">

          </div>
          <div class="col-3" style="text-align:right;"[hidden]='clientprint'>
            <button id="client_viewdetail_1" class="btn btn-primary" (click)='clientPrintdetails(clientPrintcon)' [disabled]="isLoadingPrint">
              <i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoadingPrint, 'fa-print': !isLoadingPrint}"></i>
              {{buttoncPrint}}</button>
            <!-- <button (click)='clientPrintdetails(clientPrintcon)' class="btn btn-primary waves-effect waves-light"
              [disabled]="isLoadingPrint">
              <i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoadingPrint, 'fa-print': !isLoadingPrint}"></i>
              {{buttoncPrint}}</button> -->
          </div>
        </div>



      </div>




      <br>
      <!-- end .responsive-table-plugin-->
    </div> <!-- end card-box -->
  </div>
</div>


<!-- <button class="btn btn-warning btn-lg btn-block" (click)="printData()">
  <span class="glyphicon glyphicon-print" aria-hidden="true"> </span> Demo Print
</button> -->


<div class="container">
  <div class="row">
    <!-- style="display:none" -->
    <div id='DivIdToPrint'>
      <div class="modal-body">


        <!-- <span>
          {{printArray |json}}
        </span> -->



        <ng-template #contentPrint>

          <!-- style="display:none" [hidden]="true" -->


        </ng-template>


        <div id='DivIdToPrint' [hidden]="PrintDivF">
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel" style="text-align: center;">
              INVOICE
            </h4>
          </div>
          <div class="modal-body">


            <!--start-->
            <div>
              <table style="width: 100%;">

                <tr>
                  <td colspan="6">
                    WILL Enterprises, LLC <br>
                    805 NE Panther Valley Street <br>
                    LEES SUMMIT, MO 64064<br>
                    (816) 365-7834<br>
                    Bill To<br>
                    MCS
                  </td>

                  <td style="text-align: right;">
                    <table border="1px" style="width: 100%;">
                      <tr>
                        <th style="background-color: #bcbccc;">Invoice Date</th>
                        <th style="background-color: #bcbccc;">Invoice #</th>

                      </tr>
                      <tr>
                        <td>{{ Invoice_ContractorDTOObj.Inv_Con_Inv_Date | date:'shortDate'  }}</td>
                        <td>{{Invoice_ContractorDTOObj.Inv_Con_Invoce_Num}}</td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td colspan="5"></td>
                  <td colspan="2">
                    <table border="1px" style="width: 100%; border: 1px solid black;">
                      <tr>
                        <th style="text-align: center;background-color: #bcbccc;">Work Order Info</th>
                      </tr>
                      <tr>
                        <td style="border: 1px;">
                          WO #: {{BindDataModelObj.workOrderNumber}}<br>
                          Loan #: ******0223<br>
                          2141 N NIAS AVE<br>
                          SPRINGFIELD, MO 65803<br>
                          Complete Date: 11/02/2019<br>
                        </td>
                      </tr>
                    </table>
                </tr>
              </table>
            </div>
            <br>
            <br>
            <br>
            <div>
              <table border="1px" style="width: 100%;">
                <th style="background-color: #bcbccc;">Description </th>
                <th style="text-align:right; background-color: #bcbccc;">Qty </th>
                <th style="text-align:right; background-color: #bcbccc;">Price</th>
                <th style="text-align:right; background-color: #bcbccc;">Disc</th>
                <th style="text-align:right; background-color: #bcbccc;">Total
                </th>
                <tr *ngFor="let item of printArray">
                  <td> {{item.Inv_Con_Inv_Comment}} </td>
                  <td style="text-align:right">{{item.Inv_Con_Ch_Qty}}</td>
                  <td style="text-align:right">{{item.Inv_Con_Ch_Price}}</td>
                  <td style="text-align:right">{{item.Inv_Con_Ch_Discount}}%</td>
                  <td style="text-align:right">{{item.Inv_Con_Ch_Adj_Total}}</td>
                </tr>
                <tr>
                  <td rowspan="3">Comments: {{Invoice_ContractorDTOObj.Inv_Con_Short_Note}}</td>
                  <td colspan="3" style="text-align:right;background-color: #bcbccc;">Total</td>
                  <td style="text-align:right">{{Invoice_ContractorDTOObj.Inv_Con_Sub_Total}}</td>
                </tr>
                <!-- <tr>

                      <td colspan="2" style="text-align:right; background-color: #bcbccc;">Discount</td>
                      <td style="text-align:right">11%</td>
                    </tr> -->
                <!-- <tr>

                      <td colspan="2" style="text-align:right; background-color: #bcbccc;">Discount Total </td>
                      <td style="text-align:right">40%</td>
                    </tr> -->
              </table>
            </div>

            <!--end-->


          </div>
        </div>









      </div>
    </div>
  </div>
</div>

<!--print client data -->


<div class="container">
  <div class="row">
    <!-- style="display:none" -->
    <div id='Divprint'>
      <div class="modal-body">


        <!-- <span>
          {{printArray |json}}
        </span> -->



        <ng-template #clientPrintcon>

         


        </ng-template>


        <div id='Divprint' [hidden]="PrintDivcl">
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel" style="text-align:center">
              INVOICE
            </h4>
          </div>
          <div class="modal-body">


            <!--start-->
            <div>
              <table style="width: 100%;">

                <tr>
                  <td colspan="6">
                    WILL Enterprises, LLC <br>
                    805 NE Panther Valley Street <br>
                    LEES SUMMIT, MO 64064<br>
                    (816) 365-7834<br>
                    Bill To<br>
                    MCS
                  </td>

                  <td style="text-align: right;">
                    <table border="1px" style="width: 100%;">
                      <tr>
                        <th style="background-color: #bcbccc;">Invoice Date</th>
                        <th style="background-color: #bcbccc;">Invoice #</th>

                      </tr>
                      <tr>
                        <td>{{ Invoice_ClientDTOObj.Inv_Client_Comp_Date | date:'shortDate'  }}</td>
                        <td>{{Invoice_ClientDTOObj.Inv_Client_Invoice_Number}}</td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td colspan="5"></td>
                  <td colspan="2">
                    <table border="1px" style="width: 100%; border: 1px solid black;">
                      <tr>
                        <th style="text-align: center;background-color: #bcbccc;">Work Order Info</th>
                      </tr>
                      <tr>
                        <td style="border: 1px;">
                          WO #: {{BindDataModelObj.workOrderNumber}}<br>
                          Loan #: ******0223<br>
                          2141 N NIAS AVE<br>
                          SPRINGFIELD, MO 65803<br>
                          Complete Date: {{Invoice_ClientDTOObj.Inv_Client_Comp_Date | date:'shortDate'}}<br>
                        </td>
                      </tr>
                    </table>
                </tr>
              </table>
            </div>
            <br>
            <br>
            <br>
            <div>
              <table border="1px" style="width: 100%;">
                <th style="background-color: #bcbccc;">Description </th>
                <th style="text-align:right; background-color: #bcbccc;">Qty </th>
                <th style="text-align:right; background-color: #bcbccc;">Price</th>
                <th style="text-align:right; background-color: #bcbccc;">Disc</th>
                <th style="text-align:right; background-color: #bcbccc;">Total
                </th>
                <tr *ngFor="let item of clientprintArray">
                  <td> {{item.Inv_Client_Ch_Comment}} </td>
                  <td style="text-align:right">{{item.Inv_Client_Ch_Qty}}</td>
                  <td style="text-align:right">{{item.Inv_Client_Ch_Price}}</td>
                  <td style="text-align:right">{{Invoice_ClientDTOObj.Inv_Client_Client_Dis}}%</td>
                  <td style="text-align:right">{{item.Inv_Client_Ch_Adj_Price}}</td>
                </tr>
                <tr>
                  <td rowspan="3">Comments: {{Invoice_ClientDTOObj.Inv_Client_Internal_Note}}</td>
                  <td colspan="3" style="text-align:right;background-color: #bcbccc;">Total</td>
                  <td style="text-align:right">{{Invoice_ClientDTOObj.Inv_Client_Sub_Total}}</td>
                </tr>
               
              </table>
            </div>

            <!--end-->


          </div>
        </div>









      </div>
    </div>
  </div>
</div>