<ng-template #content let-modal>
  <div class="modal-header">
    Message
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">

    <div class="text-center">
      <!-- <i class="fe-check-circle"></i> -->
      <span>{{MessageFlag}}</span>
      <hr>
      <button type="button" class="btn btn-primary waves-effect waves-light"
        (click)="modal.close('Save click')">Close..</button>
    </div>
  </div>
</ng-template>
<div class="row">
    <div class="col-12">
      <div class="page-title-box">
        <div class="page-title-right">
          <ol class="breadcrumb m-0">
            <!-- <li class="breadcrumb-item"><a href="javascript: void(0);">User</a></li>
            <li class="breadcrumb-item active">Add New User</li> -->
          </ol>
        </div>
        <!-- <h4 class="page-title">View User </h4> -->
      </div>
    </div>
  </div>
  
  <div class="container">
    <div class="card">
      <div class="card-body">
  <div class="row" style="background-color: #9b9b9b; line-height: 1.5;">
    <h4 class="page-title" style="margin-left:12px; font-weight: bolder;"> Auto Import Orders</h4>
  </div>
  <button id="client_viewdetail_1" class="btn btn-primary" style="margin-left: -12px;"[routerLink]="['/autoimport/autoimportwo']" >
    <i class="fas fa-plus-circle mr-1"></i> Create Auto Import</button>
    <button id="client_viewdetail_1" class="btn btn-primary" style="margin-left: 6px;"(click)="redirectview()">
      <i class="fas fa-eye mr-1"></i> View Auto Import</button>
  <hr>
  <div class="row">
    <div class="col-lg-12">
      <table class="table"style = "border:none; font-size:12px;" >
        <thead>
          <tr>
            <th>Client</th>
            <th>Import Name</th>
            <th>State Filter</th>
            <th>Previous Check</th>
            <th>Next Check Est.</th>
            <th>Work Order Count</th>
            <th>Status</th>
            <th>Active</th>
            <th style="text-align: center;">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of griddata;">
            <td >{{item.Client_Company_Name}}</td>
            <td>{{item.WI_FriendlyName}}</td>
            <td >{{item.Imrt_State_Filter}}</td>
            <td >{{item.Imrt_Last_Run | date:'MM/dd/yyyy'}}</td>
            <td >{{item.Imrt_Next_Run | date:'MM/dd/yyyy'}}</td>
            <td >{{item.Imrt_Wo_Count}}</td>
            <td>{{item.Imrt_Status_Msg}}</td>
            <td style = "text-align:center;"> <div class="custom-control custom-checkbox">
              <input type="checkbox" [(ngModel)]="item.Imrt_Active"
              [ngModelOptions]="{standalone: true}" class="custom-control-input" id="mnbv" disabled>
              <label class="custom-control-label" for="mnbv"></label>
            </div></td>
            <td style = "text-align: left;" >
              <button id="client_viewdetail_1" class="btn btn-primary btn-xs" (click) = "CkeckNowData(item)" style="margin-left: 32px;">New Order Check</button>
              <button id="client_viewdetail_1" class="btn btn-primary btn-xs" (click)="showDetails($event, item)" [disabled]="item.Imrt_Wo_Count == '0'" style="margin-left: 4px;">Import New Orders</button>
              <button id="client_viewdetail_1" class="btn btn-primary btn-xs" (click) = "DeleteQueued(item)" style="margin-left: 4px;">Clear Order Queue</button>
              <!-- <button class="btn btn-primary btn-sm que"(click) = "CkeckNowData(item)">Check Now</button> &nbsp;&nbsp;
            <button class="btn btn-primary btn-sm que" (click)="showDetails($event, item)" [disabled]="item.Imrt_Wo_Count == '0'">Process Import</button> &nbsp;&nbsp;
            <button class="btn btn-primary btn-sm que" (click) = "DeleteQueued(item)" >Delete Queued Orders</button> &nbsp;&nbsp; -->
            </td>
          </tr>
        </tbody>
      </table>
      
    </div>
  </div>
  
        
  
  
      </div>
    </div>
  
  </div>
