<ng-template #content let-modal>
  <div class="modal-header">
    Message
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">

    <div class="text-center">
      <!-- <i class="fe-check-circle"></i> -->
      <span>{{MessageFlag}}</span>
      <hr>
      <button id="client_viewdetail_1" class="btn btn-primary" (click)="modal.close('Save click')">Close</button>
      <!-- <button type="button" class="btn btn-primary waves-effect waves-light"
        (click)="modal.close('Save click')">Close..</button> -->
    </div>
  </div>
</ng-template>


<div class="row">
  <div class="col-12">
    <div class="page-title-box">
      <div class="page-title-right">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item"><a href="javascript: void(0);"></a></li>
        </ol>
      </div>
      <!-- <h4 class="page-title" >Add User</h4> -->
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="card">
    <div class="card-body">
      <h4 class="page-title" style="font-weight: bolder; line-height: 1.5; background-color: #9b9b9b; padding-left: 12px;">Add User</h4>
      <form [formGroup]="formUsrCommonGroup" (ngSubmit)="FormButton(content)">
        <div class="row">

          <div class="col-lg-4">

            <div class="card-box bg-pattern border border-dark" style="background-color: #f7f7f7;">
              <div class="form-row">
                <div class="form-group col-md-12 text-center" style="color: black;background-color: #9b9b9b;">
                  <h5 style="color:black;">User Info </h5>
                </div>

              </div>

              <div class="form-row">
                <div class="form-group col-md-6">
                  <label class="col-form-label" for="klodfgkridje">First Name <span style="color: red">*</span></label>
                  <input type="text" [(ngModel)]="AddUserModelObj.User_FirstName" formControlName="FirstName" AlphabetOnly
                    [ngClass]="{ 'is-invalid': submitted && fx.FirstName.errors }" class="form-control form-control-sm"
                    id="klodfgkridje" placeholder="Enter First Name">
                  <div *ngIf="submitted && fx.FirstName.errors" class="invalid-feedback">
                    <div *ngIf="fx.FirstName.errors.required">this field is required</div>
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <label class="col-form-label" for="klokridje">LastName <span style="color: red">*</span></label>
                  <input type="text" [(ngModel)]="AddUserModelObj.User_LastName" formControlName="LastName" AlphabetOnly
                    [ngClass]="{ 'is-invalid': submitted && fx.LastName.errors }" class="form-control form-control-sm"
                    id="klokridje" placeholder="Enter Last Name">
                  <div *ngIf="submitted && fx.LastName.errors" class="invalid-feedback">
                    <div *ngIf="fx.LastName.errors.required">this field is required</div>
                  </div>
                </div>
              </div>

              <div class="form-row" *ngFor="let item of FormArrayVal; index as indx">
                <div class="form-group col-md-3">
                  <label class="col-form-label" for="password1fsfff"> Address </label>
                </div>
                <div class="form-group col-md-9">

                  <textarea type="text" id="password1fsfff" class="form-control" placeholder="Enter Address..." maxlength="300"
                    [(ngModel)]="item.IPL_Address" formControlName="desaddress"></textarea>
                </div>
                <!-- dont remove Comments -->
                <!-- <div class="form-group col-md-4">
                  <label *ngIf="indx > 0" for="inputStatdafde" class="col-form-label"> <small>Remove Address</small>
                  </label>
                  <button *ngIf="indx > 0" type="button"
                    class="btn btn-danger btn-xs waves-effect waves-light form-control" title="click to remove address"
                    (click)="RemoveRow(indx)">
                    <i class="fas fa-minus-circle"></i> Remove</button>
                </div> -->


                <div class="form-group col-md-4">
                  <label class="col-form-label" for="kjhgsdff"> City </label>
                  <input type="text" id="kjhgsdff" class="form-control form-control-sm" placeholder="Enter City" AlphabetOnly
                    [(ngModel)]="item.IPL_City" formControlName="descity">

                </div>
                <div class="form-group col-md-4">
                  <label class="col-form-label" for="fsddsfdsssss">State </label>
                  <input type="text" id="fsddsfdsssss" class="form-control form-control-sm" placeholder="Enter State" AlphabetOnly
                  [(ngModel)]="item.IPL_State" formControlName="desstate">
                  <!-- <select id="fsddsfdsssss" class="form-control form-control-sm" [(ngModel)]="item.IPL_State"
                    (change)="State_Method();" [ngModelOptions]="{standalone: true}">
                    <option value='0'>select</option>
                    <option [ngValue]="kb.IPL_StateID" *ngFor="let kb of StateList">
                      {{kb.IPL_StateName}}
                    </option>
                  </select> -->

                </div>
                <div class="form-group col-md-4">
                  <label class="col-form-label" for="ufdrr"> Zip </label>
                  <input type="text" id="ufdrr" class="form-control form-control-sm" placeholder="Enter Zip" numbersOnly maxlength="6"
                    [(ngModel)]="item.IPL_Primary_Zip_Code" (blur)="onBlurZipCall()" formControlName="deszip">

                </div>
              </div>

              <!-- dont remove Comments -->
              <!-- <div class="form-row">
                <div class="form-group col-md-8">

                </div>
                <div class="form-group col-md-4">
                  <button type="button" class="btn btn-outline-primary btn-xs waves-effect waves-light form-control"
                    title="click to add more Address" (click)="AddMoreRow()"> <i class="fas fa-plus-circle"></i> Add
                    More</button>
                </div>

              </div> -->


              <div class="form-row">
                <div class="form-group col-md-4">
                  <label class="col-form-label" for="Companyx">Company </label>
                </div>
                <div class="form-group col-md-8">
                  <input type="text" id="Companyx" class="form-control form-control-sm" placeholder="Enter Company Name" 
                    [(ngModel)]="AddUserModelObj.User_CompanyName" formControlName="descomp">
                </div>
              </div>

              <div class="form-row">
                <div class="form-group col-md-4">
                  <label class="col-form-label" for="kgdfgseds">Email ID <span style="color: red">*</span></label>
                </div>
                <div class="form-group col-md-8">

                  <input type="text" class="form-control form-control-sm" id="kgdfgseds" placeholder="Enter EmailID"
                    [(ngModel)]="AddUserModelObj.User_Email" formControlName="EmailVal"
                    [ngClass]="{ 'is-invalid': submitted && fx.EmailVal.errors }">
                  <div *ngIf="submitted && fx.EmailVal.errors" class="invalid-feedback">
                    <div *ngIf="fx.EmailVal.errors.required">this field is required</div>
                    <div *ngIf="fx.EmailVal.errors.email">Email must be a valid email address</div>
                  </div>

                </div>
              </div>




              <div class="form-row">
                <div class="form-group col-md-4">
                  <label class="col-form-label" for="confirm1d">Cell Phone </label>
                </div>
                <div class="form-group col-md-8">

                  <input type="text" id="confirm1d" class="form-control form-control-sm" placeholder="Enter Cell No." numbersOnly
                    [(ngModel)]="AddUserModelObj.User_CellNumber"formControlName="desphone">
                </div>
                <!-- <div class="form-group col-md-6">
                  <label class="col-form-label" for="password1fsfff"> Carrier </label>
                  <select class="form-control form-control-sm" [(ngModel)]="AddUserModelObj.Carrier"
                    [ngModelOptions]="{standalone: true}">
                    <option value='0'>select</option>
                    <option [ngValue]="kb.Id" *ngFor="let kb of CarrierList">
                      {{kb.Name}}
                    </option>
                  </select>

                </div> -->
              </div>

              <div class="form-row">
                <div class="form-group col-md-4">
                  <label class="col-form-label" for="Compandwayfx"><span>Login Name<span style="color: red">*</span></span> </label>
                </div>
                <div class="form-group col-md-8">
                  <input type="text" id="Compandwayfx" [readonly]="UserNameReadOnly" class="form-control form-control-sm" placeholder="Enter Login Name"
                    [(ngModel)]="AddUserModelObj.User_LoginName" formControlName="LoginNameVal"  (focusout)="onBlurUserName(content)"
                    [ngClass]="{ 'is-invalid': submitted && fx.LoginNameVal.errors }">
                  <div *ngIf="submitted && fx.LoginNameVal.errors" class="invalid-feedback">
                    <div *ngIf="fx.LoginNameVal.errors.required">this field is required</div>
                  </div>
                </div>
              </div>


              <div class="form-row">
                  <div class="form-group col-md-4">
                      <label class="col-form-label" for="password1cf"> Password <span style="color: red">*</span></label>
                  </div>
                <div class="form-group col-md-8">

                  <input type="password" id="password1cf" class="form-control form-control-sm"
                    placeholder="Enter Password (minimun 6 char..)" [(ngModel)]="AddUserModelObj.User_Password"
                    formControlName="PasswordVal" [ngClass]="{ 'is-invalid': submitted && fx.PasswordVal.errors }">
                  <div *ngIf="submitted && fx.PasswordVal.errors" class="invalid-feedback">
                    <div *ngIf="fx.PasswordVal.errors.required">this field is required</div>
                    <div *ngIf="fx.PasswordVal.errors.minlength">Password must be at least 6 characters</div>
                    <!-- <div *ngIf="fx.PasswordVal.errors.maxLength">Password minimun 25 characters</div>
                    <div *ngIf="fx.PasswordVal.errors.pattern">Your password must contain at least one uppercase, one lowercase, and one number</div> -->
                  </div>
                </div>
              </div>

              <div class="form-row" *ngIf="IsPasswordDisable">

                <a style="cursor: pointer;color:blue" (click)="generatePassword()">Generate Password</a> &nbsp; &nbsp; <span style="color: green" *ngIf="Passcode" >New Password:- {{Passcode}}</span>
                <div class="custom-control custom-checkbox">
                    <!-- <input type="checkbox" class="custom-control-input" id="cushghffv"> -->
                    <label class="custom-control-label" for="cushghffv"><small>Email New Password
                        (Only enter when adding a new account
                        or to change password of existing account.)</small>  </label>
                  </div>
              </div>

              <div class="form-row">
                <div class="form-group col-md-6">
                  <label class="col-form-label" for="Activesdfdsf">Time Zone </label>
                  <select id="Activesdfdsf" class="form-control form-control-sm" formControlName="disZone"
                    [(ngModel)]="AddUserModelObj.User_Tme_Zone" (change)="TimeVal_Method();">
                    <option value='0'>select</option>
                    <option [ngValue]="kb.Id" *ngFor="let kb of TimeList">
                      {{kb.Name}}
                    </option>
                  </select>

                </div>
                <div class="form-group col-md-6">
                  <label class="col-form-label" for="Discounscst"> Discount % </label>
                  <input type="text" id="Discounscst" class="form-control form-control-sm" maxlength="2" numbersOnly
                  formControlName="disdiscount" placeholder="Enter Discount" [(ngModel)]="AddUserModelObj.User_Disc_percentage"
                    >

                </div>
              </div>

              <div class="form-row">
                <div class="form-group col-md-12">

                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck11cvfv"
                      [(ngModel)]="AddUserModelObj.User_Auto_Assign"  formControlName="disassign">
                    <label class="custom-control-label" for="customCheck11cvfv">Auto-Assign </label>
                  </div>
                </div>
              </div>








            </div>



          </div>
          <div class="col-lg-4">

            <div class="card-box bg-pattern border border-dark" style="background-color: #f7f7f7;">
              <div class="form-row">
                <div class="form-group col-md-12 text-center" style="color: black;background-color: #9b9b9b;">
                  <h5 style="color: black;">User Type And Order Access </h5>
                </div>

              </div>

              <div class="form-row">
                  <div class="form-group col-md-3">
                      <label class="col-form-label" for="CompanyxtGroup">Group <span
                        style="color: red">*</span></label>
                  </div>

                <div class="form-group col-md-9">

                  <select formControlName="GroupVal" id="CompanyxtGroup" class="form-control form-control-sm"
                    [(ngModel)]="AddUserModelObj.User_Group" (change)="Group_Method();"
                    [ngClass]="{ 'is-invalid': fx.GroupVal.touched && fx.GroupVal.errors }">
                    <option value='0'>select</option>
                    <option [ngValue]="kb.Grp_pkeyID" *ngFor="let kb of GroupList">
                      {{kb.Grp_Name}}
                    </option>
                  </select>
                  <div *ngIf="GroupValFlag" class="Mydropdown">this field is required</div>
                </div>
              </div>

              <div class="form-row">
                <div class="form-group col-md-12 text-center">
                  <h5>User List </h5>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-4">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" [(ngModel)]="AddUserModelObj.User_Cordinator"
                    formControlName="discordinator" class="custom-control-input" id="jhdfrg">
                    <label class="custom-control-label" for="jhdfrg">Cordinator </label>
                  </div>
                </div>
                <div class="form-group col-md-4">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" [(ngModel)]="AddUserModelObj.User_Processor"
                    formControlName="disprocessor" class="custom-control-input" id="jhdffsrg">
                    <label class="custom-control-label" for="jhdffsrg">Processor </label>
                  </div>
                </div>
                <div class="form-group col-md-4">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" [(ngModel)]="AddUserModelObj.User_Contractor"
                    formControlName="discontractor"  class="custom-control-input" id="ufhrgd">
                    <label class="custom-control-label" for="ufhrgd">Contractor </label>
                  </div>
                </div>
              </div>

              <div class="form-row">
                  <div class="form-group col-md-7">
                      <label class="col-form-label" for="gessfdfsfs">Open Order Display Criteria </label>
                  </div>
                <div class="form-group col-md-5">

                  <select id="gessfdfsfs" class="form-control form-control-sm"
                    [(ngModel)]="AddUserModelObj.User_OpenOrderDisCriteria"  formControlName="disCriteria">
                    <option value='0'>select</option>
                    <option [ngValue]="kb.Id" *ngFor="let kb of  OrderDisplayList">
                      {{kb.Name}}
                    </option>
                  </select>

                </div>

              </div>

              <div class="form-row">
                <div class="form-group col-md-12">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" [(ngModel)]="AddUserModelObj.User_PastWorkOrder"
                    formControlName="disorder" class="custom-control-input" id="uferwhrgd">
                    <label class="custom-control-label" for="uferwhrgd">Display past work order </label>
                  </div>

                </div>

              </div>

              <div class="form-row">
                  <div class="form-group col-md-7">
                      <label class="col-form-label" for="jfgrdrrd">Past work Order Criteria </label>
                  </div>
                <div class="form-group col-md-5">

                  <select id="jfgrdrrd" class="form-control form-control-sm"
                    [(ngModel)]="AddUserModelObj.User_PastOrderDisCriteria" formControlName="dispast">
                    <option value='0'>select</option>
                    <option [ngValue]="kb.Id" *ngFor="let kb of PastOrderDisplayList">
                      {{kb.Name}}
                    </option>
                  </select>

                </div>

              </div>

              <div class="form-row">
                <div class="form-group col-md-12">
                  <label class="col-form-label" for="Assigned">Select Client assigned to user</label>
                  <ng-multiselect-dropdown [placeholder]="'Select client'" [data]="dropdownList"
                    [(ngModel)]="selectedItems" formControlName="disuser" [settings]="dropdownSettings"
                    (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
                  </ng-multiselect-dropdown>
                </div>
              </div>







            </div>


            <div class="card-box bg-pattern border border-dark" style="background-color: #f7f7f7;">
              <div class="form-row">
                <div class="form-group col-md-12 text-center" style="color: black;background-color: #9b9b9b;">
                  <h5 style="color: black;">Background check </h5>
                </div>

              </div>

              <div class="form-row">

                  <div class="form-group col-md-6">
                      <label class="col-form-label" for="fsdsgsgdgssss"> <small>Background check Provider </small> </label>
                  </div>

                <div class="form-group col-md-6">

                  <select id="fsdsgsgdgssss" class="form-control form-control-sm"
                    [(ngModel)]="AddUserModelObj.User_BackgroundCheckProvider" formControlName="disProvider">
                    <option value='0'>select</option>
                    <option [ngValue]="kb.Id" *ngFor="let kb of BackgroundCheckProviderList">
                      {{kb.Name}}
                    </option>
                  </select>
                </div>



              </div>

              <div class="form-row">
                  <div class="form-group col-md-6">
                      <label class="col-form-label" for="hgdfgfdgdb">Background check #/ID </label>
                  </div>
                  <div class="form-group col-md-6">

                      <input type="text" id="hgdfgfdgdb" class="form-control form-control-sm" placeholder="Enter ID"
                        [(ngModel)]="AddUserModelObj.User_BackgroundCheckId" formControlName="disID">
                    </div>
              </div>

              <div class="form-row">
                <div class="form-group col-md-6">
                  <label class="col-form-label" for="fdsfdsfsdfddfg">Select File </label>
                </div>
                <div class="form-group col-md-6">
                    <input #imageInputBackground type="file" class="form-control" id="fdsfdsfsdfddfg"
                    title="Select File..." (change)="processImageBackground(imageInputBackground,content)"
                    accept="image/*" formControlName = "imageInput">
                </div>
              </div>
              <div class="form-row" *ngIf="imgpath">
                  <div class="form-group col-md-6"></div>
                  <div class="form-group col-md-6">
                      <a href="{{imgpath}}" title="click to open document new tab" style="color:blue;cursor:pointer"
                      target="_blank"> preview document</a>
                  </div>

              </div>




            </div>




          </div>
          <div class="col-lg-4">

            <div class="card-box bg-pattern border border-dark" style="background-color: #f7f7f7;">
              <div class="form-row">
                <div class="form-group col-md-12 text-center" style="color: black;background-color: #9b9b9b;">
                  <h5 style="color: black;">Enter User Documents </h5>
                </div>

              </div>

              <div class="form-row">
                  <div class="form-group col-md-5">
                      <label class="col-form-label" for="fsdssss">Document Name </label>
                  </div>

                <div class="form-group col-md-7">

                  <input type="text" id="fsdssss" class="form-control form-control-sm" placeholder="Enter Document Name"
                        [(ngModel)]="WorkOrderCustomizeObj.wo_Custo_DocType" formControlName="disdocname">

                  <!-- <select id="fsdssss" class="form-control form-control-sm"
                    [(ngModel)]="WorkOrderCustomizeObj.wo_Custo_DocType" [ngModelOptions]="{standalone: true}">
                    <option value='0'>select</option>
                    <option [ngValue]="kb.Id" *ngFor="let kb of DocumentTypeList">
                      {{kb.Name}}
                    </option>
                  </select> -->
                </div>

                <div class="form-group col-md-5">
                    <label class="col-form-label" for="dsasgdfgrt">Received Date </label>
                  </div>


                <div class="form-group col-md-7">

                  <div class="form-group">
                      <div class="input-group">
                        <label class="form-control form-control-sm">{{ WorkOrderCustomizeObj.wo_Custo_RecievedDate | date:'MM/dd/yyyy' }} <span *ngIf="!WorkOrderCustomizeObj.wo_Custo_RecievedDate">Enter Date</span> </label>
                        <input class="form-control form-control-sm" placeholder="yyyy-mm-dd" [(ngModel)]="WorkOrderCustomizeObj.wo_Custo_RecievedDate" formControlName="disrecdate"
                                 ngbDatepicker #dt1="ngbDatepicker" style="display: none">
                        <div class="input-group-append">
                          <button class="btn btn-outline-info btn-xs" (click)="dt1.toggle()" type="button"><i class="fas fa-calendar-alt"></i></button>
                        </div>
                      </div>
                    </div>
                </div>

                <div class="form-group col-md-5">
                    <label class="col-form-label" for="uutygh">Expire Date </label>
                  </div>
                <div class="form-group col-md-7">

                  <div class="input-group">
                      <label class="form-control form-control-sm">{{ WorkOrderCustomizeObj.wo_Custo_ExpDate | date:'MM/dd/yyyy'  }} <span *ngIf="!WorkOrderCustomizeObj.wo_Custo_ExpDate">Enter Date</span> </label>
                      <input class="form-control form-control-sm" placeholder="yyyy-mm-dd" [(ngModel)]="WorkOrderCustomizeObj.wo_Custo_ExpDate" formControlName="disexcdate"
                               ngbDatepicker #dt2="ngbDatepicker" style="display: none">
                      <div class="input-group-append">
                        <button class="btn btn-outline-info btn-xs" (click)="dt2.toggle()" type="button"><i class="fas fa-calendar-alt"></i></button>
                      </div>
                    </div>

                </div>

                <div class="form-group col-md-5">
                    <label class="col-form-label" for="oiphjhfg">Notification Date </label>
                  </div>
                <div class="form-group col-md-7">

                    <div class="input-group">
                        <label class="form-control form-control-sm">{{ WorkOrderCustomizeObj.wo_Custo_NotificationDate | date:'MM/dd/yyyy'  }} <span *ngIf="!WorkOrderCustomizeObj.wo_Custo_NotificationDate">Enter Date</span> </label>
                        <input class="form-control form-control-sm" placeholder="yyyy-mm-dd" [(ngModel)]="WorkOrderCustomizeObj.wo_Custo_NotificationDate" formControlName="disnotdate"
                                 ngbDatepicker #dt3="ngbDatepicker" style="display: none">
                        <div class="input-group-append">
                          <button class="btn btn-outline-info btn-xs" (click)="dt3.toggle()" type="button"><i class="fas fa-calendar-alt"></i></button>
                        </div>
                      </div>
                </div>

                <div class="form-group col-md-5">
                    <label class="col-form-label" for="gdfgfdgfd">Sent alert to user</label>
                  </div>
                <div class="form-group col-md-7">

                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" [(ngModel)]="WorkOrderCustomizeObj.wo_Custo_AlertUser"
                    formControlName="disalt" class="custom-control-input" id="gdfgfdgfd">
                    <label class="custom-control-label" for="gdfgfdgfd"></label>
                  </div>
                </div>


              </div>

              <div class="form-row">
                <div class="form-group col-md-5">
                  <label class="col-form-label" for="qwrtLogoereCityr">Select File </label>
                </div>
                <div class="form-group col-md-7">
                    <input #imageInput type="file" class="form-control form-control-sm"
                    id="qwrtLogoereCityr" title="Select File..." (change)="processImage(imageInput,content)"
                    accept="image/*" formControlName = "imageInput">
                </div>
              </div>
              <div class="form-row" >
                  <!-- <div class="form-group col-md-6">
                      <label class="col-form-label" for="qwrtLogoersdfdseCityr">Add More File</label>
                  </div> -->
                  <!-- <div class="form-group col-md-6">
                      <input #imageInput type="file" class="form-control form-control-sm"
                      id="qwertyu1" title="Select File..." (change)="processImage(imageInput,content)"
                      accept="image/*">
                  </div> -->

                  <button id="client_viewdetail_1" class="btn btn-primary" (click)="AddMoreDocument()"><i class="fas fa-plus-circle mr-1"></i>{{ContactBtn}}</button>

              
                  <!-- <button type="button" class="btn btn-outline-primary waves-effect waves-light form-control"
                    (click)="AddMoreDocument()" title="click to add mutiple document"> <i
                      class="fas fa-plus-circle mr-1"></i>{{ContactBtn}} </button> -->
                </div>




            </div>


            <div class="card-box bg-pattern border border-dark" style="background-color: #f7f7f7;">
              <div class="form-row">
                <div class="form-group col-md-12 text-center" style="color: black;background-color: #9b9b9b;">
                  <h5 style="color: black;">User Document </h5>
                </div>

                <div class="form-group col-md-12">
                  <table class="table">
                    <tr>
                      <th>Doc Name</th>
                      <th>Exp Date</th>
                      <th>View</th>
                      <th>Remove</th>
                    </tr>
                    <tr *ngFor="let item of multipledocPost;index as indx">
                      <td>
                       {{item.User_Doc_ValType}}
                      </td>
                      <td>{{item.User_Doc_Exp_Date|date:'shortDate'}}</td>
                      <td>
                        <a href="{{BaseURLpath}}{{item.User_Doc_DocPath}}"  title="click to open document new tab" style="color:blue;cursor:pointer"
                        target="_blank" > preview document</a>
                      </td>
                      <td><a style="cursor: pointer" (click)="DeleteDocFile(indx,item)"><i class="fas fa-trash"></i></a></td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>







          </div>
        </div>


        <div class="row">
          <div class="col-lg-4">
            <div class="card-box bg-pattern border border-dark" style="background-color: #f7f7f7;">
              <div class="form-row">
                <div class="form-group col-md-12 text-center" style="color: black;background-color: #9b9b9b;">
                  <h5 style="color: black;">Message Settings </h5>
                </div>

                <div class="form-group col-md-6">
                  <label class="col-form-label">Email Alert</label>
                  <div class="col-md">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" [(ngModel)]="AddUserModelObj.User_Email_New_Wo"
                        formControlName="disemail" class="custom-control-input" id="NOTESedsfdttt">
                      <label class="custom-control-label" for="NOTESedsfdttt">NEW WO'S</label>
                    </div>
                  </div>

                  <div class="col-md">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" [(ngModel)]="AddUserModelObj.User_Email_Cancelled"
                      formControlName="disCancelled" class="custom-control-input" id="REMINDERSrrrr">
                      <label class="custom-control-label" for="REMINDERSrrrr">Cancelled</label>
                    </div>
                  </div>
                  <div class="col-md">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" [(ngModel)]="AddUserModelObj.User_Email_New_Message"
                      formControlName="dismas" class="custom-control-input" id="REMINDERSx">

                      <label class="custom-control-label" for="REMINDERSx">New Message</label>
                    </div>
                  </div>
                  <div class="col-md">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" [(ngModel)]="AddUserModelObj.User_Email_Field_Complete"
                      formControlName="disfieldc" class="custom-control-input" id="NOTESxtr">
                      <label class="custom-control-label" for="NOTESxtr">Field Complete</label>
                    </div>
                  </div>
                  <div class="col-md">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" [(ngModel)]="AddUserModelObj.User_Email_Daily_Digest"
                      formControlName="disDigest" class="custom-control-input" id="REMINDERSxc">
                      <label class="custom-control-label" for="REMINDERSxc">Daily Digest</label>
                    </div>
                  </div>

                </div>

                <div class="form-group col-md-6">

                  <label class="col-form-label">App Push Alerts</label>
                  <div class="col-md">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" [(ngModel)]="AddUserModelObj.User_Text_New_Wo"
                      formControlName="disWo" class="custom-control-input" id="lkjhxdddf">
                      <label class="custom-control-label" for="lkjhxdddf">New Wo </label>
                    </div>
                  </div>

                  <div class="col-md">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" [(ngModel)]="AddUserModelObj.User_Text_Cancelled"
                      formControlName="disWoc" class="custom-control-input" id="REMINDERSq">
                      <label class="custom-control-label" for="REMINDERSq">Cancelled</label>
                    </div>
                  </div>
                  <div class="col-md">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" [(ngModel)]="AddUserModelObj.User_Text_New_Message"
                      formControlName="disWom" class="custom-control-input" id="gdgdfgfd">
                      <label class="custom-control-label" for="gdgdfgfd">New Message</label>
                    </div>
                  </div>
                  <div class="col-md">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" [(ngModel)]="AddUserModelObj.User_Text_Field_Complete"
                      formControlName="disWof" class="custom-control-input" id="NOTdsaESq">
                      <label class="custom-control-label" for="NOTdsaESq">Field Complete</label>
                    </div>
                  </div>
                  <!-- <div class="col-md">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" [(ngModel)]="AddUserModelObj.User_Text_FollowUp"
                        [ngModelOptions]="{standalone: true}" class="custom-control-input" id="REMINDERSxcqdd">
                      <label class="custom-control-label" for="REMINDERSxcqdd">FOLLOW UP</label>
                    </div>
                  </div> -->
                </div>

              </div>
            </div>
          </div>
          <div class="col-lg-4">

            <div class="card-box bg-pattern border border-dark" style="background-color: #f7f7f7;">
              <div class="form-row">
                <div class="form-group col-md-12 text-center" style="color: black;background-color: #9b9b9b;">
                  <h5 style="color: black;">Comments</h5>
                </div>

              </div>

              <div class="form-row">

                <div class="form-group col-md-12">
                  <label class="col-form-label" for="iHGnputCityrfDatew">Comments/Notes</label>
                  <textarea type="text" class="form-control form-control-sm" id="iHGnputCityrfDatew" rows="4"
                  formControlName="discom" [(ngModel)]="AddUserModelObj.User_Comments"
                    placeholder="Enter Comments..."> </textarea>
                </div>

              </div>
            </div>

          </div>

          <div class="col-lg-4">
            <div class="card-box bg-pattern border border-dark" style="background-color: #f7f7f7;">
              <div class="form-row">
                <div class="form-group col-md-12 text-center" style="color: black;background-color: #9b9b9b;">
                  <h5 style="color: black;">Associated Devices </h5>
                </div>

                <div class="form-group col-md-12">



                </div>
              </div>


            </div>
            <div class="card-box bg-pattern border border-dark" style="background-color: #f7f7f7;">

              <div class="form-row">
                <div class="float-right">
                  <label for="InvestmentSihhhze" *ngIf="formUsrCommonGroup.invalid" style="color:red">*
                    fields is required
                  </label> <br>
                  <button id="client_viewdetail_1" class="btn btn-primary" *ngIf="IsEditDisable" (click)="EditForms()">
                    <i class="far fa-edit mr-1"></i> Edit
                  </button>

                  <button id="client_viewdetail_1" class="btn btn-primary" type="submit" *ngIf="!IsEditDisable" [disabled]="isLoading">
                    <i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-save': !isLoading}"></i>
                    {{button}}
                  </button>

                  <button id="client_viewdetail_1" [routerLink]="['/user/viewduser']" class="btn btn-primary" style="margin-left:6px"><i class="fas fa-arrow-alt-circle-left mr-1"></i> Back</button>

                  <!-- <a *ngIf="IsEditDisable" [routerLink]="['/user/adduser']" (click)="EditForms()" 
                    class="btn btn-primary waves-effect waves-light"> <i class="far fa-edit mr-1"></i> Edit </a>
                  &nbsp;&nbsp;&nbsp;
                  <button type="submit" *ngIf="!IsEditDisable" class="btn btn-primary waves-effect waves-light"
                    [disabled]="isLoading">
                    <i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-save': !isLoading}"></i>
                    {{button}}</button> &nbsp; &nbsp;

                  <a [routerLink]="['/user/viewduser']" class="btn btn-primary"><i
                      class="fas fa-arrow-alt-circle-left mr-1"></i> Back</a> -->
                </div>
              </div>
            </div>


          </div>
        </div>







      </form>

    </div>
  </div>
</div>







<!-- for purpose sathi -->
<div>
  <ng-template #contentFormPurpose let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Select multiple Admin options</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <!-- <ng-multiselect-dropdown [placeholder]="'Select Admin'" [data]="dropdownList" [(ngModel)]="selectedItems"
        [settings]="dropdownSettings" (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
      </ng-multiselect-dropdown> -->
    </div>
    <div class="modal-footer">


    </div>
  </ng-template>

</div>


