<div class="container-fluid">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-12">
          <div class="page-title-box">
            <div class="page-title-right">
              <ol class="breadcrumb m-0">
                <!-- <li class="breadcrumb-item"><a href="javascript: void(0);">Add New User</a></li>
                <li class="breadcrumb-item active">Add New User</li> -->
              </ol>
            </div>
            <h4 class="page-title">Admin</h4>
          </div>
          <hr>
        </div>
      </div>
      <div class="icons-list">
        <div class="row">
          <div class="icons">
            <a [routerLink]="['/home/index']">
              <i class="fa fa-home"></i>
              <span>Dashboard</span>
            </a>
          </div>
          <div class="icons">
            <a [routerLink]="['/company/viewcompany']">
              <i class="fa fa-envelope-square"></i>
              <span>View Company</span>
            </a>
          </div>
          <div class="icons">
            <a [routerLink]="['/client/viewclientcompanies']">
              <i class="fa fa-user"></i>
              <span>View Client</span>
            </a>
          </div>
          <div class="icons">
            <a [routerLink]="['/user/viewduser']">
              <i class="fa fa-users"></i>
              <span>View Users</span>
            </a>
          </div>
          <div class="icons">
            <a [routerLink]="['/group/viewgroups']">
              <i class="fa fa-users"></i>
              <span>View Groups</span>
            </a>
          </div>
        </div>
        <div class="row">
          <!-- <div class="icons">
            <a [routerLink]="['/home/addinvoiceitems']">
              <i class="fas fa-file-invoice"></i>
              <span>Invoice Item</span>
            </a>
          </div> -->
          <div class="icons">
            <a [routerLink]="['/photoh/addphotoheader']">
              <i class="fas fa-sitemap"></i>
              <span>Photo Header Templates</span>
            </a>
          </div>
          <div class="icons">
            <a [routerLink]="['/customer/viewcustomer']">
              <i class="fas fa-tasks"></i>
              <span>View Customer</span>
            </a>
          </div>
          <div class="icons">
            <a [routerLink]="['/state/viewstate']">
              <i class="fas fa-list"></i>
              <span>View State</span>
            </a>
          </div>
          <div class="icons">
            <a [routerLink]="['/worktype/viewworktypecate']">
              <i class="fas fa-clipboard-list"></i>
              <span>Work Type</span>
            </a>
          </div>
          <div class="icons">
            <a [routerLink]="['/customphoto/labelview']">
              <i class="far fa-file-image"></i>
              <span>Custom Photo Label </span>
            </a>
          </div>
        </div>
        <div class="row">
            <div class="icons">
              <a [routerLink]="['/rush/viewrush']">
                <i class="fas fa-grip-horizontal"></i>
                <span>View Rush</span>
              </a>
            </div>
            <div class="icons">
                <a [routerLink]="['/category/viewmaincategory']">
                  <i class="fas fa-align-center"></i>
                  <span>View Categories</span>
                </a>
              </div>
              <div class="icons">
                  <a [routerLink]="['/home/workordersettings']">
                    <i class="fas fa-user-cog"></i>
                    <span>Work Order Settings</span>
                  </a>
                </div>
                <div class="icons">
                  <a [routerLink]="['/home/generalsettings']">
                    <i class="fa fa-cog"></i>
                   <span>General Settings</span>
                  </a>
                </div>
                <div class="icons">
                    <a [routerLink]="['/task/bidinvoiceitemviewtask']">
                      <i class="fas fa-tasks"></i>
                     <span>Add Task</span>
                    </a>
                  </div>
            <!--
            <div class="icons">
              <a href="#">
                <i class="fa fa-cog"></i>
                <span>General Settings</span>
              </a>
            </div>
            <div class="icons">
              <a [routerLink]="['/state/viewstate']">
                <i class="fas fa-list"></i>
                <span>View State</span>
              </a>
            </div>
            <div class="icons">
              <a [routerLink]="['/worktype/viewworktypecate']">
                <i class="fas fa-clipboard-list"></i>
                <span>Work Type</span>
              </a>
            </div> -->
          </div>
          <div class="row">
            <div class="icons">
              <a [routerLink]="['/loan/viewloantype']">
                <i class="fas fa-list-ol"></i>
                <span>Loan Type</span>
              </a>
            </div>
             <div class="icons">
                <a [routerLink]="['/damage/viewdamage']">
                  <i class="fas fa-house-damage"></i>
                  <span>View Damage</span>
                </a>
              </div>
              <div class="icons">
                  <a [routerLink]="['/uom/viewuom']">
                    <i class="fab fa-codepen"></i>
                    <span>UOM Settings</span>
                  </a>
                </div>
                <div class="icons">
                  <a [routerLink]="['/autoimport/viewautoimport']">
                    <i class="fas fa-list"></i>
                    <span>View Import WorkOrder</span>
                  </a>
                </div>
                <!--<div class="icons">
                  <a [routerLink]="['/home/generalsettings']">
                    <i class="fa fa-cog"></i>
                   <span>General Settings</span>
                  </a>
                </div>
                <div class="icons">
                    <a [routerLink]="['/home/bidinvoiceitemviewtask']">
                      <i class="fas fa-tasks"></i>
                     <span>Add Task</span>
                    </a>
                  </div>
         -->
          </div>
      </div>

    </div>
  </div>
</div>



