<div class="row">
  <div class="col-12">
    <div class="page-title-box">
      <div class="page-title-right">
        <ol class="breadcrumb m-0">
          <!-- <li class="breadcrumb-item"><a href="javascript: void(0);">User</a></li>
          <li class="breadcrumb-item active">Add New User</li> -->
        </ol>
      </div>
      <!-- <h4 class="page-title">View User </h4> -->
    </div>
  </div>
</div>

<div class="row">
  <div class="card">
    <div class="card-body">

      <div class="row">
            <h4 class="page-title" style="font-weight: bolder;padding-left: 12px">Users </h4>
            <hr>
            <button id="client_viewdetail_1" class="btn btn-primary" [routerLink]="['/group/viewgroups']">
            <i class="fas fa-plus-circle mr-1"></i>User Groups</button>
            <button id="client_viewdetail_1" class="btn btn-primary" [routerLink]="['/user/viewduser']" (click)="AddNewUser()" style="margin-left: 6px;">
            <i class="fas fa-plus-circle mr-1"></i> Create User</button>
            <button id="client_viewdetail_1" class="btn btn-primary" [routerLink]="['/home/workordersettings']" style="margin-left: 6px;">
              <i class="fas fa-arrow-alt-circle-left mr-1"></i> Back</button>
          <!-- <a [routerLink]="['/group/viewgroups']"  class="btn btn-primary waves-effect waves-light" title="click to add User groups"> <i
              class="fas fa-plus-circle mr-1"></i> User Groups</a>
          &nbsp;&nbsp;&nbsp;
          <a [routerLink]="['/user/viewduser']" (click)="AddNewUser()" class="btn btn-primary waves-effect waves-light" title="click to add new User"> <i
              class="fas fa-plus-circle mr-1" ></i> Create User</a>
              &nbsp;&nbsp;&nbsp;
              <a [routerLink]="['/home/workordersettings']" class="btn btn-primary waves-effect waves-light" title="click to back"> <i class="fas fa-arrow-alt-circle-left mr-1"></i> Back </a> -->

      </div>

      <hr>

      <form>
        <div class="row" style="color: black;background-color: #9b9b9b;">
          <div class="col-lg-12">

            <div class="form-row">

              <div class="form-group col-md-2">
                <label class="col-form-label" for="userName1">First Name </label>
                <input type="text" [(ngModel)]="ViewUserModelObj.User_FirstName"  
                [ngModelOptions]="{standalone: true}"  class="form-control form-control-sm" id="userName1"
                  placeholder="Enter User Name">
              </div>

              <div class="form-group col-md-2">
                <label class="col-form-label" for="LasClienttx"> Last Name </label>
                <input type="text"  id="LasClienttx" [(ngModel)]="ViewUserModelObj.User_LastName"  
                 [ngModelOptions]="{standalone: true}" class="form-control form-control-sm"
                  placeholder="Enter Last Name">
              </div>

              <div class="form-group col-md-2">
                <label class="col-form-label"  for="LaEmailstx">Company  </label>
                <input type="text"  id="LaEmailstx" [(ngModel)]="ViewUserModelObj.User_CompanyName"
                   [ngModelOptions]="{standalone: true}" class="form-control form-control-sm" placeholder="Enter Company">
              </div>

              <div class="form-group col-md-2">
                  <label class="col-form-label" for="LasClienttx"> Login Email </label>
                  <input type="text"  id="LasClienttx" [(ngModel)]="ViewUserModelObj.User_LoginName"  
                   [ngModelOptions]="{standalone: true}" class="form-control form-control-sm"
                    placeholder="Enter Email Id">
                </div>

              <div class="form-group col-md-2">
                <label class="col-form-label" for="LastxNdfdsumber">Group</label>
                <select id="LastxNdfdsumber" class="form-control form-control-sm"
                [(ngModel)]="AddUserModelObj.User_Group"[ngModelOptions]="{standalone: true}"
               >
                <option value='0'>select</option>
                <option [ngValue]="kb.Grp_pkeyID" *ngFor="let kb of GroupList">
                  {{kb.Grp_Name}}
                </option>
              </select>
              </div>
              <!-- <div class="form-group col-md-1">
                <label class="col-form-label" for="LastxAddress">Score</label>
                <input type="number"  id="LastxAddress" class="form-control form-control-sm"
                  placeholder="Enter Score">
              </div> -->
              <div class="form-group col-md-1">
                <label class="col-form-label" for="LastxCity"> Mobile </label>
                <input type="number"
                  style="width: 96px;" id="LastxCity" [(ngModel)]="ViewUserModelObj.User_CellNumber"
                   [ngModelOptions]="{standalone: true}"
                  class="form-control form-control-sm" placeholder="Enter Mobile No.">
              </div>
              <div class="form-group col-md-1">
                <label for="inputCityrfDate"  for="customCheck11dc" class="col-form-label">Active</label>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" [(ngModel)]="ViewUserModelObj.User_IsActive" 
                  [ngModelOptions]="{standalone: true}" class="custom-control-input" id="customCheck11dc">
                  <label class="custom-control-label" for="customCheck11dc"></label>
                </div>
              </div>

            </div>

          </div>
          <div class="col-lg-12">

            <div class="form-row">
              <div class="form-group col-md-1">
                <button id="client_viewdetail_1" class="btn btn-primary" (click)="FilterCall()"><i class="fas fa-filter mr-1"></i>Filter</button>
                <!-- <button type="button"  (click)="FilterCall()" class="btn btn-blue waves-effect waves-light"> <i
                    class="fas fa-filter mr-1"></i>Filter</button> -->
              </div>
              <div class="form-group col-md-1">
                <button id="client_viewdetail_1" class="btn btn-primary" (click)="ClearData()"><i class="fas fa-eraser mr-1"></i>Clear</button>
                <!-- <button type="button" (click)="ClearData()"  class="btn btn-secondary waves-effect"> <i
                    class="fas fa-eraser mr-1"></i>Clear</button> -->
              </div>
              <div class="form-group col-md-1">
                <button id="client_viewdetail_1" class="btn btn-primary" (click)="SaveFilterData()"><i class="fas fa-save mr-1"></i>Save</button>
                <!-- <button type="button" (click)="SaveFilterData()"  class="btn btn-primary waves-effect waves-light"> <i
                    class="fas fa-save mr-1"></i>Save</button> -->
              </div>
            </div>
          </div>
        </div>
      </form>

      <hr>



      <div class="row">
          <kendo-grid #gridUser [kendoGridBinding]="griddata" [pageSize]="15" [pageable]="true" [sortable]="true"
          [filterable]="false" [selectable]="true" [groupable]="false"

        >

          <kendo-grid-column field="User_FirstName" title="First Name" [headerStyle]="{'background-color': '#323232','color': '#fff','line-height': '1em'}" [width]="80"></kendo-grid-column>
          <kendo-grid-column field="User_LastName" title="Last Name" [headerStyle]="{'background-color': '#323232','color': '#fff','line-height': '1em'}" [width]="80"></kendo-grid-column>
          <kendo-grid-column field="User_CompanyName" title="Company" [headerStyle]="{'background-color': '#323232','color': '#fff','line-height': '1em'}" [width]="80"></kendo-grid-column>
          <kendo-grid-column field="User_Email" title="Email" [headerStyle]="{'background-color': '#323232','color': '#fff','line-height': '1em'}" [width]="80"></kendo-grid-column>
          <kendo-grid-column field="User_Group_Name" title="Group" [headerStyle]="{'background-color': '#323232','color': '#fff','line-height': '1em'}" [width]="80"></kendo-grid-column>
          <kendo-grid-column field="User_Misc_Contractor_Score" [headerStyle]="{'background-color': '#323232','color': '#fff','line-height': '1em'}" title="Score" [width]="80"></kendo-grid-column>
          <kendo-grid-column field="User_CellNumber" title="Mobile" [headerStyle]="{'background-color': '#323232','color': '#fff','line-height': '1em'}" [width]="80"></kendo-grid-column>
          <!-- <kendo-grid-column field="User_Active" title="Active" [headerStyle]="{'background-color': '#9b9b9b','color': '#000003','line-height': '1em'}" [width]="80"></kendo-grid-column> -->
          <kendo-grid-column title="Action" [headerStyle]="{'background-color': '#323232','color': '#fff','line-height': '1em'}" width="80">
          <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">

            <a class="edit" data-toggle="tooltip" (click)="showDetails($event, dataItem)" data-placement="top"
              title="View Record" [routerLink]="['/user/adduser']">
              <i class="fa fa-eye"></i>
            </a> &nbsp;&nbsp;
            <a class="edit" data-toggle="tooltip" (click)="deleteDetails($event, dataItem)" data-placement="top"
              title="Delete Record" style="cursor: pointer" >
              <i class="fa fa-trash"></i>
            </a>
          </ng-template>
        </kendo-grid-column>

        <ng-template kendoPagerTemplate let-totalPages="totalPages" let-currentPage="currentPage">
            <kendo-pager-prev-buttons></kendo-pager-prev-buttons>

            <kendo-pager-numeric-buttons [buttonCount]="10"></kendo-pager-numeric-buttons>
            <kendo-pager-next-buttons></kendo-pager-next-buttons>
            <kendo-pager-info></kendo-pager-info>
            <kendo-pager-page-sizes [pageSizes]="[15, 30, 50, 100]"></kendo-pager-page-sizes>
          </ng-template>
        </kendo-grid>

      </div>


    </div>
  </div>

</div>
