<ng-template #content let-modal>
    <div class="modal-header">
      Message
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">

      <div class="text-center">
        <!-- <i class="fe-check-circle"></i> -->
        <span>{{MessageFlag}}</span>
        <hr>
        <button type="button" class="btn btn-primary waves-effect waves-light"
          (click)="modal.close('Save click')">Ok</button>
      </div>
    </div>
  </ng-template>
<div class="container-fluid">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-12">
          <div class="page-title-box">
            <div class="page-title-right">
              <ol class="breadcrumb m-0">
                <!-- <li class="breadcrumb-item"><a href="javascript: void(0);">Add New User</a></li>
                    <li class="breadcrumb-item active">Add New User</li> -->
              </ol>
            </div>
            <h4 class="page-title" style="font-weight: bolder; line-height: 1.5; background-color: #9b9b9b; padding-left: 12px;">Add New Task</h4>
          </div>
          <!-- <hr> -->
        </div>
        <div class="col-6">
          <button id="client_viewdetail_1" class="btn btn-primary" (click)="open(contentCateFORM)">
            <i class="fas fa-plus-circle"></i>  Add Task Group
          </button>
            <!-- <button class="btn btn-primary waves-effect waves-light" (click)="open(contentCateFORM)"
            title="click to add Task Group"> <i class="fas fa-plus-circle"></i>  Add Task Group</button> -->
          </div>
        <div class="col-6"></div>
      </div>
      <br>
      <form [formGroup]="formUsrCommonGroup" (ngSubmit)="FormButton(content)">
        <div class="row" *ngIf="WKDivFlag">

          <div class="col-lg-6">
            <div class="card-box bg-pattern border border-dark" style="background-color: #f7f7f7;">
              <div class="form-row">
                <div class="form-group col-md-12 text-center" style="color: black;background-color: #9b9b9b;">
                  <h5 style="color: black;">Create Task </h5>
                </div>
              </div>
              <div class="form-row">

                <div class="form-group col-md-5">
                  <label class="col-form-label" for="userNfuuiame1">Task Name <span style="color: red">*</span></label>
                </div>
                <div class="form-group col-md-7">
                  <input type="text" [(ngModel)]="BidInvoiceItemModelObj.Task_Name" formControlName="TaskName"  (focusout)="onBlurUserName()"
                  [ngClass]="{ 'is-invalid': submitted && fx.TaskName.errors }" class="form-control form-control-sm"
                  id="userNfuuiame1" placeholder="Enter Task Name">
                <div *ngIf="submitted && fx.TaskName.errors" class="invalid-feedback">
                  <div *ngIf="fx.TaskName.errors.required">this field is required</div>
                </div>
                </div>
              </div>
              <div class="form-row">

                <div class="form-group col-md-5">
                  <label class="col-form-label" for="userName1">Task Type </label>
                </div>
                <div class="form-group col-md-7">
                  <select  class="form-control form-control-sm"
                  [(ngModel)]="BidInvoiceItemModelObj.Task_Type" [ngModelOptions]="{standalone: true}">
                  <option value='0'>select</option>
                  <option [ngValue]="kb.Id" *ngFor="let kb of TaskTypeList">
                    {{kb.Name}}
                  </option>
                </select>
                </div>
              </div>

              <div class="form-row">

                <div class="form-group col-md-5">
                  <label class="col-form-label" for="userName1">Task Group </label>
                </div>
                <div class="form-group col-md-7">
                    <select  class="form-control form-control-sm"
                    [(ngModel)]="BidInvoiceItemModelObj.Task_Group" [ngModelOptions]="{standalone: true}">
                    <option value='0'>select</option>
                    <option [ngValue]="kb.Task_Group_pkeyID" *ngFor="let kb of TaskGroupList">
                      {{kb.Task_Group_Name}}
                    </option>
                  </select>
                </div>
              </div>

              <div class="form-row">

                <div class="form-group col-md-5">
                  <label class="col-form-label" for="userName1">Unit Of Measure </label>
                </div>
                <div class="form-group col-md-7">
                    <select  class="form-control form-control-sm"
                    [(ngModel)]="BidInvoiceItemModelObj.Task_UOM" [ngModelOptions]="{standalone: true}">
                    <option value='0'>select</option>
                    <option [ngValue]="kb.UOM_pkeyId" *ngFor="let kb of TaskUOMList">
                      {{kb.UOM_Name}}
                    </option>
                  </select>
                </div>
              </div>





              <div class="form-row">

                <div class="form-group col-md-5">
                  <label class="col-form-label" for="fsdfsdfds">Default Contractor Unit Price <span style="color: red">*</span></label>
                </div>
                <div class="form-group col-md-7">
                    <input type="text" [(ngModel)]="BidInvoiceItemModelObj.Task_Contractor_UnitPrice" formControlName="ContractorUnitVal"
                    [ngClass]="{ 'is-invalid': submitted && fx.ContractorUnitVal.errors }" class="form-control form-control-sm" numbersOnly
                    id="fsdfsdfds" placeholder="Enter Unit Price">
                  <div *ngIf="submitted && fx.ContractorUnitVal.errors" class="invalid-feedback">
                    <div *ngIf="fx.ContractorUnitVal.errors.required">this field is required</div>
                  </div>
                  </div>
              </div>
              <div class="form-row">

                <div class="form-group col-md-5">
                  <label class="col-form-label" for="trdf4">Default Client Unit Price <span style="color: red">*</span></label>
                </div>
                <div class="form-group col-md-7">
                    <input type="text" [(ngModel)]="BidInvoiceItemModelObj.Task_Client_UnitPrice" formControlName="ClientUnitVal"
                    [ngClass]="{ 'is-invalid': submitted && fx.ClientUnitVal.errors }" class="form-control form-control-sm" numbersOnly
                    id="fsdfsdfds" placeholder="Enter Unit Price">
                  <div *ngIf="submitted && fx.ClientUnitVal.errors" class="invalid-feedback">
                    <div *ngIf="fx.ClientUnitVal.errors.required">this field is required</div>
                  </div>
                  </div>
              </div>

              <div class="form-row">

                  <div class="form-group col-md-5">
                    <label class="col-form-label" for="trdsdthf4">Task Photo Label Name</label>
                  </div>
                  <div class="form-group col-md-7">
                    <input type="text" id="trdsdthf4" [(ngModel)]="BidInvoiceItemModelObj.Task_Photo_Label_Name" [ngModelOptions]="{standalone: true}"
                     class="form-control form-control-sm" placeholder="Enter Label Name">
                  </div>
                </div>

                <div class="form-row">

                    <div class="form-group col-md-5">
                      <label class="col-form-label" for="customCheckdsfds11c">Auto Invoice Complete </label>
                    </div>
                    <div class="form-group col-md-7">

                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" [(ngModel)]="BidInvoiceItemModelObj.Task_AutoInvoiceComplete" [ngModelOptions]="{standalone: true}" id="customCheckdsfds11c">
                        <label class="custom-control-label" for="customCheckdsfds11c"></label>
                      </div>

                    </div>
                  </div>


              <div class="form-row">

                <div class="form-group col-md-5">
                  <label class="col-form-label" for="customCheck11c">Active <span style="color: red">*</span></label>
                </div>
                <div class="form-group col-md-7">

                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" [(ngModel)]="BidInvoiceItemModelObj.Task_IsActive" [ngModelOptions]="{standalone: true}" id="customCheck11c">
                    <label class="custom-control-label" for="customCheck11c"></label>
                  </div>

                </div>
              </div>



              <div class="form-row">
                  <div class="float-right">
                    <!-- <label  *ngIf="formUsrCommonGroup.invalid" style="color:red">*
                      fields is required
                    </label> <br> -->
                    <button id="client_viewdetail_1" class="btn btn-primary" *ngIf="IsEditDisable" [routerLink]="['/task/bidinvoiceitem']" (click)="EditForms()">
                      <i class="far fa-edit mr-1"></i> Edit</button>
                    <button id="client_viewdetail_1" class="btn btn-primary" type="submit" *ngIf="!IsEditDisable" [disabled]="isLoading">
                      <i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-save': !isLoading}"></i>
                      {{button}}
                    </button>
                    <button id="client_viewdetail_1" class="btn btn-primary" [routerLink]="['/task/bidinvoiceitemviewtask']" style="margin-left: 6px;">
                    <i class="fas fa-arrow-alt-circle-left mr-1"></i> Back</button>
                    <!-- <a *ngIf="IsEditDisable" [routerLink]="['/task/bidinvoiceitem']" (click)="EditForms()"
                      class="btn btn-primary waves-effect waves-light"> <i class="far fa-edit mr-1"></i> Edit </a>
                    &nbsp;&nbsp;&nbsp;
                    <button type="submit" *ngIf="!IsEditDisable" class="btn btn-primary waves-effect waves-light"
                      [disabled]="isLoading">
                      <i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-save': !isLoading}"></i>
                      {{button}}</button> &nbsp; &nbsp;

                    <a [routerLink]="['/task/bidinvoiceitemviewtask']" class="btn btn-primary"><i
                        class="fas fa-arrow-alt-circle-left mr-1"></i> Back</a> -->
                  </div>
                </div>





            </div>
          </div>



          <div class="col-lg-6">



          </div>
        </div>
      </form>

    </div>
  </div>
</div>


<ng-template #contentCateFORM let-modal>
    <div class="modal-header">
      <!-- <h4 class="modal-title" id="modal-basic-title">Work Type Groups
      </h4> -->
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

      <div class="modal-body">

          <div class="card-box bg-pattern border border-dark" style="background-color: #f7f7f7;">

              <form (ngSubmit)="FormButtonPOPUp(content)">


                <div class="form-row">
                  <div class="form-group col-md-12 text-center" style="color: black;background-color: #9b9b9b;">
                    <h5>Manage Task Groups</h5>
                  </div>
                  <br>

                </div>

                <div class="form-group" *ngFor="let item of popformArray; index as i">
                    <label for="dateOfBirth">{{i +1}}) Add Task Groups</label>
                    <div class="input-group">
                      <input type="text" class="form-control form-control-sm" [(ngModel)]="item.Task_Group_Name" placeholder="Enter Task Name.."
                        [ngModelOptions]="{standalone: true}">
                      <div class="input-group-append">
                        <button class="btn btn-danger btn-xs waves-effect waves-light" (click)="RemovePOPdata(i,item)" type="button"><i
                            class="fas fa-minus-circle"></i>
                          Remove</button>
                      </div>
                    </div>

                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-4">

                    </div>
                    <div class="form-group col-md-4">

                    </div>
                    <div class="form-group col-md-4">
                        <button type="button" class="btn btn-outline-primary waves-effect waves-light form-control btn-xs"
                        (click)="AddMoreRowCatepop()" title="click to add Task"> <i class="fas fa-plus-circle"></i> Add
                        More</button>

                    </div>
                  </div>
                  <div class="form-row"></div>
                  <div class="form-row"></div>

                  <div class="form-row">
                      <button type="submit" class="btn btn-primary waves-effect waves-light"> <i class="far fa-save"></i> Save</button>
                  </div>



              </form>



            </div>


      </div>
      <!-- <div class="modal-footer">

        <button type="submit" class="btn btn-primary waves-effect waves-light"> <i class="far fa-save"></i> Save</button>
      </div> -->

  </ng-template>
