<ng-template #content let-modal>
    <div class="modal-header">
      Message
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.close('Save click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
  
      <div class="text-center">
  
        <span>{{MessageFlag}}</span>
        <hr>
        <button id="client_viewdetail_1" class="btn btn-primary" (click)="modal.close('Save click')">Close</button>
        <!-- <button type="button" class="btn btn-primary waves-effect waves-light"
          (click)="modal.close('Save click')">Close..</button> -->
      </div>
    </div>
  </ng-template>
  
  <div class="container-fluid">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <div class="page-title-box">
              <div class="page-title-right">
                <ol class="breadcrumb m-0">
               
                </ol>
              </div>
              <h4 class="page-title" style="padding-left: 12px; line-height: 1.5; font-weight: bolder; background-color: #9b9b9b;">Auto Import Work Order</h4>
            </div>
            <!-- <hr> -->
          </div>
        </div>
        <form [formGroup]="formUsrCommonGroup" (ngSubmit)="FormButton(content)">
          <div class="row">
  
            <div class="col-lg-6">
              <div class="card-box bg-pattern border border-dark" style="background-color: #f7f7f7;">
                <div class="form-row">
                  <div class="form-group col-md-12 text-center" style="color: black;background-color: #9b9b9b;">
                    <h5> 
                        General Information</h5>
                  </div>
                </div>
                <div class="form-row">
  
                  <div class="form-group col-md-4">
                    <label class="col-form-label" for="userNfuuiame1">Import From <span style="color: red">*</span></label>
                  </div>
                  <div class="form-group col-md-8">
                    <select class="form-control form-control-sm" required
                    [(ngModel)]="AutoImportWorkorderModelObj.WI_ImportFrom"
                    formControlName="Importval" id="userNfuuiame1"
                    [ngClass]="{'is-invalid': fx.Importval.touched && fx.Importval.errors }"
                    (change)="Import_form_Method();"
                    >
                    <option value='0'>select</option>
                    <option [ngValue]="kb.Import_Form_PkeyId" *ngFor="let kb of ImportFormdrd">
                      {{kb.Import_Form_Name}}
                    </option>
                  </select>
                  <div *ngIf="importvalFlag" class="Mydropdown">this field is required</div>
  
                  </div>


                  
                </div>
                <div class="form-row">
  
                    <div class="form-group col-md-4">
                      <label class="col-form-label" for="userNfuuiame2">Set Client <span style="color: red">*</span></label>
                    </div>
                    <div class="form-group col-md-8">
                        <select class="form-control form-control-sm"
                        [(ngModel)]="AutoImportWorkorderModelObj.WI_SetClientCompany"
                        formControlName="clientcompanyval"
                        [ngClass]="{'is-invalid': fx.clientcompanyval.touched && fx.clientcompanyval.errors }"
                        (change)="clientcompany_Method();"
                        >
                        <option value='0'>select</option>
                        <option [ngValue]="kb.Client_pkeyID" *ngFor="let kb of SetClientCompany">
                          {{kb.Client_Company_Name}}
                        </option>
                      </select>
                      <div *ngIf="importvalFlag" class="Mydropdown">this field is required</div>
  
                    </div>
    
                    </div>

                
                  <div class="form-row">
  
                    <div class="form-group col-md-4">
                      <label class="col-form-label" for="userNfuuiame3">Login Name <span style="color: red">*</span></label>
                    </div>
                    <div class="form-group col-md-8">
                    <input type="email" class="form-control"
                    [(ngModel)]="AutoImportWorkorderModelObj.WI_LoginName"
                    formControlName="LoginName"
                    [ngClass]="{ 'is-invalid': submitted && fx.LoginName.errors }"
                    >
                    <div *ngIf="submitted && fx.LoginName.errors" class="invalid-feedback">
                      <div *ngIf="fx.LoginName.errors.required">this field is required</div>
                    </div>
                    </div>
                  </div>
                  <div class="form-row">
  
                    <div class="form-group col-md-4">
                      <label class="col-form-label" for="userNfuuiame4">Password <span style="color: red">*</span></label>
                    </div>
                    <div class="form-group col-md-8">
                    <input type="password" class="form-control"
                    [(ngModel)]="AutoImportWorkorderModelObj.WI_Password"
                    formControlName="Password"
                    [ngClass]="{ 'is-invalid': submitted && fx.Password.errors }"
                    >
                    <div *ngIf="submitted && fx.Password.errors" class="invalid-feedback">
                      <div *ngIf="fx.Password.errors.required">this field is required</div>
                    </div>

                    </div>
                  </div>
                  <div class="form-row">
  
                    <div class="form-group col-md-4">
                      <label class="col-form-label" for="userNfuuiame5">Alert Email </label>
                    </div>
                    <div class="form-group col-md-8">
                    <input type="email" class="form-control"
                    [(ngModel)]="AutoImportWorkorderModelObj.WI_AlertEmail"
                    formControlName="alertemail"
                    >
                    </div>
                  </div>
                  <div class="form-row">
  
                    <div class="form-group col-md-4">
                      <label class="col-form-label" for="userNfuuiame6">Import Name <span style="color: red">*</span> </label>
                    </div>
                    <div class="form-group col-md-8">
                    <input type="text" class="form-control"
                    [(ngModel)]="AutoImportWorkorderModelObj.WI_FriendlyName"
                    formControlName="friendlyname"[ngClass]="{ 'is-invalid': submitted && fx.friendlyname.errors }"
                    >
                    <div *ngIf="submitted && fx.friendlyname.errors" class="invalid-feedback">
                      <div *ngIf="fx.friendlyname.errors.required">this field is required</div>
                    </div>
                    </div>
                  </div>
                  <div class="form-row">
  
                    <div class="form-group col-md-4">
                      <label class="col-form-label" for="userNfuuiame7">Skip Comments </label>
                    </div>
                    <div class="form-group col-md-8">
                        <select class="form-control form-control-sm"
                        [(ngModel)]="AutoImportWorkorderModelObj.WI_SkipComments"
                        formControlName="skipcomments">
                        <option value='0'>select</option>
                        <option [ngValue]="kb.id" *ngFor="let kb of SkipComment">
                          {{kb.name}}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="form-row">
  
                    <div class="form-group col-md-4">
                      <label class="col-form-label" for="userNfuuiame8">Skip Line Items </label>
                    </div>
                    <div class="form-group col-md-8">
                        <select class="form-control form-control-sm"
                        [(ngModel)]="AutoImportWorkorderModelObj.WI_SkipLineItems"
                        formControlName="skipline">
                        <option value='0'>select</option>
                        <option [ngValue]="kb.id" *ngFor="let kb of SkipLineItems">
                          {{kb.name}}
                        </option>
                      </select>
    
                    </div>
                  </div>
                  <div class="form-row">
  
                    <div class="form-group col-md-4">
                      <label class="col-form-label" for="userNfuuiame9">Set Category <span style="color: red">*</span></label>
                    </div>
                    <div class="form-group col-md-8">
                        <select class="form-control form-control-sm"
                        [(ngModel)]="AutoImportWorkorderModelObj.WI_SetCategory"
                        formControlName="setcategory" 
                        [ngClass]="{'is-invalid': fx.setcategory.touched && fx.setcategory.errors }" 
                         (change)="clientcategory_Method();">
                        <option value='0'>select</option>
                        <option [ngValue]="kb.Cat_ID" *ngFor="let kb of SetCategory">
                          {{kb.Cat_Name}}
                        </option>
                      </select>
                      <div *ngIf="importvalFlag" class="Mydropdown">this field is required</div>
  
                    </div>
                  </div>
                 
                  <div class="form-row">
  
                    <div class="form-group col-md-4">
                      <label class="col-form-label" for="userNfuuiame10">State Filter</label>
                    </div>
                    <div class="form-group col-md-8">
                        <select class="form-control form-control-sm"
                        [(ngModel)]="AutoImportWorkorderModelObj.WI_StateFilter"
                        formControlName="statefilter">
                        <option value='0'>select</option>
                        <option [ngValue]="kb.id" *ngFor="let kb of StateFilter">
                          {{kb.name}}
                        </option>
                      </select>
    
                    </div>
                  </div>
                  <div class="form-row">
  
                    <div class="form-group col-md-4">
                      <label class="col-form-label" for="userNfuuiame11">Discount % for this Import</label>
                    </div>
                    <div class="form-group col-md-8">
                    <input type="text" class="form-control"
                    [(ngModel)]="AutoImportWorkorderModelObj.WI_Discount_Import"
                    formControlName="thisimport"
                    >
                    </div>
                  </div>
               
              
               
               
                <div class="form-row">
  
                  <div class="form-group col-md-4">
                    <label class="col-form-label" for="hgfhgfhgfhgf">Active <span style="color: red">*</span> </label>
                  </div>
                  <div class="form-group col-md-8">
  
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="autoimport"
                      [(ngModel)]="AutoImportWorkorderModelObj.WI_IsActive"
                      formControlName="activeatou"
                       >
                      <label class="custom-control-label" for="autoimport"></label>
                    </div>
  
                  </div>
                </div>
                
                <div class="form-row">
                  <div class="float-right">
                    <label *ngIf="formUsrCommonGroup.invalid" style="color:red">*
                      fields is required
                    </label> <br>
                    <button id="client_viewdetail_1" class="btn btn-primary" *ngIf="IsEditDisable" [routerLink]="['/autoimport/autoimportwo']" (click)="EditForms()"  style="margin-right: 6px;">
                      <i class="far fa-edit mr-1"></i> Edit</button>
                    <!-- <a *ngIf="IsEditDisable" [routerLink]="['/autoimport/autoimportwo']" (click)="EditForms()"
                      class="btn btn-primary waves-effect waves-light"> <i class="far fa-edit mr-1"></i> Edit </a> -->
                    <!-- &nbsp;&nbsp;&nbsp; -->
                    <button id="client_viewdetail_1" class="btn btn-primary" type="submit" *ngIf="!IsEditDisable" [disabled]="isLoading"  style="margin-right: 6px;">
                      <i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-save': !isLoading}"></i>
                      {{button}}</button>
                    <!-- <button type="submit" *ngIf="!IsEditDisable" class="btn btn-primary waves-effect waves-light"
                      [disabled]="isLoading">
                      <i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-save': !isLoading}"></i>
                      {{button}}</button> &nbsp; &nbsp; -->
                      
                      <button id="client_viewdetail_1" class="btn btn-primary" [routerLink]="['/autoimport/viewautoimport']">
                        <i class="fas fa-arrow-alt-circle-left mr-1"></i> Back
                      </button>
                    <!-- <a [routerLink]="['/autoimport/viewautoimport']" class="btn btn-primary"><i
                        class="fas fa-arrow-alt-circle-left mr-1"></i> Back</a> -->
                  </div>
                </div>
  

<!-- <p>{{AutoImportWorkorderModelObj | json}}</p> -->




  
               
  
  
              </div>
            </div>
  
            <div class="col-lg-6">
  
  
  
            </div>
          </div>
        </form>
  
      </div>
    </div>
  </div>