
<!-- Start Content-->
<div class="container-fluid">

    <!-- start page title -->
    <div class="col-12">

        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">WorkOrder</a></li>
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Import Queue</a></li>
                    <!-- <li class="breadcrumb-item active">Starter</li> -->
                </ol>
            </div>

            <h4 class="page-title">Import Queue WorkOrder </h4>
        </div>
    </div>
   
    <div class="card">
        <div class="card-body">
          <div>
              <form id="login-form">


              </form>

          </div>




           
          
            <!-- end page title -->
        </div>
    </div>
</div> <!-- container -->

