<ng-template #content let-modal>
  <div class="modal-header">
    Message
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">Ã—</span>
    </button>
  </div>
  <div class="modal-body">

    <div class="text-center">

      <span>{{MessageFlag}}</span>
      <hr>
      <button type="button" class="btn btn-primary waves-effect waves-light"
        (click)="modal.close('Save click')">Continue...</button>
    </div>
  </div>
</ng-template>
<!-- *ngIf="DivHIDE" -->
<div class="row">
  <div class="col-12">
    <div class="card-box">

      <!-- start here menu Common -->


      <app-header-client-result></app-header-client-result>




      <!--start constant view-->


       <!-- photos and meta data -->


       <app-photosMeta-client-result></app-photosMeta-client-result>


       <!-- End photos and meta data -->




      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab" ><!--[hidden]='OfficeResulth'-->


          <br>
          <div [hidden]='tabhide'>
          <h4  [hidden]='HeaderCoditional' style="line-height: 1.5;background-color: #9b9b9b; margin: 0px 0; padding-left: 12px;">PCR Form</h4>
          <div class="row workorder-details" [hidden]='HeaderCoditional'>
            <!-- <div>PCR Form</div> -->
            <button id="client_viewdetail_1" class="btn btn-primary" (click)="pcrform()"><i class="fas fa-plus-circle mr-1"></i>PCR Form</button>
            <button id="client_viewdetail_1" class="btn btn-primary" (click)="pcrjson()" style="margin-left: 12px;"><i class="fas fa-plus-circle mr-1"></i>View PCR Form</button>
            <!-- <a  (click)="pcrform()" style="color: white;"  class="btn btn-primary waves-effect waves-light"
          title="click to add new PCR FORMS"> <i class="fas fa-plus-circle mr-1"></i> PCR Form </a> -->

          <!-- <a  (click)="pcrjson()" style="color: white; margin-left: 12px;" class="btn btn-primary waves-effect waves-light"
          title="click to add new PCR FORMS"> <i class="fas fa-plus-circle mr-1"></i> View PCR Form </a> -->
          </div>
        </div>
          <br>
          <h4 style="line-height: 1.5;background-color: #9b9b9b; margin: 0px 0; padding-left: 12px;">Bid/Invoice</h4>



          <app-bid-client-result #child [values]="ClientResultBidArray">
           
          </app-bid-client-result>


          <div>
            <br />
            <!--Start history-->
            <h4 style="line-height: 1.5 ;background-color: #9b9b9b; margin:0px 0; padding-left:12px;">Property History</h4>
           
            <div>
              <ul class="nav nav-tabs" id="myinvpro" role="tablist" style="background-color: #bdbbb3;color: white;">
                <li class="nav-item">
                  <a class="nav-link {{class1}}" (click)="pasthistoryopen()" id="invtpast-tab" data-toggle="tab" href="#invtpast" role="tab"
                    aria-controls="invtpast" aria-selected="true">Past WO's</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link {{class2}}" (click)="bidhistoryopen()" id="invbidhistory-tab" data-toggle="tab" href="#invbidhistory" role="tab"
                    aria-controls="invbidhistory" aria-selected="true">Bid History</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link {{class3}}" (click)="invhistoryopen()" id="invinvoicehistory-tab" data-toggle="tab" href="#invinvoicehistory" role="tab"
                    aria-controls="invinvoicehistory" aria-selected="true">Completion History</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link {{class4}}" (click)="damagehistoryopen()" id="invdamagehistory-tab" data-toggle="tab" href="#invdamagehistory" role="tab"
                    aria-controls="invdamagehistory" aria-selected="true">Damage History</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link {{class5}}" (click)="applhistoryopen()" id="invappliance-tab" data-toggle="tab" href="#invappliance" role="tab"
                    aria-controls="invappliance" aria-selected="true">Appliance
                    History</a>
                </li>
                <!-- <li class="nav-item">
                  <a class="nav-link" id="invpast-tab" data-toggle="tab" href="#invpast" role="tab"
                    aria-controls="invpast" aria-selected="true">Past WO's</a>
                </li> -->

              </ul>
              <div class="tab-content" id="myinvproContent">
                <div class= "tab-pane fade show {{class1}}" id="invtpast" role="tabpanel"
                aria-labelledby="invtpast-tab">
                <div class="row">
                  <kendo-grid #gridUser style="width: 1275px; margin-left:10px;" [kendoGridBinding]="pasthistory" [pageSize]="15" [pageable]="true" [sortable]="true"
                    [filterable]="true" [selectable]="true" [groupable]="false" [reorderable]="true">
                  
                    <kendo-grid-column  title="Action" width="100" [headerStyle]="{'background-color': '#323232','color': '#fff','line-height': '1em'}">
                   
                      <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                        <!-- [routerLink]="['/workorder/view']" -->
                        <a class="edit"   (click)="FilterPastHistory($event,dataItem)" data-placement="top"
                          title="view Records">
                          <i class="fa fa-eye"></i> &nbsp; &nbsp;   View 
                        </a>
                      </ng-template>
                    </kendo-grid-column>
    
                    <kendo-grid-column  width="120" field="status" title="Status" [headerStyle]="{'background-color': '#323232','color': '#fff','line-height': '1em'}"></kendo-grid-column>
                    <kendo-grid-column  width="120" field="IPLNO" title="IPL NO" [headerStyle]="{'background-color': '#323232','color': '#fff','line-height': '1em'}"></kendo-grid-column>
                    <kendo-grid-column  width="180" field="workOrderNumber" title="Work Order"  [headerStyle]="{'background-color': '#323232','color': '#fff','line-height': '1em'}"></kendo-grid-column>
                    <kendo-grid-column width="180" field="dueDate" title="Due Date" [headerStyle]="{'background-color': '#323232','color': '#fff','line-height': '1em'}"></kendo-grid-column>
                    <kendo-grid-column  width="180" field="address1" title="Address"  [headerStyle]="{'background-color': '#323232','color': '#fff','line-height': '1em'}"></kendo-grid-column>
                    <kendo-grid-column  width="180" field="city" title="City"  [headerStyle]="{'background-color': '#323232','color': '#fff','line-height': '1em'}"></kendo-grid-column>
                    <kendo-grid-column  width="180" field="state" title="state"  [headerStyle]="{'background-color': '#323232','color': '#fff','line-height': '1em'}"></kendo-grid-column>
                    <kendo-grid-column  width="180" field="zip" title="zip"  [headerStyle]="{'background-color': '#323232','color': '#fff','line-height': '1em'}"></kendo-grid-column>
    
    
                    <ng-template kendoPagerTemplate let-totalPages="totalPages" let-currentPage="currentPage">
                      
                      <kendo-pager-prev-buttons></kendo-pager-prev-buttons>
    
                      <kendo-pager-numeric-buttons [buttonCount]="10"></kendo-pager-numeric-buttons>
                      <kendo-pager-next-buttons></kendo-pager-next-buttons>
                      <kendo-pager-info></kendo-pager-info>
                      <kendo-pager-page-sizes [pageSizes]="[15, 30, 50, 100]"></kendo-pager-page-sizes>
    
                    </ng-template>
    
                  </kendo-grid>
                </div>
                </div>
                <div class= "tab-pane fade show {{class2}}"  id="invbidhistory" role="tabpanel"
                  aria-labelledby="invbidhistory-tab">
                  <div class="row workorder-details">
                    <div class="col-12">
                      <div class="responsive-table-plugin">
                        <div class="table-rep-plugin">
                          <div class="table-responsive" data-pattern="priority-columns">
                            <!-- <button id="client_viewdetail_1" (click)="child.getdata(chkarr)"  class="btn btn-primary">Copy</button> -->
                            <table id="tech-companies-1" class="table table-striped">
                              <thead>
                                <tr>


                                  <th colspan="3"></th>
                                  <th colspan="2" style="text-align: center;background-color:#b6babf;"[hidden] ='processorh'>
                                    Contractor</th>
                                  <th colspan="2" style="text-align: center;background-color: #dcdcdc;"[hidden] ='OfficeResulth'>
                                    Client
                                  </th>
                                  <th colspan="2"></th>


                                </tr>
                                <tr >
                                  <th style="width: 75px;"></th>
                                  <th style="background-color: #eae7e7;">Task</th>
                                  <th style="background-color: #eae7e7;">Qty</th>
                                  <th style="background-color:#b6babf;"[hidden] ='processorh'>Price</th>
                                  <th style="background-color:#b6babf;"[hidden] ='processorh'>Total</th>
                                  <th style="background-color:#dcdcdc;"[hidden] ='OfficeResulth'>Price</th>
                                  <th style="background-color:#dcdcdc;"[hidden] ='OfficeResulth'>Total</th>
                                  <th colspan="2" style="background-color: #eae7e7;">Comments</th>

                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor = "let item of taskbid; let i=index">
                                <td><input type="checkbox"[(ngModel)]="item.chkflag" (change)="bidchkcheck(item,i)">&nbsp;
                                  <a href="javascript:void(0)" (click)="child.getdata(chkarr)">B</a>&nbsp;
                                  <a href="javascript:void(0)" (click)="child.CompletionData(chkarr)">C</a>&nbsp;
                                  <a href="javascript:void(0)" (click)="child.getdata(chkarr)">T</a>
                                </td>
                                  <td>{{item.Task_Name}}</td>
                                  <td>{{item.Task_Bid_Qty}}</td>
                                  <td style="background-color:#b6babf;"[hidden] ='processorh'>{{item.Task_Bid_Cont_Price}}</td>
                                  <td style="background-color:#b6babf;"[hidden] ='processorh'>{{item.Task_Bid_Cont_Total}}</td>
                                  <td style="background-color:#dcdcdc;"[hidden] ='OfficeResulth'>{{item.Task_Bid_Clnt_Price}}</td>
                                  <td style="background-color:#dcdcdc;"[hidden] ='OfficeResulth'>{{item.Task_Bid_Clnt_Total}}</td>
                                  <td colspan="2">
                                    {{item.Task_Bid_Comments}}
                                  </td>

                                </tr>
                                <tr *ngIf="taskbid == 0">
                                  <div><h4>Record Not Found</h4></div>
                                </tr>

                              </tbody>
                            </table>

                          </div> <!-- end .table-responsive -->

                        </div> <!-- end .table-rep-plugin-->
                      </div>
                    </div>

                  </div>
                </div>
                <div class="tab-pane fade show {{class3}}" id="invinvoicehistory" role="tabpanel"
                  aria-labelledby="invinvoicehistory-tab">
                  <div class="row workorder-details">
                    <div class="col-12">
                      <div class="responsive-table-plugin">
                        <div class="table-rep-plugin">
                          <div class="table-responsive" data-pattern="priority-columns">
                            <table id="tech-companies-1" class="table table-striped">
                              <thead>
                                <tr>


                                
                                  <th colspan="3"></th>
                                  <th colspan="2" style="text-align: center;background-color:#b6babf;"[hidden] ='processorh'>
                                    Contractor</th>
                                  <th colspan="2" style="text-align: center;background-color: #dcdcdc;"[hidden] ='OfficeResulth'>
                                    Client</th>
                                  <th colspan="3"></th>
                                </tr>
                                <tr>
                                  <th style="width: 76px;"></th>
                                  <th style="background-color: #eae7e7; width: 131px;">
                                    Item</th>
                                  <th style="background-color: #eae7e7;">Qty</th>
                                  <th style="background-color: #b6babf;"[hidden] ='processorh'>Price</th>
                                  <th style="background-color: #b6babf;"[hidden] ='processorh'>Total</th>
                                  <!-- <th style="background-color: #b6babf;">Adj Price
                                  </th>
                                  <th style="background-color: #b6babf;"> Total</th> -->
                                  <th style="background-color: #dcdcdc;"[hidden] ='OfficeResulth'>Price</th>
                                  <th style="background-color: #dcdcdc;"[hidden] ='OfficeResulth'>Total</th>
                                  <!-- <th style="background-color: #dcdcdc;">Adj Price
                                  </th>
                                  <th style="background-color: #dcdcdc;"> Total</th> -->
                                  <th style="background-color: #eae7e7;"> Date</th>
                                  <!-- <th style="background-color: #eae7e7;"> IPL #</th> -->

                                  <th colspan="2" style="background-color: #eae7e7;">
                                    Comments</th>


                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor = "let item of taskcompletion">
                                <td><input type="checkbox"[(ngModel)]="item.chkflag" (change)="compchkcheck(item,i)">&nbsp;
                                  <a href="javascript:void(0)" (click)="child.getdata(chkarr)">B</a>&nbsp;
                                  <a href="javascript:void(0)" (click)="child.CompletionData(completion)">C</a>&nbsp;
                                  <a href="javascript:void(0)" (click)="child.getdata(chkarr)">T</a></td>
                                  <td>{{item.Task_Name}} </td>
                                  <td>{{item.Task_Inv_Qty}}</td>
                                  <td style="background-color: #b6babf;"[hidden] ='processorh'>{{item.Task_Inv_Cont_Price}}</td>
                                  <td style="background-color: #b6babf;"[hidden] ='processorh'>{{item.Task_Inv_Cont_Total}}</td>
                                  <!-- <td style="background-color: #b6babf;"></td>
                                  <td style="background-color: #b6babf;"></td> -->
                                  <td style="background-color: #dcdcdc;"[hidden] ='OfficeResulth'>{{item.Task_Inv_Clnt_Price}}</td>
                                  <td style="background-color: #dcdcdc;"[hidden] ='OfficeResulth'>{{item.Task_Inv_Clnt_Total}}</td>
                                  <!-- <td style="background-color: #dcdcdc;"></td>
                                  <td style="background-color: #dcdcdc;"></td> -->
                                  <td>{{item.INVDate | date:"MM/dd/yy" }} </td>
                                  <!-- <td></td> -->
                                  <td colspan="2">{{item.Task_Inv_Comments}}</td>
                                </tr>

                              </tbody>
                            </table>

                          </div> <!-- end .table-responsive -->

                        </div> <!-- end .table-rep-plugin-->
                      </div>

                    </div>

                  </div>
                </div>
                <div class="tab-pane fade show {{class4}}" id="invdamagehistory" role="tabpanel" aria-labelledby="invdamagehistory-tab">
                  <div class="row workorder-details">
                    <div class="col-12">
                      <div class="responsive-table-plugin">
                        <div class="table-rep-plugin">
                          <div class="table-responsive" data-pattern="priority-columns">
                            <table id="tech-companies-1" class="table table-striped">
                              <thead>
                                <tr>
                                  <th style="background-color: #eae7e7; width: 131px;">
                                    Type</th>
                                  <th style="background-color: #eae7e7;">Int/Ext</th>
                                  <th style="background-color: #eae7e7;">Location</th>
                                  <th style="background-color: #eae7e7;">Qty</th>
                                  <th style="background-color: #eae7e7;">Estimate
                                  </th>
                                  <th style="background-color: #eae7e7;"> Date</th>
                                  <!-- <th style="background-color: #eae7e7;">IPL#</th> -->
                                  <th colspan="2" style="background-color: #eae7e7;">Discription</th>



                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor = "let item of taskDamage">

                                  <td>{{item.Damage_Type}} </td>
                                  <td>{{item.Task_Damage_Int_val}} </td>
                                  <td>{{item.Task_Damage_Location}} </td>
                                  <td>{{item.Task_Damage_Qty}} </td>
                                  <td>{{item.Task_Damage_Estimate}} </td>
                                  <td>{{item.DamageDate | date:"MM/dd/yy" }} </td>
                                  <!-- <td>{{ModelObj.IPLNO}}</td> -->
                                  <td colspan="2">{{item.Task_Damage_Disc}} </td>
                                </tr>

                              </tbody>
                            </table>

                          </div> <!-- end .table-responsive -->

                        </div> <!-- end .table-rep-plugin-->
                      </div>

                    </div>

                  </div>
                </div>
                <div class="tab-pane fade show {{class5}}" id="invappliance" role="tabpanel" aria-labelledby="invappliance-tab">
                  <div class="row workorder-details">
                    <div class="col-12">
                      <div class="responsive-table-plugin">
                        <div class="table-rep-plugin">
                          <div class="table-responsive" data-pattern="priority-columns">
                            <table id="tech-companies-1" class="table table-striped">
                              <thead>
                                <tr>
                                  <th style="background-color: #eae7e7; width: 131px;">
                                    Item</th>
                                  <th style="background-color: #eae7e7; width: 131px;">Condition Status</th>
                                  <th style="background-color: #eae7e7;width: 131px;">Date</th>
                                  <!-- <th style="background-color: #eae7e7;width: 131px;">IPL#</th> -->
                                  <th colspan="2" style="background-color: #eae7e7;">Comments
                                  </th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor = "let item of taskAppliance">

                                  <td>{{item.Appl_Apliance_Name}} </td>
                                  <td>{{item.Appl_Status_Id_val}} </td>
                                  <td>{{item.ApplDate | date:"MM/dd/yy"}}</td>
                                  <!-- <td></td> -->
                                  <td colspan="2">{{item.Appl_Comment}}</td>
                                </tr>

                              </tbody>
                            </table>

                          </div> <!-- end .table-responsive -->

                        </div> <!-- end .table-rep-plugin-->
                      </div>

                    </div>
                  </div>
                </div>
              

              </div>
            </div>
          </div>


         
        



        </div>


      </div>

    
      <!-- end .responsive-table-plugin-->

    </div> <!-- end col -->
  </div>






