
/*// Medium devices (tablets, 768px and up)*/
/*@media (min-width: 768px) and (max-width: 991.98px) { ... }*/

/*// Large devices (desktops, 992px and up)*/
/*@media (min-width: 992px) and (max-width: 1199.98px) { ... }
*/
/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
	.navbar-custom .topnav-menu > li{
padding: 0px 22px !important;
}

.border-activate{
background:#d5d5d5 !important;
} 
#fullwidth-menu div{
width:101% !important;
}
#client_viewdetail_1_cdetails.btn-primary{
	background-color: #3F729B;
}
 }




 @media screen and (min-width:768px) and (max-width:1200px) and (max-height:1366px){
table{
	width: 50%;
}
}