body {
     margin: 0 auto;
     max-width: 1000px;
     padding: 0 20px;
   }
   
   .container {
     border: 2px solid #dedede;
     background-color: #f1f1f1;
     border-radius: 5px;
     padding: 10px;
     margin: 10px 0;
   }
   
   .darker {
     border-color: #ccc;
     background-color: #ddd;
   }
   
   .container::after {
     content: "";
     clear: both;
     display: table;
   }
   
   .container img {
     float: left;
     max-width: 60px;
     width: 100%;
     margin-right: 20px;
     border-radius: 50%;
   }
   
   .container img.right {
     float: right;
     margin-left: 20px;
     margin-right:0;
   }
   
   .time-right {
     float: right;
     color: #aaa;
   }
   
   .time-left {
     float: left;
     color: #999;
   }
   textarea {
     width: 100%;
     margin: 5px 0 22px 0;
     background: #f1f1f1;
     resize: none;
   }
   scroll { 
    margin:4px, 4px; 
    padding:4px; 
    background-color: green; 
    width: 500px; 
    height: 110px; 
    overflow-x: hidden; 
    overflow-x: auto; 
    text-align:justify; 
}