
 
 <div class="card">
    <div class="card-body">
        <app-header-client-result></app-header-client-result>
        <br>
 <div class="row" *ngFor = "let item of headwodata" style="background-color: #f5f5f5; margin-top: -20px; margin-left: 0px; margin-right: 0px;">
    <div class="col-lg-3">
<label>Work Type : {{item.WT_WorkType}}</label> 
    </div>
    <div class="col-lg-3">
      <label>Work Order No : {{item.workOrderNumber}}</label>
      
    </div>
    <div class="col-lg-3">
      <label>Address : {{item.fulladdress}}</label>
     
    </div>
    <div class="col-lg-3"[hidden]='tabhide'>
      <label>Client : {{item.Client_Company_Name}}</label>
     
    </div>
  </div>

    <div class="card">
        <div class="card-body">
            
    <h2>Chat Messages</h2>
    <hr>
    <div class="row" *ngFor = "let item of headwodata">
        <div class="col-4">
            <div class="row">
                <div class="col-3">
                    <label>Contractor</label>
                </div>
                <div class="col-9">
                   <span>{{item.Cont_Name | slice:0:10}}</span>
               </div>
            </div>
        </div>
        <div class="col-4">
            <div class="row">
                <div class="col-3">
                    <label>Processor</label>
                </div>
                <div class="col-9">
                    <span> {{item.Processor_Name | slice:0:10}}</span>
               </div>
            </div>
        </div>
        <div class="col-4">
            <div class="row">
                <div class="col-5">
                    <label>Co-Ordinator</label>
                </div>
                <div class="col-7">
                    <span>{{item.Cordinator_Name | slice:0:10}}</span>
               </div>
            </div>
        </div>
     
    </div>
    <hr>
    <div class="container" style=" margin:4px, 4px; 
    padding:4px; 
    background-color: #FAEBD7; 
    width: 100%; 
    height: 400px; 
    overflow-x: hidden; 
    overflow-x: auto; 
    text-align:justify; ">
    <div class="row "  *ngFor="let item of messageList; trackBy: trackItem" style="margin: 4px;" >

    <div class="container" *ngIf = "encuser != item.from" >
      <img src={{item.avatar}} alt="Avatar" style="width:5%;">
      <p>{{item.message}}</p>
      <span class="time-right">{{convertTime(item.time)}}</span><br>
      <span class="time-right">{{item.name}}</span>
    </div>
    
    <div class="container darker" *ngIf = "encuser == item.from">
      <img src={{item.avatar}} alt="Avatar" class="right" style="width:100%;">
      <p>{{item.message}}</p>
      <span class="time-left">{{convertTime(item.time)}}</span><br>
      <span class="time-left">{{item.name}}</span>
    </div>
   
</div>
    <br>
    <!-- <div  style="position: fixed;"> -->
    <div class="row"style="  position:fixed;
    bottom:0;
    background-color: papayawhip;
    right: 0px;
    left: 25px;
    width:98%;
    border: 3px solid #73AD21;">

        <div class=" col-10">
            <textarea placeholder="Type message.." [(ngModel)] = 'MessageModelDataObj.Message_Text' name="msg" required></textarea>
        </div>
        <div class=" col-2">
            <button type="submit" (click) = "SentMessage(MessageModelDataObj)" class="btn"style="margin-top: 10px;">Send</button>
        </div>
       
      
    </div>
<!-- </div> -->
</div>
    </div>
    </div>

    </div>
    </div>