<ng-template #content let-modal>
  <div class="modal-header">
    Message
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="text-center">

      <span>{{MessageFlag}}</span>
      <hr>
      <button type="button" class="btn btn-primary waves-effect waves-light"
        (click)="modal.close('Save click')">Continue...</button>
    </div>
  </div>
</ng-template>

<div class="row">
 
    <div class="col-2">
      <form [formGroup]="formUsrCommonGroup">
      <select [(ngModel)] ="CommonStatusDTOObj.Status_ID" [ngModelOptions]="{standalone: true}" 
      (change) = "StatusUpdate()"
      class="form-control form-control-sm">
      <option value='0'>select</option>
      <option [ngValue] = "kb.Status_ID" *ngFor="let kb of Statuslst">
        {{kb.Status_Name}}
      </option>
    </select>
  </form>
      </div>
    
  <div class="col-10">
    <button id="client_viewdetail_1" class="btnworkheader btn btn-primary" (click)='PrintWindow()' ><i class="fa fa-print mr-1"></i>Print</button>
    <button id="client_viewdetail_1" class="btn btn-primary" (click)='EditWorkOrder()' style="margin-left: 4px;"[hidden]='tabhide'><i
      class="far fa-edit mr-1"></i>Edit</button>
      <button id="client_viewdetail_1" class="btn btn-primary" (click)='WorkOrderDelete(content)' style="margin-left: 4px;"[hidden]='tabhide' ><i class=" fas fa-trash mr-1"></i>Delete</button>

    <button id="client_viewdetail_2" class="btn btn-primary" (click)='CopyWorkOrderData(1)' style="margin-left: 90px;"  ><i class=" far fa-copy mr-1"></i>Copy</button>
    <button id="client_viewdetail_2" class="btn btn-primary" (click)='CopyWorkOrderData(2)' style="margin-left: 4px;" ><i
        class="fas fa-arrow-circle-left mr-1"></i>Go Back</button>
    <button id="client_viewdetail_2" class="btn btn-primary" (click)='CopyWorkOrderData(3)' style="margin-left: 4px; " ><i class="fas fa-info-circle mr-1"></i>Info
      Needed</button>

      <button id="client_viewdetail_3" class="btn btn-primary" style="margin-left: 90px;"><i
        class=" fas fa-map-marker-alt mr-1"></i>Map</button>
        <button id="client_viewdetail_3" class="btn btn-primary"(click)='RedirectToMessage()' style="margin-left: 4px; "><i class="fas fa-comment mr-1"></i>Message</button>
        
  </div>

</div>
<br>

  <ul class="nav nav-tabs" id="myTab" role="tablist" style="background-color: #bdbbb3;color: black;">
    <li style="font-size: 12px; font-weight: 500; margin-left: 16px; margin-top: 10px;"><b>IPL # {{BindDataModelObj.IPLNO}}</b></li>
    <li class="nav-item" style="margin-left: 18px;"[hidden]='tabhide'>
      <a class="nav-link {{ResultClass1}}" id="home-tab" data-toggle="tab" (click)="CleintResultMainCall()" href="javascript:void(0)" role="tab" aria-controls="Client"
        aria-selected="true">Office Results</a>
    </li>
    <li class="nav-item"[hidden]='fieldtab'>
      <a class="nav-link {{ResultClass2}}" id="profile-tab" data-toggle="tab" (click)="CleintResultfieldCall()" href="javascript:void(0)" role="tab" aria-controls="field"
        aria-selected="false">Field Results</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {{ResultClass3}}" (click)="ClentResultinsCall()" id="contact-tab" data-toggle="tab" href="javascript:void(0)" role="tab"
        aria-controls="instructions" aria-selected="false">Instructions</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {{ResultClass4}}" (click)="InvoiceCall()" id="invoice-tab" data-toggle="tab" href="javascript:void(0)" role="tab" aria-controls="invoice"
        aria-selected="false">Invoice</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {{ResultClassP}}" (click)="ClentResultPhotoCall()" id="photos-tab" data-toggle="tab" href="javascript:void(0)" role="tab" aria-controls="photos"
        aria-selected="false">Photos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {{ResultClass5}}" (click)="MessagesDetails()" id="notes-tab" data-toggle="tab" href="javascript:void(0)" role="tab" aria-controls="notes"
        aria-selected="false">Messages</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="sync-tab" data-toggle="tab" href="javascript:void(0)" role="tab" aria-controls="sync"
        aria-selected="false">Client Sync</a>
    </li>
  </ul>
