<div class="container-fluid">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-12">
          <div class="page-title-box">
            <div class="page-title-right">
              <ol class="breadcrumb m-0">
                <!-- <li class="breadcrumb-item"><a href="javascript: void(0);">Add New User</a></li>
                  <li class="breadcrumb-item active">Add New User</li> -->
              </ol>
            </div>
            <!-- <h4 class="page-title">Client Settings Page</h4> -->
          </div>
          <hr>
        </div>
      </div>

      <div class="row">
        <!-- (click)="AddNewComapny()" -->
        <h4 class="page-title" style="font-weight: bolder;padding-left: 12px">Client Settings Page</h4>
        <hr>
        <button id="client_viewdetail_1" class="btn btn-primary" [routerLink]="['/client/viewclientcompanies']" (click)="AddNewClient()" style="margin-right: 6px;">
          <i class="fas fa-plus-circle mr-1"></i> Add client</button>
          <button id="client_viewdetail_1" class="btn btn-primary" [routerLink]="['/home/workordersettings']">
            <i class="fas fa-arrow-alt-circle-left mr-1"></i> Back</button>
        <!-- <a  [routerLink]="['/client/viewclientcompanies']" (click)="AddNewClient()" class="btn btn-primary"><i class="fas fa-plus-circle mr-1"></i> Add client</a> &nbsp;&nbsp;&nbsp;
        <a [routerLink]="['/home/workordersettings']" class="btn btn-primary"><i class="fas fa-arrow-alt-circle-left mr-1"></i> Back</a> &nbsp;&nbsp;&nbsp; -->

      </div>
      <hr>

      <form>
        <div class="row" style="color: black;background-color: #9b9b9b;">
          <div class="col-lg-12">

            <div class="form-row">

              <div class="form-group col-md-2">
                <label class="col-form-label" for="userName1">Client Name </label>
                <input type="text" [(ngModel)]="filterMasterModelObj.Client_Company_Name"   [ngModelOptions]="{standalone: true}" class="form-control form-control-sm" id="userName1" placeholder="Enter Client Name">
              </div>

              <!-- <div class="form-group col-md-2">
                <label class="col-form-label" for="LasClienttx"> Client Contact </label>
                <input type="text"  [(ngModel)]="filterMasterModelObj.Client_ContactName" [ngModelOptions]="{standalone: true}"  id="LasClienttx" class="form-control form-control-sm" placeholder="Enter Contact">
              </div>
              <div class="form-group col-md-2">
                <label class="col-form-label" for="LaEmailstx"> Email ID </label>
                <input type="text" id="LaEmailstx"    class="form-control form-control-sm" placeholder="Enter Email">
              </div>

              <div class="form-group col-md-2">
                <label class="col-form-label" for="LastxNumber"> Phone Number</label>
                <input type="number"   id="LastxNumber" class="form-control form-control-sm" placeholder="Enter Number">
              </div> -->
              <div class="form-group col-md-2">
                <label class="col-form-label" for="LastxAddress"> Address</label>
                <input type="text" [(ngModel)]="filterMasterModelObj.Client_Billing_Address" [ngModelOptions]="{standalone: true}" id="LastxAddress" class="form-control form-control-sm" placeholder="Enter Address">
              </div>
              <div class="form-group col-md-2">
                <label class="col-form-label" for="LastxCity"> City </label>
                <input type="text"  [(ngModel)]="filterMasterModelObj.Client_City" [ngModelOptions]="{standalone: true}"  id="LastxCity" class="form-control form-control-sm" placeholder="Enter City">
              </div>
              <div class="form-group col-md-2">
                <label for="inputCityrfSizwdweaafss" class="col-form-label">State</label>
                <select class="form-control form-control-sm" [(ngModel)]="filterMasterModelObj.Client_StateId"
                [ngModelOptions]="{standalone: true}">
                  <option value='0'>select</option>
                  <option [ngValue]="kb.IPL_StateID" *ngFor="let kb of StateArray">
                    {{kb.IPL_StateName}}
                  </option>
                </select>

              </div>

              <div class="form-group col-md-2">
                <label for="inputCityrfDate" for="customCheck11dc" class="col-form-label">Active</label>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox"  [(ngModel)]="filterMasterModelObj.Client_IsActive" [ngModelOptions]="{standalone: true}" class="custom-control-input" id="customCheck11dc">
                  <label class="custom-control-label" for="customCheck11dc"></label>
                </div>
              </div>

            </div>

          </div>
          <div class="col-lg-12">

            <div class="form-row">
              <div class="form-group col-md-1">
                <button id="client_viewdetail_1" class="btn btn-primary" (click)="FilterCall()">
                  <i class="fas fa-filter mr-1"></i>Filter
                </button>
                  <!-- <button type="button" (click)="FilterCall()" class="btn btn-blue waves-effect waves-light"> <i class="fas fa-filter mr-1"></i>Filter</button> -->
              </div>
              <div class="form-group col-md-1">
                <button id="client_viewdetail_1" class="btn btn-primary" (click)="ClearData()">
                  <i class="fas fa-eraser mr-1"></i>Clear
                </button>
                  <!-- <button type="button" (click)="ClearData()" class="btn btn-secondary waves-effect"> <i class="fas fa-eraser mr-1"></i>Clear</button> -->
              </div>
              <div class="form-group col-md-1">
                <button id="client_viewdetail_1" class="btn btn-primary" (click)="SaveFilterData()">
                  <i class="fas fa-save mr-1"></i>Save
                </button>
                  <!-- <button type="button" (click)="SaveFilterData()" class="btn btn-primary waves-effect waves-light"> <i class="fas fa-save mr-1"></i>Save</button> -->
              </div>
            </div>
          </div>
        </div>
      </form>

      <hr>
      <div class="row">
        <!-- [filterable]="true"  [skip]="skip" (pageChange)="onPageChange($event)"-->
        <kendo-grid #gridUser  [kendoGridBinding]="griddata" [pageSize]="15" [pageable]="true" [sortable]="true"
          [filterable]="false" [selectable]="true" [groupable]="false" [height]="500" [reorderable]="true">

          <kendo-grid-column [headerStyle]="{'background-color': '#323232','color': '#fff','line-height': '1em'}" field="Client_Company_Name" title="Client Name" [width]="80"></kendo-grid-column>
          <!-- <kendo-grid-column [headerStyle]="{'background-color': '#9b9b9b','color': '#000003','line-height': '1em'}" field="Client_ContactName" title="Client Contact" [width]="80"></kendo-grid-column>
          <kendo-grid-column [headerStyle]="{'background-color': '#9b9b9b','color': '#000003','line-height': '1em'}" field="Client_ContactEmail" title="Email" [width]="80"></kendo-grid-column>
          <kendo-grid-column [headerStyle]="{'background-color': '#9b9b9b','color': '#000003','line-height': '1em'}" field="Client_ContactPhone" title="Phone" [width]="80"></kendo-grid-column> -->
          <kendo-grid-column [headerStyle]="{'background-color': '#323232','color': '#fff','line-height': '1em'}" field="Client_Billing_Address" title="Address" [width]="80"></kendo-grid-column>
          <kendo-grid-column [headerStyle]="{'background-color': '#323232','color': '#fff','line-height': '1em'}" field="Client_City" title="City" [width]="50"></kendo-grid-column>
          <kendo-grid-column [headerStyle]="{'background-color': '#323232','color': '#fff','line-height': '1em'}" field="IPL_StateName" title="State" [width]="50"></kendo-grid-column>
          
          <!-- <kendo-grid-column [headerStyle]="{'background-color': '#323232','color': '#fff','line-height': '1em'}" field="Client_IsActive" title="Active" [width]="40"></kendo-grid-column> -->
          <kendo-grid-column field="Client_IsActive" title="Active" [headerStyle]="{'background-color': '#323232','color': '#fff','line-height': '1em'}" [width]="80"
          filter="boolean">
          <ng-template kendoGridCellTemplate let-dataItem>
              <input type="checkbox" [checked]="dataItem.Client_IsActive"  disabled/>
          </ng-template>
      </kendo-grid-column>
         
          <kendo-grid-column title="Action" width="80" [headerStyle]="{'background-color': '#323232','color': '#fff','line-height': '1em'}">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">

                <a class="edit" data-toggle="tooltip" (click)="showDetails($event, dataItem)" data-placement="top"
                title="view Records" [routerLink]="['/home/Addclientcompanies']">
                <i class="fa fa-eye"></i>
              </a>&nbsp;&nbsp;&nbsp;
              <a class="edit" data-toggle="tooltip" (click)="deleteDetails($event, dataItem)" data-placement="top"
                  title="Delete Record" style="cursor: pointer" >
                  <i class="fa fa-trash"></i>
                </a>
            </ng-template>
          </kendo-grid-column>

          <ng-template kendoPagerTemplate let-totalPages="totalPages" let-currentPage="currentPage">
            <kendo-pager-prev-buttons></kendo-pager-prev-buttons>

            <kendo-pager-numeric-buttons [buttonCount]="10"></kendo-pager-numeric-buttons>
            <kendo-pager-next-buttons></kendo-pager-next-buttons>
            <kendo-pager-info></kendo-pager-info>
            <kendo-pager-page-sizes [pageSizes]="[15, 30, 50, 100]"></kendo-pager-page-sizes>
          </ng-template>

        </kendo-grid>

      </div>





    </div>
  </div>
</div>
