<!-- Start Content-->
<div class="container-fluid">
  <!-- start page title -->
  <div class="row">
    <div class="col-12">
      <div class="page-title-box">
        <div class="page-title-right">
          <ol class="breadcrumb m-0">
            <li class="breadcrumb-item"><a href="javascript: void(0);"></a></li>
            <!-- <li class="breadcrumb-item"><a href="javascript: void(0);">Pages</a></li>
            <li class="breadcrumb-item active">Dashboard</li> -->
          </ol>
        </div>

      </div>
    </div>
  </div>

  <div class="card-box">

    <div class="row">
      <div class="col-md-6">
        <div style="display: block">
          <canvas baseChart [datasets]="barChartData" [labels]="mbarChartLabels" [options]="barChartOptions"
            [colors]="barChartColors" [legend]="barChartLegend" [chartType]="barChartType"
           >
          </canvas>
        </div>
      </div>
      <div class="col-md-6">
        <!-- <div style="display: block">
          <canvas baseChart [datasets]="barChartDatax" [labels]="mbarChartLabelsx" [options]="barChartOptionsx"
            [colors]="barChartColorsx" [legend]="barChartLegendx" [chartType]="barChartTypex"
            (chartHover)="chartHoveredx($event)" (chartClick)="chartClickedx($event)">
          </canvas>
        </div> -->
        <div style="display: block">
          <canvas baseChart
                  [data]="pieChartData"
                  [labels]="pieChartLabels"
                [chartType]="pieChartType"
                
            ></canvas>
            <!-- (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)" -->
        </div>
      </div>
    </div>
  </div>
  <!-- end page title -->

</div> <!-- container -->
