<div id="wrapper">
  <!-- Topbar Start *ngIf="userDiv"-->
  <div [hidden]="!userDiv">
  <div class="navbar-custom"  >
    <ul class="list-unstyled topnav-menu float-right mb-0">
      <!-- <li class="d-none d-sm-block">
          <form class="app-search">
            <div class="app-search-box">
              <div class="input-group">
                <input type="text"  class="form-control" placeholder="Search...">
                <div class="input-group-append">
                  <button class="btn" type="submit">
                    <i class="fe-search"></i>
                  </button>
                </div>
              </div>
            </div>
          </form>
        </li> -->
      <!-- <li class="dropdown notification-list">
        <a href="javascript:void(0);" class="nav-link right-bar-toggle waves-effect waves-light">
          <i class="fe-search fa-lg"></i>
        </a>
      </li> -->



      <!-- <li class="dropdown notification-list">
        <a class="nav-link dropdown-toggle  waves-effect waves-light" data-toggle="dropdown" href="#" role="button"
          aria-haspopup="false" aria-expanded="false">
        
          <i class="fas fa-comments mr-1"></i>
          <span class="badge badge-danger rounded-circle noti-icon-badge">1</span>
        </a>
         <div class="dropdown-menu dropdown-menu-right dropdown-lg">
         
          <div class="dropdown-item noti-title">
            <h5 class="m-0">
              <span class="float-right">
                <a href="#" class="text-dark">
                  <small>Clear All</small>
                </a>
              </span>Notification
            </h5>
          </div>
          <div class="slimscroll noti-scroll">
            

            <a href="javascript:void(0);" class="dropdown-item notify-item">
              <div class="notify-icon bg-warning">
                <i class="fe-mail"></i>
              </div>
              <p class="notify-details">
                Messages
              </p>
            </a>
            <a href="javascript:void(0);" class="dropdown-item notify-item">
              <div class="notify-icon bg-warning">
                <i class="fas fa-download"></i>
              </div>
              <p class="notify-details">
                Download
              </p>
            </a>
          


          </div>
         
          <a href="javascript:void(0);" class="dropdown-item text-center text-primary notify-item notify-all">
            View all
            <i class="fi-arrow-right"></i>
          </a>
        </div> 
      </li> -->


      <li class="dropdown notification-list">
        <a class="nav-link dropdown-toggle nav-user mr-0 waves-effect waves-light" data-toggle="dropdown" href="#"
          role="button" aria-haspopup="false" aria-expanded="false">
          <img src="assets/images/users/profileAV.png" alt="user-image" class="img-rounded">
          <span class="pro-user-name ml-1">
           {{User_FirstName}} <i class="mdi mdi-chevron-down"></i>
          </span>
        </a>
        <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
          <a [routerLink]="['/userdata/profile']" class="dropdown-item notify-item">
            <i class="fa fa-user"></i>
            <span> Profile</span>
          </a>
        
          <!-- <div class="dropdown-header noti-title">
            <h6 class="text-overflow m-0"> <i class="far fa-star"></i> Rating
            </h6>
          </div>
          
          <a href="javascript:void(0);" class="dropdown-item notify-item">
            <i class="fe-user"></i>
            <span>vacation request
            </span>
          </a>
         
          <a href="javascript:void(0);" class="dropdown-item notify-item">
            <i class="fe-settings"></i>
            <span>User settings</span>
          </a> -->
          
           <a [routerLink]="['/password/change']" class="dropdown-item notify-item">
            <i class="fas fa-lock"></i>
            <span>Change Password</span>
          </a>
          <div class="dropdown-divider"></div>
          <!-- item-->
          <a [routerLink]="['/admin/login']" class="dropdown-item notify-item">
            <i class="fe-log-out"></i>
            <span>Logout</span>
          </a>
        </div>
      </li>
      <li class="dropdown notification-list">
        <a href="javascript:void(0);" class="nav-link right-bar-toggle waves-effect waves-light">
          <i class="fas fa-question"></i>
        </a>
      </li>

    </ul>
    <!-- LOGO -->
    <div class="logo-box">
      <a [routerLink]="['/home/index']" title="Dashboard" class="logo text-center">
        <span class="logo-lg">
          <img src="assets/images/HomeLogoX.png" alt="" height="40px">
          <!-- <span class="logo-lg-text-light"><i class="fas fa-home"></i></span> -->
        </span>
        <span class="logo-sm">
          <!-- <span class="logo-sm-text-dark">U</span> -->
          <img src="assets/images/HomeLogoX.png" alt="" height="24">
        </span>
      </a>
    </div>
    <ul class="list-unstyled topnav-menu topnav-menu-left m-0">
      <!-- <li>
                <button class="button-menu-mobile waves-effect waves-light">
                    <i class="fe-menu"></i>
                </button>
            </li> -->

      <li class="dropdown d-none d-lg-block">
        <a class="nav-link dropdown-toggle waves-effect waves-light" data-toggle="dropdown"
        (click)="CreateNewWO(2)" role="button" aria-haspopup="false" aria-expanded="false">
          Work Orders
          <!-- <i class="mdi mdi-chevron-down"></i> -->
        </a>
        <div class="dropdown-menu">
          <!-- item-->
          <!--[routerLink]="['/workorder/new']"-->
          <a style="cursor: pointer"   (click)="CreateNewWO(3)" class="dropdown-item">
            <i class="fe-briefcase mr-1"></i>
            <span>Create Work Order</span>
          </a>
          <!-- item-->
          <!--[routerLink]="['/import/importqueue']" -->
          <a href="javascript:void(0);"  (click)="CreateNewWO(5)" class="dropdown-item">
            <i class="fe-bar-chart-line- mr-1"></i>
            <span>Import Orders</span>
          </a>
          <!-- item-->
          <!--[routerLink]="['/queueworkorder/importqueuedata']"-->
          <a  (click)="CreateNewWO(6)" class="dropdown-item">
            <i class="fe-user mr-1"></i>
            <span>Auto Import Orders</span>
          </a>

          <!-- item-->
          <!--[routerLink]="['/formdoc/formsanddocs']"-->
          <a (click)="CreateNewWO(7)" class="dropdown-item">
            <i class="fe-settings mr-1"></i>
            <span>Documents</span>
          </a>
          <!-- item-->
          <!-- <a  [routerLink]="['/workorder/view']" class="dropdown-item">
                      <i class="fe-settings mr-1"></i>
                      <span>View Work Orders</span>
                     </a> -->
          <!-- <div class="dropdown-divider"></div> -->
          <!-- item-->
          <!-- <a href="javascript:void(0);" class="dropdown-item">
                        <i class="fe-headphones mr-1"></i>
                        <span>Help & Support</span>
                    </a> -->
        </div>


      </li>
      <li class="dropdown d-none d-lg-block">
        <!--[routerLink]="['contractor/add']"(click)="CreateNewWO(53)"-->
        <a (click)="CreateNewWO(53)" class="nav-link dropdown-toggle waves-effect waves-light"
          data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
          Contractors
          <!-- <i class="mdi mdi-chevron-down"></i> -->
        </a>
        <div class="dropdown-menu">
          <!-- item-->
          <!--[routerLink]="['coverage/coveragemap']"-->
          <a (click)="CreateNewWO(57)" class="dropdown-item">
            <i class="fas fa-map-marked-alt  mr-1"></i>
            <span>Coverage map</span>
          </a>
          <!-- item-->
          <!--[routerLink]="['home/livemap']"-->
          <a (click)="CreateNewWO(58)"  class="dropdown-item">
            <i class="fas fa-map-marker-alt  mr-1"></i>
            <span>Live map</span>
          </a>
          <!-- item-->
          <!--[routerLink]="['home/scorecard']"-->
          <a (click)="CreateNewWO(58)"  class="dropdown-item">
            <i class="fas fa-clipboard-list mr-1"></i>
            <span>Scorecards</span>
          </a>
          <!-- item-->
          <a [routerLink]="['home/massmail']" class="dropdown-item">
            <i class="fas fa-mail-bulk  mr-1"></i>
            <span>Mass Mail</span>
          </a>


        </div>



      </li>
      <li class="dropdown d-none d-lg-block">
       
        <a   class="nav-link dropdown-toggle waves-effect waves-light" role="button"(click)="CreateNewWO(61)"
          aria-haspopup="false" aria-expanded="false">
        Message
        </a>
      </li>

      <li class="dropdown d-none d-lg-block">
        <!--[routerLink]="['report/reportsdetails']"-->
        <a (click)="CreateNewWO(54)"  class="nav-link dropdown-toggle waves-effect waves-light" role="button"
          aria-haspopup="false" aria-expanded="false">
          Reports
        </a>
      </li>
      <li class="dropdown d-none d-lg-block">
        <!--[routerLink]="['accounting/accountingdetails']"-->
        <a (click)="CreateNewWO(55)" class="nav-link dropdown-toggle waves-effect waves-light" role="button"
          aria-haspopup="false" aria-expanded="false">
          Accounting
        </a>
      </li>
      <li class="dropdown d-none d-lg-block">
        <!--[routerLink]="['home/adminlinkpage']"-->
        <a href="javascript:void(0);" (click)="CreateNewWO(8)" 
          class="nav-link dropdown-toggle waves-effect waves-light" data-toggle="dropdown" role="button"
          aria-haspopup="false" aria-expanded="false">
          Admin
          <!-- <i class="mdi mdi-chevron-down"></i> -->
        </a>
        <div class="dropdown-menu">

          <!-- <a [routerLink]="['home/adduser']" class="dropdown-item">
            <i class="fas fa-user-plus mr-1"> </i>
            <span>Add User</span>
          </a> -->
          <!--[routerLink]="['/user/adduser']"-->
          <a  style="cursor: pointer"(click)="CreateNewWO(9)"    class="dropdown-item">
            <i class="fas fa-user-plus mr-1"> </i>
            <span>Add User</span>
          </a>
          <!--[routerLink]="['worktype/addcategory']"-->
          <a (click)="CreateNewWO(10)"  class="dropdown-item">
            <i class="fe-briefcase mr-1"></i>
            <span>Add Work Type</span>
          </a>
          <!--[routerLink]="['/task/bidinvoiceitem']"-->
          <a  (click)="CreateNewWO(49)" class="dropdown-item">
            <i class="fas fa-tasks  mr-1"></i>
            <span>Add Task</span>
          </a>
          <!-- <a [routerLink]="['home/viewduser']" class="dropdown-item">
              <i class="fas fa-user-cog  mr-1"></i>
            <span>Users </span>
          </a> -->
          <!--[routerLink]="['client/addclientcompanies']"-->
          <a (click)="CreateNewWO(17)" class="dropdown-item">
            <i class="fas fa-user-tag mr-1"></i>
            <span>Add Client</span>
          </a>


        <!-- <a [routerLink]="['/home/adduser']" class="dropdown-item">
          <i class="fas fa-user-plus mr-1"></i>
          <span>Add New User</span>
        </a>

        <a [routerLink]="['home/viewduser']" class="dropdown-item">
          <i class="fas fa-users-cog mr-1"></i>
          <span>View Users</span>
        </a>

        <a [routerLink]="['home/addcategory']" class="dropdown-item">
          <i class="fe-settings mr-1"></i>
          <span>Add Category</span>
        </a>

        <a [routerLink]="['home/Addclientcompanies']" class="dropdown-item">
          <i class="fas fa-align-justify mr-1"></i>
          <span>Add Client Companies</span>
        </a>

        <a [routerLink]="['home/addinvoiceitems']" class="dropdown-item">
          <i class="fas fa-file-invoice  mr-1"></i>
          <span>Add Invoice Items</span>
        </a> -->


      </div>


      </li>
      <li class="dropdown d-none d-lg-block">
        <!--[routerLink]="['support/supportdetails']"-->
        <a (click)="CreateNewWO(56)" class="nav-link dropdown-toggle waves-effect waves-light" role="button"
          aria-haspopup="false" aria-expanded="false">
          Support
          <!-- <i class="mdi mdi-chevron-down"></i> -->
        </a>
        <!-- <div class="dropdown-menu">

              <a href="javascript:void(0);" class="dropdown-item">
                  <i class="fe-headphones mr-1"></i>
                <span>Support request ticket module</span>
              </a>
          </div> -->
      </li>

    </ul>
    <div id="fullwidth-menu">

    </div>
  </div>
</div>

  <div class="content-page">
    <div class="content">


      <!-- <topmenu-outlet> </topmenu-outlet> -->
      <router-outlet> </router-outlet>

      <div *ngIf="showLoadingIndicator" class="section-title">
        <h5 style="color: #333;text-align:left;align-items:left;font-style:italic;font-family:sans-serif">Now Loading...
        </h5>

        <div class="row">
          <div class="col-md-2">
            <div class="progress mb-0">
              <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
            </div>
          </div>
        </div>



      </div>


      <!-- class="spinner" [hidden]="!showLoadingIndicator"  -->
      <div [hidden]="!showLoadingIndicator">


          <div class="lds-dual-ring"></div>

      </div>


    </div>


  </div>
</div>
<div class="rightbar-overlay"></div>
