<ng-template #content let-modal>
  <div class="modal-header">
    Message
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true" (click)="modal.close('Save click')">×</span>
    </button>
  </div>
  <div class="modal-body">

    <div class="text-center">
      <!-- <i class="fe-check-circle"></i> -->
      <span>{{MessageFlag}}</span>
      <hr>
      <button id="client_viewdetail_1" class="btn btn-primary" (click)="modal.close('Save click')">Close</button>
      <!-- <button type="button" class="btn btn-primary waves-effect waves-light"
        (click)="modal.close('Save click')">Close..</button> -->
    </div>
  </div>
</ng-template>

<div class="container-fluid">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-12">
          <div class="page-title-box">
            <div class="page-title-right">
              <ol class="breadcrumb m-0">
                <!-- <li class="breadcrumb-item"><a href="javascript: void(0);">Add New User</a></li>
                  <li class="breadcrumb-item active">Add New User</li> -->
              </ol>
            </div>
            <h4 class="page-title" style="font-weight: bolder; line-height: 1.5; background-color: #9b9b9b; padding-left: 12px;">Add Customer</h4>
          </div>
          <!-- <hr> -->
        </div>
      </div>
      <form [formGroup]="formUsrCommonGroup" (ngSubmit)="FormButton(content)">
        <div class="row">

          <div class="col-lg-6">
            <div class="card-box bg-pattern border border-dark" style="background-color: #f7f7f7;">
              <div class="form-row">
                <div class="form-group col-md-12 text-center" style="color: black;background-color: #9b9b9b;">
                  <h5 style="color: black;">Customer </h5>
                </div>
              </div>
              <div class="form-row">

                <div class="form-group col-md-3">
                  <label class="col-form-label" for="userNfuuiame1">Customer <span style="color: red">*</span></label>
                </div>
                <div class="form-group col-md-9">
                  <input type="text" [(ngModel)]="AddCustomerModelObj.Cust_Num_Number" formControlName="CustomerNUM"
                    [ngClass]="{ 'is-invalid': submitted && fx.CustomerNUM.errors }" class="form-control form-control-sm"
                    id="userNfuuiame1" placeholder="Enter Customer Number">
                  <div *ngIf="submitted && fx.CustomerNUM.errors" class="invalid-feedback">
                    <div *ngIf="fx.CustomerNUM.errors.required">this field is required</div>
                  </div>

                </div>
              </div>
              <div class="form-row">

                  <div class="form-group col-md-3">
                    <label class="col-form-label" for="hgfhgfhgfhgf">Active </label>
                  </div>
                  <div class="form-group col-md-9">

                      <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="customCheck11c"
                          [(ngModel)]="AddCustomerModelObj.Cust_Num_Active" formControlName="discost">
                          <label class="custom-control-label" for="customCheck11c"></label>
                        </div>

                  </div>
                </div>

                <div class="form-row">
                  <div class="float-right">
                    <label  *ngIf="formUsrCommonGroup.invalid" style="color:red">*
                      fields is required
                    </label> <br>
<!--[routerLink]="['/customer/addcustomer']"-->
                    <button id="client_viewdetail_1" class="btn btn-primary" *ngIf="IsEditDisable"  (click)="EditForms()">
                      <i class="far fa-edit mr-1"></i> Edit</button>
                    <button id="client_viewdetail_1" class="btn btn-primary" type="submit" *ngIf="!IsEditDisable" [disabled]="isLoading">
                      <i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-save': !isLoading}"></i>
                      {{button}}
                    </button>
                    <button id="client_viewdetail_1" class="btn btn-primary" [routerLink]="['/customer/viewcustomer']" style="margin-left: 6px;"><i
                      class="fas fa-arrow-alt-circle-left mr-1"></i> Back</button>

                    <!-- <a *ngIf="IsEditDisable" [routerLink]="['/customer/addcustomer']" (click)="EditForms()"
                      class="btn btn-primary waves-effect waves-light"> <i class="far fa-edit mr-1"></i> Edit </a>
                    &nbsp;&nbsp;&nbsp;
                    <button type="submit" *ngIf="!IsEditDisable" class="btn btn-primary waves-effect waves-light"
                      [disabled]="isLoading">
                      <i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-save': !isLoading}"></i>
                      {{button}}</button> &nbsp; &nbsp;

                    <a [routerLink]="['/customer/viewcustomer']" class="btn btn-primary"><i
                        class="fas fa-arrow-alt-circle-left mr-1"></i> Back</a> -->
                  </div>
                </div>


            </div>
          </div>

          <div class="col-lg-6">



          </div>
        </div>
      </form>

    </div>
  </div>
</div>


