<div class="authentication-bg" >

  <div class="account-pages ">
    <div class="container">
      <div class="row justify-content-center" style="margin-right: 25px">
        <div class="col-md-12 col-lg-6 col-xl-5">
          <div class="card bg-pattern">

            <div class="card-body ">

              <div class="text-center w-75 m-auto">
                <!-- <h2 style="font-family: Cambria">IPRESERVATION LIVE</h2> -->
                <a href="javascript:void(0);">
                  <span><img src="assets/images/logo.jpg" alt="" class="img-responsive"
                      style="height:89px;;width:308px;float: right;"></span>
                </a>
              </div>

              <form [formGroup]="formUsrLoginGroup" (ngSubmit)="LoginBtn(content,contentpasswordChange)">

                <div class="form-group mb-3">
                  <label for="emailaddress">USERNAME</label>
                  <input class="form-control form-control-sm" type="email" id="emailaddress" required=""
                    placeholder="Enter your username" formControlName="Eamilname"
                    [(ngModel)]="UserLoginModel.User_LoginName"
                    [ngClass]="{ 'is-invalid': submitted && fx.Eamilname.errors }">
                  <div *ngIf="submitted && fx.Eamilname.errors" class="invalid-feedback">
                    <div *ngIf="fx.Eamilname.errors.required">Username is required</div>
                  </div>
                </div>

                <div class="form-group mb-3">
                  <label for="password">PASSWORD</label>
                  <input class="form-control form-control-sm" type="password" required="" id="password"
                    placeholder="Enter your password" formControlName="passwordname"
                    [(ngModel)]="UserLoginModel.User_Password"
                    [ngClass]="{ 'is-invalid': submitted && fx.passwordname.errors }">
                  <div *ngIf="submitted && fx.passwordname.errors" class="invalid-feedback">
                    <div *ngIf="fx.passwordname.errors.required">Password is required</div>
                  </div>
                </div>

                <div class="form-group mb-3">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="checkbox-signin" checked>
                    <label class="custom-control-label" for="checkbox-signin">Remember me</label>
                  </div>
                </div>

                <div class="form-group mb-0 text-center">
                  <button id="client_viewdetail_1" class="btn btn-primary btn-md" type="submit" [disabled]="isLoading">
                    <i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-lock': !isLoading}"></i>
                    {{button}}</button>

                  <!-- <button type="submit" class="btn btn-primary btn-block" [disabled]="isLoading">
                    <i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-lock': !isLoading}"></i>
                    {{button}}</button> -->

                </div>

              </form>
              <br><br>
              <div class="text-center">
                <a style="color:blue;cursor: pointer" (click)="ForgetPassword(contentpassword)"> Forgot Password?</a>
              </div>

            </div> <!-- end card-body -->
          </div>


        </div> <!-- end col -->
      </div>
      <!-- end row -->

      <footer class="footer footer-alt">
        2019 &copy; IPRESERVATION LIVE <a href="#" class="text-white-50"></a>
      </footer>
    </div>
    <!-- end container -->
  </div>






</div>




<div>
  <!-- msg -->
  <ng-template #content let-modal>

    <div class="modal-header">
      Message
      <button type="button" class="close" (click)="modal.close('Save click')" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">

      <div class="text-center">
        <!-- <i class="fe-check-circle"></i> -->
        <span>{{MessageFlag}}</span>
        <hr>
        <button type="button" class="btn btn-primary waves-effect waves-light"
          (click)="modal.close('Save click')">Close</button>
      </div>
    </div>


  </ng-template>

   <!-- forgotpassword -->
  <ng-template #contentpassword let-modal>

    <div class="modal-header">
      Forgot Password
      <button type="button" class="close" (click)="modal.close('Save click')" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">

      <form [formGroup]="formUsrLoginGroupforget" (ngSubmit)="FormButtonPassword(content)">
        <div class="row">

          <div class="col-lg-12">


            <div class="form-row">

              <div class="form-group col-md-4">
                <label class="col-form-label" for="kfdfstdc">Enter User Name</label>
              </div>
              <div class="form-group col-md-8">
                <!-- <input type="text"   [(ngModel)]="UserLoginModel.User_LoginName"
                          class="form-control form-control-sm"
                          id="kftdc" placeholder="Enter User Id"> -->
                <input class="form-control form-control-sm" type="email" id="kfdfstdc"
                  placeholder="Enter your username" formControlName="Eamilnameforget"
                  [(ngModel)]="UserLoginModel.User_LoginNameForgot"
                  [ngClass]="{ 'is-invalid': submittedForgot && fxforget.Eamilnameforget.errors }">
                <div *ngIf="submittedForgot && fxforget.Eamilnameforget.errors" class="invalid-feedback">
                  <div *ngIf="fxforget.Eamilnameforget.errors.required">Username is required</div>
                </div>
              </div>
            </div>

            <div class="form-row">
              <div class="float-right">

                <button type="submit" class="btn btn-primary waves-effect waves-light" [disabled]="isLoadingforgot">
                  <i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoadingforgot, 'fa-lock': !isLoadingforgot}"></i>
                  {{buttonforgot}}</button>


              </div>
            </div>


          </div>



        </div>
      </form>

    </div>


  </ng-template>


  <!-- change password -->
  <ng-template #contentpasswordChange let-modal >

    <div class="modal-header">
      Change Password
      <button type="button" class="close" (click)="modal.close('Save click')" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">

      <form [formGroup]="formUsrLoginGroupChnage" (ngSubmit)="FormButtonChange(content)">
        <div class="row">

          <div class="col-lg-12">


            <div class="form-row">

              <div class="form-group col-md-4">
                <label class="col-form-label" for="fgffdwdg">Enter Old Password</label>
              </div>
              <div class="form-group col-md-8">

                <input class="form-control form-control-sm" type="password" id="fgffdwdg"
                  placeholder="Enter your old password" formControlName="PasswordOld"
                  [(ngModel)]="UserLoginModel.User_PasswordOld"
                  [ngClass]="{ 'is-invalid': submittedchange && fxChange.PasswordOld.errors }">
                <div *ngIf="submittedchange && fxChange.PasswordOld.errors" class="invalid-feedback">
                  <div *ngIf="fxChange.PasswordOld.errors.required">Old password is required</div>
                </div>
              </div>
            </div>

            <div class="form-row">

                <div class="form-group col-md-4">
                  <label class="col-form-label" for="fgfferwdg">Enter New Password</label>
                </div>
                <div class="form-group col-md-8">

                  <input class="form-control form-control-sm" type="password" id="fgfferwdg"
                    placeholder="Enter your new password" formControlName="PasswordNew"
                    [(ngModel)]="UserLoginModel.User_PasswordNew"
                    [ngClass]="{ 'is-invalid': submittedchange && fxChange.PasswordNew.errors }">
                  <div *ngIf="submittedchange && fxChange.PasswordNew.errors" class="invalid-feedback">
                    <div *ngIf="fxChange.PasswordNew.errors.required">New password is required</div>
                    <div *ngIf="fxChange.PasswordNew.errors.minlength">Password must be at least 8 characters</div>
                  </div>
                </div>
              </div>

              <div class="form-row">

                  <div class="form-group col-md-4">
                    <label class="col-form-label" for="fgffdg">Enter Confirm Password</label>
                  </div>
                  <div class="form-group col-md-8">

                    <input class="form-control form-control-sm" type="password" id="fgffdg"
                      placeholder="Enter your new password" formControlName="PasswordConfirm"
                      [(ngModel)]="UserLoginModel.User_PasswordConfirm"
                      [ngClass]="{ 'is-invalid': submittedchange && fxChange.PasswordConfirm.errors }">
                    <div *ngIf="submittedchange && fxChange.PasswordConfirm.errors" class="invalid-feedback">
                      <div *ngIf="fxChange.PasswordConfirm.errors.required">Confirm password is required</div>
                      <div *ngIf="fxChange.PasswordConfirm.errors.mustMatch">Password must match</div>
                    </div>
                  </div>
                </div>

            <div class="form-row">
              <div class="float-right">

                <button type="submit" class="btn btn-primary waves-effect waves-light" [disabled]="isLoadingChange">
                  <i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoadingChange, 'fa-lock': !isLoadingChange}"></i>
                  {{buttonChange}}</button>


              </div>
            </div>


          </div>



        </div>
      </form>

    </div>


  </ng-template>

</div>

