<ng-template #content let-modal>
  <div class="modal-header">
    Message
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true" (click)="modal.close('Save click')">×</span>
    </button>
  </div>
  <div class="modal-body">

    <div class="text-center">

      <span>{{MessageFlag}}</span>
      <hr>
      <button id="client_viewdetail_1" class="btn btn-primary" (click)="modal.close('Save click')">Continue</button>
      <!-- <button type="button" class="btn btn-primary waves-effect waves-light"
        (click)="modal.close('Save click')">Continue...</button> -->
    </div>
  </div>
</ng-template>
<!-- Start Content-->
<div class="container-fluid">

  <!-- start page title -->
  <div class="row">
    <div class="col-12">
      <div class="page-title-box">
        <div class="page-title-right">
          <ol class="breadcrumb m-0">
            <!-- <li class="breadcrumb-item"><a href="javascript: void(0);"></a></li> -->
            <!-- <li class="breadcrumb-item"><a href="javascript: void(0);">WorkOrder</a></li>
              <li class="breadcrumb-item active">New WorkOrder</li> -->
          </ol>
        </div>
        <!-- <h4 class="page-title">New WorkOrder </h4> -->
      </div>
    </div>

    <div class="col-12">
      <div class="card">
        <div class="card-body">




          <form [formGroup]="formUsrCommonGroup" (ngSubmit)="FormButton(content)">
<!--Start button-->

            <div class="card-box bg-pattern border border-dark">

              <div class="form-row">
                <div class="form-group col-md-12 text-center" style="color: black;background-color: #9b9b9b;">
                  <h5 style="font-weight: bolder;">New Work Order </h5>
                </div>
              </div>
              
             
              
              <!-- <button id="client_viewdetail_1" class="btn btn-primary" *ngIf="IsEditDisable" [routerLink]="['/workorder/new']" (click)="EditForms()" style="margin-right:6px;">
                <i class="far fa-edit mr-1"></i> Edit
              </button> -->
              <!-- <a *ngIf="IsEditDisable" [routerLink]="['/workorder/new']" (click)="EditForms()"
                class="btn btn-primary waves-effect waves-light"> <i class="far fa-edit mr-1"></i> Edit </a>
              &nbsp;&nbsp;&nbsp; -->
              <button id="client_viewdetail_1" class="btn btn-primary" type="submit" *ngIf="!IsEditDisable" [disabled]="isLoading" style="margin-right:6px;">
                <i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-save': !isLoading}"></i>
                {{button}}
              </button>
              <!-- <button type="submit" *ngIf="!IsEditDisable" class="btn btn-primary waves-effect waves-light"
                [disabled]="isLoading">
                <i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-save': !isLoading}"></i>
                {{button}}</button> &nbsp; &nbsp; -->

                <!-- <button id="client_viewdetail_1" class="btn btn-primary" [routerLink]="['/workorder/view']">
                  <i class="fas fa-arrow-alt-circle-left mr-1"></i> Back
                </button> -->
                <!-- <a [routerLink]="['/workorder/view']" class="btn btn-primary"><i
                  class="fas fa-arrow-alt-circle-left mr-1"></i> Back</a> &nbsp; &nbsp; -->

                  <button id="client_viewdetail_1" class="btn btn-primary" (click) = 'Reset()' *ngIf = '!isnew'style="margin-left:6px;" >Add New Work Order</button>
                  <!-- <a class="btn btn-primary"(click) = 'Reset()'style="color:white" *ngIf = '!isnew'> Add New WorkOrder</a> -->

                  
              <div class="form-row" style="margin-top: 10px;">
                <div class="col-lg-4">

                  <div class="card-box bg-pattern border border-dark" style="background-color: #f7f7f7;height: 631px;">
                    <div class="form-row">
                      <div class="form-group col-md-4">
                        <label for="inputEmail42" class="col-form-label">Work Order # <span
                            style="color: red">*</span></label>
                      </div>
                      <div class="form-group col-md-8">
                        <input type="text" class="form-control form-control-sm" id="inputEmail42"
                          formControlName="WONumber" placeholder="Enter Order Number..." [disabled]="true"
                          [(ngModel)]="WorkOrderModelObj.workOrderNumber"
                          [ngClass]="{ 'is-invalid': submitted && fx.WONumber.errors }">
                        <div *ngIf="submitted && fx.WONumber.errors" class="invalid-feedback">
                          <div *ngIf="fx.WONumber.errors.required">this field is required</div>
                        </div>
                      </div>

                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-4">
                        <label for="inputEmail4" class="col-form-label">Work Type <span
                            style="color: red">*</span></label>
                      </div>
                      <div class="form-group col-md-8">
                        <select formControlName="WorkTypeval" id="inputAddress" class="form-control form-control-sm"
                          [(ngModel)]="WorkOrderModelObj.WorkType" (change)="WorkType_Method();"
                          [ngClass]="{ 'is-invalid': fx.WorkTypeval.touched && fx.WorkTypeval.errors }">
                          <option value='0'>select</option>
                          <option [ngValue]="kb.WT_pkeyID" *ngFor="let kb of WorkTypeList">
                            {{kb.WT_WorkType}}
                          </option>
                        </select>
                        <div *ngIf="WorkTypevalFlag" class="Mydropdown">this field is required</div>
                      </div>

                    </div>

                    <div class="form-row">
                      <div class="form-group col-md-4">
                        <label for="inputEmail4fb" class="col-form-label">Address <span
                            style="color: red">*</span></label>
                      </div>
                      <div class="form-group col-md-8">


                        <textarea type="text" class="form-control form-control-sm" id="inputEmail4fb" rows="3"
                          placeholder="Enter Address" formControlName="AddressVal"
                          [(ngModel)]="WorkOrderModelObj.address1"
                          [ngClass]="{ 'is-invalid': submitted && fx.AddressVal.errors }"></textarea>
                        <div *ngIf="submitted && fx.AddressVal.errors" class="invalid-feedback">
                          <div *ngIf="fx.AddressVal.errors.required">this field is required</div>
                        </div>

                      </div>
                      <div class="form-group col-md-4">
                        <label for="inputCityxc" class="col-form-label">City <span style="color: red">*</span></label>
                        <input type="text" class="form-control form-control-sm" id="inputCityxc" ng-pattern="/^[a-zA-Z\s]*$/"
                          formControlName="cityVal" placeholder="Enter city..." [(ngModel)]="WorkOrderModelObj.city"
                          [ngClass]="{ 'is-invalid': submitted && fx.cityVal.errors }">
                        <div *ngIf="submitted && fx.cityVal.errors" class="invalid-feedback">
                          <div *ngIf="fx.cityVal.errors.required">this field is required</div>
                        </div>
                      </div>
                      <div class="form-group col-md-4">
                        <!--WorkOrderModelObj.state-->
                        <label for="inputStatefv" class="col-form-label">State <span style="color: red">*</span></label>
                        <select formControlName="stateval" id="inputStatefv" class="form-control form-control-sm"
                          [(ngModel)]="WorkOrderModelObj.state" (change)="state_Method();"
                          [ngClass]="{ 'is-invalid': fx.stateval.touched && fx.stateval.errors }">
                          <option value='0'>select</option>
                          <option [ngValue]="kb.IPL_StateID" *ngFor="let kb of StateList">
                            {{kb.IPL_StateName}}
                          </option>
                        </select>
                        <div *ngIf="statevalvalFlag" class="Mydropdown">this field is required
                        </div>
                      </div>
                      <div class="form-group col-md-4">
                        <label for="inputZipcv" class="col-form-label">Zip <span style="color: red">*</span></label>
                        <input type="text" class="form-control form-control-sm" id="inputZipcv" numbersOnly
                          maxlength="6" placeholder="Enter zip..." formControlName="ZipVal"
                          [(ngModel)]="WorkOrderModelObj.zip"
                          [ngClass]="{ 'is-invalid': submitted && fx.ZipVal.errors }">
                        <div *ngIf="submitted && fx.ZipVal.errors" class="invalid-feedback">
                          <div *ngIf="fx.ZipVal.errors.required">this field is required</div>
                        </div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-4">
                        <label for="inputEmail4er" class="col-form-label">Client </label>
                      </div>
                      <div class="form-group col-md-8">

                        <select id="inputEmail4er" class="form-control form-control-sm"
                          [(ngModel)]="WorkOrderModelObj.Company" (change)="Company_Method();"
                          formControlName="CompanyVal">
                          <option value='0'>select</option>
                          <option [ngValue]="kb.Client_pkeyID" *ngFor="let kb of CompanyList">
                            {{kb.Client_Company_Name}}
                          </option>
                        </select>
                        <!-- <div *ngIf="CompanyValFlag" class="Mydropdown">this field is required</div> -->
                      </div>
                      <div class="form-group col-md-4">
                        <label for="inputPassword4" class="col-form-label">Name</label>
                        <input type="text" class="form-control form-control-sm" AlphabetOnly
                          [(ngModel)]="WorkOrderModelObj.Com_Name" formControlName="NameVal"
                          id="inputPassword4" placeholder="Enter Na..">

                      </div>
                      <div class="form-group col-md-4">

                        <label for="inputEmail4f" class="col-form-label">Phone</label>
                        <input type="text" class="form-control form-control-sm" id="inputEmail4f" numbersOnly
                          placeholder="Enter Phone No" formControlName="PhoneVal"
                          [(ngModel)]="WorkOrderModelObj.Com_Phone">

                      </div>
                      <div class="form-group col-md-4">
                        <label for="inputPassword4h" class="col-form-label">Email</label>
                        <input type="text" class="form-control form-control-sm" id="inputPassword4h"
                          placeholder="Enter Email" formControlName="EmailVal"
                          [(ngModel)]="WorkOrderModelObj.Com_Email"
                          [ngClass]="{ 'is-invalid': submitted && fx.EmailVal.errors }">
                        <div *ngIf="submitted && fx.EmailVal.errors" class="invalid-feedback">
                          <!-- <div *ngIf="fx.EmailVal.errors.required">this field is required</div> -->
                          <div *ngIf="fx.EmailVal.errors.email">Email must be a valid email address</div>
                        </div>
                      </div>

                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-4">
                        <label for="inputCityrf" class="col-form-label">Contractor</label>
                      </div>
                      <div class="form-group col-md-8">

                        <select id="inputCityrf" class="form-control form-control-sm"
                          [(ngModel)]="WorkOrderModelObj.Contractor" (change)="Contractor_Method();"
                          formControlName="ContractorVal">
                          <option value='0'>select</option>
                          <option [ngValue]="kb.User_pkeyID" *ngFor="let kb of ContractorList">
                            {{kb.User_FirstName}}
                          </option>
                        </select>

                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-4">
                        <label for="inputCityrf" class="col-form-label">Cordinator</label>
                      </div>
                      <div class="form-group col-md-8">

                        <select id="inputCityrf" class="form-control form-control-sm"
                          [(ngModel)]="WorkOrderModelObj.Cordinator"
                          formControlName="CordinatorVal">
                          <option value='0'>select</option>
                          <option [ngValue]="kb.User_pkeyID" *ngFor="let kb of CordinatorList">
                            {{kb.User_FirstName}}
                          </option>
                        </select>

                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-4">
                        <label for="inputCityrfasd" class="col-form-label">Processor</label>
                      </div>
                      <div class="form-group col-md-8">

                        <select id="inputCityrfasd" class="form-control form-control-sm"
                          [(ngModel)]="WorkOrderModelObj.Processor"
                          formControlName="ProcessorVal">
                          <option value='0'>select</option>
                          <option [ngValue]="kb.User_pkeyID" *ngFor="let kb of ProcessorList">
                            {{kb.User_FirstName}}
                          </option>
                        </select>

                      </div>
                    </div>


                    <div class="form-row">
                      <div class="form-group col-md-4">


                      </div>
                      <div class="form-group col-md-8"></div>
                    </div>

                    <div class="form-row">
                      <div class="form-group col-md-4">

                      </div>
                      <div class="form-group col-md-8"></div>
                    </div>

                    <div class="form-row">
                      <div class="form-group col-md-4">

                      </div>
                      <div class="form-group col-md-8"></div>
                    </div>




                  </div>
                </div>

                <div class="col-lg-4">

                  <div class="card-box bg-pattern border border-dark" style="background-color: #f7f7f7;height: 631px;">
                    <div class="form-row">
                      <div class="form-group col-md-4">
                        <label for="jgffhgfhfg" class="col-form-label">IPL # <span style="color: red">*</span></label>
                      </div>
                      <div class="form-group col-md-8">
                        <input type="text" class="form-control form-control-sm" id="jgffhgfhfg" [ngModelOptions]="{standalone: true}"
                           placeholder="Enter Order Number..." readonly
                          [(ngModel)]="WorkOrderModelObj.IPLNO"
                         >
                         <!-- [ngClass]="{ 'is-invalid': submitted && fx.IPLNumberVal.errors }"-->
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-4">
                        <label for="inputPassword4r" class="col-form-label">Category</label>
                      </div>
                      <div class="form-group col-md-8">
                        <select id="inputPassword4r" class="form-control form-control-sm"
                          [(ngModel)]="WorkOrderModelObj.Category" (change)="Category_Method();"
                          formControlName="CategoryVal">
                          <option value='0'>select</option>
                          <option [ngValue]="kb.Cat_ID" *ngFor="let kb of CategoryList">
                            {{kb.Cat_Name}}
                          </option>
                        </select>
                        <div *ngIf="CategoryvalFlag" class="Mydropdown">this field is required</div>
                      </div>
                    </div>

                    <div class="form-row">
                      <div class="form-group col-md-4">
                        <label for="inputPassword4hf" class="col-form-label">Loan Info</label>
                      </div>
                      <div class="form-group col-md-8">

                        <input type="text" class="form-control form-control-sm" id="inputPassword4hf"
                          placeholder="Enter Loan Info"  formControlName="LoanVal"
                          [(ngModel)]="WorkOrderModelObj.Loan_Info">

                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-4">
                        <label for="inputnum" class="col-form-label">Loan Number</label>
                      </div>
                      <div class="form-group col-md-8">

                        <input type="text" class="form-control form-control-sm" id="inputnum"
                          placeholder="Enter Loan Number" formControlName="LoanNumberVal"
                          [(ngModel)]="WorkOrderModelObj.Loan_Number">

                      </div>
                    </div>

                    <div class="form-row">
                      <div class="form-group col-md-4">
                        <label for="inputAddress" class="col-form-label">Customer #</label>
                      </div>
                      <div class="form-group col-md-8">

                        <select id="inputAddress" class="form-control form-control-sm"
                          [(ngModel)]="WorkOrderModelObj.Customer_Number" (change)="CustomerNumber_Method();"
                          formControlName="CustomerVal">
                          <option value='0'>select</option>
                          <option [ngValue]="kb.Cust_Num_pkeyId" *ngFor="let kb of CustomerNumberList">
                            {{kb.Cust_Num_Number}}
                          </option>
                        </select>
                      </div>
                    </div>





                    <div class="form-row">

                      <div class="form-group col-md-6">
                        <div class="custom-control custom-switch">
                          <input type="checkbox" class="custom-control-input" id="customSwitch1"
                            [(ngModel)]="WorkOrderModelObj.BATF" formControlName="BATFVal">
                          <label class="custom-control-label" for="customSwitch1">BATF</label>
                        </div>
                      </div>
                      <div class="form-group col-md-6">
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="customCheck11c"
                          [(ngModel)]="WorkOrderModelObj.ISInspection" formControlName="IsInspectionVal">
                          <label class="custom-control-label" for="customCheck11c">IsInspection?</label>
                        </div>
                      </div>

                    </div>

                    <div class="form-row">
                      <div class="form-group col-md-6">

                        <label for="inputCityrfSize" class="col-form-label">Lot Size</label>

                        <input type="text" class="form-control form-control-sm" id="inputCityrfSize"
                          placeholder="Enter size..." [(ngModel)]="WorkOrderModelObj.Lotsize"
                          formControlName="LotSizeVal">

                      </div>

                      <div class="form-group col-md-6">
                        <label for="inputStatwewe" class="col-form-label">Rush</label>

                        <select id="inputStatwewe" class="form-control form-control-sm"
                          [(ngModel)]="WorkOrderModelObj.Rush" formControlName="RushVal"
                          (change)="Rush_Method();">
                          <option value='0'>select</option>
                          <option [ngValue]="kb.rus_pkeyID" *ngFor="let kb of RushList">
                            {{kb.rus_Name}}
                          </option>
                        </select>
                        <!-- <div *ngIf="RushvalFlag" class="Mydropdown">this field is required </div> -->

                      </div>
                    </div>



                    <div class="form-row">
                      <div class="form-group col-md-4">
                        <label for="inputCitybnCode" class="col-form-label">Lock Code </label>
                      </div>
                      <div class="form-group col-md-8">

                        <textarea type="text" class="form-control form-control-sm" rows="1" id="inputCitybnCode"
                          placeholder="Enter lock code..." [(ngModel)]="WorkOrderModelObj.Lock_Code"
                          formControlName="LockCodeVal"></textarea>

                      </div>
                    </div>

                    <div class="form-row">
                      <div class="form-group col-md-4">
                        <label for="inputLockLocation" class="col-form-label">Lock Location </label>
                      </div>
                      <div class="form-group col-md-8">

                        <input type="text" class="form-control form-control-sm" id="inputLockLocation"
                        placeholder="Enter Lock Location" [(ngModel)]="WorkOrderModelObj.Lock_Location"
                        formControlName="LockLocationVal" >

                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-4">
                        <label for="inputkeycode" class="col-form-label">Key Code</label>
                      </div>
                      <div class="form-group col-md-8">

                        <input type="text" class="form-control form-control-sm" id="inputkeycode"
                        placeholder="Enter Key Code"[(ngModel)]="WorkOrderModelObj.Key_Code"
                        formControlName="KeyCodeVal" >

                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-4">
                        <label for="inputgatecode" class="col-form-label">Gate Code</label>
                      </div>
                      <div class="form-group col-md-8">

                        <input type="text" class="form-control form-control-sm" id="inputgatecode"
                        placeholder="Enter Gate Code"[(ngModel)]="WorkOrderModelObj.Gate_Code"
                        formControlName="GateCodeVal"  >

                      </div>
                    </div>


                    <div class="form-row">
                      <div class="form-group col-md-4">
                        <label for="dfsdfds" class="col-form-label">Broker Info </label>
                      </div>
                      <div class="form-group col-md-8">
                        <textarea id="dfsdfds" rows="2" placeholder="Enter Broker Info..." [(ngModel)]="WorkOrderModelObj.Broker_Info"
                        formControlName="BrokerInfoVal"
                          class="form-control form-control-sm"></textarea>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-4"></div>
                      <div class="form-group col-md-8"></div>
                    </div>

                  </div>
                </div>


                <div class="col-lg-4">

                  <div class="card-box bg-pattern border border-dark" style="background-color: #f7f7f7;height: 631px;">
                    <div class="form-row">
                      <!-- <div class="form-group col-md-2">

                    </div> -->
                      <div class="form-group col-md-6">
                        <label for="inputCityrfDate" class="col-form-label">Received Date</label>

                        <!-- <input type="text" class="form-control form-control-sm" placeholder="yyyy-mm-dd"
                          [ngModelOptions]="{standalone: true}" name="d2" #c2="ngModel"
                          class="form-control form-control-sm" id="inputCityrfDate"
                          [(ngModel)]="WorkOrderModelObj.ReceivedDate" ngbDatepicker #d2="ngbDatepicker"
                          (click)="d2.toggle()"> -->

                        <div class="form-group">
                          <div class="input-group">
                            <label
                              class="form-control form-control-sm">{{ WorkOrderModelObj.Received_Date | date:'MM/dd/yyyy' }}
                              <span *ngIf="!WorkOrderModelObj.Received_Date">Enter Date</span> </label>
                            <input class="form-control form-control-sm" placeholder="yyyy-mm-dd"
                              [(ngModel)]="WorkOrderModelObj.Received_Date" [ngModelOptions]="{standalone: true}"
                              ngbDatepicker #dt1="ngbDatepicker" style="display: none">
                            <div class="input-group-append" >
                              <button class="btn btn-outline-info btn-xs" [disabled]="FormDisabledCustom" (click)="dt1.toggle()" type="button"><i
                                  class="fas fa-calendar-alt"></i></button>
                            </div>
                          </div>
                        </div>


                      </div>

                      <div class="form-group col-md-6">

                        <label for="inputZipee" class="col-form-label">Start Date</label>
                        <!-- <input type="text" class="form-control form-control-sm" placeholder="yyyy-mm-dd"
                          [ngModelOptions]="{standalone: true}" name="d3" #c3="ngModel"
                          class="form-control form-control-sm" id="inputZipee" [(ngModel)]="WorkOrderModelObj.startDate"
                          ngbDatepicker #d3="ngbDatepicker" (click)="d3.toggle()"> -->


                        <div class="form-group">
                          <div class="input-group">
                            <label
                              class="form-control form-control-sm">{{ WorkOrderModelObj.startDate | date:'MM/dd/yyyy' }}
                              <span *ngIf="!WorkOrderModelObj.startDate">Enter Date</span> </label>
                            <input class="form-control form-control-sm" placeholder="yyyy-mm-dd"
                              [(ngModel)]="WorkOrderModelObj.startDate" [ngModelOptions]="{standalone: true}"
                              ngbDatepicker #dt2="ngbDatepicker" style="display: none">
                            <div class="input-group-append">
                              <button class="btn btn-outline-info btn-xs" [disabled]="FormDisabledCustom" (click)="dt2.toggle()" type="button"><i
                                  class="fas fa-calendar-alt"></i></button>
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>


                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="inputCityrfDate" class="col-form-label">Due Date <span
                            style="color: red">*</span></label>

                          <div class="form-group">
                            <div class="input-group">
                              <label class="form-control form-control-sm">{{ WorkOrderModelObj.dueDate | date:'MM/dd/yyyy'  }} <span *ngIf="!WorkOrderModelObj.dueDate">Enter Date</span> </label>
                              <input class="form-control form-control-sm" placeholder="yyyy-mm-dd" [(ngModel)]="WorkOrderModelObj.dueDate" [ngModelOptions]="{standalone: true}"
                                       ngbDatepicker #dt3="ngbDatepicker" style="display: none">
                              <div class="input-group-append">
                                <button class="btn btn-outline-info btn-xs" [disabled]="FormDisabledCustom" (click)="dt3.toggle()" type="button"><i class="fas fa-calendar-alt"></i></button>
                              </div>
                            </div>
                          </div>

                      </div>
                      <div class="form-group col-md-6">
                        <label for="inputZipeee" class="col-form-label">Client Due Date</label>
                          <div class="form-group">
                            <div class="input-group">
                              <label class="form-control form-control-sm">{{ WorkOrderModelObj.clientDueDate | date:'MM/dd/yyyy' }} <span *ngIf="!WorkOrderModelObj.clientDueDate">Enter Date</span> </label>
                              <input class="form-control form-control-sm" placeholder="yyyy-mm-dd" [(ngModel)]="WorkOrderModelObj.clientDueDate" [ngModelOptions]="{standalone: true}"
                                       ngbDatepicker #dt4="ngbDatepicker" style="display: none">
                              <div class="input-group-append">
                                <button class="btn btn-outline-info btn-xs" [disabled]="FormDisabledCustom" (click)="dt4.toggle()" type="button"><i class="fas fa-calendar-alt"></i></button>
                              </div>
                            </div>
                          </div>


                      </div>
                    </div>
                  <!--  <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="hghfghgf" class="col-form-label">Complete Date</label>
                        <div class="form-group">
                          <div class="input-group">
                            <label class="form-control form-control-sm">{{ WorkOrderModelObj.Complete_Date | date:'shortDate'  }} <span *ngIf="!WorkOrderModelObj.Complete_Date">Enter Date</span> </label>
                            <input class="form-control form-control-sm" placeholder="yyyy-mm-dd" [(ngModel)]="WorkOrderModelObj.Complete_Date" [ngModelOptions]="{standalone: true}"
                                     ngbDatepicker #dt5="ngbDatepicker" style="display: none">
                            <div class="input-group-append">
                              <button class="btn btn-outline-info btn-xs" (click)="dt5.toggle()" type="button"><i class="fas fa-calendar-alt"></i></button>
                            </div>
                          </div>
                        </div>

                      </div>
                      <div class="form-group col-md-6">
                        <label for="fsfewrewr" class="col-form-label">Cancel Date</label>

                        <div class="input-group">
                          <label class="form-control form-control-sm">{{ WorkOrderModelObj.Cancel_Date | date:'shortDate'  }} <span *ngIf="!WorkOrderModelObj.Cancel_Date">Enter Date</span> </label>
                          <input class="form-control form-control-sm" placeholder="yyyy-mm-dd" [(ngModel)]="WorkOrderModelObj.Cancel_Date" [ngModelOptions]="{standalone: true}"
                                   ngbDatepicker #dt6="ngbDatepicker" style="display: none">
                          <div class="input-group-append">
                            <button class="btn btn-outline-info btn-xs" (click)="dt6.toggle()" type="button"><i class="fas fa-calendar-alt"></i></button>
                          </div>
                        </div>


                      </div>
                    </div>
                    -->

                    <!-- <div class="form-row">
                      <div class="form-group col-md-4">
                        <label for="hgjtrrrt" class="col-form-label">Missing Info</label>
                      </div>
                      <div class="form-group col-md-8">
                        <textarea id="hgjtrrrt" rows="3" placeholder="Enter Missing Info..."
                          class="form-control form-control-sm"></textarea>
                      </div>
                    </div> -->
                    <div class="form-row">
                      <div class="form-group col-md-4">
                        <label for="hgjtrrrt" class="col-form-label">Comments</label>
                      </div>
                      <div class="form-group col-md-8">
                        <textarea id="hgjtrrrt" rows="8" placeholder="Enter Comments..."[(ngModel)]="WorkOrderModelObj.Comments"
                        formControlName="CommentsVal"
                          class="form-control form-control-sm"></textarea>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-6"></div>
                      <div class="form-group col-md-6"></div>
                    </div>

                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="col-md-12">

                    <div class="form-row">
                        <div class="float-right">
                          <label for="InvestmentSihhhze" *ngIf="formUsrCommonGroup.invalid" style="color:red">*
                            fields is required
                          </label> <br>
                          
                          <button id="client_viewdetail_1" class="btn btn-primary" *ngIf="IsEditDisable" [routerLink]="['/workorder/createworkorder/new']" (click)="EditForms()" style="margin-right:6px;">
                            <i class="far fa-edit mr-1"></i> Edit
                          </button>
                          <!-- <a *ngIf="IsEditDisable" [routerLink]="['/workorder/new']" (click)="EditForms()"
                            class="btn btn-primary waves-effect waves-light"> <i class="far fa-edit mr-1"></i> Edit </a>
                          &nbsp;&nbsp;&nbsp; -->
                          <button id="client_viewdetail_1" class="btn btn-primary" type="submit" *ngIf="!IsEditDisable" [disabled]="isLoading" style="margin-right:6px;">
                            <i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-save': !isLoading}"></i>
                            {{button}}
                          </button>
                          <!-- <button type="submit" *ngIf="!IsEditDisable" class="btn btn-primary waves-effect waves-light"
                            [disabled]="isLoading">
                            <i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-save': !isLoading}"></i>
                            {{button}}</button> &nbsp; &nbsp; -->

                            <button id="client_viewdetail_1" class="btn btn-primary" [routerLink]="['/workorder/view']">
                              <i class="fas fa-arrow-alt-circle-left mr-1"></i> Back
                            </button>
                            <!-- <a [routerLink]="['/workorder/view']" class="btn btn-primary"><i
                              class="fas fa-arrow-alt-circle-left mr-1"></i> Back</a> &nbsp; &nbsp; -->

                              <button id="client_viewdetail_1" class="btn btn-primary" (click) = 'Reset()' *ngIf = '!isnew'>Add New Work Order</button>
                              <!-- <a class="btn btn-primary"(click) = 'Reset()'style="color:white" *ngIf = '!isnew'> Add New WorkOrder</a> -->
                        </div>
                      </div>

                  <!-- <div class="float-left">
                    <label *ngIf="formUsrCommonGroup.invalid" style="color:red">*
                      fields is required
                    </label> <br>
                    <button type="submit" class="btn btn-primary waves-effect waves-light" [disabled]="isLoading">
                      <i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-lock': !isLoading}"></i>
                      {{button}}</button> &nbsp;
                    <a [routerLink]="['/workorder/view']"  class="btn btn-primary waves-effect waves-light">Back     </a>
                  </div> -->
                </div>

              </div>



            </div>
          </form>
        </div>
      </div>
    </div>











    <!-- end contianer -->
  </div>






</div>
