<ng-template #content let-modal>
  <div class="modal-header">
    Message
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true" (click)="modal.close('Save click')">×</span>
    </button>
  </div>
  <div class="modal-body">

    <div class="text-center">
      <!-- <i class="fe-check-circle"></i> -->
      <span>{{MessageFlag}}</span>
      <hr>
      <button id="client_viewdetail_1" class="btn btn-primary" (click)="modal.close('Save click')">Close</button>
      <!-- <button type="button" class="btn btn-primary waves-effect waves-light"
        (click)="modal.close('Save click')">Close..</button> -->
    </div>
  </div>
</ng-template>
<div class="container-fluid">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-12">
          <div class="page-title-box">
            <div class="page-title-right">
              <ol class="breadcrumb m-0">
                <!-- <li class="breadcrumb-item"><a href="javascript: void(0);">Add New User</a></li>
                  <li class="breadcrumb-item active">Add New User</li> -->
              </ol>
            </div>
            <!-- <h4 class="page-title">Your Company Info</h4> -->
          </div>
          <hr>
        </div>
      </div>


      <form [formGroup]="formUsrCommonGroup" (ngSubmit)="FormButton(content)">

        <div class="card-box bg-pattern border border-dark" style="background-color: #f7f7f7;">


          <div class="row">

            <div class="col-12">


              <div class="form-row">
                <div class="form-group col-md-12 text-center" style="color: black;background-color: #9b9b9b; font-weight: bolder;">
                  <h5 style="color: black;">Your Company Info</h5>
                </div>

              </div>




            </div>

          </div>


          <div class="row">

            <div class="col-lg-6">

              <div class="card-box bg-pattern border border-dark" style="background-color: #f7f7f7;">

                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label class="col-form-label" for="userName1">Company Name <span style="color: red">*</span></label>
                    <input class="form-control form-control-sm" [(ngModel)]="CompanyInfoModelObj.YR_Company_Name"
                      formControlName="CompanyNameVal" 
                      [ngClass]="{ 'is-invalid': submitted && fx.CompanyNameVal.errors }" id="userName1"
                      placeholder="Enter Company Name">
                    <div *ngIf="submitted && fx.CompanyNameVal.errors" class="invalid-feedback">
                      <div *ngIf="fx.CompanyNameVal.errors.required">this field is required</div>
                    </div>

                  </div>
                  <div class="form-group col-md-6">
                    <label class="col-form-label" for="Lastx"> Contact Name <span style="color: red">*</span></label>
                    <input type="text" id="Lastx" class="form-control form-control-sm" 
                      [(ngModel)]="CompanyInfoModelObj.YR_Company_Con_Name" formControlName="ContactNameVal"
                      [ngClass]="{ 'is-invalid': submitted && fx.ContactNameVal.errors }"
                      placeholder="Enter Contact Name">
                    <div *ngIf="submitted && fx.ContactNameVal.errors" class="invalid-feedback">
                      <div *ngIf="fx.ContactNameVal.errors.required">this field is required</div>
                    </div>
                  </div>
                </div>

                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label class="col-form-label" for="qwer">Email <span style="color: red">*</span></label>
                    <input type="text" class="form-control form-control-sm"
                      [(ngModel)]="CompanyInfoModelObj.YR_Company_Email" formControlName="EmailVal"
                      [ngClass]="{ 'is-invalid': submitted && fx.EmailVal.errors }" id="qwer"
                      placeholder="Enter Email ID">
                    <div *ngIf="submitted && fx.EmailVal.errors" class="invalid-feedback">
                      <div *ngIf="fx.EmailVal.errors.required">this field is required</div>
                      <div *ngIf="fx.EmailVal.errors.email">Email must be a valid email address</div>
                    </div>

                  </div>
                  <div class="form-group col-md-6">
                    <label class="col-form-label" for="iuyr">Phone <span style="color: red">*</span></label>
                    <input type="text" min="0" class="form-control form-control-sm" id="iuyr" numbersOnly
                      [(ngModel)]="CompanyInfoModelObj.YR_Company_Phone" formControlName="PhoneVal"
                      [ngClass]="{ 'is-invalid': submitted && fx.PhoneVal.errors }" placeholder="Enter Phone No.">
                    <div *ngIf="submitted && fx.PhoneVal.errors" class="invalid-feedback">
                      <div *ngIf="fx.PhoneVal.errors.required">this field is required</div>
                    </div>

                  </div>
                </div>


                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label class="col-form-label" for="ytgghf">Address<span style="color: red">*</span></label>
                    <textarea type="text" class="form-control form-control-sm" id="ytgghf"
                      [(ngModel)]="CompanyInfoModelObj.YR_Company_Address" formControlName="AddressVal"
                      [ngClass]="{ 'is-invalid': submitted && fx.AddressVal.errors }"
                      placeholder="Enter Address"> </textarea>
                    <div *ngIf="submitted && fx.AddressVal.errors" class="invalid-feedback">
                      <div *ngIf="fx.AddressVal.errors.required">this field is required</div>
                    </div>

                  </div>
                </div>

                <div class="form-row">
                  <div class="form-group col-md-4">
                    <label class="col-form-label" for="qweCityr">City <span style="color: red">*</span></label>
                    <input type="text" class="form-control form-control-sm" AlphabetOnly
                      [(ngModel)]="CompanyInfoModelObj.YR_Company_City" formControlName="CityVal"
                      [ngClass]="{ 'is-invalid': submitted && fx.CityVal.errors }" id="qweCityr"
                      placeholder="Enter City">
                    <div *ngIf="submitted && fx.CityVal.errors" class="invalid-feedback">
                      <div *ngIf="fx.CityVal.errors.required">this field is required</div>
                    </div>
                  </div>
                  <div class="form-group col-md-4">
                    <label class="col-form-label" for="qweCiStatetyr">State <span style="color: red">*</span></label>
                    <select class="form-control form-control-sm" [(ngModel)]="CompanyInfoModelObj.YR_Company_State"
                      formControlName="disbledFaltux" id="qweCiStatetyr" (change)="State_Method();">
                      <option value='0'>select</option>
                      <option [ngValue]="kb.IPL_StateID" *ngFor="let kb of StateList">
                        {{kb.IPL_StateName}}
                      </option>
                    </select>
                    <div *ngIf="StateFlag" class="Mydropdown">this field is required
                    </div>
                  </div>
                  <div class="form-group col-md-4">
                    <label class="col-form-label" for="qweCZipityr">Zip <span style="color: red">*</span></label>
                    <input type="text" min="0" class="form-control form-control-sm"  numbersOnly maxlength="6"
                      [(ngModel)]="CompanyInfoModelObj.YR_Company_Zip" formControlName="ZipVal"
                      [ngClass]="{ 'is-invalid': submitted && fx.ZipVal.errors }" id="qweCZipityr"
                      placeholder="Enter Zip">
                    <div *ngIf="submitted && fx.ZipVal.errors" class="invalid-feedback">
                      <div *ngIf="fx.ZipVal.errors.required">this field is required</div>
                    </div>
                  </div>
                </div>

                <br>
                <br>
                <br>






              </div>









            </div>
            <div class="col-lg-6" >

                <div class="card-box bg-pattern border border-dark" style="background-color: #f7f7f7;">

              <div class="form-row">
                <div class="form-group col-md-6">
                  <label class="col-form-label" for="qwSupporteCityr">Support Email </label>
                  <input type="text" class="form-control form-control-sm" formControlName="disbledFaltu"
                    [(ngModel)]="CompanyInfoModelObj.YR_Company_Support_Email" id="qwSupporteCityr"
                    placeholder="Enter Support Email">
                </div>
                <div class="form-group col-md-6">
                  <label class="col-form-label" for="qwrtereCityr">Support Phone </label>
                  <input type="text" min="0" class="form-control form-control-sm" numbersOnly
                    [(ngModel)]="CompanyInfoModelObj.YR_Company_Support_Phone" formControlName="disbledFaltu1"
                    id="qwrtereCityr" placeholder="Enter Support Phone">

                </div>
              </div>

              <div class="form-row">
                <div class="form-group col-md-12">
                  <label class="col-form-label" for="ytgterteghf">PDF Heading</label>
                  <textarea type="text" class="form-control form-control-sm" id="ytgterteghf" rows="1"
                    [(ngModel)]="CompanyInfoModelObj.YR_Company_PDF_Heading" formControlName="disbledFaltu2"
                    placeholder="Enter PDF Heading"> </textarea>
                </div>

              </div>
              <div class="form-row" style="border: solid 1px black;background-color: #f7f7f7;">
                <div class="form-group col-md-6">
                  <label class="col-form-label" for="qwrtLogoereCityr">Logo </label>
                  <input #imageInput type="file" class="form-control" id="qwrtLogoereCityr" title="Select File..."
                    accept="image/*" (change)="processImage(imageInput,content)"  formControlName="fileedit">
                </div>
                <div class="form-group col-md-6" *ngIf="imgpath">
                  <label class="col-form-label" for="qwrtLogoerefsdCityr">Document </label>
                  <div *ngIf="!ImgFlag">
                    <!-- <br> -->
                    <a href="{{imgpath}}" title="click to open document new tab" style="color:blue;cursor:pointer"
                      target="_blank"> preview document</a>
                  </div>

                  <br>
                  <img [src]="imgpath" *ngIf="ImgFlag" style="width: 274px;" alt="company logo" class="img-thumbnail">
                </div>
              </div>

              <div class="form-row">
                <div class="float-right">
                  <label for="InvestmentSihhhze" *ngIf="formUsrCommonGroup.invalid" style="color:red;margin-top:10px">*
                    fields is required
                  </label> <br>

<!--[routerLink]="['/company/companyinfo']" -->
                  <button id="client_viewdetail_1" class="btn btn-primary" *ngIf="IsEditDisable" (click)="EditForms()">
                    <i class="far fa-edit mr-1"></i> Edit</button>
                    <button id="client_viewdetail_1" class="btn btn-primary" type="submit" *ngIf="!IsEditDisable" [disabled]="isLoading">
                      <i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-save': !isLoading}"></i>
                    {{button}}
                    </button>
                    <button id="client_viewdetail_1" class="btn btn-primary" [routerLink]="['/company/viewcompany']" style="margin-left: 6px;">
                      <i class="fas fa-arrow-alt-circle-left mr-1"></i> Back</button>

                  <!-- <a *ngIf="IsEditDisable" [routerLink]="['/company/companyinfo']" (click)="EditForms()"
                    class="btn btn-primary waves-effect waves-light"><i class="far fa-edit mr-1"></i> Edit</a>
                  &nbsp;&nbsp;&nbsp;
                  <button type="submit" *ngIf="!IsEditDisable" class="btn btn-primary waves-effect waves-light"
                    [disabled]="isLoading">
                    <i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-save': !isLoading}"></i>
                    {{button}}</button> &nbsp; &nbsp;
                  &nbsp;&nbsp;&nbsp;
                  <a [routerLink]="['/company/viewcompany']" class="btn btn-primary waves-effect waves-light"><i
                      class="fas fa-arrow-alt-circle-left mr-1"></i> Back</a> -->
                  <!-- <input type="button" (click)="Back()" value="Back"  class="btn btn-primary waves-effect waves-light"> -->
                  <!-- <input type="button" (click)="Clearx()" value="Clear"  class="btn btn-primary waves-effect waves-light"> -->
                </div>
              </div>
              <br>
              <br>
              <br>
            </div>
          </div>
          </div>

        </div>

      </form>

    </div>
  </div>
</div>
