<ng-template #contentdata let-modal>
  <div class="modal-header">
    Message
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true" (click)="modal.close('Save click')">×</span>
    </button>
  </div>
  <div class="modal-body">

    <div class="text-center">

      <span>{{MessageFlag}}</span>
      <hr>
      <button id="client_viewdetail_1" class="btn btn-primary" (click)="modal.close('Save click')">Continue</button>
      <!-- <button type="button" class="btn btn-primary waves-effect waves-light"
        (click)="modal.close('Save click')">Continue...</button> -->
    </div>
  </div>
</ng-template>



<div class="container-fluid">
  <div class="row">
    <!-- start page title -->
    <div class="col-12">
      <div class="page-title-box">
        <div class="page-title-right">
          <ol class="breadcrumb m-0">
            <!-- <li class="breadcrumb-item"><a href="javascript: void(0);">Home</a></li>
                <li class="breadcrumb-item active">View Work Order</li> -->
          </ol>
        </div>
        <h4 class="page-title">View Work Order </h4>
      </div>
    </div>


    <div class="card">
      <div class="card-body">
        <div>
          <ngb-tabset #t="ngbTabset">

            <ngb-tab id="tab-selectbyid3" style="border-color: f5f5f5;background-color:#f5f5f5">
              <ng-template ngbTabTitle><span style="display: none"></span></ng-template>
              <ng-template ngbTabContent>
              </ng-template>
            </ngb-tab>

            <ngb-tab id="tab-selectbyid1" [disabled]="chkclick">
              <ng-template ngbTabTitle><i class="fas fa-layer-group"></i> Action</ng-template>
              <ng-template ngbTabContent>
                <div class="row" style="margin-left: 10px;">
                  <div class="col-12">
                    <div class="row" *ngFor="let item of Actionlst">
                      <a href="javascript:void(0)" (click)="ActionChanges(item,content)">{{item.Wo_Column_Name}}</a>
                    </div>
                  </div>

                </div>
                <br>
                <p>
                  <button class="btn btn-primary" id="client_viewdetail_1"
                    (click)="t.select('tab-selectbyid3')">Close</button>
                </p>

              </ng-template>
            </ngb-tab>

            <ngb-tab id="tab-selectbyid2">
              <ng-template ngbTabTitle><i class="fas fa-filter"></i> Saved Filters</ng-template>
              <ng-template ngbTabContent>
                <!-- <table class="tablex">
                  <tr>
                    <td><label for="PreferredCCCCC" class="col-form-label"> Contractor:</label></td>
                    <td>
                      <ng-template #rt let-r="result" let-t="term">
                        {{ r.Name}}
                      </ng-template>
                      <input id="PreferredCCCCC" type="search" #instance="ngbTypeahead" placeholder="Search"
                        aria-label="Search" [(ngModel)]="modelx" [ngbTypeahead]="search" [resultTemplate]="rt"
                        [inputFormatter]="formatter" (focus)="focus$.next($event.target.value)"
                        (click)="click$.next($event.target.value)" class="form-control" placeholder="Enter Contractor">
                    </td>
                    <td><label class="col-form-label"> Client:</label></td>
                    <td>
                      <select id="Preferred" class="form-control" [(ngModel)]="Client">
                        <option value='0'>select</option>
                        <option [ngValue]="k.Id" *ngFor="let k of ClientList">
                          {{k.Name}}
                        </option>
                      </select>
                    </td>
                  </tr>
                  <tr>
                    <th><label class="col-form-label"> Admin:</label></th>
                    <td><input type="text" placeholder="Enter Admin" placeholder="Enter " class="form-control" /> </td>
                    <td><label class="col-form-label"> Customer:</label></td>
                    <td><input type="text" placeholder="Enter Customer " class="form-control" /></td>
                  </tr>
                  <tr>
                    <th><label class="col-form-label"> Work Type:</label></th>
                    <td><input type="text" placeholder="Enter Work Type" class="form-control" /> </td>
                    <td><label class="col-form-label"> Category:</label></td>
                    <td><input type="text" placeholder="Enter Category" class="form-control" /></td>
                  </tr>
                  <tr>
                    <th></th>
                    <td></td>
                    <td></td>
                    <td><input type="button" id="client_viewdetail_1" class="btn btn-primary" value="Filter Data"
                        style="margin-right: 4px;" />
                      <button class="btn btn-primary" id="client_viewdetail_1"
                        (click)="t.select('tab-selectbyid3')">Close</button>
                    </td>
                  </tr>

                </table> -->
             <table>
               <tr>
                 <!-- <td></td> -->
                 <td> <div>
                  <label>Status</label>
                 </div> <div><select [(ngModel)] ="CommonStatusDTOObj.Status_ID" [ngModelOptions]="{standalone: true}" 
                  class="form-control form-control-sm">
                  <option value='0'>select</option>
                  <option [ngValue] = "kb.Status_ID" *ngFor="let kb of Statuslst">
                    {{kb.Status_Name}}
                  </option>
                </select></div></td>
                <td> <div>
                  <label>Work Order</label>
                 </div> <div><input type="text" class="form-control form-control-sm"></div></td>
                 <td> <div>
                  <label>Due Date</label>
                 </div> <div><input type="date" class="form-control form-control-sm"></div></td>
                 <td> <div>
                  <label>City</label>
                 </div> <div><input type="text" class="form-control form-control-sm"></div></td>
                 <td> <div>
                  <label>State</label>
                 </div> <div><select 
                  class="form-control form-control-sm">
                  <option value='0'>select</option>
                  <!-- <option [ngValue] = "kb.Status_ID" *ngFor="let kb of Statuslst">
                    {{kb.Status_Name}}
                  </option> -->
                </select></div></td>
                <td> <div>
                  <label>Zip</label>
                 </div> <div><input type="text" class="form-control form-control-sm"></div></td>
                 <td> <div>
                  <label>IPLNO</label>
                 </div> <div><input type="text" class="form-control form-control-sm"></div></td>
               </tr>

<tr>
  <td>
    <div>
      <label>Lot Size</label>
     </div> <div><input type="text" class="form-control form-control-sm"></div>
</td>
<td>
  <div>
    <label>Lock Code</label>
   </div> <div><input type="text" class="form-control form-control-sm"></div>
</td>
<td>
  <div>
    <label>Loan</label>
   </div> <div><input type="text" class="form-control form-control-sm"></div>
</td>
<td> <div>
  <label>Loan Type</label>
 </div> <div><select 
  class="form-control form-control-sm">
  <option value='0'>select</option>
  <!-- <option [ngValue] = "kb.Status_ID" *ngFor="let kb of Statuslst">
    {{kb.Status_Name}}
  </option> -->
</select></div></td>
<td>
  <div>
    <label>Address</label>
   </div> <div><textarea class = "form-control form-control-sm" 
   style="margin-top: 0px; margin-bottom: 0px; height: 33px;"></textarea></div>
</td>
</tr>


               <tr>
                <td colspan="7" style="text-align: right;">
                  <div class="row">
                    <div class="col-10"></div>
                    <div class="col-2">
                      <input type="button" id="client_viewdetail_1" class="btn btn-primary" value="Filter Data" />
                      <button class="btn btn-primary" id="client_viewdetail_1"
                        (click)="t.select('tab-selectbyid3')">Close</button>
                    </div>
                    
                  </div>
                 
              </td>
               </tr>
             </table>
              </ng-template>
            </ngb-tab>
            <ngb-tab id="tab-selectbyid4">
              <ng-template ngbTabTitle><i class="fas fa-layer-group"></i> Columns</ng-template>
              <ng-template ngbTabContent>
                <!--code here listbox-->
                <div class="col-lg-12 control-section" style="min-height: 450px">
                  <div id="drag-drop-wrapper">
                    <div class="listbox-control">
                      <h4>Active</h4>
                      <ejs-listbox #listbox1 [dataSource]='dataA' [allowDragAndDrop]='true' height='330px'
                        scope='combined-list' [fields]='fields' (drop)='onDropGroupA($event)'></ejs-listbox>
                    </div>
                    <span class="e-swap-icon" style="display: none;"></span>
                    <div class="listbox-control">
                      <h4>Inactive</h4>
                      <ejs-listbox #listbox2 [dataSource]='dataB' [allowDragAndDrop]='true' height='330px'
                        scope='combined-list' [fields]='fields' (drop)='onDropGroupB($event)'></ejs-listbox>
                      <button class="btn btn-primary e-btn" id="client_viewdetail_1"
                        (click)="t.select('tab-selectbyid3')">Close</button>
                      <button class="btn btn-primary e-btn" id="client_viewdetail_1" (click)='saveChanges()'
                        style="margin-right:4px">Update</button>


                    </div>


                  </div>
                </div>

              </ng-template>
            </ngb-tab>

            <!-- <ngb-tab id="tab-selectbyid4">
                      <ng-template ngbTabTitle><i class="fas fa-map-pin"></i> Zip Lookup</ng-template>
                      <ng-template ngbTabContent>
                        <table class="tablex">
                          <tr>
                            <td><label class="col-form-label"> Zip Code:</label></td>
                            <td><input type="text" placeholder="Enter Zip Code" class="form-control" /> </td>
                            <td><label class="col-form-label"> State:</label></td>
                            <td><input type="text" placeholder="Enter State" class="form-control" /></td>
                          </tr>
                          <tr>
                            <th>
                              <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck11c">
                                <label class="custom-control-label" for="customCheck11c">Show no coverage</label>
                              </div>
                            </th>
                            <td> <button class="btn btn-outline-primary" (click)="t.select('tab-selectbyid3')">close</button></td>
                            <td></td>
                            <td><input type="button" class="btn btn-primary" value="Filter data" /></td>
                          </tr>

                        </table>

                      </ng-template>
                    </ngb-tab> -->

          </ngb-tabset>
        </div>
<br>
        <!-- <form>
              <div class="row custom-control custom-checkbox">
                <input checked="" class="custom-control-input" id="checkbox-signin" type="checkbox">
                <label class="custom-control-label" for="checkbox-signin">Unassigned</label>
                <input checked="" class="custom-control-input" id="checkbox-signin" type="checkbox">
                <label class="custom-control-label" for="checkbox-signin">Field Complete</label>
                <input checked="" class="custom-control-input" id="checkbox-signin" type="checkbox">
                <label class="custom-control-label" for="checkbox-signin">Office Approved</label>
                <input checked="" class="custom-control-input" id="checkbox-signin" type="checkbox">
                <label class="custom-control-label" for="checkbox-signin">Sent to Client</label>
              </div>
            </form> -->
        <div class="row">
          <div class="col-lg-12">
            <div *ngFor="let item of Statuslst;let i = index">
              <div class="workorderass">
                <input type="checkbox" [(ngModel)]="item.mydata" (change)='FilterData(Statuslst)'>&nbsp;&nbsp;
                <label>{{item.Status_Name}}</label>
              </div>
            </div>
            <!-- <div class="workorderass">
                  <button class="btn btn-primary btn-xs" (click)="filterDataForGrid()">Search</button>
                </div> -->
            <!-- <div class="workorderass">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox"[checked]="myModel" class="custom-control-input" id="assigned1">
                    <label class="custom-control-label" for="assigned1">Assingned</label>
                  </div>
                </div>
                <div class="workorderass">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" [checked]="myModel" class="custom-control-input" id="Field456">
                    <label class="custom-control-label" for="Field456">Field Complete</label>
                  </div>
                </div>
                <div class="workorderass">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" [checked]="myModel" class="custom-control-input" id="Officeqw">
                    <label class="custom-control-label" for="Officeqw">Office Approved</label>
                  </div>
              </div>
              <div class="workorderass">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="Clientert">
                  <label class="custom-control-label" for="Clientert">Sent To Client</label>
                </div>
               
              </div>
              <div class="workorderass">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="Complete12">
                  <label class="custom-control-label" for="Complete12">Complete</label>
                </div>
               
              </div>
              <div class="workorderass">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="Cancelled345">
                  <label class="custom-control-label" for="Cancelled345">Cancelled</label>
                </div>
               
              </div> -->


          </div>

        </div>
        <br>

        <div class="row">
          <!-- [filterable]="true"  [skip]="skip" (pageChange)="onPageChange($event)" [height]="1000"-->
          <kendo-grid #gridUser style="width: 1297px;" [kendoGridBinding]="griddata" [pageSize]="15" [pageable]="true"
            [sortable]="true" [filterable]="true" [selectable]="true" [groupable]="false" [reorderable]="true">
            <kendo-grid-column width="36"
              [headerStyle]="{'background-color': '#323232','color': '#fff','line-height': '1em'}">
              <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                <div>
                  <input type="checkbox" [(ngModel)]="dataItem.chkdata" (change)="SelectRow(rowIndex,dataItem)" />
                </div>

              </ng-template>
            </kendo-grid-column>
            <kendo-grid-column title="Action" width="100"
              [headerStyle]="{'background-color': '#323232','color': '#fff','line-height': '1em'}">

              <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">

                <a class="edit" data-toggle="tooltip" (click)="showDetails($event, dataItem)" data-placement="top"
                  title="view Records" [routerLink]="['/workorder/view']">
                  <i class="fa fa-eye"></i> &nbsp; &nbsp; View
                </a>
              </ng-template>
            </kendo-grid-column>
            <kendo-grid-column [hidden]="sts" width="120" field="Status_Name" title="Status"
              [headerStyle]="{'background-color': '#323232','color': '#fff','line-height': '1em'}"></kendo-grid-column>

            <kendo-grid-column [hidden]="workd" width="180" field="workOrderNumber" title="Work Order"
              [headerStyle]="{'background-color': '#323232','color': '#fff','line-height': '1em'}"></kendo-grid-column>
              <kendo-grid-column [hidden]="ipl" width="180" field="IPLNO" title="IPLNO"
              [headerStyle]="{'background-color': '#323232','color': '#fff','line-height': '1em'}"></kendo-grid-column>
              <kendo-grid-column [hidden]="due" width="180" field="dueDate" title="Due Date"
              [headerStyle]="{'background-color': '#323232','color': '#fff','line-height': '1em'}">
              <ng-template kendoGridCellTemplate let-dataItem>
                {{dataItem.dueDate | date: 'MM/dd/yyyy'}}
              </ng-template>
            </kendo-grid-column>
            <kendo-grid-column [hidden]="address" width="180" field="address1" title="Address"
              [headerStyle]="{'background-color': '#323232','color': '#fff','line-height': '1em'}"></kendo-grid-column>
            <kendo-grid-column [hidden]="cit" width="180" field="city" title="City"
              [headerStyle]="{'background-color': '#323232','color': '#fff','line-height': '1em'}"></kendo-grid-column>
            <kendo-grid-column [hidden]="stat" width="180" field="state" title="State"
              [headerStyle]="{'background-color': '#323232','color': '#fff','line-height': '1em'}"></kendo-grid-column>
            <kendo-grid-column [hidden]="zp" width="180" field="zip" title="Zip"
              [headerStyle]="{'background-color': '#323232','color': '#fff','line-height': '1em'}"></kendo-grid-column>
            <!-- <kendo-grid-column [hidden] = "rec" width="180" field="Received_Date" title="Received Date"  [headerStyle]="{'background-color': '#323232','color': '#fff','line-height': '1em'}"></kendo-grid-column>
                <kendo-grid-column [hidden] = "clntd" width="180" field="clientDueDate" title="client Due Date"  [headerStyle]="{'background-color': '#323232','color': '#fff','line-height': '1em'}"></kendo-grid-column>
                <kendo-grid-column [hidden] = "est" width="180" field="EstimatedDate" title="Estimated Date"  [headerStyle]="{'background-color': '#323232','color': '#fff','line-height': '1em'}"></kendo-grid-column>
                <kendo-grid-column [hidden] = "comn" width="180" field="Com_Name" title="Client Name"  [headerStyle]="{'background-color': '#323232','color': '#fff','line-height': '1em'}"></kendo-grid-column>
                <kendo-grid-column [hidden] = "compd" width="180" field="Complete_Date" title="Complete Date"  [headerStyle]="{'background-color': '#323232','color': '#fff','line-height': '1em'}"></kendo-grid-column>
                <kendo-grid-column [hidden] = "Cancd" width="180" field="Cancel_Date" title="Cancel Date"  [headerStyle]="{'background-color': '#323232','color': '#fff','line-height': '1em'}"></kendo-grid-column>
                <kendo-grid-column [hidden] = "createdd" width="180" field="DateCreated" title="Created Date"  [headerStyle]="{'background-color': '#323232','color': '#fff','line-height': '1em'}"></kendo-grid-column>
                <kendo-grid-column [hidden] = "strtd" width="180" field="startDate" title="Start Date"  [headerStyle]="{'background-color': '#323232','color': '#fff','line-height': '1em'}"></kendo-grid-column>
                <kendo-grid-column [hidden] = "loannum" width="180" field="Loan_Number" title="Loan"  [headerStyle]="{'background-color': '#323232','color': '#fff','line-height': '1em'}"></kendo-grid-column>
                <kendo-grid-column [hidden] = "loaninf" width="180" field="Loan_Info" title="Loan Info"  [headerStyle]="{'background-color': '#323232','color': '#fff','line-height': '1em'}"></kendo-grid-column>
                <kendo-grid-column [hidden] = "cont" width="180" field="country" title="Country"  [headerStyle]="{'background-color': '#323232','color': '#fff','line-height': '1em'}"></kendo-grid-column> -->
            <kendo-grid-column [hidden]="lots" width="180" field="Lotsize" title="Lot Size"
              [headerStyle]="{'background-color': '#323232','color': '#fff','line-height': '1em'}"></kendo-grid-column>
            <kendo-grid-column [hidden]="lockc" width="180" field="Lock_Code" title="Lock Code"
              [headerStyle]="{'background-color': '#323232','color': '#fff','line-height': '1em'}"></kendo-grid-column>
            <!-- <kendo-grid-column [hidden] = "adm" width="180" field="assigned_admin" title="Admin"  [headerStyle]="{'background-color': '#323232','color': '#fff','line-height': '1em'}"></kendo-grid-column> -->
          



            <ng-template kendoPagerTemplate let-totalPages="totalPages" let-currentPage="currentPage">
              <kendo-pager-prev-buttons></kendo-pager-prev-buttons>

              <kendo-pager-numeric-buttons [buttonCount]="10"></kendo-pager-numeric-buttons>
              <kendo-pager-next-buttons></kendo-pager-next-buttons>
              <kendo-pager-info></kendo-pager-info>
              <kendo-pager-page-sizes [pageSizes]="[15, 30, 50, 100]"></kendo-pager-page-sizes>
            </ng-template>

          </kendo-grid>

        </div>
      </div>
    </div>

  </div>




  <!-- <div class="col-lg-12 control-section" style="min-height: 450px">
        <div id="drag-drop-wrapper">
            <div class="listbox-control">
                <h4>Group A</h4>
                <ejs-listbox #listbox1 [dataSource]='dataA' [allowDragAndDrop]='true' height='330px' scope='combined-list' [fields]='fields' (drop)='onDropGroupA($event)'></ejs-listbox>
            </div>
            <span class="e-swap-icon"></span>
            <div class="listbox-control">
                <h4>Group B</h4>
                <ejs-listbox #listbox2 [dataSource]='dataB' [allowDragAndDrop]='true' height='330px' scope='combined-list' [fields]='fields' (drop)='onDropGroupB($event)'></ejs-listbox>
                <button class="e-btn" (click)='saveChanges()'>Update</button>
            </div>
        </div>
      </div> -->

</div>


<ng-template #content id="modelclose" let-modal let-c="close" let-d="dismiss">
  <div class="modal-header">
    {{title}}
    <button type="button" (click)="modal.close('Save click')" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="formUsrCommonGroup" (ngSubmit)="ActionFormButton(contentdata)">
      <div class="row" *ngIf="31 === arr">
        <div class="col-4">
          <label>{{labelname}}</label>
        </div>
        <div class="col-8">
          <select [(ngModel)]="ActionSentStoreObj.Assign_Contractor" [ngModelOptions]="{standalone: true}"
            class="form-control form-control-sm">
            <option value='0'>select</option>
            <option [ngValue]="kb.User_pkeyID" *ngFor="let kb of ContractorList">
              {{kb.User_FirstName}}
            </option>
          </select>
        </div>

      </div>
      <div class="row" *ngIf="32 === arr">
        <div class="col-4">
          <label>{{labelname}}</label>
        </div>
        <div class="col-8">
          <select [(ngModel)]="ActionSentStoreObj.Assign_Coordinator" [ngModelOptions]="{standalone: true}"
            class="form-control form-control-sm">
            <option value='0'>select</option>
            <option [ngValue]="kb.User_pkeyID" *ngFor="let kb of CordinatorList">
              {{kb.User_FirstName}}
            </option>
          </select>
        </div>

      </div>
      <div class="row" *ngIf="33 === arr">
        <div class="col-4">
          <label>{{labelname}}</label>
        </div>
        <div class="col-8">
          <select [(ngModel)]="ActionSentStoreObj.Assign_Processor" [ngModelOptions]="{standalone: true}"
            class="form-control form-control-sm">
            <option value='0'>select</option>
            <option [ngValue]="kb.User_pkeyID" *ngFor="let kb of ProcessorList">
              {{kb.User_FirstName}}
            </option>
          </select>
        </div>

      </div>
      <div class="row" *ngIf="34 === arr">
        <div class="col-4">
          <label>{{labelname}}</label>
        </div>
        <div class="col-8">
          <select [(ngModel)]="ActionSentStoreObj.Client_Company" [ngModelOptions]="{standalone: true}"
            class="form-control form-control-sm">
            <option value='0'>select</option>
            <option [ngValue]="kb.Client_pkeyID" *ngFor="let kb of CompanyList">
              {{kb.Client_Company_Name}}
            </option>
          </select>
        </div>

      </div>
      <div class="row" *ngIf="35 === arr">
        <div class="col-4">
          <label>{{labelname}}</label>
        </div>
        <div class="col-8">
          <select [(ngModel)]="ActionSentStoreObj.Work_Type" [ngModelOptions]="{standalone: true}"
            class="form-control form-control-sm">
            <option value='0'>select</option>
            <option [ngValue]="kb.WT_pkeyID" *ngFor="let kb of WorkTypeList">
              {{kb.WT_WorkType}}
            </option>
          </select>
        </div>

      </div>
      <div class="row" *ngIf="36 === arr">
        <div class="col-4">
          <label>{{labelname}}</label>
        </div>
        <div class="col-8">
          <input type="date" [(ngModel)]="ActionSentStoreObj.Due_Date" [ngModelOptions]="{standalone: true}"
            class="form-control">
        </div>
      </div>
      <div class="row" *ngIf="37 === arr">
        <div class="col-4">
          <label>{{labelname}}</label>
        </div>
        <div class="col-8">
          <input type="date" [(ngModel)]="ActionSentStoreObj.Start_Date" [ngModelOptions]="{standalone: true}"
            class="form-control">
        </div>
      </div>
      <div class="row" *ngIf="38 === arr">
        <div class="col-4">
          <label>{{labelname}}</label>
        </div>
        <div class="col-8">
          <input type="date" [(ngModel)]="ActionSentStoreObj.Client_Due_Date" [ngModelOptions]="{standalone: true}"
            class="form-control">
        </div>
      </div>
      <div class="row" *ngIf="39 === arr">
        <div class="col-4">
          <label>{{labelname}}</label>
        </div>
        <div class="col-8">
          <input type="text" [(ngModel)]="ActionSentStoreObj.Recurring_Order" [ngModelOptions]="{standalone: true}"
            class="form-control">
        </div>
      </div>
      <div class="row" *ngIf="40 === arr">
        <div class="col-4">
          <label>{{labelname}}</label>
        </div>
        <div class="col-8">
          <textarea class="form-control" [(ngModel)]="ActionSentStoreObj.Comments"
            [ngModelOptions]="{standalone: true}"></textarea>
        </div>
      </div>
      <div class="row" *ngIf="41 === arr">
        <div class="col-4">
          <label>{{labelname}}</label>
        </div>
        <div class="col-8">
          <input type="date" class="form-control">
        </div>
      </div>
      <div class="row" *ngIf="45 === arr">
        <div class="col-4">
          <label>{{labelname}}</label>
        </div>
        <div class="col-8">
          <select class="form-control form-control-sm">
            <option value='0'>select</option>
            <option [ngValue]="kb.Cat_ID" *ngFor="let kb of CategoryList">
              {{kb.Cat_Name}}
            </option>
          </select>
        </div>
      </div>
      <div class="row" *ngIf="46 === arr">
        <div class="col-4">
          <label>{{labelname}}</label>
        </div>
        <div class="col-8">
          <select class="form-control form-control-sm">
            <option value='0'>select</option>
            <option [ngValue]="kb.Back_Chk_ProviderID" *ngFor="let kb of BackgroundList">
              {{kb.Back_Chk_ProviderName}}
            </option>
          </select>
        </div>
      </div>
      <div class="row" *ngIf="48 === arr">
        <div class="col-4">
          <label>{{labelname}}</label>
        </div>
        <div class="col-8">
          <input type="checkbox" />
        </div>
      </div>
      <div class="row" *ngIf="49 === arr">
        <div class="col-4">
          <label>{{labelname}}</label>
        </div>
        <div class="col-8">
          <input type="checkbox" />
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-4"></div>
        <div class="col-8">
          <input type="submit" value="Save" class="btn btn-primary waves-effect waves-light">
        </div>

      </div>
    </form>
  </div>
</ng-template>