<ng-template #content let-modal>
    <div class="modal-header">
      Message
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.close('Save click')">
        <span aria-hidden="true" (click)="modal.close('Save click')">×</span>
      </button>
    </div>
    <div class="modal-body">

      <div class="text-center">
        <!-- <i class="fe-check-circle"></i> -->
        <span>{{MessageFlag}}</span>
        <hr>
        <button id="client_viewdetail_1" class="btn btn-primary" (click)="modal.close('Save click')">Close</button>
        <!-- <button type="button" class="btn btn-primary waves-effect waves-light"
          (click)="modal.close('Save click')">Close</button> -->
      </div>
    </div>
  </ng-template>

<div class="container-fluid">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <div class="page-title-box">
              <div class="page-title-right">
                <ol class="breadcrumb m-0">
                  <!-- <li class="breadcrumb-item"><a href="javascript: void(0);">Add New User</a></li>
                    <li class="breadcrumb-item active">Add New User</li> -->
                </ol>
              </div>
              <h4 class="page-title" style="font-weight: bolder; line-height: 1.5; background-color: #9b9b9b; padding-left: 12px;">Add Groups</h4>
            </div>
            <!-- <hr> -->
          </div>
        </div>
        <form [formGroup]="formUsrCommonGroup" (ngSubmit)="FormButton(content)">
          <div class="row">

            <div class="col-lg-12">
              <div class="card-box bg-pattern border border-dark" style="background-color: #f7f7f7;">
                <div class="form-row">
                  <div class="form-group col-md-12 text-center" style="color: black;background-color: #9b9b9b;">
                    <h5 style="color: black;">Group </h5>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-row">

                      <div class="form-group col-md-3">
                        <label class="col-form-label" for="hjhkerddfgdfs">Group Name <span style="color: red">*</span></label>
                      </div>
                      <div class="form-group col-md-3">
                        <input type="text" id="hjhkerddfgdfs" class="form-control form-control-sm" placeholder="Enter Group Name"
                        [(ngModel)]="AddGroupsModelObj.Grp_Name" formControlName="FName"
                        [ngClass]="{ 'is-invalid': submitted && fx.FName.errors }">
                        <div *ngIf="submitted && fx.FName.errors" class="invalid-feedback">
                            <div *ngIf="fx.FName.errors.required">this field is required</div>
                            <div *ngIf="fx.FName.errors.email">Email must be a valid email address</div>
                          </div>
    
                      </div>
                      <div class="form-group col-md-3">
                        <label class="col-form-label" for="">Group Role </label>
                      </div>
                      <div class="form-group col-md-3">
                        <select id="grouprole" class="form-control form-control-sm"
                          [(ngModel)]="AddGroupsModelObj.GroupRoleId" (change)="Group_Method();"
                          formControlName="GroupRoleVal"
                          [ngClass]="{'is-invalid': fx.GroupRoleVal.touched && fx.GroupRoleVal.errors }">
                          <option value='0'>-Select-</option>
                          <option [ngValue]="kb.Group_DR_PkeyID" *ngFor="let kb of GroupRoleList">
                            {{kb.Group_DR_Name}}
                          </option>
                        </select>
                        <div *ngIf="GroupRoleValFlag" class="Mydropdown">this field is required
                      </div>
                    </div>
                    </div>
                    <div class="form-row">
    
                        <div class="form-group col-md-4">
                          <label class="col-form-label" for="customCdsfdsheck11c">Active <span style="color: red">*</span></label>
                        </div>
                        <div class="form-group col-md-8">
    
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCdsfdsheck11c"
                                [(ngModel)]="AddGroupsModelObj.Grp_IsActive" formControlName="disact">
                                <label class="custom-control-label" for="customCdsfdsheck11c"></label>
                              </div>
    
                        </div>

                      </div>
                     
                    </div>
                  
                     
                   
                  </div>
                 <br>
                
                 <div class="container"  >
                  <div class="row">
                    <div class="col-lg-4 ipl" *ngFor = "let item of Menulst">
                      <div class="row">
                        <div class="col-lg-12"  *ngFor = "let itemx of item ind as inx">
                          <div style="color: black;background-color: #9b9b9b;height: 30px; text-align: center; padding: 21.2px;">
                            <h5 style="margin-top: -7px;">{{itemx.MenuName}}</h5>
                          </div>
                          <br>
     
                          <div class="row">
                            <div class="col-lg-3">
                              <input type="checkbox"(change)="selectall(itemx,ind)"[(ngModel)]="itemx.checked" [ngModelOptions]="{standalone: true}"
                              [disabled] ="IsAssigned" style="
                              top: 0.15625rem;
                              display: block;
                              width: 1rem;
                              height: 1rem;
                              background: no-repeat 50%/50% 50%;
                              color: #6658dd;
                            border-color: #6658dd;
                         background-color: #6658dd;" >
                            </div>
                            <div class="col-lg-9">
                              <span>Select All</span>
                            </div>
                          </div>
                        
                         <hr style="color: black;">
                          <div class="row" *ngFor ="let itemc of itemx.ChildMenu; index as inx">
                            <div class="col-lg-3">
                           
                              <input type="checkbox"[(ngModel)]="itemc.IsAssignedMenu" [ngModelOptions]="{standalone: true}" [disabled] ="IsAssigned" (change)="menuselection(itemc,inx)" style="position: absolute;
                              top: 0.15625rem;
                              display: block;
                              width: 1rem;
                              height: 1rem;
                              background: no-repeat 50%/50% 50%;
                              color: #6658dd;
                            border-color: #6658dd;
                         background-color: #6658dd;" >
                              
                             </div>
                             <!--[ngModelOptions]="{standalone: true}"-->
                             <div class="col-lg-9">
                               <label>{{itemc.MenuName}}</label>
                             </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                
                
                  <!-- <div class="col-lg-4">
                    <h4>Admin</h4>
                    <div class="row">
                      <div class="col-lg-3">
                        <input type="checkbox" >
                       </div>
                       <div class="col-lg-9">
                         <label>Add User</label>
                       </div>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <h4>PCR From</h4>
                    <div class="row">
                      <div class="col-lg-3">
                        <input type="checkbox" >
                       </div>
                       <div class="col-lg-9">
                         <label>Add PCR</label>
                       </div>
                    </div>
                  </div> -->
        
                </div>
                
              

                  <div class="form-row">
                      <div class="float-right">
                        <label for="InvestmentSihhhze" *ngIf="formUsrCommonGroup.invalid" style="color:red;margin-top:10px">*
                          fields is required
                        </label> <br>

                        <button id="client_viewdetail_1" class="btn btn-primary" *ngIf="IsEditDisable" [routerLink]="['/group/addgroups']" (click)="EditForms()">
                          <i class="far fa-edit mr-1"></i> Edit</button>
                          <button id="client_viewdetail_1" class="btn btn-primary" type="submit" *ngIf="!IsEditDisable" [disabled]="isLoading">
                            <i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-save': !isLoading}"></i>
                          {{button}}
                          </button>
                          <button id="client_viewdetail_1" class="btn btn-primary" [routerLink]="['/group/viewgroups']" style="margin-left: 6px;">
                            <i class="fas fa-arrow-alt-circle-left mr-1"></i> Back</button>

                        <!-- <a *ngIf="IsEditDisable" [routerLink]="['/group/addgroups']" (click)="EditForms()"
                          class="btn btn-primary waves-effect waves-light"><i class="far fa-edit mr-1"></i> Edit</a>
                        &nbsp;&nbsp;&nbsp;
                        <button type="submit" *ngIf="!IsEditDisable" class="btn btn-primary waves-effect waves-light"
                          [disabled]="isLoading">
                          <i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-lock': !isLoading}"></i>
                          {{button}}</button> &nbsp; &nbsp;
                        &nbsp;&nbsp;&nbsp;
                        <a [routerLink]="['/group/viewgroups']" class="btn btn-primary waves-effect waves-light"><i
                            class="fas fa-arrow-alt-circle-left mr-1"></i> Back</a> -->



                        <!-- <input type="button" (click)="Back()" value="Back"  class="btn btn-primary waves-effect waves-light"> -->
                        <!-- <input type="button" (click)="Clearx()" value="Clear"  class="btn btn-primary waves-effect waves-light"> -->
                      </div>
                    </div>


              </div>
            </div>

            
          </div>
        </form>

      </div>
    </div>
  </div>
