<ng-template #content let-modal>
  <div class="modal-header">
    Message
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">

    <div class="text-center">
      <!-- <i class="fe-check-circle"></i> -->
      <span>{{MessageFlag}}</span>
      <hr>
      <button type="button" class="btn btn-primary waves-effect waves-light"
        (click)="modal.close('Save click')">Close..</button>
    </div>
  </div>
</ng-template>

<div class="container-fluid">
  <div class="card" >
    <div class="card-body">
      <div class="row">
        <div class="col-4">
          <button id="client_viewdetail_1" (click)="HideShowDiv(1)" class="btn btn-primary">Add Folder</button>&nbsp;&nbsp;
          <button id="client_viewdetail_1" (click)="HideShowDiv(2)" class="btn btn-primary">Add File</button>
        </div>
        
      </div>
      <br>
      <div class="container"[hidden]="folderhide"> 
      <form #folderdata [formGroup]="formUsrCommonGroup" (ngSubmit)="FormButton(content)">
    <div class="row" >

      <div class="col-2">
        Folder Name: 
      </div>
      <!-- [ngClass]="{ 'is-invalid': submitted && fx.FoldValName.errors }" -->
      <div class="col-4">
        <input type="text"  [(ngModel)]="DocumentAndFormsDTOObj.Fold_Name" 
        formControlName ="FoldValName" class="form-control"
      >
        <!-- <div *ngIf="submitted && fx.FoldValName.errors" class="invalid-feedback">
          <div *ngIf="fx.FoldValName.errors.required">this field is required</div>
        </div> -->
      </div>
      <div class="col-2" [hidden]='regis'>
        <label style="color: red;">this field is required *</label>
      </div>
    </div>
    <br>
   <div class="row">
    <div class="col-2">
     
      Description: 
    </div>
    <div class="col-4">
     
     <textarea class="form-control form-control-sm"
     [(ngModel)]="DocumentAndFormsDTOObj.Fold_Desc" 
     formControlName ="FoldDesc"
      placeholder="Enter Text"></textarea>
    </div>
   </div>
   <br>
   <div class="row">
     <div class="col-2">
      Parent Folder:
     </div>
     <div class="col-4">
      <!-- [ngClass]="{ 'is-invalid': fx.Folderval.touched && fx.Folderval.errors }" -->
      <select formControlName="Folderval" id="foldadd" class="form-control form-control-sm"
      [(ngModel)]="DocumentAndFormsDTOObj.Fold_Parent_Id" (change)="Folder_Method();"
     >
      <option value='0'>select</option>
      <option [ngValue]="kb.Fold_Pkey_Id" *ngFor="let kb of folderlst">
        {{kb.Fold_Name}}
      </option>
    </select>
    <!-- <div *ngIf="FoldervalFlag" class="Mydropdown">this field is required</div> -->
    </div>
   </div>
   <br>
   <div class="row">
     <div class="col-2">
      Permissions:
     </div>
     <div class="col-6">
      <div *ngFor="let item of GroupRoleList;let i = index" style="float:left; margin-right:5px;">
        <div>
          <input type="checkbox" [(ngModel)]="item.checkitem" [ngModelOptions]="{standalone: true}"  >&nbsp;&nbsp;&nbsp;
          <label>{{item.Group_DR_Name}}</label>&nbsp;
        </div>
      </div>
    </div>
   </div>
   <br>
   <div class="row">
     <div class="col-2">
      Auto-Assign:
     </div>
     <div class="col-6">
      <input type="checkbox"[(ngModel)]="flag" [ngModelOptions]="{standalone: true}" (change)="HideshowDetails(flag)">&nbsp;&nbsp;&nbsp;&nbsp;Enable Auto-Assign in WOs
    </div>
   </div>
     <br>
     <div class="row" *ngFor="let item of FormArrayVal;" [hidden] = "hidedaa">
       <div style="margin-right: 5px;">
         <label>Client</label>
        <div style="width: max-content">
          <ng-multiselect-dropdown style="width: max-content" [placeholder]="'select Client'"
             [data]="dropdownList" [(ngModel)]="item.Task_sett_Company" [ngModelOptions]="{standalone: true}"
             
             [settings]="dropdownSettings" (onSelect)="onItemSelect($event)"
             (onSelectAll)="onSelectAll($event)">
            
           </ng-multiselect-dropdown>
         </div>
       </div>
       <div style="margin-right: 5px;">
        <label>Customer</label>
         <div style="width: max-content">
                
          <ng-multiselect-dropdown [placeholder]="'select Customer'" [data]="CustomerNumberList"
          [(ngModel)]="item.Task_sett_Customer" [ngModelOptions]="{standalone: true}"
            [settings]="dropdownSettingsCustomer">
          </ng-multiselect-dropdown>
        </div>
       </div>
       <div style="margin-right: 5px;">
        <label>LoanType</label>
        <div style="width: max-content">
                
          <ng-multiselect-dropdown [placeholder]="'select LoanType'" [data]="LoanTypeList"
          [(ngModel)]="item.Task_sett_Lone" [ngModelOptions]="{standalone: true}"
            [settings]="dropdownSettingsLoanType">
          </ng-multiselect-dropdown>
        </div>
       </div>
       <div style="margin-right: 5px;">
        <label>WorkType</label>
        <div style="width: max-content">
               
          <ng-multiselect-dropdown [placeholder]="'select WorkType'" [data]="WorkTypeList"
          [(ngModel)]="item.WTTaskWorkType" [ngModelOptions]="{standalone: true}"
            [settings]="dropdownSettingsWorkTypeList" [disabled]= "isdisable">
          </ng-multiselect-dropdown>
        </div>
       </div>
       <div style="margin-right: 5px;">
        <label>WorkTypeGroup</label>
        <div style="width: max-content">
                
          <ng-multiselect-dropdown [placeholder]="'select WorkTypeGroup'" [data]="WorkTypeCategory"
          [(ngModel)]="item.Task_Work_TypeGroup" [ngModelOptions]="{standalone: true}"  
            [settings]="dropdownSettingsWorkTypeCategory">
          </ng-multiselect-dropdown>
        </div>
       </div>
       <div style="margin-right: 5px;">  
        <label>State</label>
        <div style="width: max-content">
                
          <ng-multiselect-dropdown [placeholder]="'select State'" [data]="StateList"
          [(ngModel)]="item.Task_sett_State" [ngModelOptions]="{standalone: true}"  
            [settings]="dropdownSettingsState" >
          </ng-multiselect-dropdown>
        </div>
       </div>
       <div style="margin-right: 5px;">
        <label>County</label>
        <div style="width: max-content">
                
          <ng-multiselect-dropdown [placeholder]="'select Counrty'" [data]="CountryList"
          [(ngModel)]="item.Task_sett_Country" [ngModelOptions]="{standalone: true}"   
            [settings]="dropdownSettingsCountry">
          </ng-multiselect-dropdown>
        </div>
       </div>
       <div style="margin-right: 5px;">
        <label>Zip</label>
        <input type="text" style="width: 133px;height: 34px;"  numbersOnly maxlength="6"
        [(ngModel)]="item.Task_sett_Zip" [ngModelOptions]="{standalone: true}"
           class="form-control form-control-sm" placeholder="Enter Zip">
       </div>
     </div>
     <br>
     <div class="row">
      <!-- <label  *ngIf="formUsrCommonGroup.invalid" style="color:red">*
        fields is required
      </label> <br> -->
      <div class="float-right">
       
        <!-- [routerLink]="['/task/addinvoiceitems']" -->
       
        <button type="submit"  class="btn btn-primary waves-effect waves-light"
          [disabled]="isLoading"> {{button}}</button> &nbsp; &nbsp;

        <button class="btn btn-primary"type="button" (click)="clearfolderForm(folderdata)"> Cancel</button>
      </div>
    </div>
    </form>
  </div>
  <div class="container"[hidden]="foldershow">
    <form #fileData [formGroup]="formUsrCommonGroup" (ngSubmit)="FileDatastore(content)">
    <div class="row">
      <div class="col-2">
       Parent Folder:
      </div>
      <div class="col-4">
      <select class="form-control form-control-sm"formControlName="FileDataval"
      [(ngModel)]="FileMasterModelObj.Fold_File_ParentId" (change)="File_Method()"
      [ngClass]="{ 'is-invalid': fx.FileDataval.touched && fx.FileDataval.errors }">
       <option value='0'>select</option>
       <option [ngValue]="kb.Fold_Pkey_Id" *ngFor="let kb of folderlst">
         {{kb.Fold_Name}}
       </option>
     </select>
     <div *ngIf="FilevalFlag" class="Mydropdown">this field is required</div>
     </div>
    </div>
    <br>
    <div class="row">
      <div class="col-2">
        File:
      </div>
      <div class="col-4">
        <!-- (change)="processImageBackground(imageInputBackground,content)" -->
        <input #imageInputBackground type="file" class="form-control" id="fileuploaddata"
        title="Select File..."  accept="image/*" (change)="uploadfiledoc($event)" >
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-2">
       
        Description: 
      </div>
      <div class="col-4">
       
       <textarea  [(ngModel)]="FileMasterModelObj.Fold_File_Desc" formControlName="FileDesc"
        class="form-control form-control-sm" placeholder="Enter Text"></textarea>
      </div>
     </div>
     <br>
     <div class=" row">
       <div class="col-2">

       </div>
       <div class="col-4" *ngFor = "let item of filelst" >
        <a href="javascript:void(0)"(click)="downloadPdf(item.Fold_File_Local_Path,item.Fold_File_Folder_Name)"><i class="fa fa-download" aria-hidden="true"></i> Download file</a>
      </div>
     </div>
     <br>
     <div class="row">
      <div class="float-right">
        <label  *ngIf="formUsrCommonGroup.invalid" style="color:red">*
          fields is required
        </label> <br>
        <!-- [routerLink]="['/task/addinvoiceitems']" -->
        <a href="javascript:void(0)" *ngIf="IsEditDisable" (click)="EditForms()"
          class="btn btn-primary waves-effect waves-light"> <i class="far fa-edit mr-1"></i> Edit </a>
        &nbsp;&nbsp;&nbsp;
        <button type="submit" *ngIf="!IsEditDisable" class="btn btn-primary waves-effect waves-light"
          [disabled]="isLoading1">
          <i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading1, 'fa-save': !isLoading1}"></i>
          {{button1}}</button> &nbsp; &nbsp;
         
          <button type="button" class="btn btn-primary"(click)= "fileClear(fileData)"> Cancel</button>
       
      </div>
     
     
    </div>
    
  </form>
  </div>


   
     <br>
     <br>
    <hr>
     <div class="row" >
      <div class="col-12"  *ngFor = "let item of parentlst">
        <div class="row">
          <div class="col-11">
            <label>{{item.Fold_Name}}</label>
          </div>
          <div class="col-1">
            <a href="javascript:void(0)" (click)="EditData(item)" ><i class="fas fa-edit"></i> </a>&nbsp;&nbsp;&nbsp;
            <a href="javascript:void(0)" (click)="item.toggle=!item.toggle"><i class="material-icons"  [innerText]="item.toggle ? '_' : '+'"></i></a> 
          </div>
         
        </div>
        <hr>
        <div class="row" *ngIf="item.toggle">
          <div class="col-12" style="background-color:#f5f5f5;"  *ngFor = "let filedt of item.lstFolder_File_MasterDTO">
            <div class="row" style = "background-color: antiquewhite;">
              <div class="col-11">
                <label>{{filedt.Fold_File_Name}}</label>
              </div>
              <div class="col-1">
                <a href="javascript:void(0)" (click)="EditFileData(filedt)" ><i class="fas fa-edit"></i> </a>
              </div>
             
            </div>
            <hr>
          </div>
    
        </div>
        <div class="row" *ngIf="item.toggle">
          <div class="col-12" style="background-color: #f5f5f5;" *ngFor = "let child of item.lstFolder_Get_Parent_MasterDTO">
            <div class="row">
              <div class="col-11">
                <label>{{child.Fold_Name}}</label>
              </div>
              <div class="col-1">
                <a href="javascript:void(0)" (click)="EditData(child)" ><i class="fas fa-edit"></i> </a>&nbsp;&nbsp;&nbsp;
            <a href="javascript:void(0)" (click)="child.toggle=!child.toggle"><i class="material-icons"  [innerText]="child.toggle ? '_' : '+'"></i></a> 
              </div>
             
            </div>
       
        <div class="row" *ngIf="child.toggle" >
          <div class="col-12" *ngFor = "let childfiledt of child.lstFolder_File_MasterDTO">
            <div class="row" style = "background-color: antiquewhite;">
              <div class="col-11">
                <label>{{childfiledt.Fold_File_Name}}</label>
              </div>
              <div class="col-1">
                <a href="javascript:void(0)"(click)="EditFileData(childfiledt)" ><i class="fas fa-edit"></i> </a>
              </div>
            </div>
            <hr>
          </div>
         
          
        </div>
        <hr>
      </div>
         
    </div>
    
      </div>
      
    
    </div>
     

    </div>
  </div>
 </div>
 <!-- <div class="panelbar-wrapper">
  <kendo-panelbar>
    
   
      <kendo-panelbar-item [title]="item.Fold_Name" *ngFor = "let item of parentlst">
      
        <ng-template kendoPanelBarContent>
          <div class="row">
            <div class="col-2"><label>{{item.Fold_Name}}</label></div>
            <div class="col-2"> <button (click)="EditData(item)" class="btn btn-primary" ><i class="fas fa-folder-open"></i>&nbsp; Edit</button></div>
          </div>
       
        
        </ng-template>
     
        <kendo-panelbar-item [title]="filedt.Fold_File_Name"*ngFor = "let filedt of item.lstFolder_File_MasterDTO">
          <ng-template kendoPanelBarContent>
            <div class="px-1 py-1">
              <button  class="btn btn-primary" ><i class="far fa-file"></i>&nbsp; Edit</button>
            </div>
          </ng-template>
        </kendo-panelbar-item>
          <kendo-panelbar-item [title]="child.Fold_Name" *ngFor = "let child of item.lstFolder_Get_Parent_MasterDTO">
            <ng-template kendoPanelBarContent>
              <div class="px-1 py-1">
              
                <button (click)="EditData(child)" class="btn btn-primary" ><i class="fas fa-folder-open"></i>&nbsp; Edit</button>
              </div>
            </ng-template>
            <kendo-panelbar-item [title]="childfiledt.Fold_File_Name" *ngFor = "let childfiledt of child.lstFolder_File_MasterDTO">
              <ng-template kendoPanelBarContent>
                <div class="px-1 py-1">
                  <button  class="btn btn-primary" ><i class="far fa-file"></i>&nbsp; Edit</button>
                </div>
              </ng-template>
            </kendo-panelbar-item>
        </kendo-panelbar-item>

       
    
      </kendo-panelbar-item>
    
  </kendo-panelbar>
  
</div> -->

<br>
<!-- <div class="row" >
  <div class="col-12"  *ngFor = "let item of parentlst">
    <div class="row">
      <div class="col-3">
        <label>{{item.Fold_Name}}</label>
      </div>
      <div class="col-2">
        <button (click)="EditData(item)" class="btn btn-primary" ><i class="fas fa-folder-open"></i>&nbsp; Edit</button>
      </div>
      <div class="col-3">
       <a href="javascript:void(0)" (click)="item.toggle=!item.toggle"><i class="material-icons"  [innerText]="item.toggle ? '_' : '+'"></i></a> 
      </div>
    </div>
    <hr>
    <div class="row" *ngIf="item.toggle">
      <div class="col-12" style="background-color:white;"  *ngFor = "let filedt of item.lstFolder_File_MasterDTO">
        <div class="row">
          <div class="col-3">
            <label>{{filedt.Fold_File_Name}}</label>
          </div>
          <div class="col-2">
            <button (click)="EditData(filedt)" class="btn btn-primary" ><i class="fas fa-folder-open"></i>&nbsp; Edit</button>
          </div>
         
        </div>
        <hr>
      </div>

    </div>
    <div class="row" *ngIf="item.toggle">
      <div class="col-12" style="background-color: #c1c1c1;" *ngFor = "let child of item.lstFolder_Get_Parent_MasterDTO">
        <div class="row">
          <div class="col-3">
            <label>{{child.Fold_Name}}</label>
          </div>
          <div class="col-2">
            <button (click)="EditData(child)" class="btn btn-primary" ><i class="fas fa-folder-open"></i>&nbsp; Edit</button>
          </div>
          <div class="col-3">
            <a  (click)="child.toggle=!child.toggle"><span>+</span></a>
          </div>
        </div>
   
    <div class="row" *ngIf="child.toggle" >
      <div class="col-12" *ngFor = "let childfiledt of child.lstFolder_File_MasterDTO">
        <div class="row">
          <div class="col-3">
            <label>{{childfiledt.Fold_File_Name}}</label>
          </div>
          <div class="col-2">
            <button (click)="EditData(child)" class="btn btn-primary" ><i class="fas fa-folder-open"></i>&nbsp; Edit</button>
          </div>
        </div>
        <hr>
      </div>
     
      
    </div>
    <hr>
  </div>
     
</div>

  </div>
  

</div> -->

   <!-- *ngFor="let item of filteredFiles(item)" -->
  


  <!-- <div *ngFor = "let item of parentlst;let i = index;">
    <button class="accordion" (click)="toggleAccordian($event, i)"> {{item.Fold_Name}} </button>
    <div class="panel" *ngFor = "let child of item.lstFolder_Get_Parent_MasterDTO" >
      {{ child.Fold_Name}}
  </div>
  </div> -->

      
 <!-- <div *ngFor = "let item of parentlst;let i = index;">    
   <div id="accordion">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0 d-inline">
                    <a class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      {{item.Fold_Name}}
                    </a>
                 </h5>
               
    
            </div>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" 
            *ngFor = "let child of item.lstFolder_Get_Parent_MasterDTO" data-parent="#accordion">
                <div class="card-body" id="child1">
                    <div class="card">
                        <div class="card-header">
                            <a href="#" data-toggle="collapse" data-target="#collapseOneA"> {{child.Fold_Name}}</a>
                        </div>
                        <div class="card-body collapse" data-parent="#child1" id="collapseOneA">
                          {{ child.Fold_Name}}
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
       
    </div>

  </div> -->

<!--       
  <div id="accordion">
    <div class="card" *ngFor = "let item of parentlst;let i = index +1;">
      <div class="card-header" id="'heading'+ {{i}}">
        <h5 class="mb-0">
          <a role="button" data-toggle="collapse" href="'#collapse'+{{i}}" aria-expanded="true" aria-controls="'collapse'+{{i}}">
            {{item.Fold_Name}}
          </a>
        </h5>
      </div>
      <div id="'collapse'+ {{i}}" class="collapse show" data-parent="#accordion" aria-labelledby="'heading'+{{i}}">
        <div class="card-body">
  
          <div id="accordion-1">
            <div class="card">
              <div class="card-header" id="heading-1-1">
                <h5 class="mb-0">
                  <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-1-1" aria-expanded="false" aria-controls="collapse-1-1">
                    Item 1 > 1
                  </a>
                </h5>
              </div>
              <div id="collapse-1-1" class="collapse" data-parent="#accordion-1" aria-labelledby="heading-1-1">
                <div class="card-body">
  
                    <div id="accordion-1-1">
                      <div class="card">
                        <div class="card-header" id="heading-1-1-1">
                          <h5 class="mb-0">
                            <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-1-1-1" aria-expanded="false" aria-controls="collapse-1-1-1">
                              Item 1 > 1 > 1
                            </a>
                          </h5>
                        </div>
                        <div id="collapse-1-1-1" class="collapse" data-parent="#accordion-1-1" aria-labelledby="heading-1-1-1">
                          <div class="card-body">
                            Text 1 > 1 > 1
                          </div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-header" id="heading-1-1-2">
                          <h5 class="mb-0">
                            <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-1-1-2" aria-expanded="false" aria-controls="collapse-1-1-2">
                              Item 1 > 1 > 2
                            </a>
                          </h5>
                        </div>
                        <div id="collapse-1-1-2" class="collapse" data-parent="#accordion-1-1" aria-labelledby="heading-1-1-2">
                          <div class="card-body">
                            Text 1 > 1 > 2
                          </div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-header" id="heading-1-1-3">
                          <h5 class="mb-0">
                            <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-1-1-3" aria-expanded="false" aria-controls="collapse-1-1-3">
                              Item 1 > 1 > 3
                            </a>
                          </h5>
                        </div>
                        <div id="collapse-1-1-3" class="collapse" data-parent="#accordion-1-1" aria-labelledby="heading-1-1-3">
                          <div class="card-body">
                            Text 1 > 1 > 3
                          </div>
                        </div>
                      </div>
                    </div>
  
                </div>
              </div>
            </div>
    </div> 
  </div>
  </div>
  </div>
  </div> -->
    
    

   
  
 

  <!-- <ngb-accordion [closeOthers]="true" 
  activeIds="toggle-1" 
  #acc="ngbAccordion" 
  (panelChange)="beforeChange($event)">
<ngb-panel id="toggle-1">
<template ngbPanelTitle>
<span>Title for Location</span>
</template>    
<template ngbPanelContent>
<input type="text" 
class="form-control" 
name="location" 
[(ngModel)]="model.location"
#location
placeholder="Some info" required>      
<button type="submit"
 value="location-submitted"
 class="btn btn-primary blue-btn"
 (click)="toggle(2)">
Next
</button>   
</template>
</ngb-panel>
<ngb-panel id="toggle-2" *ngIf="currentStep > 1">
<template ngbPanelTitle>
<span>Title for Load</span>
</template>
<template ngbPanelContent>
<div class="col-xs-12">
<select class="form-control" id="select">
 <option>Selection 1</option>
 <option>Selection 2</option>
 <option>Selection 3</option>
</select>
</div>
<button type="submit"
 value="load submitted"
 class="btn btn-primary blue-btn"
 (click)="toggle(3)">
Next
</button>     
</template>
</ngb-panel>
<ngb-panel id="toggle-3"  *ngIf="currentStep > 2">
<template ngbPanelTitle>
<span>Other</span>
</template>    
<template ngbPanelContent>
Other.
<button type="submit"
 class="btn btn-primary">
Submit
</button>          
</template>
</ngb-panel>
</ngb-accordion> -->