<ng-template #content let-modal>
  <div class="modal-header">
    Message
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.close('Save click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">

    <div class="text-center">

      <span>{{MessageFlag}}</span>
      <hr>
      <button type="button" class="btn btn-primary waves-effect waves-light"
        (click)="modal.close('Save click')">Close..</button>
    </div>
  </div>
</ng-template>

<div class="row">
    <div class="col-12">
      <div class="page-title-box">
        <div class="page-title-right">
          <ol class="breadcrumb m-0">
            <!-- <li class="breadcrumb-item"><a href="javascript: void(0);">User</a></li>
            <li class="breadcrumb-item active">Add New User</li> -->
          </ol>
        </div>
        <!-- <h4 class="page-title">View User </h4> -->
      </div>
    </div>
  </div>
  
  <div class="container">
    <div class="card">
      <div class="card-body">
  
        <div class="row">
          <div class="col-lg-12">
            <h4 class="page-title"> WorkOrder Queue</h4> 
          </div>
          
         
        </div>
        <form [formGroup]="formUsrCommonGroup">
        <div class="row">
        
          <div class="col-lg-1">
            <input type="button" class="btn btn-primary" (click)="ImportWorkdata(content)" value="Import"[disabled] = "isdisable">
          </div>
        </div>
        </form>
        <hr>
      <!-- <p>{{jsondatalabel | json}}</p> -->
    <br>
    <div class="container" style="background-color:#f5f5f5;" *ngFor="let item of jsondatalabel; ">
      <br>
      <div class="row">
        <div class="col-lg-1">
          <div >
            <input type="checkbox"  [(ngModel)]="item.chkflag"  (change)="SelectedImportWo(item,i)" style="width: 20px; height: 20px;">
            
          </div>
          </div>
           <!--[ngClass]="{ 'is-invalid': fx.contractorval.touched && fx.contractorval.errors }"-->
          
        <!-- [ngClass]="{ 'is-invalid': fx.cordinatorval.touched && fx.cordinatorval.errors }"-->
         
      
       
      </div>
     
      <br>
    
    <div class="row">
     <div class="col-lg-4">
       <label>WorkOrder : {{item.Wo}}</label>
     </div>
    <div class="col-lg-4">
      <label>Category : {{item.Category}}</label>
    </div>
    <div class="col-lg-4">
      <label>User Name : {{item.username}}</label>
    </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <label>Address : {{item.address}}</label>
      </div>
     <div class="col-lg-4">
       <label>Loan Information : {{item.loan_info}}</label>
     </div>
     <div class="col-lg-4">
       <label>Estimatedm Complete Date : {{item.estimated_complete_date}}</label>
     </div>
     
 
     </div>
     <div class="row">
      <div class="col-lg-4">
        <label>Locked : {{item.office_locked}}</label>
      </div>
     <div class="col-lg-4">
       <label>Due Date : {{item.due_date}}</label>
     </div>
     <div class="col-lg-4">
       <label>Ready For Office : {{item.ready_for_office_Contractor}}</label>
     </div>
     
 
     </div>
     <div class="row">
      <div class="col-lg-4">
        <label>Client Due Date : {{item.client_Due_date}}</label>
      </div>
     <div class="col-lg-4">
       <label>Complete Date : {{item.complete_date}}</label>
     </div>
     <div class="col-lg-4">
       <label>Follow Up Complete : {{item.follow_up_complete}}</label>
     </div>
     
 
     </div>
     <div class="row">
      <div class="col-lg-4">
        <label>Broker Info : {{item.broker_info}}</label>
      </div>
     <div class="col-lg-4">
       <label>Lot Size : {{item.lot_size}}</label>
     </div>
     <div class="col-lg-4">
       <label>Received Date : {{item.received_date}}</label>
     </div>
     
 
     </div>
     <div class="row">
      <div class="col-lg-4">
        <label>Customer : {{item.broker_info}}</label>
      </div>
     <div class="col-lg-4">
       <label>Client Company : {{item.client_company}}</label>
     </div>
     <div class="col-lg-4">
       <label>Freeze property : {{item.freeze_property}}</label>
     </div>
     
 
     </div>
     <div class="row">
      <div class="col-lg-4">
        <label>PPW Number : {{item.ppw}}</label>
      </div>
     <div class="col-lg-4">
       <label>Start Date : {{item.start_date}}</label>
     </div>
     
     
 
     </div>
     <div class="row">
      <div class="col-lg-4">
        <label>Missing Info : {{item.missing_info}}</label>
      </div>
     <div class="col-lg-4">
       <label>BATF : {{item.BATF}}</label>
     </div>
     <div class="col-lg-4">
       <label>Sub Contractor Follow Up : {{item.sub_contractor_follow_up}}</label>
     </div>
     
 
     </div>
     <div class="row">
    
        <div class="col-lg-4">
          <label>Lklg : {{item.lklg}}</label>
        </div>  
         
      
     <div class="col-lg-4">
       <label>Cancel Date : {{item.cancel_date}}</label>
     </div>
     <div class="col-lg-4">
       <label>Is Inspection : {{item.is_Inspection}}</label>
     </div>
     
 
     </div>
     <div class="row">
      <div class="col-lg-2">
        <label>Work Type   </label>
      </div>
        <div class="col-lg-2">
          <select   class="form-control form-control-sm"  name="temp1"
          [(ngModel)]="item.WorkTypelst" 
           [ngModelOptions]="{standalone: true}" (change)="cordinator_Method();"
         >
          <option value='0'>--Select WorkType--</option>
          <option [ngValue]="kb.WT_pkeyID" *ngFor="let kb of Worktypelst">
            {{kb.WT_WorkType}}
          </option>
        </select>
      
        </div>
        <div class="col-lg-2">
          <span>({{item.work_type}})</span> 
        </div>
      <div class="col-lg-2">
        <label>Assigned admin </label>
      </div>
      <div class="col-lg-2">
        <select   class="form-control form-control-sm"
          [(ngModel)]="item.Processorlst"  [ngModelOptions]="{standalone: true}" (change)="cordinator_Method();"
         >
          <option value='0'>--Select Processor--</option>
          <option [ngValue]="kb.User_pkeyID" *ngFor="let kb of Processorlst">
            {{kb.User_FirstName}}
          </option>
        </select>
      </div>
      <div class="col-lg-2">
        <span>({{item.assigned_admin}})</span> 
      </div>
    
   
     
 
     </div>
     <br>
     <div class="row">
      <div class="col-lg-2">
        <label>Contractor </label>
      </div>
      <div class="col-lg-2">
        <select   class="form-control form-control-sm"
        [(ngModel)]="item.Contractorlst" [ngModelOptions]="{standalone: true}"  (change)="contractor_Method();"
        >
        <option value='0'>--Select Contractor--</option>
        <option [ngValue]="kb.User_pkeyID" *ngFor="let kb of contractorlst">
          {{kb.User_FirstName}}
        </option>
      </select>
      </div>
      <div class="col-lg-2">
        <label> ({{item.contractor}})</label>
      </div>
      <div class="col-lg-2">
        <label>Cordinator</label>
      </div>
      <div class="col-lg-2">
        <select   class="form-control form-control-sm"
        [(ngModel)]="item.cordinatorlst"  [ngModelOptions]="{standalone: true}" (change)="cordinator_Method();"
       >
        <option value='0'>--Select Cordinator--</option>
        <option [ngValue]="kb.User_pkeyID" *ngFor="let kb of cordinatorlst">
          {{kb.User_FirstName}}
        </option>
      </select>
      </div>
     </div>
     <br>
     <div class="row">
      <div class="col-lg-12">
        <label>Comments : {{item.comments}}</label>
      </div>
    </div>


  
   
    
  
  
  <br>
  <h4>Instructions</h4>
  <br>
       <div class="row">
        <table class="table"style = "border:none; font-size:12px;" >
          <thead>
            <tr>
              <th style="width: 227px;">Description</th>
              <th>Quantity</th>
              <th style="width: 100px;">Price</th>
              <th style="width: 100px;">Total Price</th>
              <th>AdditionalInstructions</th>
            
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let inst of item.WorkOrderItemDetail;">
              <td style="width: 227px;">{{inst.Description}}</td>
              <td>{{inst.Qty}}</td>
              <td style="width: 100px;">{{inst.Price}}</td>
              <td style="width: 100px;">{{inst.Total}}</td>
              <td >{{inst.AdditionalInstructions}}</td>
            
            </tr>
          </tbody>
        </table>
       </div>
      
       <div class="dropdown-divider"></div>
  
  
    
    
    
    </div>
  
 
  