<div class="container-fluid">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <div class="page-title-box">
              <div class="page-title-right">
                <ol class="breadcrumb m-0">
                  <!-- <li class="breadcrumb-item"><a href="javascript: void(0);">Add New User</a></li>
                    <li class="breadcrumb-item active">Add New User</li> -->
                </ol>
              </div>
              <!-- <h4 class="page-title">Company's</h4> -->
            </div>
            <hr>
          </div>
        </div>


        <div class="row">
          <h4 class="page-title" style="font-weight: bolder;padding-left: 12px">Groups</h4>
          <hr>
          <button id="client_viewdetail_1" href="javascript:void(0);" (click)="AddNewGroup()" class="btn btn-primary"><i class="fas fa-plus-circle mr-1"></i> Add Group</button>
          <!-- <a href="javascript:void(0);" (click)="AddNewGroup()" class="btn btn-primary"><i class="fas fa-plus-circle mr-1"></i> Add Group</a>
          &nbsp;&nbsp;&nbsp; -->
          <button id="client_viewdetail_1" [routerLink]="['/user/viewduser']" class="btn btn-primary" style="margin-left: 6px;"><i class="fas fa-arrow-alt-circle-left mr-1"></i> Back</button>
          <!-- <a [routerLink]="['/user/viewduser']" class="btn btn-primary"><i class="fas fa-arrow-alt-circle-left mr-1"></i> Back</a> &nbsp;&nbsp;&nbsp; -->

        </div>
        <hr>

        <form>
          <div class="row" style="color: black;background-color: #9b9b9b;">
            <div class="col-lg-12">

              <div class="form-row">

                <div class="form-group col-md-2">
                  <label class="col-form-label" for="userName1">Group Name </label>
                  <input type="text" [(ngModel)]="ViewGroupsModelObj.Grp_Name"
                    [ngModelOptions]="{standalone: true}" class="form-control form-control-sm" id="userName1"
                    placeholder="Enter Group Name">
                </div>


                <div class="form-group col-md-1">
                  <label for="inputCityrfDate" for="customCheck11dc" class="col-form-label">Active</label>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" [(ngModel)]="ViewGroupsModelObj.Grp_IsActive"
                      [ngModelOptions]="{standalone: true}" class="custom-control-input" id="customCheck11dc">
                    <label class="custom-control-label" for="customCheck11dc"></label>
                  </div>
                </div>

              </div>

            </div>
            <div class="col-lg-12">

              <div class="form-row">
                <div class="form-group col-md-1">
                  <button id="client_viewdetail_1" class="btn btn-primary" (click)="FilterCall()"><i class="fas fa-filter mr-1"></i> Filter</button>
                  <!-- <button type="button" (click)="FilterCall()" style="width: 91px;" class="btn btn-blue waves-effect waves-light"> <i
                      class="fas fa-filter mr-1"></i>Filter</button> -->
                </div>
                <div class="form-group col-md-1">
                  <button id="client_viewdetail_1" class="btn btn-primary" (click)="ClearData()"><i class="fas fa-eraser mr-1"></i>Clear</button>
                  <!-- <button type="button" (click)="ClearData()"style="width: 91px;" class="btn btn-secondary waves-effect"> <i
                      class="fas fa-eraser mr-1"></i>Clear</button> -->
                </div>
                <div class="form-group col-md-1">
                  <button id="client_viewdetail_1" class="btn btn-primary" (click)="SaveFilterData()"><i class="fas fa-save mr-1"></i>Save</button>
                  <!-- <button type="button" (click)="SaveFilterData()"style="width: 91px;" class="btn btn-primary waves-effect waves-light"> <i
                      class="fas fa-save mr-1"></i>Save</button> -->
                </div>
              </div>
            </div>
          </div>
        </form>

        <hr>



        <div class="row">
          <kendo-grid #gridUser [kendoGridBinding]="griddata" [pageSize]="15" [pageable]="true"
            [selectable]="true" [groupable]="false" [reorderable]="true"
            [sortable]="true"
            [filterable]="false" [selectable]="true" [groupable]="false"
            [skip]="state.skip"
            [sort]="state.sort"
            [filter]="state.filter"

            (dataStateChange)="dataStateChange($event)">

            <kendo-grid-column field="Grp_Name" title="Group Name" [headerStyle]="{'background-color': '#323232','color': '#fff','line-height': '1em'}" [width]="300"></kendo-grid-column>

            <!-- <kendo-grid-column field="Grp_IsActive" title="Active" [headerStyle]="{'background-color': '#9b9b9b','color': '#000003','line-height': '1em'}" [width]="80"></kendo-grid-column> -->


            <kendo-grid-column field="Grp_IsActive" title="Active" [headerStyle]="{'background-color': '#323232','color': '#fff','line-height': '1em'}" [width]="80"
            filter="boolean">
            <ng-template kendoGridCellTemplate let-dataItem>
                <input type="checkbox" [checked]="dataItem.Grp_IsActive"  disabled/>
            </ng-template>
           </kendo-grid-column>

            <kendo-grid-column title="Action" [headerStyle]="{'background-color': '#323232','color': '#fff','line-height': '1em'}" width="80">
              <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">

                  <a class="edit" data-toggle="tooltip" (click)="showDetails($event, dataItem)" data-placement="top"
                  title="View Record" [routerLink]="['/group/viewgroups']">
                  <i class="fa fa-eye"></i>
                </a> &nbsp;&nbsp;
                <a class="edit" data-toggle="tooltip" (click)="deleteDetails($event, dataItem)" data-placement="top"
                  title="Delete Record" style="cursor: pointer" >
                  <i class="fa fa-trash"></i>
                </a>
              </ng-template>
            </kendo-grid-column>
            <ng-template kendoPagerTemplate let-totalPages="totalPages" let-currentPage="currentPage">
              <kendo-pager-prev-buttons></kendo-pager-prev-buttons>

              <kendo-pager-numeric-buttons [buttonCount]="10"></kendo-pager-numeric-buttons>
              <kendo-pager-next-buttons></kendo-pager-next-buttons>
              <kendo-pager-info></kendo-pager-info>
              <kendo-pager-page-sizes [pageSizes]="[15, 30, 50, 100]"></kendo-pager-page-sizes>
            </ng-template>
          </kendo-grid>

        </div>
      </div>
    </div>
  </div>
