<ng-template #content let-modal>
  <div class="modal-header">
    Message
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true" (click)="modal.close('Save click')">×</span>
    </button>
  </div>
  <div class="modal-body">

    <div class="text-center">
      <!-- <i class="fe-check-circle"></i> -->
      <span>{{MessageFlag}}</span>
      <hr>
      <button id="client_viewdetail_1" class="btn btn-primary" (click)="modal.close('Save click')">Ok</button>
      <!-- <button type="button" class="btn btn-primary waves-effect waves-light"
        (click)="modal.close('Save click')">Ok</button> -->
    </div>
  </div>
</ng-template>
<div class="container-fluid">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-12">
          <div class="page-title-box">
            <div class="page-title-right">
              <ol class="breadcrumb m-0">
                <!-- <li class="breadcrumb-item"><a href="javascript: void(0);">Add New User</a></li>
                  <li class="breadcrumb-item active">Add New User</li> -->
              </ol>
            </div> 
            <h4 class="page-title" style="font-weight: bolder; line-height: 1.5; background-color: #9b9b9b; padding-left: 12px;">Add Custom Photo Label</h4>
          </div>
          <!--<hr>-->
        </div>
      </div>
      <form [formGroup]="formUsrCommonGroup" (ngSubmit)="FormButton(content)">
        <div class="row">

          <div class="col-lg-6">
            <div class="card-box bg-pattern border border-dark" style="background-color: #f7f7f7;">
              <div class="form-row">
                <div class="form-group col-md-12 text-center" style="color: black;background-color: #9b9b9b;">
                  <h5 style="color: black;">Custom Photo Label </h5>
                </div>
              </div>
              <div class="form-row">

                <div class="form-group col-md-3">
                  <label class="col-form-label" for="userName1">Custom Photo Label Name <span
                      style="color: red">*</span></label>
                </div>
                <div class="form-group col-md-9">

                  <input type="text" [(ngModel)]="AddCustomLableModelObj.PhotoLabel_Name" formControlName="CustomName"
                    [ngClass]="{ 'is-invalid': submitted && fx.CustomName.errors }" class="form-control form-control-sm"
                    id="userNfuuiame1" placeholder="Enter Custom Name">
                  <div *ngIf="submitted && fx.CustomName.errors" class="invalid-feedback">
                    <div *ngIf="fx.CustomName.errors.required">this field is required</div>
                  </div>

                </div>
              </div>

              <div class="form-row">

                <div class="form-group col-md-3">
                  <label class="col-form-label" for="userName1">Client </label>
                </div>
                <div class="form-group col-md-9">
                  <select id="inputEmail4er" class="form-control form-control-sm"
                    [(ngModel)]="AddCustomLableModelObj.PhotoLabel_Client_Id" formControlName="disbledFaltu1">
                    <option value='0'>select</option>
                    <option [ngValue]="kb.Client_pkeyID" *ngFor="let kb of CompanyList">
                      {{kb.Client_Company_Name}}
                    </option>
                  </select>

                </div>
              </div>

              <div class="form-row">

                <div class="form-group col-md-3">
                  <!-- <span style="color: red">*</span> 
                   [ngClass]="{'is-invalid': fx.disbledFaltu2.touched && fx.disbledFaltu2.errors }" (change)="WorkType_Method();"
                   <div *ngIf="WorkTypevalFlag" class="Mydropdown">this field is required</div>
                  -->
                  <label class="col-form-label" for="userName1">Work Type </label> 
                </div>
                <div class="form-group col-md-9">
                  <select formControlName="disbledFaltu2" id="inputAddress" class="form-control form-control-sm"
                    [(ngModel)]="AddCustomLableModelObj.PhotoLabel_WorkType_Id" 
                    >
                    <option value='0'>select</option>
                    <option [ngValue]="kb.WT_pkeyID" *ngFor="let kb of WorkTypeList">
                      {{kb.WT_WorkType}}
                    </option>
                  </select>
                

                </div>
              </div>

              <!-- <div class="form-row">

                <div class="form-group col-md-3">
                  <label class="col-form-label" for="userName1">Customer # </label>
                </div>
                <div class="form-group col-md-9">

                  <select id="inputAddress" class="form-control form-control-sm"
                    [(ngModel)]="AddCustomLableModelObj.PhotoLabel_Customer_Id" (change)="CustomerNumber_Method();"
                    formControlName="disbledFaltu3">
                    <option value='0'>select</option>
                    <option [ngValue]="kb.Cust_Num_pkeyId" *ngFor="let kb of CustomerNumberList">
                      {{kb.Cust_Num_Number}}
                    </option>
                  </select>

                </div>
              </div> -->

              <!-- <div class="form-row">

                <div class="form-group col-md-3">
                  <label class="col-form-label" for="userName1">Loan Type </label>
                </div>
                <div class="form-group col-md-9">
                  <select id="inputAddress" class="form-control form-control-sm"
                    [(ngModel)]="AddCustomLableModelObj.PhotoLabel_Loan_Id" (change)="CustomerNumber_Method();"
                    formControlName="disbledFaltu4">
                    <option value='0'>select</option>
                    <option [ngValue]="kb.Loan_pkeyId" *ngFor="let kb of Loan_TypeList">
                      {{kb.Loan_Type}}
                    </option>
                  </select>

                </div>
              </div> -->


              <div class="form-row">

                <div class="form-group col-md-3">
                  <label class="col-form-label" for="customCheck11c">Active <span style="color: red">*</span></label>
                </div>
                <div class="form-group col-md-9">

                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" [(ngModel)]="AddCustomLableModelObj.PhotoLabel_IsActive" formControlName="disbledFaltu5"
                     class="custom-control-input" id="customCheck11c">
                    <label class="custom-control-label" for="customCheck11c"></label>
                  </div>

                </div>
              </div>


              <div class="form-row">
                <div class="float-right">
                  <!-- <label  *ngIf="formUsrCommonGroup.invalid" style="color:red">*
                      fields is required
                    </label> <br> --><!--[routerLink]="['/customphoto/lableAdd']"-->
                    <button id="client_viewdetail_1" class="btn btn-primary" *ngIf="IsEditDisable"  (click)="EditForms()">
                      <i class="far fa-edit mr-1"></i> Edit
                    </button>
                    <button id="client_viewdetail_1" class="btn btn-primary" type="submit" *ngIf="!IsEditDisable" [disabled]="isLoading">
                      <i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-save': !isLoading}"></i>
                    {{button}}
                    </button>
                    <button id="client_viewdetail_1" class="btn btn-primary" [routerLink]="['/customphoto/labelview']" style="margin-left: 6px;">
                      <i class="fas fa-arrow-alt-circle-left mr-1"></i> Back
                    </button>
                  
                    <!-- <a *ngIf="IsEditDisable" [routerLink]="['/customphoto/lableAdd']" (click)="EditForms()"
                    class="btn btn-primary waves-effect waves-light"> <i class="far fa-edit mr-1"></i> Edit </a>
                  &nbsp;&nbsp;&nbsp;
                  <button type="submit" *ngIf="!IsEditDisable" class="btn btn-primary waves-effect waves-light"
                    [disabled]="isLoading">
                    <i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-save': !isLoading}"></i>
                    {{button}}</button> &nbsp; &nbsp;

                  <a [routerLink]="['/customphoto/labelview']" class="btn btn-primary"><i
                      <!--class="fas fa-arrow-alt-circle-left mr-1"></i> Back</a>-->
                </div>
              </div>


            </div>
          </div>

          <div class="col-lg-6">



          </div>
        </div>
      </form>

    </div>
  </div>
</div>
