<ng-template #content let-modal>
  <div class="modal-header">
    Message
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">

    <div class="text-center">
      <!-- <i class="fe-check-circle"></i> -->
      <span>{{MessageFlag}}</span>
      <hr>
      <button type="button" class="btn btn-primary waves-effect waves-light"
        (click)="modal.close('Save click')">Close..</button>
    </div>
  </div>
</ng-template>
<div class="container-fluid">


  <div class="row">
    <div class="col-12">
      <div class="page-title-box">
        <div class="page-title-right">
          <ol class="breadcrumb m-0">

            <!-- <li class="breadcrumb-item"><a href="javascript: void(0);">Invoice Items</a></li>
            <li class="breadcrumb-item active">Add Invoice Items</li> -->
          </ol>
        </div>
        <h4 class="page-title"> </h4>
      </div>
    </div>
  </div>

  <div class="row">



    <div class="col-lg-12">

      <form [formGroup]="formUsrCommonGroup" (ngSubmit)="FormButton(content)">

        <div class="card-box bg-pattern border border-dark" style="background-color: #f7f7f7;">
          <div class="form-row">
            <div class="form-group col-md-12 text-center" style="color: black;background-color: #9b9b9b;">
              <h5 style="color: black;">Task Settings</h5>
            </div>
          </div>
          <div class="form-row" *ngIf="WorkOrderObj">
            <table class="table">
              <tr>
                <th>Task Name <span style="color: red">*</span></th>
                <th>Task Type</th>
                <th>Task Group</th>
                <th>Unit Of Measure</th>
                <th>Default Contractor Unit Price <span style="color: red">*</span></th>
                <th>Default Client Unit Price <span style="color: red">*</span></th>
                <th>Task Photo Label Name</th>
                <th>Auto Invoice Complete</th>
                <th>Active </th>
              </tr>
              <tr>
                <td>
                  <input type="text" [(ngModel)]="BidInvoiceItemModelObj.Task_Name" formControlName="TaskName"
                  [ngClass]="{ 'is-invalid': submitted && fx.TaskName.errors }" class="form-control form-control-sm"
                  id="userNfuuiame1" placeholder="Enter Task Name">
                <div *ngIf="submitted && fx.TaskName.errors" class="invalid-feedback">
                  <div *ngIf="fx.TaskName.errors.required">this field is required</div>
                </div>
                </td>
                <td>


                  <select class="form-control form-control-sm" [(ngModel)]="BidInvoiceItemModelObj.Task_Type" formControlName="TaskTypeVal"
                  >
                    <option value='0'>select</option>
                    <option [ngValue]="kb.Id" *ngFor="let kb of TaskTypeList">
                      {{kb.Name}}
                    </option>
                  </select>
                </td>
                <td>


                  <select class="form-control form-control-sm" [(ngModel)]="BidInvoiceItemModelObj.Task_Group" formControlName="TaskGroupVal"
                    >
                    <option value='0'>select</option>
                    <option [ngValue]="kb.Task_Group_pkeyID" *ngFor="let kb of TaskGroupList">
                      {{kb.Task_Group_Name}}
                    </option>
                  </select>
                </td>

                <td>
                  <select  class="form-control form-control-sm"
                    [(ngModel)]="BidInvoiceItemModelObj.Task_UOM" formControlName="TaskMeasureVal">
                    <option value='0'>select</option>
                    <option [ngValue]="kb.UOM_pkeyId" *ngFor="let kb of TaskUOMList">
                      {{kb.UOM_Name}}
                    </option>
                  </select>
                </td>
                <td>
                  <input type="text" [(ngModel)]="BidInvoiceItemModelObj.Task_Contractor_UnitPrice" formControlName="ContractorUnitVal"
                    [ngClass]="{ 'is-invalid': submitted && fx.ContractorUnitVal.errors }" class="form-control form-control-sm" numbersOnly
                    id="fsdfsdfds" placeholder="Enter Unit Price">
                  <div *ngIf="submitted && fx.ContractorUnitVal.errors" class="invalid-feedback">
                    <div *ngIf="fx.ContractorUnitVal.errors.required">this field is required</div>
                  </div>
                </td>

                <td>
                  <input type="text" [(ngModel)]="BidInvoiceItemModelObj.Task_Client_UnitPrice" formControlName="ClientUnitVal"
                    [ngClass]="{ 'is-invalid': submitted && fx.ClientUnitVal.errors }" class="form-control form-control-sm" numbersOnly
                    id="fsdfsdfds" placeholder="Enter Unit Price">
                  <div *ngIf="submitted && fx.ClientUnitVal.errors" class="invalid-feedback">
                    <div *ngIf="fx.ClientUnitVal.errors.required">this field is required</div>
                  </div>
                </td>
                <td>
                  <input type="text" id="trdsdthf4" [(ngModel)]="BidInvoiceItemModelObj.Task_Photo_Label_Name" formControlName="TaskLabelVal"
                     class="form-control form-control-sm" placeholder="Enter Label Name">
                </td>
                <td>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" [(ngModel)]="BidInvoiceItemModelObj.Task_AutoInvoiceComplete" formControlName="TaskCompleteVal" id="customCheckdsfds11c">
                    <label class="custom-control-label" for="customCheckdsfds11c"></label>
                  </div>
                </td>

                <td>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck11c"
                      [(ngModel)]="BidInvoiceItemModelObj.Task_IsActive" formControlName="TaskActiveVal">
                    <label class="custom-control-label" for="customCheck11c"></label>
                  </div>
                </td>

              </tr>
            </table>

          </div>



        </div>

        <div class="card-box bg-pattern border border-dark" style="background-color: #f7f7f7;">
          <div class="form-row">
            <div class="form-group col-md-12 text-center" style="color: black;background-color: #9b9b9b;">
              <h5 style="color: black;">Custom Pricing Filter</h5>
            </div>
          </div>
          <div class="table-responsive" style="overflow: auto; white-space: nowrap;">
            <table class="table" style="margin-bottom: 25%;">

              <tr>
                <th>Company <i class="fas fa-filter mr-1"></i></th>
                <th>State <i class="fas fa-filter mr-1"></i></th>
                <th>Country <i class="fas fa-filter mr-1"></i> </th>
                <th>Zip <i class="fas fa-filter mr-1"></i></th>
                <th>Contractor <i class="fas fa-filter mr-1"></i></th>
                <th>Customer <i class="fas fa-filter mr-1"></i></th>
                <th>Loan Type <i class="fas fa-filter mr-1"></i></th>
                <th>Contractor Unit Price</th>
                <th>Client Unit Price</th>
                <th>Flat Fee</th>
                <th>Price Edit</th>
                <th>Work Type Group</th>
                <th>Remove</th>
              </tr>
              <tr *ngFor="let item of FormArrayVal; index as indx">
                <td>
                  <div style="width: max-content">
                    <!-- selectedItems -->
                    <ng-multiselect-dropdown style="width: max-content" [placeholder]="'select Company'"
                      [data]="dropdownList"  [ngModelOptions]="{standalone: true}" [(ngModel)]="item.Task_sett_Company"
                      
                      [settings]="dropdownSettings" (onSelect)="onItemSelect($event)"
                      (onSelectAll)="onSelectAll($event)">
                     
                    </ng-multiselect-dropdown>
                  </div>



                </td>
                <td>
                  <div style="width: max-content">
                    <ng-multiselect-dropdown [placeholder]="'select State'" [data]="StateList"
                      [ngModelOptions]="{standalone: true}" [(ngModel)]="item.Task_sett_State"
                      [settings]="dropdownSettingsState" >
                    </ng-multiselect-dropdown>
                  </div>

                </td>
                <td>
                  <div style="width: max-content">
                    <ng-multiselect-dropdown [placeholder]="'select Counrty'" [data]="CountryList"
                      [ngModelOptions]="{standalone: true}" [(ngModel)]="item.Task_sett_Country"
                      [settings]="dropdownSettingsCountry">
                    </ng-multiselect-dropdown>
                  </div>

                </td>
                <td>
                  <input type="text" style="width: 104px;" [(ngModel)]="item.Task_sett_Zip" numbersOnly maxlength="6"
                    [ngModelOptions]="{standalone: true}" class="form-control form-control-sm" placeholder="Enter ">
                </td>
                <td>
                  <div style="width: max-content">
                    <ng-multiselect-dropdown [placeholder]="'select Contractor'" [data]="ContractorList"
                      [ngModelOptions]="{standalone: true}" [(ngModel)]="item.Task_sett_Contractor"
                      [settings]="dropdownSettingsContractor">
                    </ng-multiselect-dropdown>
                  </div>

                </td>
                <td>
                  <div style="width: max-content">
                    <ng-multiselect-dropdown [placeholder]="'select Customer'" [data]="CustomerNumberList"
                      [ngModelOptions]="{standalone: true}" [(ngModel)]="item.Task_sett_Customer"
                      [settings]="dropdownSettingsCustomer">
                    </ng-multiselect-dropdown>
                  </div>

                </td>
                <td>
                  <div style="width: max-content">
                    <ng-multiselect-dropdown [placeholder]="'select Type'" [data]="LoanTypeList"
                      [ngModelOptions]="{standalone: true}" [(ngModel)]="item.Task_sett_Lone"
                      [settings]="dropdownSettingsLoanType">
                    </ng-multiselect-dropdown>
                  </div>

                </td>

                <td style="width: 179px;">
                  <input type="text" min="0" [(ngModel)]="item.Task_sett_Con_Unit_Price" numbersOnly
                    [ngModelOptions]="{standalone: true}" class="form-control form-control-sm" id="gfghfghgf"
                    placeholder="Enter Unit Price...">
                </td>
                <td style="width: 179px;">
                  <input type="text" min="0" class="form-control form-control-sm" id="sdfdfgdf" numbersOnly
                    [(ngModel)]="item.Task_sett_CLI_Unit_Price" [ngModelOptions]="{standalone: true}"
                    placeholder="Enter Unit Price...">
                </td>
                <td>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="dwaawdw{{indx}}"
                      [(ngModel)]="item.Task_sett_Flat_Free" [ngModelOptions]="{standalone: true}">
                    <label class="custom-control-label" for="dwaawdw{{indx}}"></label>
                  </div>
                </td>
                <td>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="fsdfsdfwe{{indx}}"
                      [(ngModel)]="item.Task_sett_Price_Edit" [ngModelOptions]="{standalone: true}">
                    <label class="custom-control-label" for="fsdfsdfwe{{indx}}"></label>
                  </div>
                </td>
                <td>
                  <div style="width: max-content">
                    <ng-multiselect-dropdown [placeholder]="'select Type'" [data]="WorkTypeCategory"
                      [ngModelOptions]="{standalone: true}" [(ngModel)]="item.Task_Work_TypeGroup"
                      [settings]="dropdownSettingsWorkTypeCategory">
                    </ng-multiselect-dropdown>
                  </div>

                </td>
                <td style="width: 179px; text-align: center;">
                  <!-- <button type="button" class="btn btn-danger btn-xs waves-effect  form-control-sm"
                    title="click to add work type" (click)="RemoveRow(indx)">
                    <i class="fas fa-minus-circle"></i> Remove</button> -->

                    <span ><a href="javascript:void(0)" (click)="RemoveRow(item,indx)"> <i
                      class="fa fa-trash"></i></a></span>
                </td>
              </tr>
            </table>
            <!-- <br>
            <br>
            <br>
            <br>
            <br> -->
          </div>




          <div class="form-row">
            <div class="form-group col-md-11">
            </div>

            <div class="form-group col-md-1">
              <button type="button" class="btn btn-outline-primary waves-effect btn-xs waves-light form-control-sm"
                title="click to add more" (click)="AddMoreRow()"[disabled]= "isdisable"> <i class="fas fa-plus-circle"></i> Add
                More</button>
            </div>
          </div>


          <!-- <hr> -->








        </div>
        <div class="card-box bg-pattern border border-dark" style="background-color: #f7f7f7;">
          <div class = "row">
              
            <div class="col-lg-3">
              <input type="button" class="btn btn-primary" value="Add Document" (click)="docsupload(DocmentUpload)"[disabled]= "isdisable">
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-12">
             
               
                  <div class="table-responsive" >
                    <table class="table table-striped">
                      <tr style="text-align: center;">
                        <th style="background-color: aquamarine;">Document Download Link</th>
                        <th style="background-color: bisque;">File Name</th>
                        <th style="background-color: bisque;text-align: center;">Status</th>
                      </tr>
                    
                      <tr *ngFor="let item of doclst" >
                        <td >
                          <a [href]="item.TMF_Task_localPath" target="_blank" [download]="item.TMF_Task_localPath">
                          <i class="fas fa-download" ></i>  Download  file</a></td>
                        
                        <td >{{ item.TMF_Task_FileName }}</td>
                        <td style="text-align: center;"><input type="checkbox" [(ngModel)]="item.chkflag" [ngModelOptions]="{standalone: true}" name="group1[]"  (change)="test(item)" style = "margin-left: 37px;"class="radio"></td>
                      </tr>
                    </table>
                  </div>
               
             
            </div>
          </div>
    
    </div>
        <div class="card-box bg-pattern border border-dark" style="background-color: #f7f7f7;">
          <!-- <div class="form-row">
            <div class="form-group col-md-12 text-center" style="color: black;background-color: #9b9b9b;">
              <h5 style="color: black;">Auto Attach Document Settings </h5>
            </div>
          </div> -->


          <!-- <hr>

          <div class="table-responsive">
            <table class="table" style="margin-bottom:20%;">
              <tr>
                <th>Company <i class="fas fa-filter mr-1"></i></th>
                <th>State <i class="fas fa-filter mr-1"></i></th>
                <th>Customer <i class="fas fa-filter mr-1"></i></th>
                <th>Loan Type <i class="fas fa-filter mr-1"></i></th>
                <th>Work Type <i class="fas fa-filter mr-1"></i></th>
                <th>Client Due Date To</th>
                <th>Client Due Date From</th>
                <th>Remove</th>

              </tr>
              <tr *ngFor="let item of FormArrayValDocument; index as indx">
                <td>
                  <div style="width: max-content">
                   
                    <ng-multiselect-dropdown [placeholder]="'select Company'" [data]="dropdownList"
                      [ngModelOptions]="{standalone: true}" [(ngModel)]="item.WT_Task_Company"
                      [settings]="dropdownSettings" (onSelect)="onItemSelect($event)"
                      (onSelectAll)="onSelectAll($event)"[disabled]= "isdisable">
                    </ng-multiselect-dropdown>
                  </div>
                </td>
                <td>
                  <div style="width: max-content">
                    <ng-multiselect-dropdown [placeholder]="'select State'" [data]="StateList"
                      [ngModelOptions]="{standalone: true}" [(ngModel)]="item.WT_Task_State"
                      [settings]="dropdownSettingsState"[disabled]= "isdisable">
                    </ng-multiselect-dropdown>
                  </div>
                </td>
                <td>
                  <div style="width: max-content">
                    <ng-multiselect-dropdown [placeholder]="'select Customer'" [data]="CustomerNumberList"
                      [ngModelOptions]="{standalone: true}" [(ngModel)]="item.WT_Task_Customer"
                      [settings]="dropdownSettingsCustomer" [disabled]= "isdisable">
                    </ng-multiselect-dropdown>
                  </div>
                </td>
                <td>
                  <div style="width: max-content">
                    <ng-multiselect-dropdown [placeholder]="'select Type'" [data]="LoanTypeList"
                      [ngModelOptions]="{standalone: true}" [(ngModel)]="item.WT_Task_LoneType"
                      [settings]="dropdownSettingsLoanType" [disabled]= "isdisable">
                    </ng-multiselect-dropdown>
                  </div>
                </td>
                <td>
                  <div style="width: max-content">
                    <ng-multiselect-dropdown [placeholder]="'select Type'" [data]="WorkTypeList"
                      [ngModelOptions]="{standalone: true}" [(ngModel)]="item.WT_Task_WorkType"
                      [settings]="dropdownSettingsWorkTypeList" [disabled]= "isdisable">
                    </ng-multiselect-dropdown>
                  </div>
                </td>
                <td>
                    <div class="form-group">
                        <div class="input-group">
                          <label class="form-control form-control-sm">{{ item.WT_Task_ClientDueDateTo | date:'shortDate'  }}
                            <span *ngIf="!item.WT_Task_ClientDueDateTo">Enter Date</span> </label>
                          <input class="form-control form-control-sm" placeholder="yyyy-mm-dd"
                            [(ngModel)]="item.WT_Task_ClientDueDateTo" [ngModelOptions]="{standalone: true}" ngbDatepicker
                            #dt1="ngbDatepicker" style="display: none">
                          <div class="input-group-append">
                            <button class="btn btn-outline-info btn-xs" (click)="dt1.toggle()" type="button"><i
                                class="fas fa-calendar-alt"></i></button>
                          </div>
                        </div>
                      </div>
                </td>
                <td>
                    <div class="form-group">
                        <div class="input-group">
                          <label class="form-control form-control-sm">{{ item.WT_Task_ClientDueDateFrom | date:'shortDate'  }}
                            <span *ngIf="!item.WT_Task_ClientDueDateFrom">Enter Date</span> </label>
                          <input class="form-control form-control-sm" placeholder="yyyy-mm-dd"
                            [(ngModel)]="item.WT_Task_ClientDueDateFrom" [ngModelOptions]="{standalone: true}" ngbDatepicker
                            #dt2="ngbDatepicker" style="display: none">
                          <div class="input-group-append">
                            <button class="btn btn-outline-info btn-xs" (click)="dt2.toggle()" type="button"><i
                                class="fas fa-calendar-alt"></i></button>
                          </div>
                        </div>
                      </div>
                  </td>
                  <td style="text-align: center;">
                      
                      <span><a href="javascript:void(0)" (click)="RemoveRowDocument(item,indx)"> <i
                        class="fa fa-trash"></i></a></span>

                    </td>

              </tr>
            </table>
          
          </div> -->
        

          <!-- <div class="form-row">
              <div class="form-group col-md-11">
              </div>

              <div class="form-group col-md-1">
                <button type="button" class="btn btn-outline-primary waves-effect btn-xs waves-light form-control-sm"
                   (click)="AddMoreRowDocument()"[disabled]= "isdisable"> <i class="fas fa-plus-circle"></i> Add
                  More</button>
              </div>
            </div> -->





     







        <div class="form-row" *ngFor="let item of FormArrayPresetVal; index as indx">
          <div class="form-group col-md-3">
            <label *ngIf="indx == 0" for="hfghddaawdawsdfgh" class="col-form-label">Preset Text</label>


            <textarea class="form-control form-control-sm" placeholder="Enter Preset Text" id="hfghddaawdawsdfgh"
              [(ngModel)]="item.Task_Preset_Text" [ngModelOptions]="{standalone: true}"></textarea>

          </div>
          <div class="col-md-1" style="bottom: -2px;">
             <label *ngIf="indx == 0" for="sdfdfasdgdf" class="col-form-label" >Remove</label>
             <br>
            <button type="button" class="btn btn-outline-primary btn-xs waves-effect  form-control-sm"
               (click)="RemoveRowPreset(indx,item)" style="margin-bottom: -8px;">
              <i class="fa fa-trash"></i></button>

                
              <!-- <span><a href="javascript:void(0)" (click)="RemoveRowPreset(indx,item)"> <i
                class="fa fa-trash"></i></a></span> -->

          </div>
          

          <div class="form-group col-md-8">
          </div>

        </div>
<br>

        <div class="form-row">
          <div class="form-group col-md-3">
          </div>

          <div class="form-group col-md-1">
            <button type="button" class="btn btn-outline-primary waves-effect btn-xs waves-light form-control-sm"
              title="click to add more" (click)="AddMoreRowPreset()" style="width: 90px;" [disabled]= "isdisable"> <i class="fas fa-plus-circle"></i> Add
              More</button>
          </div>
          <div class="form-group col-md-8">
          </div>
         
        </div>
        
        

        
    </div>

  



    <div class="form-row">
      <div class="float-right">
        <label  *ngIf="formUsrCommonGroup.invalid" style="color:red">*
          fields is required
        </label> <br>
        <!-- [routerLink]="['/task/addinvoiceitems']" -->
        <a href="javascript:void(0)" *ngIf="IsEditDisable" (click)="EditForms()"
          class="btn btn-primary waves-effect waves-light"> <i class="far fa-edit mr-1"></i> Edit </a>
        &nbsp;&nbsp;&nbsp;
        <button type="submit" *ngIf="!IsEditDisable" class="btn btn-primary waves-effect waves-light"
          [disabled]="isLoading">
          <i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-save': !isLoading}"></i>
          {{button}}</button> &nbsp; &nbsp;

        <a [routerLink]="['/task/bidinvoiceitemviewtask']" class="btn btn-primary"><i
            class="fas fa-arrow-alt-circle-left mr-1"></i> Back</a>
      </div>
    </div>


    <!-- <button type="submit" class="btn btn-primary waves-effect waves-light" [disabled]="isLoading">
      <i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-save': !isLoading}"></i>
      {{button}}</button> &nbsp; &nbsp;

    <a [routerLink]="['/task/bidinvoiceitemviewtask']" class="btn btn-primary"><i
        class="fas fa-arrow-alt-circle-left mr-1"></i> Back</a> -->









    </form>


  </div>



</div>




</div>








<ng-template #DocmentUpload let-modal>
  <div class="modal-header">
    Upload Documents
    <button type="button" ngbAutofocus class="close" (click)="modal.close('Save click')" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <div>

      <div class="row">
        <div class="col-md-12">

          <kendo-upload [saveUrl]="uploadSaveUrl" [removeUrl]="uploadRemoveUrl" [(ngModel)]="myFiles"
            (error)="displayError($event)" (success)=displaySuccess($event);>
          </kendo-upload>

        </div>

      </div>
      <hr>
      <button id="client_viewdetail_1" class="btn btn-primary" (click)="modal.close('Save click')">Close</button>
      <!-- <button type="button" class="btn btn-primary waves-effect waves-light"
        (click)="modal.close('Save click')">Close</button> -->
    </div>
  </div>
</ng-template>
