<!-- Start Content-->
<div class="container-fluid">

    <!-- start page title -->

    <div class="col-12">

        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">WorkOrder</a></li>
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Get WorkOrder</a></li>
                    <!-- <li class="breadcrumb-item active">Starter</li> -->
                </ol>
            </div>

            <h4 class="page-title">Get WorkOrder </h4>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
          <div *ngIf="LoginDiv">
              <form [formGroup]="formUsrLoginGroup" (ngSubmit)="LoginBtn()" id="login-form">

                  <div class="row">
                      <div class="col-lg-3"></div>
                      <div class="col-lg-2">
                          <label for="inputuser" class="col-form-label">User Name</label>
                      </div>
                      <div class="col-lg-3">
                          <input type="text" id="inputuser" class="form-control" placeholder="Username" formControlName="Eamilname"
                                 [(ngModel)]="HomeModelobj.username" [ngClass]="{ 'is-invalid': fx.Eamilname.touched && fx.Eamilname.errors }">
                          <div *ngIf="fx.Eamilname.touched && fx.Eamilname.errors" class="Registerinvalid-feedback">
                              <div *ngIf="fx.Eamilname.errors.required">UserName is required</div>
                          </div>
                      </div>
                  </div>
                  <br>
                  <div class="row">
                      <div class="col-lg-3"></div>
                      <div class="col-lg-2">
                          <label for="inputpass" class="col-form-label">Token</label>
                      </div>
                      <div class="col-lg-3">
                          <input type="password" id="inputpass" class="form-control" placeholder="token" formControlName="passwordname"
                                 [(ngModel)]="HomeModelobj.token"
                                 [ngClass]="{ 'is-invalid': fx.passwordname.touched && fx.passwordname.errors }">
                          <div *ngIf="fx.passwordname.touched && fx.passwordname.errors" class="Registerinvalid-feedback">
                              <div *ngIf="fx.passwordname.errors.required">Password is required</div>
                          </div>
                      </div>
                  </div>


                  <br>
                  <div class="row">
                      <div class="col-lg-3"></div>
                      <div class="col-lg-2"></div>
                      <div class="col-lg-3">
                          <button type="submit" style="color:blue" class="btn btn-block" [disabled]="isLoading" (click)="click()">
                              <i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-lock': !isLoading}"></i> {{button}}
                          </button>
                      </div>
                  </div>
                  <!-- <button type="submit" class="btn btn-block btn-lg btn-gradient btn-gradient-two">Sign In</button> -->


              </form>

          </div>




            <br />
            <br />
            <div class="row" *ngIf="GridShow">


                <kendo-grid #gridUser [kendoGridBinding]="griddata" [pageSize]="10" [pageable]="true" [sortable]="true"
                            [filterable]="true" [selectable]="true" [groupable]="false" [height]="510">

                    <kendo-grid-column field="status" title="Status" [width]="80"></kendo-grid-column>
                    <kendo-grid-column field="source_wo_id" title="Work Order" [width]="80"></kendo-grid-column>
                    <kendo-grid-column field="dueDate" title="Due Date" [width]="80"></kendo-grid-column>

                    <kendo-grid-column field="address1" title="Adress" [width]="80"></kendo-grid-column>

                    <kendo-grid-column field="address1" title="Address" [width]="80"></kendo-grid-column>
                    <kendo-grid-column field="city" title="City" [width]="80"></kendo-grid-column>
                    <kendo-grid-column field="state" title="state" [width]="80"></kendo-grid-column>
                    <kendo-grid-column field="zip" title="zip" [width]="80"></kendo-grid-column>


                    <kendo-grid-excel fileName="CustomerDetails.xlsx"></kendo-grid-excel>
                </kendo-grid>

                <br><br>

                <div [hidden]="true">
                    <button type="button" icon="file-excel" class="btn btn-primary" (click)="excelexport.save()">
                        Export To
                        Excel
                    </button>
                    <br><br>
                    <kendo-excelexport [data]="gridData" fileName="CustomerDetailsAll.xlsx" #excelexport>
                        <kendo-excelexport-column field="status" title="Status" [width]="350">
                        </kendo-excelexport-column>
                        <kendo-excelexport-column field="source_wo_id" title="Work Order" [width]="350">
                        </kendo-excelexport-column>
                        <kendo-excelexport-column field="dueDate" title="Due Date" [width]="350">
                        </kendo-excelexport-column>
                    </kendo-excelexport>
                </div>


                <div [hidden]="true">
                    <button type="button" icon="file-excel" class="btn btn-primary" (click)="excelexport.save()">
                        Export To
                        Excel
                    </button>
                    <br><br>
                    <kendo-excelexport [data]="gridData" fileName="CustomerDetailsAll.xlsx" #excelexport>
                        <kendo-excelexport-column field="status" title="Status" [width]="350">
                        </kendo-excelexport-column>
                        <kendo-excelexport-column field="source_wo_id" title="Work Order" [width]="350">
                        </kendo-excelexport-column>
                        <kendo-excelexport-column field="dueDate" title="Due Date" [width]="350">
                        </kendo-excelexport-column>
                    </kendo-excelexport>
                </div>




            </div>
            <!-- end page title -->
        </div>
    </div>
</div> <!-- container -->

