<ng-template #content let-modal>
  <div class="modal-header">
    Message
    <button type="button" class="close" (click)="modal.close('Save click')" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="text-center">

      <span>{{MessageFlag}}</span>
      <hr>
      <button id="client_viewdetail_1" class="btn btn-primary" (click)="modal.close('Save click')">Continue</button>
      <!-- <button type="button" class="btn btn-primary waves-effect waves-light"
        (click)="modal.close('Save click')">Continue</button> -->
    </div>
  </div>
</ng-template>
<!-- Mohit last change -->
<div class="row">
  <div class="col-12">
    <div class="card-box">


      <!-- start here menu Common -->


      <app-header-client-result></app-header-client-result>



      <!-- photos and meta data -->


      <app-photosMeta-client-result></app-photosMeta-client-result>


      <!-- End photos and meta data -->



      <!--End view-->

      <!--for deopdown-->
      <br>
      <br>
      <hr>
      <br>
      <h4 style="background-color: #9b9b9b; color: black; line-height: 1.5; padding-left: 12px; margin-bottom: 0px;">
        Comments
      </h4>
      <div class="row">

        <div class="col-md-12">
            <kendo-editor [(ngModel)]="SigleEditBoxModelObj.Inst_Ch_Text" ></kendo-editor>
        </div>
      </div>

      <br>
      <hr>
      <div class="row">
        <!-- <div class="col-2">
          <strong>Task Name</strong>
        </div>
        <div class="col-3">
          <select id="Type" class="form-control form-control-sm" [(ngModel)]="tempInstr_Task_Id">
            <option value='0'>select</option>
            <option [ngValue]="kb.Ins_Type_pkeyId" *ngFor="let kb of TypeNameArray">
              {{kb.Ins_Type_Name}}
            </option>
          </select>
        </div> -->
        <div class="col-3">
          <!-- <button (click)='AddMoreInstruction(1)'
            class="btn btn-primary width-xs waves-effect waves-light" title="click to add "> <i
              class="fas fa-plus-circle"></i>
            Add Task </button> -->
            
          <button id="client_viewdetail_1" class="btn btn-primary" (click)='ClientResultInstruCSumbit(content)' [disabled]="isLoading">
          <i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-save': !isLoading}"></i>
          {{button}}</button>
        </div>

      </div>
    

      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">

          <h4>Client Details</h4>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="field-tab">
        </div>
        <div class="tab-pane fade show active" id="contact" role="tabpanel" aria-labelledby="contact-tab">
          <div class="row workorder-details">

            <div class="col-12">

              <div class="responsive-table-plugin">
                <div class="table-rep-plugin">
                  <div class="table-responsive" data-pattern="priority-columns">
                      <h4 style="background-color: #9b9b9b; color: black; line-height: 1.5; padding-left: 12px; margin-bottom: 0px;">
                          Task
                        </h4>
                    <table id="table" class="table table-striped">
                      <thead>
                        <tr>
                          <th colspan="3"></th>
                          <th colspan="2" style="background-color:#b6babf;"[hidden] ='processorh'>Contractor</th>
                          <th colspan="2" style="background-color:#dcdcdc;"[hidden]='OfficeResulth'>Client</th>
                          <th></th>
                        </tr>

                        <tr>


                          <th> Task Type</th>
                          <th>Task Name</th>
                          <th>Qty</th>
                          <th style="background-color:#b6babf;"[hidden] ='processorh'> Price</th>
                          <th style="background-color:#b6babf;"[hidden] ='processorh'> Total Price</th>
                          <th style="background-color:#dcdcdc;"[hidden]='OfficeResulth'> Price</th>
                          <th style="background-color:#dcdcdc;"[hidden]='OfficeResulth'> Total Price</th>
                          <th>Action</th>


                        </tr>
                      </thead>
                      <tbody>

                          <tr style="background-color: #d7ecba" *ngFor="let item of InstructionDataArray;index as indx">


                            <td style="width: 10%;">
                              <select id="TaskType" class="form-control form-control-sm"
                                [(ngModel)]="item.Instr_Task_pkeyId">
                                <option value='0'>select</option>
                                <option [ngValue]="kb.Inst_Task_pkeyId" *ngFor="let kb of taskTypeNameArrayNew">
                                  {{kb.Inst_Task_Name}}
                                </option>
                              </select>
                            </td>
                            <td>
                              <select id="Task" class="form-control form-control-sm" [(ngModel)]="item.Instr_Task_Name"
                                (change)="TaskNameMetaData_Method(item)">
                                <option value='0'>select</option>
                                <option [ngValue]="kb.Task_pkeyID" *ngFor="let kb of TaskNameArray">
                                  {{kb.Task_Name}}
                                </option>
                              </select>

                            </td>
                            <td style="width: 10%;">
                              <input type="text" placeholder="Enter Qty" (blur)="ClinetResultQtyInstrucation_Method()"
                              (keypress)="validate($event)" [(ngModel)]="item.Instr_Qty" class="form-control form-control-sm">
                            </td>
                            <td style="background-color:#b6babf; width: 10%;"[hidden] ='processorh'>
                              <input type="text" (blur)="ClinetResultInstCont_Price_Method()"  (keypress)="validate($event)"
                                [(ngModel)]="item.Instr_Contractor_Price" placeholder=" Enter Contractor Price"
                                class="form-control form-control-sm"></td>
                            <td style="background-color:#b6babf; width: 10%;"[hidden] ='processorh'><input type="text"
                                [(ngModel)]="item.Instr_Contractor_Total" placeholder="Contractor Price"
                                [disabled]="true" class="form-control form-control-sm"></td>
                            <td style="background-color:#dcdcdc; width: 10%;"[hidden]='OfficeResulth'>
                              <input type="text" (blur)="ClinetResultInstClient_Price_Method()"  (keypress)="validate($event)"
                                [(ngModel)]="item.Instr_Client_Price" placeholder="Enter Client Price"
                                class="form-control form-control-sm"></td>
                            <td style="background-color:#dcdcdc; width: 10%;"[hidden]='OfficeResulth'><input type="text"
                                [(ngModel)]="item.Instr_Client_Total" placeholder="Client Price" [disabled]="true"
                                class="form-control form-control-sm"></td>

                            <td>
                              <span><a [href]="item.TMF_Task_localPath" target="_blank" [download]="item.TMF_Task_localPath"><i class="fas fa-file-pdf" style="color: black;"></i> </a></span> &nbsp;
                              <span><a href="javascript:void(0)" class="up" (click)='upmethod()'> <i
                                    class=" fas fa-arrow-up" style="color: black;"></i></a></span>&nbsp;
                              <span><a href="javascript:void(0)" class="down" (click)='upmethod()'> <i
                                    class=" fas fa-arrow-down" style="color: black;"></i></a></span>&nbsp;&nbsp;
                              <span><a href="javascript:void(0)" (click)='InstructionRemove(item, indx)'> <i
                                    class="fa fa-trash" style="color: black;"></i></a></span>
                            </td>


                          </tr>


                        <!--test-->


                      </tbody>
                    </table>
                    <hr>
                     <!--for change event for details text box start-->
                    <!-- <h3 style="text-align: center;">
                      Details
                    </h3>
                    <table style="border:1px">



                      <tr  style="border: 1px solid;text-align:initial;align-items: initial;"  *ngFor="let item of DetailsDataArray;index as indx">


                        <td style="width: 10%;">
                          <select id="TaskType" class="form-control form-control-sm"
                            [(ngModel)]="item.Instr_Task_pkeyId">
                            <option value='0'>select</option>
                            <option [ngValue]="kb.Inst_Task_pkeyId" *ngFor="let kb of taskTypeNameArrayNewOne">
                              {{kb.Inst_Task_Name}}
                            </option>
                          </select>
                        </td>


                        <td style="background-color:#b6babf;" colspan="3">

                          <kendo-editor [(ngModel)]="item.Instr_Details_Data"  style="height: 150px;width: 720px;"></kendo-editor>




                          </td>

                          <td style="width: 20%;">
                              <input type="text" (blur)="ClinetResultQtyInstrucationDetails_Method()"
                               [(ngModel)]="item.Instr_Qty_Text" style="width: 50px;"  numbersOnly placeholder="Qty" class="form-control form-control-sm">


                              <input type="text" (blur)="ClinetResultInstContDetails_Price_Method()"
                               [(ngModel)]="item.Instr_Price_Text" style="width: 60px;"  numbersOnly placeholder="Price" class="form-control form-control-sm">


                              <input type="text" [(ngModel)]="item.Instr_Total_Text" style="width: 80px;" [disabled]="true"  numbersOnly placeholder="Total" class="form-control form-control-sm">

                          </td>

                        <td style="width: 10%;">

                          <span><a href="javascript:void(0)" class="up" (click)='upmethod()'> <i
                                class=" fas fa-arrow-up"></i></a></span>&nbsp;
                          <span><a href="javascript:void(0)" class="down" (click)='upmethod()'> <i
                                class=" fas fa-arrow-down"></i></a></span>&nbsp;&nbsp;
                          <span><a href="javascript:void(0)" (click)='DetailsRemove(indx)'> <i
                                class="fa fa-trash"></i></a></span>&nbsp;
                          <span><a href="javascript:void(0)"><i class="fa fa-eye"></i> </a></span>
                        </td>


                      </tr>

                    </table>
                    <br>
                    <hr> -->


<br>
<div class="row">
       
  <div class="col-3">
    <button id="client_viewdetail_1" class="btn btn-primary" (click)='AddMoreInstruction(1)'><i class="fas fa-plus-circle"></i> Add Task</button>
    <!-- <button (click)='AddMoreInstruction(1)'
            class="btn btn-primary width-xs waves-effect waves-light" title="click to add "> <i
              class="fas fa-plus-circle"></i>
            Add Task </button> -->
    <!-- <button (click)='AddMoreInstruction(3)'
      class="btn btn-primary width-xs waves-effect waves-light" title="click to add "> <i
        class="fas fa-plus-circle"></i>
      Add Instruction </button> -->
      <button id="client_viewdetail_1" class="btn btn-primary" (click)='ClientResultInstruCSumbit(content)' [disabled]="isLoading" style="margin-left:6px;">
        <i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-save': !isLoading}"></i>
        {{button}}</button>
  </div>

</div>



                    <div *ngIf="InstDataArray">
                      <h4 style="background-color: #9b9b9b; color: black; line-height: 1.5; padding-left: 12px; margin-bottom: 0px;">
                        Instructions
                      </h4>

                    </div>

                    <table style="text-align: center;" style="border:1px">
                      <!--for change event for Instruction text box start-->
                      <!-- <caption> Instruction </caption> -->

                      <tr style="border: 1px solid;" *ngFor="let item of InstDataArray;index as indx" >


                        <td style="width: 10%;">
                          <select id="TaskType" class="form-control form-control-sm"
                            [(ngModel)]="item.Instr_Task_pkeyId">
                            <option value='0'>select</option>
                            <option [ngValue]="kb.Inst_Task_pkeyId" *ngFor="let kb of taskTypeNameArrayNewTwo">
                              {{kb.Inst_Task_Name}}
                            </option>
                          </select>
                        </td>

                        <td style="background-color:#b6babf; " colspan="3">


                          <kendo-editor [(ngModel)]="item.Instr_Details_Data"></kendo-editor>




                          </td>

                          <td>
                              <input type="text"  (blur)="ClinetResultQtyInstrucationISTRUNEW_Method()"
                               [(ngModel)]="item.Instr_Qty_Text" style="width: 50px;"   (keypress)="validate($event)" placeholder="Qty" class="form-control form-control-sm">

                          </td>
                          <td>
                              <input type="text" (blur)="ClinetResultPriceInstrucationISTRUNEW_Method()"
                               [(ngModel)]="item.Instr_Price_Text" style="width: 70px;"   (keypress)="validate($event)" placeholder="Price" class="form-control form-control-sm">

                          </td>
                          <td>
                              <input type="text" [(ngModel)]="item.Instr_Total_Text" [disabled]="true"   (keypress)="validate($event)" style="width: 90px;"   placeholder="Total" class="form-control form-control-sm">

                          </td>

                        <td style="width: 10%;">
                          <span><a href="javascript:void(0)"><i class="fa fa-eye" style="color: black;"></i> </a></span> &nbsp;
                          <span><a href="javascript:void(0)" (click)='InstRemove(item,indx)'> <i
                                class="fa fa-trash" style="color: black;"></i></a></span>

                        </td>


                      </tr>

                      <!--end-->
                    </table>

                  </div> <!-- end .table-responsive -->
                  <br>
                  <div class="row">
                    <div class="col-4">
                      <button id="client_viewdetail_1" class="btn btn-primary" (click)='AddMoreInstruction(3)'><i class="fas fa-plus-circle"></i> Add Instruction</button>
                      <!-- <button (click)='AddMoreInstruction(3)'
      class="btn btn-primary width-xs waves-effect waves-light" title="click to add "> <i
        class="fas fa-plus-circle"></i>
      Add Instruction </button> -->
                      <button id="client_viewdetail_1" class="btn btn-primary" (click)='ClientResultInstruCSumbit(content)' [disabled]="isLoading" style="margin-left: 6px;">
                        <i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-save': !isLoading}"></i>
                        {{button}}</button>
                      
                      <!-- <button (click)='ClientResultInstruCSumbit(content)'
                        class="btn btn-primary waves-effect waves-light" [disabled]="isLoading">
                        <i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-save': !isLoading}"></i>
                        {{button}}</button> -->
                    </div>
                    <div class="col-2">

                    </div>
                  </div>
                </div> <!-- end .table-rep-plugin-->

              </div>

              <br>
              <div class="row">
                <div class="col-12">
                  <ul class="nav nav-tabs" id="myreco" role="tablist" style="background-color: #bdbbb3;color: white;">
                    <li class="nav-item" style="margin-left: 18px;">
                      <a class="nav-link active" id="doc-tab" data-toggle="tab" href="#doc" role="tab"
                        aria-controls="Client" aria-selected="true">Add Documents</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="log-tab" data-toggle="tab" href="#log" role="tab" aria-controls="field"
                        aria-selected="false">Access Log</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="impo-tab" data-toggle="tab" href="#impo" role="tab" aria-controls="field"
                        aria-selected="false">Imported Files</a>
                    </li>
                  </ul>
                  <div class="tab-content" id="myrecoContent">
                    <div class="tab-pane fade show active" id="doc" role="tabpanel" aria-labelledby="doc-tab">
                      <div class="table-responsive" style="overflow: auto; white-space: nowrap;">

                        <table class="table table-striped">
                          <tr style="text-align: center;">
                            <th style="background-color: aquamarine;"> File Download</th>
                            <th style="background-color: bisque;">File Name</th>
                          </tr>
                          <tr *ngFor = "let item of documentdetailslst">
                            <td><a [href]="item.Inst_Doc_File_Path" target="_blank" [download]="item.Inst_Doc_File_Path"><i class="fa fa-download" aria-hidden="true"></i> Download file</a></td>
                            <td>{{item.Inst_Doc_File_Name}}</td>
                           
                          </tr>
                        </table>

                      </div>

                      
                    </div>
                    <div class="tab-pane fade" id="log" role="tabpanel" aria-labelledby="log-tab">
                      <div class="form-row">

                        <div class="table-responsive" style="overflow: auto; white-space: nowrap;">

                          <table class="table table-striped">
                            <tr style="text-align: center;">
                              <th>Remark</th>
                              <th>Log Date</th>
                              <th>Status</th>
                              <th>User Name</th>
                              <!-- <th>Remark</th> -->
                            </tr>
                            <tr *ngFor="let item of AccessLogData">
                              <td>{{item.Alm_Remark}}</td>
                              <td>{{item.LogDate }}</td>
                              <td>{{item.Status_Name }}</td>
                              <td>{{item.LogUserName }}</td>
                            </tr>
                          </table>

                        </div>

                      </div>
                    </div>
                    <div class="tab-pane fade" id="impo" role="tabpanel" aria-labelledby="impo-tab">
                      sumit
                    </div>
                  </div>

                </div>
              </div>
              <div class="row">

                <div class="col-3">
                  
     <button id="client_viewdetail_1" class="btn btn-primary"(click)="OpenDocumentUpload(contentDocumentUpload)" ><i class="fas fa-plus-circle"></i> Add</button>
                  <!-- <button class="btn btn-primary width-xs waves-effect waves-light" title="click to add "> <i
                      class="fas fa-plus-circle"></i>
                    Add</button> -->

                </div>
              </div>
            </div>

          </div>

        </div>
        <div class="tab-pane fade" id="invoice" role="tabpanel" aria-labelledby="invoice-tab">Invoice
        </div>
        <div class="tab-pane fade" id="photos" role="tabpanel" aria-labelledby="photos-tab">Photos
        </div>
        <div class="tab-pane fade" id="notes" role="tabpanel" aria-labelledby="notes-tab">Wo Notes
        </div>
        <div class="tab-pane fade" id="sync" role="tabpanel" aria-labelledby="sync-tab">Client Sync
        </div>

        <br>



      </div>




      <br>
      <!-- end .responsive-table-plugin-->
    </div> <!-- end card-box -->
  </div> <!-- end col -->
</div>


<ng-template #contentDocumentUpload let-modal>
  <div class="modal-header">
    Upload Documents
    <button type="button" class="close" (click)="modal.close('Save click')" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <div>

      <div class="row">
        <div class="col-md-12">

          <kendo-upload [saveUrl]="uploadSaveUrl" [removeUrl]="uploadRemoveUrl" [(ngModel)]="myFiles"
            (error)="displayErrorDocument($event)" (success)=displaySuccessDocument($event);>
          </kendo-upload>

        </div>

      </div>
      <hr>
      <button id="client_viewdetail_1" class="btn btn-primary" (click)="modal.close('Save click')">Close</button>
      <!-- <button type="button" class="btn btn-primary waves-effect waves-light"
        (click)="modal.close('Save click')">Close</button> -->
    </div>
  </div>
</ng-template>
