<ng-template #content let-modal>
  <div class="modal-header">
    Message
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">

    <div class="text-center">
      <!-- <i class="fe-check-circle"></i> -->
      <span>{{MessageFlag}}</span>
      <hr>
      <button type="button" class="btn btn-primary waves-effect waves-light"
        (click)="modal.close('Save click')">Close..</button>
    </div>
  </div>
</ng-template>

<div class="container-fluid">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-12">
          <div class="page-title-box">
            <div class="page-title-right">
              <ol class="breadcrumb m-0">
                <!-- <li class="breadcrumb-item"><a href="javascript: void(0);">Client Companies</a></li>
                <li class="breadcrumb-item active">Add Client Companies</li> -->
              </ol>
            </div>

          </div>
          <hr>
        </div>
      </div>
      <form [formGroup]="formUsrCommonGroup" (ngSubmit)="FormButton(content)">
        <!-- <div class="row" style="color: black;background-color: #9b9b9b;">
          <div class="col-lg-6">
            <h4 class="page-title">Add Client</h4>
          </div>
          <div class="col-lg-6">
            <h4 class="page-title"></h4>
          </div>
        </div> -->
        <div class="row">


          <div class="col-lg-6">

            <div class="card-box bg-pattern border border-dark" style="background-color: #f7f7f7;">

              <div class="form-row">
                <div class="form-group col-md-12 text-center" style="color: black;background-color: #9b9b9b;">
                  <h5>Add Client</h5>
                </div>
              </div>




              <div class="form-row">

                <div class="form-group col-md-12">
                  <label for="inputdgdfhCityrfSizefss" class="col-form-label">Client Name <span style="color: red">*</span></label>
                  <input type="text" class="form-control form-control-sm" id="inputdgdfhCityrfSizefss" AlphabetOnly
                    [(ngModel)]="AddClientCompaniesModelObj.Client_Company_Name" formControlName="CompanyNameVal"
                    [ngClass]="{ 'is-invalid': submitted && fx.CompanyNameVal.errors }"
                    placeholder="Enter Company Name...">
                  <div *ngIf="submitted && fx.CompanyNameVal.errors" class="invalid-feedback">
                    <div *ngIf="fx.CompanyNameVal.errors.required">this field is required</div>
                  </div>

                </div>


              </div>



              <div class="form-row">
                <div class="form-group col-md-12">
                  <label class="col-form-label" for="password1fsfff">Address </label>
                  <textarea type="text" id="password1fsfff" class="form-control" placeholder="Enter Address..."
                    [(ngModel)]="AddClientCompaniesModelObj.Client_Billing_Address"
                    formControlName="disbledFaltu"></textarea>
                </div>
              </div>


              <div class="form-row">

                <div class="form-group col-md-4">
                  <label for="inputCityrfSizwdweaafss" class="col-form-label">State</label>
                  <select class="form-control form-control-sm" [(ngModel)]="AddClientCompaniesModelObj.Client_StateId"
                    formControlName="disbledFaltu1">
                    <option value='0'>select</option>
                    <option [ngValue]="kb.IPL_StateID" *ngFor="let kb of StateArray">
                      {{kb.IPL_StateName}}
                    </option>
                  </select>

                </div>
                <div class="form-group col-md-4">
                  <label for="inputCitybddddnCode" class="col-form-label">City</label>
                  <input type="text" class="form-control form-control-sm" id="inputCitybddddnCode" AlphabetOnly
                    placeholder="Enter City..." [(ngModel)]="AddClientCompaniesModelObj.Client_City"
                    formControlName="disbledFaltu2">


                </div>
                <div class="form-group col-md-4">
                  <label class="col-form-label" for="ufdrr"> Zip </label>
                  <input type="text" id="ufdrr" class="form-control form-control-sm" placeholder="Enter Zip" numbersOnly maxlength="6"
                    [(ngModel)]="AddClientCompaniesModelObj.Client_ZipCode" formControlName="disbledFaltu3">
                </div>
              </div>
              <!-- <div class="form-group" *ngFor="let item of FormArrayVal; index as ind">
                <label for="hgfhfinputCityrfDatew">Billing Address</label>
                <textarea type="text" class="form-control" id="hgfhfinputCityrfDatew"
                  [(ngModel)]="AddClientCompaniesModelObj.Client_Billing_Address" [ngModelOptions]="{standalone: true}"
                  placeholder="Enter Billing Address..."> </textarea>
              </div> -->


              <div class="form-row">

                <div class="form-group col-md-4">
                  <label for="ggggggginputCitybnCode" class="col-form-label">Client Discount % </label>
                  <input type="text"  numbersOnly maxlength="2" class="form-control form-control-sm" id="ggggggginputCitybnCode"
                    placeholder="Enter Client Discount %..." [(ngModel)]="AddClientCompaniesModelObj.Client_Discount"
                    formControlName="disbledFaltu4">
                </div>

                <div class="form-group col-md-4">
                  <label for="inputgdssgStatfde" class="col-form-label">Contractor Discount %</label>
                  <input type="text"   numbersOnly maxlength="2" class="form-control form-control-sm" id="inputgdssgStatfde"
                    placeholder="Enter Contractor Discount %..."
                    [(ngModel)]="AddClientCompaniesModelObj.Client_Contractor_Discount" formControlName="disbledFaltu5">
                </div>

                <div class="form-group col-md-4">
                  <label for="inputCityrfSizefssdwa" class="col-form-label">Active</label>
                  <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="kjhgfdsa" formControlName="ActiveVal"
                      [(ngModel)]="AddClientCompaniesModelObj.Client_Active" (click)="Active_Method();"
                      [ngClass]="{ 'is-invalid': fx.ActiveVal.touched && fx.ActiveVal.errors }">
                    <label class="custom-control-label" for="kjhgfdsa"></label>
                  </div>
                  <div *ngIf="ActiveValFlag" class="Mydropdown">this field is required</div>


                </div>


              </div>

              <div class="form-row">

                <div class="form-group col-md-4">
                  <label for="ifhdsd" class="col-form-label">Name</label>
                  <input type="text" class="form-control form-control-sm" id="ifhdsd"  AlphabetOnly
                  placeholder="Enter Name..." [(ngModel)]="AddClientCompaniesModelObj.Client_ContactName"
                  formControlName="disbledFaltu21">

                </div>
                <div class="form-group col-md-4">
                  <label for="ifdhghf" class="col-form-label">Phone</label>
                  <input type="text" class="form-control form-control-sm" id="ifdhghf" numbersOnly
                    placeholder="Enter Phone Number..." [(ngModel)]="AddClientCompaniesModelObj.Client_ContactPhone"
                    formControlName="disbledFaltu22">


                </div>
                <div class="form-group col-md-4">
                  <label class="col-form-label" for="assd"> Email <span style="color: red">*</span> </label>
                  <input type="email" id="assd" class="form-control form-control-sm" placeholder="Enter Email"
                    [(ngModel)]="AddClientCompaniesModelObj.Client_ContactEmail"
                    [ngClass]="{ 'is-invalid': submitted && fx.disbledFaltu23.errors }"
                     formControlName="disbledFaltu23" >

                     <div *ngIf="submitted && fx.disbledFaltu23.errors" class="invalid-feedback">
                      <div *ngIf="fx.disbledFaltu23.errors.required">this field is required</div>
                      <div *ngIf="fx.disbledFaltu23.errors.email">Enter valid Email Id</div>
                    </div>

                </div>
              </div>










            </div>









            <div class="form-group">

            </div>

            <div class="card-box bg-pattern border border-dark" style="background-color: #f7f7f7;">

              <div class="form-row">
                <div class="form-group col-md-12 text-center" style="color: black;background-color: #9b9b9b;">
                  <h5>Add Client Contact</h5>
                </div>
              </div>




              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="kjgfdds" class="col-form-label">Contact Type</label>
                  <input type="text" class="form-control form-control-sm" id="kjgfdds" AlphabetOnly
                    placeholder="Enter Contact Type..." [(ngModel)]="AddClientCompaniesModelObj.Client_ContactTypex"
                    formControlName="disbledFaltu6">
                </div>
                <div class="form-group col-md-6">
                  <label for="kjgContactfdds" class="col-form-label">Contact Name</label>
                  <input type="text" class="form-control form-control-sm" id="kjgContactfdds"  AlphabetOnly
                    placeholder="Enter Contact Name..." [(ngModel)]="AddClientCompaniesModelObj.Client_ContactNamex"
                    formControlName="disbledFaltu7">
                </div>

              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="kjgfdds" class="col-form-label">Contact Email</label>
                  <input type="text" class="form-control form-control-sm" id="kjgfdds" placeholder="Enter Email..."
                    [(ngModel)]="AddClientCompaniesModelObj.Client_ContactEmailx" formControlName="disbledFaltu8">
                </div>
                <div class="form-group col-md-6">
                  <label for="kjgContactfdds" class="col-form-label">Contact Phone Number</label>
                  <input type="text" class="form-control form-control-sm" id="kjgContactfdds" numbersOnly
                    placeholder="Enter Contact Number..." [(ngModel)]="AddClientCompaniesModelObj.Client_ContactPhonex"
                    formControlName="disbledFaltu9">
                </div>

              </div>
              <div class="form-row">
                <div class="form-group col-md-4">
                  <!-- <label for="kjgContactfdds" class="col-form-label">Active</label> -->
                  <div class="custom-control custom-checkbox">

                    <input type="checkbox" [(ngModel)]="AddClientCompaniesModelObj.MainClnt_Con_List_Active"
                      formControlName="disbledFaltu10" class="custom-control-input" id="customCheckrerer">
                    <label class="custom-control-label" for="customCheckrerer">Active</label>
                  </div>
                </div>
                <div class="form-group col-md-4">
                  <!-- <label for="kjgContactfdds" class="col-form-label">Detele</label> -->
                  <div class="custom-control custom-checkbox">

                    <input type="checkbox" [(ngModel)]="AddClientCompaniesModelObj.MainClnt_Con_List_IsDelete"
                      formControlName="disbledFaltu11" class="custom-control-input" id="dfdsfdsfd">
                    <label class="custom-control-label" for="dfdsfdsfd">Delete</label>
                  </div>
                </div>

                <div class="form-group col-md-4">
                  <!-- <label for="kjgContactfdds" class="col-form-label">Contact Phone Number.</label> -->
                  <button type="button" class="btn btn-outline-primary waves-effect waves-light form-control"
                    (click)="AddMoreRowContact()" title="click to add mutiple contact"> <i
                      class="fas fa-plus-circle mr-1"></i>{{ContactBtn}} </button>
                </div>

              </div>
            </div>

            <div class="form-group">

            </div>

            <div class="card-box bg-pattern border border-dark" style="background-color: #f7f7f7;">

                <div class="form-row">
                  <div class="form-group col-md-12 text-center" style="color: black;background-color: #9b9b9b;">
                    <h5>Client Contact List</h5>
                  </div>
                </div>
              <div class="form-row">

                <div class="table-responsive">
                  <table class="table mb-0">
                    <thead class="thead-light">
                      <tr>
                        <th>Contact Type</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone Number</th>
                        <th>Delete</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of MultipleContact;index as indx">
                        <td>{{item.Clnt_Con_List_TypeName}}</td>
                        <td>{{item.Clnt_Con_List_Name}}</td>
                        <td>{{item.Clnt_Con_List_Email}}</td>
                        <td>{{item.Clnt_Con_List_Phone}}</td>
                        <td>
                          <div class="custom-control custom-checkbox">
                            <input onclick="return false" type="checkbox" [(ngModel)]="item.Clnt_Con_List_IsDelete"
                              [ngModelOptions]="{standalone: true}" class="custom-control-input"
                              id="customCheckfg11ctf{{indx}}">
                            <label class="custom-control-label" for="customCheckfg11ctf{{indx}}"></label>
                          </div>
                        </td>
                        <td><a (click)="EditRow(indx)" style="cursor: pointer"><i class="far fa-edit mr-1"></i>Edit</a>
                        </td>
                      </tr>

                    </tbody>
                  </table>
                </div>
              </div>
            </div>









          </div>
          <div class="col-lg-6">

            <div class="card-box bg-pattern border border-dark" style="background-color: #f7f7f7;">

              <div class="form-row">
                <div class="form-group col-md-12 text-center" style="color: black;background-color: #9b9b9b;">
                  <h5>Client Data Settings</h5>
                </div>
              </div>


              <div class="form-row">


                <!-- <div class="form-group col-md-4">
                        <label for="inputGFCityrfSizefss" class="col-form-label">Due Date Offset</label>
                        <input type="number" min="0" class="form-control form-control-sm" id="inputGFCityrfSizefss"
                          placeholder="Enter Details..." [(ngModel)]="AddClientCompaniesModelObj.Client_Due_Date_Offset"
                          [ngModelOptions]="{standalone: true}">
                        <span class="font-13 text-muted"> (only when importing, will set due date to 'x' days earlier)</span>
                      </div> -->



                <div class="form-group col-md-4">
                  <label for="ggsdinputCitybnCode" class="col-form-label">Photo Re-size Height</label>
                  <input type="text" min="0" class="form-control form-control-sm" id="ggsdinputCitybnCode" numbersOnly maxlength="4"
                    placeholder="Enter height.." [(ngModel)]="AddClientCompaniesModelObj.Client_Photo_Resize_height"
                    formControlName="disbledFaltu12">
                  <span class="font-13 text-muted">(default is 640x480, min is 320x240, max is 1024x768)</span>


                </div>
                <div class="form-group col-md-4">
                  <label for="inputfdghStatfde" class="col-form-label">Width</label>
                  <input type="text" min="0" class="form-control form-control-sm" id="inputfdghStatfde" numbersOnly maxlength="4"
                    placeholder="Enter width..." [(ngModel)]="AddClientCompaniesModelObj.Client_Photo_Resize_width"
                    formControlName="disbledFaltu13">
                </div>

                <div class="form-group col-md-4">
                  <label for="sdfinputCityrfSizefss" class="col-form-label">Date/Time Overlay</label>
                  <select id="sdfinputCityrfSizefss" class="form-control form-control-sm"
                    [(ngModel)]="AddClientCompaniesModelObj.Client_IPL_Mobile" formControlName="disbledFaltu14">
                    <option value='0'>Select</option>
                    <option [ngValue]="kb.Id" *ngFor="let kb of DateTimeList">
                      {{kb.Name}}
                    </option>
                  </select>
                </div>

              </div>

              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="Backgroundew" class="col-form-label">Background Provider</label>
                  <select id="Backgroundew" class="form-control form-control-sm"
                    [(ngModel)]="AddClientCompaniesModelObj.Client_BackgroundProvider" formControlName="disbledFaltu15">
                    <option value='0'>Select</option>
                    <option [ngValue]="kb.Id" *ngFor="let kb of BackgroundArry">
                      {{kb.Name}}
                    </option>
                  </select>
                </div>
                <div class="form-group col-md-6">
                  <label for="dwdinputStatfde" class="col-form-label">Start Date - Lock Order</label>
                  <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="customggggggg1"
                      [(ngModel)]="AddClientCompaniesModelObj.Client_Lock_Order" formControlName="disbledFaltu16">
                    <label class="custom-control-label" for="customggggggg1">Lock Order</label>
                  </div>
                </div>

              </div>

            </div>


            <div class="form-group">

            </div>

            <div class="card-box bg-pattern border border-dark" style="background-color: #f7f7f7;">

                <div class="form-row">
                    <div class="form-group col-md-12 text-center" style="color: black;background-color: #9b9b9b;">
                        <h5>Comments</h5>
                      </div>
                </div>

              <div class="form-row">
                <div class="form-group col-md-12">
                  <label for="inputCawdawityrfDatew">Comments/Notes </label>
                  <textarea type="text" class="form-control" id="inputCawdawityrfDatew"
                    [(ngModel)]="AddClientCompaniesModelObj.Client_Comments" formControlName="disbledFaltu17"
                    placeholder="Enter Comments..."> </textarea>
                </div>
              </div>
            </div>











            <div class="form-row">
              <div class="float-right">
                <label for="InvestmentSihhhze" *ngIf="formUsrCommonGroup.invalid" style="color:red;margin-top:10px">*
                  fields is required
                </label> <br>
                <!-- [routerLink]="['/client/addclientcompanies']" -->
                <a *ngIf="IsEditDisable"  (click)="EditForms()" id="client_viewdetail_1"
                  class="btn btn-primary"> <i class="far fa-edit mr-1"></i> Edit </a>
                &nbsp;&nbsp;&nbsp;
                <button type="submit" *ngIf="!IsEditDisable" id="client_viewdetail_1" class="btn btn-primary "
                  [disabled]="isLoading">
                  <i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-save': !isLoading}"></i>
                  {{button}}</button>
                &nbsp;&nbsp;&nbsp;

                <a [routerLink]="['/client/viewclientcompanies']" class="btn btn-primary waves-effect waves-light">
                  Back</a>

              </div>
            </div>




            <br>
            <br>



          </div>

        </div>
      </form>
    </div>
  </div>



</div>

