<ng-template #content let-modal>
  <div class="modal-header">
    Message
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">

    <div class="text-center">

      <span>{{MessageFlag}}</span>
      <hr>
      <!-- <button type="button" class="btn btn-primary waves-effect waves-light"
        (click)="modal.close('Save click')">Continue...</button> -->
        <button id="client_viewdetail_1" class="btn btn-primary" (click)="modal.close('Save click')">Continue</button>
    </div>
  </div>
</ng-template>


<div>
  <!-- clientresult -->
  <ul class="nav nav-tabs" id="myinv" role="tablist" style="background-color: #bdbbb3;color: white;">

    <li class="nav-item">
      <a class="nav-link active" id="home2-tab" data-toggle="tab" href="#home2" role="tab"
        aria-controls="home2" aria-selected="true">Create Bid</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="inscinvoice-tab" data-toggle="tab" href="#inscinvoice" role="tab"
        aria-controls="inscinvoice" aria-selected="true">Create Completion</a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link" id="insview-tab" data-toggle="tab" href="#insview" role="tab"
        aria-controls="insview" aria-selected="true">View Bid</a>
    </li> -->
    <!-- <li class="nav-item">
      <a class="nav-link" id="insvinvoice-tab" data-toggle="tab" href="#insvinvoice" role="tab"
        aria-controls="insvinvoice" aria-selected="true">View Completion</a>
    </li> -->
    <li class="nav-item">
      <a class="nav-link" id="insdamage-tab" data-toggle="tab" href="#insdamage" role="tab"
        aria-controls="insdamage" aria-selected="true">Add Damage</a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link" id="insvdamage-tab" data-toggle="tab" href="#insvdamage" role="tab"
        aria-controls="insvdamage" aria-selected="true">View Damage</a>
    </li> -->
    <li class="nav-item">
      <a class="nav-link" id="Appliance-tab" data-toggle="tab" href="#Appliance" role="tab"
        aria-controls="Appliance" aria-selected="true">Add Appliance</a>
    </li>
  </ul>
  <div class="tab-content" id="myinvContent">
    <div class="tab-pane fade show active" id="home2" role="tabpanel" aria-labelledby="home1-tab">
      <div class="row workorder-details">
         <!-- Create Bid  start-->

         <div class="col-12">
          <div class="responsive-table-plugin">
            <div class="table-rep-plugin">
              <div class="table-responsive" data-pattern="priority-columns">
                <!-- Create Bid id="tech-companies-1"-->


                <table  class="table table-striped">
                  <thead>
                    <tr>
                      <th colspan="3"></th>
                      <th colspan="2" style="text-align: center;background-color:#b6babf;"[hidden] ='processorh'>
                        Contractor</th>
                      <th colspan="2" style="text-align: center;background-color: #dcdcdc;"[hidden] ='OfficeResulth'>
                        Client</th>
                      <th colspan="3"></th>
                    </tr>
                    <tr>

                      <th  style="background-color: #eae7e7; "><!--class="ttble"-->
                        Task</th>

                      <th  style="background-color: #eae7e7;"><!--class="ttble_01"-->
                        Qty</th>
                      <th  style="background-color: #eae7e7;"><!--class="ttble"-->
                        UOM</th>
                      <th  style="background-color: #b6babf;"[hidden] ='processorh'><!--class="ttble_02"-->
                        Price</th>
                      <th  style="background-color: #b6babf;"[hidden] ='processorh'><!--class="ttble_02"-->
                        Total</th>
                      <th  style="background-color: #dcdcdc;"[hidden] ='OfficeResulth'><!--class="ttble_02"-->
                        Price</th>
                      <th  style="background-color: #dcdcdc;"[hidden] ='OfficeResulth'><!--class="ttble_02"-->
                        Total</th>
                      <th colspan="3" style="background-color: #eae7e7;">
                        Comments</th>


                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of ClientResultBidArray;index as indx">

                      <td style="width: 130px;">
                        <select  class="form-control form-control-sm" (change)="ClinetResultBid_Method(item)"
                          [(ngModel)]="item.Task_Bid_TaskID" [ngModelOptions]="{standalone: true}">
                          <option value='0'>select</option>
                          <option [ngValue]="kb.Task_pkeyID" *ngFor="let kb of TaskList">
                            {{kb.Task_Name}}
                          </option>
                        </select>
                      </td>
                      <td style="width: 90px;">
                        <input type="text" [(ngModel)]="item.Task_Bid_Qty"
                          (blur)="ClinetResultQtyBid_Method()" (keypress)="validate($event)"
                          [ngModelOptions]="{standalone: true}" class="form-control form-control-sm">
                      </td>
                      <td style="width: 110px;">
                        <select  class="form-control form-control-sm" [(ngModel)]="item.Task_Bid_Uom_ID"
                          [ngModelOptions]="{standalone: true}">
                          <option value='0'>select</option>
                          <option [ngValue]="kb.UOM_pkeyId" *ngFor="let kb of UOMList">
                            {{kb.UOM_Name}}
                          </option>
                        </select>
                      </td>
                      <td style="background-color:#b6babf;width: 90px;"[hidden] ='processorh'>
                        <input type="text" [(ngModel)]="item.Task_Bid_Cont_Price"
                          (blur)="ClinetResultBid_Cont_Price_Method()" (keypress)="validate($event)"
                          [ngModelOptions]="{standalone: true}" class="form-control form-control-sm">
                      </td>
                      <td style="background-color:#b6babf;width: 90px;"[hidden] ='processorh'>
                        <input type="text" [(ngModel)]="item.Task_Bid_Cont_Total" [disabled]="true" 
                          [disabled]="true" [ngModelOptions]="{standalone: true}"
                          class="form-control form-control-sm">
                      </td>
                      <td style="background-color:#dcdcdc;width: 90px;"[hidden] ='OfficeResulth'>
                        <input type="text" [(ngModel)]="item.Task_Bid_Clnt_Price"
                          [ngModelOptions]="{standalone: true}" (blur)="ClinetResultBid_Clnt_Price_Method()"
                          (keypress)="validate($event)" class="form-control form-control-sm">
                      </td>
                      <td style="background-color:#dcdcdc;width: 90px;"[hidden] ='OfficeResulth'>
                        <input type="text" [(ngModel)]="item.Task_Bid_Clnt_Total" 
                          [disabled]="true" [ngModelOptions]="{standalone: true}"
                          class="form-control form-control-sm">
                      </td>
                      <td style ="width: 42%;">
                        <div class="row">
                          <!-- <div class="col-9">
                            <textarea [(ngModel)]="item.Task_Bid_Comments"
                              [ngModelOptions]="{standalone: true}"
                              (blur)="ClinetResultBid_Comments_Method()"
                              class="form-control form-control-sm">

                            </textarea>
                          </div> -->
                          <div class="col-9">
                            <textarea [(ngModel)]="item.Task_Bid_Comments"
                            [ngModelOptions]="{standalone: true}"
                                style="width: 90%;"
                            class="ttblecomment form-control form-control-sm">
                            </textarea>
                            <!-- <textarea *ngIf="isShown" class="form-control form-control-sm">
                            </textarea> -->

                            <select *ngIf="item.Task_Bid_PreTextHide" size="3"
                             class="form-control form-control-sm" [(ngModel)]="item.Task_Bid_PresetTemp"
                             [ngModelOptions]="{standalone: true}" (change)="ClientrsultBid_PresetSET(item,indx)">
                             <option [ngValue]="kb.Task_Preset_Text" *ngFor="let kb of PresetText">
                            {{kb.Task_Preset_Text}}
                             </option>
                            </select>
                            <div class="custom-control custom-checkbox ">
                              <input type="checkbox"  [(ngModel)]="item.Task_Bid_PreTextHide" (click)="toggleShow()"
                                [ngModelOptions]="{standalone: true}" class="custom-control-input"
                                id="violationx{{indx}}">
                              <label class="custom-control-label" for="violationx{{indx}}">

                                <span *ngIf="item.Task_Bid_PreTextHide">Hide Preset</span>
                                <span *ngIf="!item.Task_Bid_PreTextHide">Show Preset</span>

                              </label>
                            </div>

                          </div>
                          <div class="ttblechk col-3">

                            <div class="custom-control custom-checkbox">
                              <input type="checkbox" [(ngModel)]="item.Task_Bid_Violation"
                                [ngModelOptions]="{standalone: true}" class="custom-control-input"
                                id="violation{{indx}}">
                              <label class="custom-control-label" for="violation{{indx}}">Violation</label>
                            </div>
                            <!-- item.Task_Bid_damage -->
                            <div class="custom-control custom-checkbox">
                              <input type="checkbox" [(ngModel)]="item.Task_Bid_damage"
                                class="custom-control-input" id="damage{{indx}}">
                              <label class="custom-control-label" for="damage{{indx}}">Damage</label>
                            </div>

                          </div>

                        </div>

                      </td>
                      <td style="text-align: center;"><span><a style="cursor: pointer; " (click)='RemoveClientResultBid(indx,item)'><span><i
                              class="fa fa-trash"></i></span> </a></span>
                      </td>
                    </tr>

                  </tbody>
                </table>




              </div> <!-- end .table-responsive -->

            </div> <!-- end .table-rep-plugin-->
          </div>
          <div class="row">
            <button id="client_viewdetail_1" class="btn btn-primary" (click)='AddMoreRowClientResultBid()'><i class="fas fa-plus-circle mr-1"></i>Add</button>
            <!-- <button (click)='AddMoreRowClientResultBid()'
              class="btn btn-primary width-xs waves-effect waves-light" title="click to add "> <i
                class="fas fa-plus-circle"></i>
              Add</button> &nbsp; -->
              <button id="client_viewdetail_1" class="btn btn-primary" (click)='ClientResultBidSumbit(content)' [disabled]="isLoading" style="margin-left: 12px;"><i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-save': !isLoading}"></i>
                {{button}}</button>
            <!-- <div class="col-3"> -->
             
                <!-- <button (click)='ClientResultBidSumbit(content)'  class="btn btn-primary waves-effect waves-light"
                [disabled]="isLoading">
                <i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-save': !isLoading}"></i>
                {{button}}</button> -->
            <!-- </div> -->
          </div>
        </div>



      </div>
    </div>
    <div class="tab-pane fade" id="inscinvoice" role="tabpanel" aria-labelledby="inscinvoice-tab">
      <div class="row workorder-details">
        <div class="col-12">
          <div class="responsive-table-plugin">
            <div class="table-rep-plugin">
              <div class="table-responsive" data-pattern="priority-columns">
                <!--  id="tech-companies-1"  Create Completion INVOICE -->
                <table  class="table table-striped">

                  <thead>
                    <tr>
                      <th colspan="3"></th>
                      <th colspan="2" style="text-align: center;background-color:#b6babf;"[hidden] ='processorh'>
                        Contractor</th>
                      <th colspan="2" style="text-align: center;background-color: #dcdcdc;"[hidden] ='OfficeResulth'>
                        Client</th>
                      <th colspan="3"></th>




                    </tr>
                    <tr>

                      <th  style="background-color: #eae7e7; "><!--class="ttble"-->
                        Task</th>
                      <th  style="background-color: #eae7e7;"><!--class="ttble_01"-->
                        Qty</th>
                      <th  style="background-color: #eae7e7;"><!--class="ttble_02"-->
                        UOM</th>
                      <th  style="background-color: #b6babf;"[hidden] ='processorh'><!--class="ttble_02"-->
                        Price</th>
                      <th  style="background-color: #b6babf;"[hidden] ='processorh'><!--class="ttble_02"-->
                        Total</th>
                      <th  style="background-color: #dcdcdc;"[hidden] ='OfficeResulth'><!--class="ttble_02"-->
                        Price</th>
                      <th  style="background-color: #dcdcdc;"[hidden] ='OfficeResulth'><!--class="ttble_02"-->
                        Total</th>
                      <th colspan="3" style="background-color: #eae7e7;">
                        Comments</th>


                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let INVOICE of ClientResultCreateCompletionArray;index as indx">

                      <td style="width: 130px;">
                        <select class="form-control form-control-sm" (change)="ClientResultCompletionInvoice(INVOICE)"
                         [(ngModel)]="INVOICE.Task_Inv_TaskID"
                          [ngModelOptions]="{standalone: true}">
                          <option value='0'>select</option>
                          <option [ngValue]="kb.Task_pkeyID" *ngFor="let kb of TaskList">
                            {{kb.Task_Name}}
                          </option>
                        </select>
                      </td>
                      <td style="width: 90px;">
                        <input type="text" [(ngModel)]="INVOICE.Task_Inv_Qty" 
                         (blur)="ClientResultQtyCompletionInvoice_Method()" (keypress)="validate($event)"
                          [ngModelOptions]="{standalone: true}" class="form-control form-control-sm">
                      </td>
                      <td style="width: 110px;">
                        <select class="form-control form-control-sm" [(ngModel)]="INVOICE.Task_Inv_Uom_ID"
                          [ngModelOptions]="{standalone: true}">
                          <option value='0'>select</option>
                          <option [ngValue]="kb.UOM_pkeyId" *ngFor="let kb of UOMList">
                            {{kb.UOM_Name}}
                          </option>
                        </select>
                      </td>
                      <td style="background-color:#b6babf;width: 90px;"[hidden] ='processorh'>
                        <input type="text" [(ngModel)]="INVOICE.Task_Inv_Cont_Price" 
                        (blur)="ClientResultCompletionInvoiceCont_Total_Method()" (keypress)="validate($event)"
                          [ngModelOptions]="{standalone: true}" class="form-control form-control-sm">
                      </td>
                      <td style="background-color:#b6babf;width: 90px;"[hidden] ='processorh'>
                        <input type="text" [(ngModel)]="INVOICE.Task_Inv_Cont_Total"

                          [disabled]="true" 
                          [ngModelOptions]="{standalone: true}" class="form-control form-control-sm">
                      </td>
                      <td style="background-color:#dcdcdc;width: 90px;"[hidden] ='OfficeResulth'>
                        <input type="text" [(ngModel)]="INVOICE.Task_Inv_Clnt_Price" 
                        (blur)="ClientResultCompletionInvoiceClnt_Total_Method()" (keypress)="validate($event)"
                          [ngModelOptions]="{standalone: true}" class="form-control form-control-sm">
                      </td>
                      <td style="background-color:#dcdcdc;width: 90px;"[hidden] ='OfficeResulth'>
                        <input type="text" [(ngModel)]="INVOICE.Task_Inv_Clnt_Total"

                        [disabled]="true" 
                          [ngModelOptions]="{standalone: true}" class="form-control form-control-sm">
                      </td>
                      <td style="width: 42%;">
                        <div class="row">
                          <div class="col-9">
                            <textarea class="form-control form-control-sm"
                              [(ngModel)]="INVOICE.Task_Inv_Comments" style="width: 90%;"
                              [ngModelOptions]="{standalone: true}"></textarea>
                          </div>
                          <div class="ttblechk col-3">

                            <div class="custom-control custom-checkbox">
                              <input type="checkbox" [(ngModel)]="INVOICE.Task_Inv_Violation"
                                [ngModelOptions]="{standalone: true}" class="custom-control-input"
                                id="violationINV{{indx}}">
                              <label class="custom-control-label"
                                for="violationINV{{indx}}">Violation</label>
                            </div>
                            <!-- INVOICE.Task_Inv_damage -->
                            <div class="custom-control custom-checkbox">
                              <input type="checkbox" [(ngModel)]="INVOICE.Task_Inv_damage"

                                [ngModelOptions]="{standalone: true}" class="custom-control-input"
                                id="damageINV{{indx}}">
                              <label class="custom-control-label" for="damageINV{{indx}}">Damage</label>
                            </div>

                          </div>

                        </div>

                      </td>
                      <td style="text-align: center;"><span><a style="cursor: pointer" (click)='clientResultInvocieRemove(indx,INVOICE)'> <i
                              class="fa fa-trash"></i></a></span>
                      </td>
                    </tr>

                  </tbody>
                </table>

              </div> <!-- end .table-responsive -->

            </div> <!-- end .table-rep-plugin-->
          </div>
          <div class="row">

            <div class="col-3">
              <button id="client_viewdetail_1" class="btn btn-primary" (click)='AddMoreClinetResultInvoice()'><i class="fas fa-plus-circle"></i> Add</button>
              <!-- <button (click)='AddMoreClinetResultInvoice()'
                class="btn btn-primary width-xs waves-effect waves-light" title="click to add "> <i
                  class="fas fa-plus-circle"></i>
                Add</button>  -->
                &nbsp;
              <!-- <button class="btn btn-primary width-xs waves-effect waves-light" title="click to add ">
                Save</button> -->

                <button id="client_viewdetail_1" class="btn btn-primary" (click)='ClientResultInvoiceSumbit(content)' [disabled]="isLoading"><i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-save': !isLoading}"></i>
                  {{button}}</button>
                <!-- <button (click)='ClientResultInvoiceSumbit(content)'  class="btn btn-primary waves-effect waves-light"
                [disabled]="isLoading">
                <i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-save': !isLoading}"></i>
                {{button}}</button> -->
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="tab-pane fade" id="insview" role="tabpanel" aria-labelledby="insview-tab">
      <div class="row workorder-details">
        <div class="col-12">
          <div class="responsive-table-plugin">
            <div class="table-rep-plugin">
              <div class="table-responsive" data-pattern="priority-columns">
                <!-- View bid     id="tech-companies-1"-->
                <table  class="table table-striped">
                  <thead>
                    <tr>
                      <th colspan="3"></th>
                      <th colspan="2" style="text-align: center;background-color:#b6babf;">
                        Contractor</th>
                      <th colspan="2" style="text-align: center;background-color: #dcdcdc;">
                        Client</th>
                      <th colspan="3"></th>




                    </tr>
                    <tr>

                      <th style="background-color: #eae7e7; width: 131px;">
                        Task</th>
                      <th style="background-color: #eae7e7;width:90px;">
                        Qty</th>
                      <th style="background-color: #eae7e7;width:90px;">
                        UOM</th>
                      <th style="background-color: #b6babf;width:90px;">
                        Price</th>
                      <th style="background-color: #b6babf;width:90px;">
                        Total</th>
                      <th style="background-color: #dcdcdc;width:90px;">
                        Price</th>
                      <th style="background-color: #dcdcdc;width:90px;">
                        Total</th>
                      <th colspan="3" style="background-color: #eae7e7;">
                        Comments</th>


                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of ClientResultBidGetArray;index as indx">

                      <td style="width: 130px;">
                        <select class="form-control form-control-sm" [disabled]="true"
                          style="border: none;padding: unset;" [(ngModel)]="item.Task_Bid_TaskID"
                          [ngModelOptions]="{standalone: true}">
                          <option value='0'>select</option>
                          <option [ngValue]="kb.Task_pkeyID" *ngFor="let kb of TaskList">
                            {{kb.Task_Name}}
                          </option>
                        </select>
                      </td>
                      <td style="width: 90px;">{{item.Task_Bid_Qty}} </td>
                      <td style="width: 110px;">

                        <select class="form-control form-control-sm" [(ngModel)]="item.Task_Bid_Uom_ID"
                          (change)="ClinetResultBidUom_Method()" [disabled]="true"
                          style="border: none;padding: unset;" [(ngModel)]="item.Task_Bid_TaskID"
                          [ngModelOptions]="{standalone: true}">
                          <option value='0'>select</option>
                          <option [ngValue]="kb.UOM_pkeyId" *ngFor="let kb of UOMList">
                            {{kb.UOM_Name}}
                          </option>
                        </select>
                      </td>
                      <td style="background-color:#b6babf;width: 90px;">{{item.Task_Bid_Cont_Price}}</td>
                      <td style="background-color:#b6babf;width: 90px;">{{item.Task_Bid_Cont_Total}} </td>
                      <td style="background-color:#dcdcdc;width: 90px;">{{item.Task_Bid_Clnt_Price}} </td>
                      <td style="background-color:#dcdcdc;width: 90px;">{{item.Task_Bid_Clnt_Total}} </td>
                      <td style="width: 90%;">
                        <div class="row">
                          <div class="col-9">{{item.Task_Bid_Comments}}</div>
                          <div class="col-3">

                              <label *ngIf="item.Task_Bid_Violation" class="control-label" for="violation">Violation</label>
                              <label *ngIf="!item.Task_Bid_Violation" class="control-label" for="damage">Damage</label>


                            <!-- <div class="custom-control custom-checkbox">
                              <input type="checkbox" onclick="return false"
                                [ngModelOptions]="{standalone: true}" [(ngModel)]="item.Task_Bid_Violation"
                                class="custom-control-input" id="violation">
                              <label class="custom-control-label" for="violation">Violation</label>
                            </div> -->
                            <!-- <div class="custom-control custom-checkbox">
                              <input type="checkbox" onclick="return false"
                                [ngModelOptions]="{standalone: true}" [(ngModel)]="item.Task_Bid_damage"
                                class="custom-control-input" id="damage">
                              <label class="custom-control-label" for="damage">Damage</label>
                            </div> -->

                          </div>

                        </div>

                      </td>

                    </tr>

                  </tbody>
                </table>

              </div> <!-- end .table-responsive -->

            </div> <!-- end .table-rep-plugin-->
          </div>

        </div>

      </div>
    </div>
    <div class="tab-pane fade" id="insvinvoice" role="tabpanel" aria-labelledby="insvinvoice-tab">
      <div class="row workorder-details">
        <div class="col-12">
          <div class="responsive-table-plugin">
            <div class="table-rep-plugin">
              <div class="table-responsive" data-pattern="priority-columns">
                <!-- view Invoice Complection -->
                <table id="tech-companies-1" class="table table-striped">
                  <thead>
                    <tr>
                      <th colspan="3"></th>
                      <th colspan="2" style="text-align: center;background-color:#b6babf;">
                        Contractor</th>
                      <th colspan="2" style="text-align: center;background-color: #dcdcdc;">
                        Client</th>
                      <th colspan="3"></th>




                    </tr>
                    <tr>

                      <th style="background-color: #eae7e7; width: 131px;">
                        Task</th>
                      <th style="background-color: #eae7e7;width:90px;">
                        Qty</th>
                      <th style="background-color: #eae7e7;width:90px;">
                        UOM</th>
                      <th style="background-color: #b6babf;width:90px;">
                        Price</th>
                      <th style="background-color: #b6babf;width:90px;">
                        Total</th>
                      <th style="background-color: #dcdcdc;width:90px;">
                        Price</th>
                      <th style="background-color: #dcdcdc;width:90px;">
                        Total</th>
                      <th colspan="3" style="background-color: #eae7e7;">
                        Comments</th>


                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let INVOICE of ClientResultCreateCompletionGetArray;index as indx">

                      <td>
                        <select class="form-control form-control-sm" [disabled]="true"
                          style="border: none;padding: unset;" [(ngModel)]="INVOICE.Task_Inv_TaskID"
                          [ngModelOptions]="{standalone: true}">
                          <option value='0'>select</option>
                          <option [ngValue]="kb.Task_pkeyID" *ngFor="let kb of TaskList">
                            {{kb.Task_Name}}
                          </option>
                        </select>
                      </td>
                      <td>{{INVOICE.Task_Inv_Qty}} </td>
                      <td>
                        <select class="form-control form-control-sm" [disabled]="true"
                          style="border: none;padding: unset;" [(ngModel)]="INVOICE.Task_Inv_Uom_ID"
                          [ngModelOptions]="{standalone: true}">
                          <option value='0'>select</option>
                          <option [ngValue]="kb.UOM_pkeyId" *ngFor="let kb of UOMList">
                            {{kb.UOM_Name}}
                          </option>
                        </select>
                      </td>
                      <td style="background-color:#b6babf;">{{INVOICE.Task_Inv_Cont_Price}} </td>
                      <td style="background-color:#b6babf;">{{INVOICE.Task_Inv_Cont_Total}} </td>
                      <td style="background-color:#dcdcdc;">{{INVOICE.Task_Inv_Clnt_Price}} </td>
                      <td style="background-color:#dcdcdc;">{{INVOICE.Task_Inv_Clnt_Total}} </td>
                      <td>
                        <div class="row">
                          <div class="col-9">{{INVOICE.Task_Inv_Comments}}</div>
                          <div class="col-3">
                              <label *ngIf="INVOICE.Task_Inv_Violation" class="control-label" >Violation</label>
                              <br>
                              <label *ngIf="INVOICE.Task_Inv_damage" class="control-label" >Damage</label>

                            <!-- <div class="custom-control custom-checkbox">
                              <input type="checkbox" onclick="return false"
                                [(ngModel)]="INVOICE.Task_Inv_Violation"
                                [ngModelOptions]="{standalone: true}" class="custom-control-input"
                                id="violation">
                              <label class="custom-control-label" for="violation">Violation</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                              <input type="checkbox" onclick="return false"
                                [(ngModel)]="INVOICE.Task_Inv_damage" [ngModelOptions]="{standalone: true}"
                                class="custom-control-input" id="damage">
                              <label class="custom-control-label" for="damage">Damage</label>
                            </div> -->

                          </div>

                        </div>

                      </td>

                    </tr>

                  </tbody>
                </table>

              </div> <!-- end .table-responsive -->

            </div> <!-- end .table-rep-plugin-->
          </div>

        </div>

      </div>
    </div>
    <div class="tab-pane fade" id="insdamage" role="tabpanel" aria-labelledby="insdamage-tab">
      <div class="row workorder-details">
        <div class="col-12">
          <div class="responsive-table-plugin">
            <div class="table-rep-plugin">
              <div class="table-responsive" data-pattern="priority-columns">
                <!-- client result damage add -->
                <table id="tech-companies-1" class="table table-striped">
                  <thead>
                    <tr>

                      <th style="background-color: #eae7e7; width: 131px;">
                        Type</th>
                      <th style="background-color: #eae7e7;width: 131px;">Int/Ext</th>
                      <th style="background-color: #eae7e7;width: 131px;">Location</th>
                      <th style="background-color: #eae7e7;width: 131px;">Qty</th>
                      <th style="background-color: #eae7e7;width: 131px;">Estimate</th>

                      <th colspan="3" style="background-color: #eae7e7;">
                        Discription</th>


                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let DAMAGE of ClientResultDamageArray;index as indx">

                      <td>
                        <select class="form-control form-control-sm" [(ngModel)]="DAMAGE.Task_Damage_Type"
                        (change)="ClientResult_DamageType(DAMAGE)"
                          [ngModelOptions]="{standalone: true}">
                          <option value='0'>select</option>
                          <option [ngValue]="kb.strDamage_pkeyID" *ngFor="let kb of DamageList">
                            {{kb.Damage_Type}}
                          </option>
                        </select>
                      </td>
                      <td>
                        <select class="form-control form-control-sm" [(ngModel)]="DAMAGE.Task_Damage_Int"
                          [ngModelOptions]="{standalone: true}">
                          <option value='0'>select</option>
                          <option [ngValue]="kb.Id" *ngFor="let kb of IntExtList">
                            {{kb.Name}}
                          </option>
                        </select>
                      </td>
                      <td>
                        <input type="text" [(ngModel)]="DAMAGE.Task_Damage_Location"
                          [ngModelOptions]="{standalone: true}" class="form-control form-control-sm">
                      </td>
                      <td>
                        <input type="text" [(ngModel)]="DAMAGE.Task_Damage_Qty" numbersOnly
                          [ngModelOptions]="{standalone: true}" class="form-control form-control-sm">
                      </td>
                      <td>
                        <input type="text" [(ngModel)]="DAMAGE.Task_Damage_Estimate"
                          [ngModelOptions]="{standalone: true}" class="form-control form-control-sm">
                      </td>
                      <td colspan="2">
                        <textarea class="form-control form-control-sm" [(ngModel)]="DAMAGE.Task_Damage_Disc"
                          [ngModelOptions]="{standalone: true}"></textarea>
                      </td>

                      <td style="width:20px; text-align: center;"><span><a style="cursor: pointer"
                            (click)='RemoveClientResultDamage(indx,DAMAGE)'> <i class="fa fa-trash"></i></a></span>
                      </td>
                    </tr>

                  </tbody>
                </table>

              </div> <!-- end .table-responsive -->

            </div> <!-- end .table-rep-plugin-->
          </div>
          <div class="row">

            <div class="col-3">
              <button id="client_viewdetail_1" class="btn btn-primary" (click)='AddClientResultDamage()'> <i class="fas fa-plus-circle"></i> Add</button>
              <!-- <button class="btn btn-primary width-xs waves-effect waves-light"
                (click)='AddClientResultDamage()' title="click to add "> <i class="fas fa-plus-circle"></i>
                Add</button> -->
                 &nbsp;
                 <button id="client_viewdetail_1" class="btn btn-primary" (click)='ClientResultDamageSumbit(content)' [disabled]="isLoading"><i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-save': !isLoading}"></i>
                  {{button}}</button>
                <!-- <button (click)='ClientResultDamageSumbit(content)'  class="btn btn-primary waves-effect waves-light"
                [disabled]="isLoading">
                <i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-save': !isLoading}"></i>
                {{button}}</button> -->
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="tab-pane fade" id="insvdamage" role="tabpanel" aria-labelledby="insvdamage-tab">
      <div class="row workorder-details">
        <div class="col-12">
          <div class="responsive-table-plugin">
            <div class="table-rep-plugin">
              <div class="table-responsive" data-pattern="priority-columns">
                <!-- damage view  -->
                <table id="tech-companies-1" class="table table-striped">
                  <thead>
                    <tr>

                      <th style="background-color: #eae7e7; width: 131px;">
                        Type</th>
                      <th style="background-color: #eae7e7;">Int/Ext</th>
                      <th style="background-color: #eae7e7;">Location</th>
                      <th style="background-color: #eae7e7;">Qty</th>
                      <th style="background-color: #eae7e7;">Estimate</th>

                      <th colspan="3" style="background-color: #eae7e7;">
                        Discription</th>


                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let DAMAGE of ClientResultDamageArrayGet;index as indx">

                      <td>
                        <select class="form-control form-control-sm" [disabled]="true"
                          style="border: none;padding: unset;" [(ngModel)]="DAMAGE.Task_Damage_Type"
                          [ngModelOptions]="{standalone: true}">
                          <option value='0'>select</option>
                          <option [ngValue]="kb.strDamage_pkeyID" *ngFor="let kb of DamageList">
                            {{kb.Damage_Type}}
                          </option>
                        </select>
                      </td>
                      <td>
                        <select class="form-control form-control-sm" [disabled]="true"
                          style="border: none;padding: unset;" [(ngModel)]="DAMAGE.Task_Damage_Int"
                          [ngModelOptions]="{standalone: true}">
                          <option value='0'>select</option>
                          <option [ngValue]="kb.Id" *ngFor="let kb of IntExtList">
                            {{kb.Name}}
                          </option>
                        </select>
                      </td>
                      <td>{{DAMAGE.Task_Damage_Location}} </td>
                      <td>{{DAMAGE.Task_Damage_Qty}} </td>
                      <td>{{DAMAGE.Task_Damage_Estimate}} </td>
                      <td colspan="3">{{DAMAGE.Task_Damage_Disc}} </td>


                    </tr>

                  </tbody>
                </table>

              </div> <!-- end .table-responsive -->

            </div> <!-- end .table-rep-plugin-->
          </div>
        </div>

      </div>
    </div>


    <div class="tab-pane fade" id="Appliance" role="tabpanel" aria-labelledby="Appliance-tab">
      <div class="row workorder-details">
          <div class="col-12">
              <div class="responsive-table-plugin">
                <div class="table-rep-plugin">
                  <div class="table-responsive" data-pattern="priority-columns">
                    <!-- appliance add  -->
                    <table id="tech-companies-1" class="table table-striped">

                      <tbody>
                        <tr style="background-color: #eae7e7;" *ngFor="let appliancedetail of ApllianceName;">
                        
                          <td style="width:22%"><input type="text" [hidden]="true" class="form-control"[(ngModel)]="appliancedetail.App_pkeyId"><b>{{appliancedetail.App_Apliance_Name}}</b></td>
                          <td style="width:152px;">

                            
                            <select class="form-control form-control-sm" [(ngModel)]="appliancedetail.Appl_Status_Id"
                            [ngModelOptions]="{standalone: true}">
                           
                            <option  [ngValue]="kb.Id" *ngFor="let kb of Appdata;let i= index;">
                              {{kb.Name}}
                            </option>
                          </select>
                          </td>
                          <td><textarea class="form-control form-control-sm"[(ngModel)]="appliancedetail.Appl_Comment" style="height: 29px;"></textarea> </td>



                        </tr>
                       
                      </tbody>
                    </table>
                    <button id="client_viewdetail_1" class="btn btn-primary" (click)= 'AddApplianceData(ApllianceName , content)' [disabled]="isLoading"><i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-save': !isLoading}">
                    </i>
                      {{button}}</button>                 
  <!-- <input type="submit" value="Save" class="btn btn-primary"(click)= 'AddApplianceData(ApllianceName , content)'> -->
  <!-- <p>{{ApllianceName | json}}</p> -->
                  </div> <!-- end .table-responsive -->

                </div> <!-- end .table-rep-plugin-->
              </div>
            </div>
        </div>

       
  </div>
</div>




</div>
