<ng-template #content let-modal>
  <div class="modal-header">
    Message
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">

    <div class="text-center">
      <!-- <i class="fe-check-circle"></i> -->
      <span>{{MessageFlag}}</span>
      <hr>
      <button type="button" class="btn btn-primary waves-effect waves-light"
        (click)="modal.close('Save click')">Close..</button>
    </div>
  </div>
</ng-template>


<!-- <div class="row">
  <div class="col-12">
    <div class="page-title-box">
      <div class="page-title-right">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item"><a href="javascript: void(0);">Work Order Settings Page</a></li>
        </ol>
      </div>

    </div>
  </div>
</div> -->

<div class="container-fluid">
  <div class="card">
    <div class="card-body">
      <div>
        <h4>Work Order Settings Page</h4>
      </div>
      <form [formGroup]="formUsrCommonGroup" (ngSubmit)="FormButton(content)">
        <div class="row">
          <div class="col-lg-4">

            <div class="card-box bg-pattern border border-dark" style="background-color: #f7f7f7;">

              <div class="form-row">
                <div class="form-group col-md-12 text-center" style="color: black;background-color: #9b9b9b;">
                  <h5>Work Order Customize </h5>
                </div>

              </div>
              <div class="form-row"></div>
              <br>

              <div class="form-row">
                <a [routerLink]="['/customer/viewcustomer']"> <span
                    style="color: rgba(15, 15, 15, 0.548);font-weight: bolder;font-size:larger">Customer
                    Number</span></a>
              </div>

              <div class="form-row mt-1">
                <a [routerLink]="['/home/viewrush']"> <span
                    style="color:rgba(15, 15, 15, 0.548);font-weight: bolder;font-size:larger">Rushes</span> </a>
              </div>

              <div class="form-row mt-1">
                <a [routerLink]="['/state/viewstate']"> <span
                    style="color: rgba(15, 15, 15, 0.548);font-weight: bolder;font-size:larger">States</span> </a>
              </div>
              <div class="form-row mt-1">
                <a [routerLink]="['/category/viewmaincategory']"> <span
                    style="color: rgba(15, 15, 15, 0.548);font-weight: bolder;font-size:larger">Create Categories</span>
                </a>
              </div>

              <div class="form-row mt-1">
                <a [routerLink]="['/group/viewgroups']"> <span
                    style="color: rgba(15, 15, 15, 0.548);font-weight: bolder;font-size:larger">Create Work Order
                    Groups</span> </a>
              </div>

              <div class="form-row mt-1">
                <a [routerLink]="['/worktype/viewworktypecate']"> <span
                    style="color: rgba(15, 15, 15, 0.548);font-weight: bolder;font-size:larger">Create Work Order
                    Types</span> </a>
              </div>

              <div class="form-row mt-1">
                <a [routerLink]="['/home/scorecard']"> <span
                    style="color: rgba(15, 15, 15, 0.548);font-weight: bolder;font-size:larger">Create PCR</span> </a>
              </div>

              <div class="form-row mt-1">
                <a [routerLink]="['/home/scorecard']"> <span
                    style="color: rgba(15, 15, 15, 0.548);font-weight: bolder;font-size:larger">Work Order Task</span>
                </a>
              </div>

              <div class="form-row mt-1">
                <a [routerLink]="['/home/scorecard']"> <span
                    style="color: rgba(15, 15, 15, 0.548);font-weight: bolder;font-size:larger">Create Import</span>
                </a>
              </div>

              <div class="form-row mt-1">
                <a [routerLink]="['/home/scorecard']"> <span
                    style="color: rgba(15, 15, 15, 0.548);font-weight: bolder;font-size:larger">Duplicate Work Order -
                    Fields Settings</span> </a>
              </div>

              <div class="form-row mt-1">
                <a [routerLink]="['/home/scorecard']"> <span
                    style="color: rgba(15, 15, 15, 0.548);font-weight: bolder;font-size:larger">Work Order Photo
                    Settings</span> </a>
              </div>
              <br>
              <br>
              <br>









            </div>
          </div>
          <div class="col-lg-4">

            <div class="card-box bg-pattern border border-dark" style="background-color: #f7f7f7;">
              <div class="form-row">
                <div class="form-group col-md-12 text-center" style="color: black;background-color: #9b9b9b;">
                  <h5>New Work Order Settings </h5>
                </div>

              </div>
              <div class="form-row"></div>
              <br>



              <div class="form-row">

                <div class="custom-control custom-checkbox">
                  <input type="checkbox" [(ngModel)]="WorkOrderSettingsPageModelObj.WO_Sett_Allow_Dup_Num"
                    [ngModelOptions]="{standalone: true}" class="custom-control-input" id="1233fds">
                  <label class="custom-control-label" for="1233fds">Allow duplicate work order numbers?</label>
                </div>
              </div>
              <br>
              <div class="form-row">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" [(ngModel)]="WorkOrderSettingsPageModelObj.WO_Sett_Auto_Inc_GoBack"
                    [ngModelOptions]="{standalone: true}" class="custom-control-input" id="12rewr33fds">
                  <label class="custom-control-label" for="12rewr33fds">Auto Increament "Go back" work order
                    numbers.</label>
                </div>
              </div>
              <br>
              <div class="form-row">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" [(ngModel)]="WorkOrderSettingsPageModelObj.WO_Sett_Auto_Inc_NeedInfo"
                    [ngModelOptions]="{standalone: true}" class="custom-control-input" id="12ewrw33fds">
                  <label class="custom-control-label" for="12ewrw33fds">Auto Increament "Need Info" work order
                    numbers.</label>
                </div>
              </div>
              <br>
              <div class="form-row">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" [(ngModel)]="WorkOrderSettingsPageModelObj.WO_Sett_Auto_Inc_Dup"
                    [ngModelOptions]="{standalone: true}" class="custom-control-input" id="12ewrwsdd33fds">
                  <label class="custom-control-label" for="12ewrwsdd33fds">Auto Increament duplicate work order
                    numbers.</label>
                </div>
              </div>
              <br>
              <div class="form-row">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" [(ngModel)]="WorkOrderSettingsPageModelObj.WO_Sett_Auto_Inc_Recurring"
                    [ngModelOptions]="{standalone: true}" class="custom-control-input" id="12ewrwsdsd33fds">
                  <label class="custom-control-label" for="12ewrwsdsd33fds">Auto Increament recurring new work order
                    numbers.</label>
                </div>
              </div>
              <br>
              <div class="form-row">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" [(ngModel)]="WorkOrderSettingsPageModelObj.WO_Sett_Auto_Assign"
                    [ngModelOptions]="{standalone: true}" class="custom-control-input" id="12eu33fds">
                  <label class="custom-control-label" for="12eu33fds">Auto Assign work orders based on previous
                    contractors at the property.</label>
                </div>
              </div>
              <br>
              <div class="form-row">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" [(ngModel)]="WorkOrderSettingsPageModelObj.WO_Sett_Detect_Pricing"
                    [ngModelOptions]="{standalone: true}" class="custom-control-input" id="12udfds">
                  <label class="custom-control-label" for="12udfds">Detect pricing in work line items</label>
                </div>
              </div>
              <br>
              <div class="form-row">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" [(ngModel)]="WorkOrderSettingsPageModelObj.WO_Sett_Remove_Doller"
                    [ngModelOptions]="{standalone: true}" class="custom-control-input" id="12uufds">
                  <label class="custom-control-label" for="12uufds">Remove dollar amounts from commnets and work order
                    line items</label>
                </div>
              </div>

              <br>






            </div>
          </div>
          <div class="col-lg-4">

            <div class="card-box bg-pattern border border-dark" style="background-color: #f7f7f7;">
              <div class="form-row">
                <div class="form-group col-md-12 text-center" style="color: black;background-color: #9b9b9b;">
                  <h5>General Work Order Settings</h5>
                </div>

              </div>
              <div class="form-row"></div>
              <br>

              <div class="form-row">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" [(ngModel)]="GeneralWorkOrderSettingsModelObj.GW_Sett_Field_Complete"
                    [ngModelOptions]="{standalone: true}" class="custom-control-input" id="12uedfds">
                  <label class="custom-control-label" for="12uedfds">"Field Complete" remove work order from
                    contractor's queue</label>
                </div>
              </div>
              <br>
              <div class="form-row">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" [(ngModel)]="GeneralWorkOrderSettingsModelObj.GW_Sett_Allow_Contractor"
                    [ngModelOptions]="{standalone: true}" class="custom-control-input" id="12ghjds">
                  <label class="custom-control-label" for="12ghjds">Allow contractor to "Reject" work orders.</label>
                </div>
              </div>
              <br>
              <div class="form-row">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" [(ngModel)]="GeneralWorkOrderSettingsModelObj.GW_Sett_Assigned_Unread"
                    [ngModelOptions]="{standalone: true}" class="custom-control-input" id="12ghjfgds">
                  <label class="custom-control-label" for="12ghjfgds">Assigned and Unread late. Send email alert</label>
                </div>
              </div>
              <br>
              <div class="form-row">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" [(ngModel)]="GeneralWorkOrderSettingsModelObj.GW_Sett_Allow_Estimated"
                    [ngModelOptions]="{standalone: true}" class="custom-control-input" id="1igffs">
                  <label class="custom-control-label" for="1igffs">Allow estimated complete dates past the due date
                  </label>
                </div>
              </div>
              <br>
              <div class="form-row">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" [(ngModel)]="GeneralWorkOrderSettingsModelObj.GW_Sett_Require_Estimated"
                    [ngModelOptions]="{standalone: true}" class="custom-control-input" id="1igsddwwdffs">
                  <label class="custom-control-label" for="1igsddwwdffs">Require estimated complete date. </label>
                </div>
              </div>
              <br>
              <div class="form-row">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" [(ngModel)]="GeneralWorkOrderSettingsModelObj.GW_Sett_Sent_Ass_Cooradinator"
                    [ngModelOptions]="{standalone: true}" class="custom-control-input" id="1iguddfs">
                  <label class="custom-control-label" for="1iguddfs">Sent new work order alerts to assign co-ordinator.
                  </label>
                </div>
              </div>
              <br>
              <div class="form-row">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" [(ngModel)]="GeneralWorkOrderSettingsModelObj.GW_Sett_Sent_Ass_Processor"
                    [ngModelOptions]="{standalone: true}" class="custom-control-input" id="1igudsfdfs">
                  <label class="custom-control-label" for="1igudsfdfs">Send new work order alerts to assigned processor.
                  </label>
                </div>
              </div>
              <br>

              <div class="form-row">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" [(ngModel)]="GeneralWorkOrderSettingsModelObj.GW_Sett_Sent_Email_Multiple"
                    [ngModelOptions]="{standalone: true}" class="custom-control-input" id="1igudsdsddfs">
                  <label class="custom-control-label" for="1igudsdsddfs">Send one email when assigning multiple work
                    orders.
                  </label>
                </div>
              </div>
              <br>
              <div class="form-row">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" [(ngModel)]="GeneralWorkOrderSettingsModelObj.GW_Sett_StaffName"
                    [ngModelOptions]="{standalone: true}" class="custom-control-input" id="1iuytdfs">
                  <label class="custom-control-label" for="1iuytdfs">Show office staff client name.
                  </label>
                </div>
              </div>


            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4"></div>
          <div class="col-lg-4">
            <div class="form-row">
              <div class="float-right">
                <label *ngIf="formUsrCommonGroup.invalid" style="color:red">*
                  fields is required
                </label> <br>
                <a *ngIf="IsEditDisable" [routerLink]="['/home/workordersettings']" (click)="EditForms()"
                  class="btn btn-primary waves-effect waves-light"> <i class="far fa-edit mr-1"></i> Edit </a>
                &nbsp;&nbsp;&nbsp;
                <button type="submit" *ngIf="!IsEditDisable" class="btn btn-primary waves-effect waves-light"
                  [disabled]="isLoading">
                  <i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-save': !isLoading}"></i>
                  {{button}} </button> &nbsp; &nbsp;

                <a [routerLink]="['/home/adminlinkpage']" class="btn btn-primary"><i class="fas fa-arrow-alt-circle-left mr-1"></i>
                  Back</a>
              </div>
            </div>

          </div>
          <div class="col-lg-4">


          </div>



        </div>
      </form>
    </div>
  </div>
</div>
