<ng-template #content let-modal>
    <div class="modal-header">
      Message
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true" (click)="modal.close('Save click')">×</span>
      </button>
    </div>
    <div class="modal-body">

      <div class="text-center">
        <!-- <i class="fe-check-circle"></i> -->
        <span>{{MessageFlag}}</span>
        <hr>
        <button id="client_viewdetail_1" class="btn btn-primary" (click)="modal.close('Save click')">Ok</button>
        <!-- <button type="button" class="btn btn-primary waves-effect waves-light"
          (click)="modal.close('Save click')">Ok</button> -->
      </div>
    </div>
  </ng-template>
<div class="container-fluid">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <div class="page-title-box">
              <div class="page-title-right">
                <ol class="breadcrumb m-0">
                  <!-- <li class="breadcrumb-item"><a href="javascript: void(0);">Add New User</a></li>
                    <li class="breadcrumb-item active">Add New User</li> -->
                </ol>
              </div>
              <h4 class="page-title" style="font-weight: bolder; line-height: 1.5; background-color: #9b9b9b; padding-left: 12px;">Add Photo Header Templates</h4>
            </div>
            <!-- <hr> -->
          </div>
        </div>
        <form [formGroup]="formUsrCommonGroup" (ngSubmit)="FormButton(content)">
          <div class="row">

            <div class="col-lg-6">
              <div class="card-box bg-pattern border border-dark" style="background-color: #f7f7f7;">
                <div class="form-row">
                  <div class="form-group col-md-12 text-center" style="color: black;background-color: #9b9b9b;">
                    <h5 style="color: black;">Photo Header Templates </h5>
                  </div>
                </div>
                <div class="form-row">

                  <div class="form-group col-md-4">
                    <label class="col-form-label" for="userName1">Client Company <span style="color: red">*</span></label>
                  </div>
                  <div class="form-group col-md-8">
                      <select id="gessfdfsfs" class="form-control form-control-sm"
                      [(ngModel)]="AddPhotoHeaderTemplatesModelObj.ClientCompany" [ngModelOptions]="{standalone: true}">
                      <option value='0'>select</option>
                      <option [ngValue]="kb.Client_pkeyID" *ngFor="let kb of  dropdownList">
                        {{kb.Client_Company_Name}}
                      </option>
                    </select>

                  </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                      <label class="col-form-label" for="dfsfdsfdsfsd">Header Template </label>
                    </div>
                    <div class="form-group col-md-8">
                      <textarea  id="dfsfdsfdsfsd" class="form-control form-control-sm" placeholder="Enter Header Template"  rows="4"></textarea>
                    </div>
                  </div>
                  <div class="form-row">

                      <div class="form-group col-md-4">
                        <label class="col-form-label" for="userName1">Photo Filename Template</label>
                      </div>
                      <div class="form-group col-md-8">
                        <input type="text" id="userName1" class="form-control form-control-sm" placeholder="Enter Photo Filename Template">

                      </div>
                    </div>
                <div class="form-row">

                    <div class="form-group col-md-4">
                      <label class="col-form-label" for="customCheck11c">PDF Header Template</label>
                    </div>
                    <div class="form-group col-md-8">

                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck11c" >
                            <label class="custom-control-label" for="customCheck11c"></label>
                          </div>

                    </div>
                  </div>

                  <div class="form-row">
                      <div class="float-right">
                        <!-- <label  *ngIf="formUsrCommonGroup.invalid" style="color:red">*
                          fields is required
                        </label> <br> -->
                        <button id="client_viewdetail_1" class="btn btn-primary" *ngIf="IsEditDisable" [routerLink]="['/home/addrush']" (click)="EditForms()">
                          <i class="far fa-edit mr-1"></i> Edit</button>
                        <button id="client_viewdetail_1" class="btn btn-primary" type="submit" *ngIf="!IsEditDisable" [disabled]="isLoading">
                          <i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-save': !isLoading}"></i>
                          {{button}}
                        </button>
                        <button id="client_viewdetail_1" [routerLink]="['/home/workordersettings']" class="btn btn-primary" style="margin-left: 6px;"><i
                          class="fas fa-arrow-alt-circle-left mr-1"></i> Back</button>


                        <!-- <a *ngIf="IsEditDisable" [routerLink]="['/home/addrush']" (click)="EditForms()"
                          class="btn btn-primary waves-effect waves-light"> <i class="far fa-edit mr-1"></i> Edit </a>
                        &nbsp;&nbsp;&nbsp;
                        <button type="submit" *ngIf="!IsEditDisable" class="btn btn-primary waves-effect waves-light"
                          [disabled]="isLoading">
                          <i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-save': !isLoading}"></i>
                          {{button}}</button> &nbsp; &nbsp;

                        <a [routerLink]="['/home/workordersettings']" class="btn btn-primary"><i
                            class="fas fa-arrow-alt-circle-left mr-1"></i> Back</a> -->
                      </div>
                    </div>



              </div>
            </div>

            <div class="col-lg-6">



            </div>
          </div>
        </form>

      </div>
    </div>
  </div>

